[buildout]
extends=base.cfg
parts += sesame-script sesame-install tomcat-install

[sesame]
host = localhost
port = 8000
uri = native
#uri = memory
#uri = mysql://joe:secret@localhost/sesame
id = my_repo
title = My Repository


[sesame-script]
recipe = zc.recipe.egg
scripts = start_sesame_server configure_sesame
arguments = "${sesame:host}", ${sesame:port}, "${sesame:uri}", "${sesame:id}", "${sesame:title}", "${buildout:directory}"
eggs = ${buildout:eggs}

[sesame-install]
recipe = gocept.download
url = http://ovh.dl.sourceforge.net/sourceforge/sesame/openrdf-sesame-2.2.4-sdk.tar.gz
md5sum = cc1b5d39db7925bceecfe31dda324a00

[tomcat-install]
recipe = gocept.download
url = http://www.apache-mirror.com/tomcat/tomcat-6/v6.0.20/bin/apache-tomcat-6.0.20.tar.gz
md5sum = 5944999abe79d01dc2ee7776d9d57873

[test-environment]
SESAME_HOST = ${sesame:host}
SESAME_PORT = ${sesame:port}

[test]
environment += test-environment