[buildout]
develop = .
parts = test interpreter
find-links =
    http://download.zope.org/ppix

extensions = zc.buildoutsftp

[test]
recipe = zc.recipe.testrunner
eggs = zc.icp
defaults = '--tests-pattern [fn]?tests --exit-with-status -1'.split()

[interpreter]
recipe = zc.recipe.egg
eggs = zc.icp
interpreter = py
