[mailprocess]
# Start with 'gmail' section
start = gmail

[gmail]
# Read emails with IMAP and forward to 'bouncedetect'
factory = mailprocess.read:IMAP4_SSL
next = bouncedetect
host = imap.gmail.com
# port = 993
username = joe.dunbar
password = 123
# mailbox = INBOX

[bouncedetect]
# Find addresses that bounce and forward to 'bounceprocess'
factory = mailprocess.parse:MailmanBounceDetect
next = bouncedancing
clean_up = 1 # Clean up bounced emails

[bounceprocess]
# An POST request that will send all bouncing addresses along
factory = mailprocess.http:Post
url = http://localhost:8080/bouncing
username = admin
password = 123
