[buildout]
develop = .
parts = test

[test]
recipe = zc.recipe.testrunner
environment = test-environment
eggs =
   chameleon.core [lxml]
   chameleon.zpt

[test-environment]
CHAMELEON_DEBUG = False
CHAMELEON_CACHE = False