/* Copyright(c) gert.cuykens@gmail.com */
body {margin:10px;
      border:0px solid black;
      padding:0px;
      background-color:white;
      display:none;}

textarea {width:220px;color:white;background:black;}

#value {width:50px;color:white;background:black;}

.products_pnr {text-align:center;}
.products_price {text-align:right;}
.products_qty {text-align:right;}

#d-barcode {margin-top:20px;height:75px;}
#d-status  {position:absolute; top:50px; left:135px;}
#d-payment {display:none;}
#gid {position:absolute;top:30px;left:195px;}

@media print{}

