[buildout]
develop = .
parts = 
    dovecot
    test

[test]
recipe = zc.recipe.testrunner
eggs = gocept.imapapi

[env]
recipe = gocept.recipe.env

[dovecot]
recipe = zc.zdaemonrecipe
location = ${buildout:parts-directory}/dovecot
program = ${dovecotbinaries:location}/sbin/dovecot -F -c ${dovecotconf:path}

[dovecotbinaries]
recipe = gocept.cmmi
url = http://dovecot.org/releases/1.1/dovecot-1.1.1.tar.gz
md5sum = 239072365e4fc35b8a7162f841cb07c9

[dovecotmail]
recipe = lovely.recipe:mkdir
createpath = True
path = ${buildout:directory}/var/mail

[dovecotlogs]
recipe = lovely.recipe:mkdir
createpath = True
path = ${buildout:directory}/var/log

[dovecotconf]
recipe = lovely.recipe:mkfile
path = ${dovecot:location}/dovecot.conf
content = login_user = ${env:USER}
    log_path = ${dovecotlogs:path}/dovecot.log
    info_log_path = ${dovecotlogs:path}/dovecot-info.log
    login_chroot = no
    protocols = imap
    protocol imap {
        listen = *:10143
    }
    ssl_disable = yes
    auth default {
        mechanisms = plain
        passdb passwd-file {
            args = ${dovecotpasswd:path}
        }
        userdb static {
            args = uid=${env:UID} gid=${env:GID} home=${dovecotmail:path}/%u
        }
        user = ${env:USER}
    }
    auth_debug = yes
    mail_location = maildir:~
    namespace private {
      separator = /
      prefix = ""
      inbox = yes
    }
    
mode = 664

[dovecotpasswd]
recipe = lovely.recipe:mkfile
path = ${dovecot:location}/dovecot-passwd
content = user:{PLAIN}asdf
    test:{PLAIN}bsdf
    # Keep this comment so the above line gets a proper line ending
mode = 664
createpath = true
