/* Stylesheet for the Minimalist Plone theme */


html {
    color:#333333;
}
body {
  font-family:"Century Gothic",sans-serif, Arial; /*Palatino,"Palatino Linotype","Book Antiqua",Georgia,serif*/
}
a{
    color:#286fc9;/*#1c5399 and #0a59a1 accessible variants*/
}

#region-content p {
    margin: 0pt 0pt 1.1em;
}

h1, h2, h3, h4, h5, h6 {
    color:#286fc9;
    padding:10px 0px 0px;
}
h1 {
   font-size:230%;
   line-height:1em;
}
h2{
   font-size:160%;
}
h3, h4, h5, h6 {
   font-size: 120%;
}
a {
    text-decoration: none;
}

#portal-siteactions{
    text-align: center;
    clear:left;
    margin:10px 10px 0px 10px;
}
#portal-siteactions li {
    display:inline;
}
#portal-siteactions li a, #portal-siteactions .footer_separator {
    color:#286fc9;
}
#ft {
    float:left;
    background: transparent url(bg-footer.png) repeat-x scroll 0px 0%;
    min-height:77px;
    border-top:1px solid #D3D3D3;
    padding:0px 10px;
}
#develop-by {
   float:none;
   margin:10px 10px 0px 10px;
   text-align: center;
}
#develop-by p{
    color:#6b6b6b;
}


/*----- FOOTER -----------------------*/
#portal-footer {
    text-align: center;
    margin:10px 10px 0px 10px;
}
#portal-footer .other_lenguaje {
   color: #8b8b8b;
   vertical-align:bottom;
   font-size:110%;
}

#portal-footer .pageActions {
   margin:10px 10px 0px;
}
#portal-footer .pageActions li {
    display:inline;
}

/*--- colophone ---*/
#portal-colophon ul li {
     display:inline;
     text-decoration: none;
    font-size:90%;
    margin: 0px 0.5em;
}
#portal-colophon {
    clear:both;
    float:left;
    padding:1em 0em;
    text-align:center;
    width:100%;
}

/*------------------------------------------*/

#region-content {
   padding:10px;
}

.documentActions {
     margin:10px 0px;
}

.documentActions li {
    display:inline;
    margin: 0px 5px 0px 0px;
}



#portal-column-two {
    width: 23.0769em;
}

#portal-column-two .visualPadding {
    padding:3em 4em 0em 0em;
}

#doc3 {
    margin:auto;
}
/*------------------------ DOCUMENT STYLE ---------------------------*/

#portal-column-content {
    padding:1em 1em 0pt;
    margin:0px 10px 10px 2em;
    font-size:1em;
    line-height:1.46em;
}

#portal-column-content .documentDescription {
    color:#0a59a1;
    font-style:italic;
    margin:0.5em 0em 0.5em;
}
#plone-document-byline, .documentByLine {
    color:#8B8B8B;
    font-size:0.7em;
}

.discreet {
    font-size:0.9em;
    color:#777777;
    /*font-style:italic;*/
}

/*--- list-------*/

.documentContent ol, .documentContent ul {
    margin:0em 0em 0em 2em;
}

ol li {
    list-style-type:decimal;
}

ul li {
    list-style-type:disc;
}

/*--- document actions---*/
.documentActions {
    border: 1px solid #ccc;
}

#document-action-rss a{
    padding-left: 15px;
    margin: 0px 5px 0px 5px;
    background: transparent url(rss.png) scroll no-repeat left center;
}

#document-action-sendto a{
    padding-left: 17px;
    margin: 0px 5px 0px 5px;
    background: transparent url(send.png) scroll no-repeat left center;
}

#document-action-print a{
    padding-left: 17px;
    margin: 0px 5px 0px 5px;
    background: transparent url(print.png) scroll no-repeat left center;
}

.documentActions a:hover{
    background-color: #e2e2e2;
    color:black;
}

/*---- document info ----*/

dl.portalMessage dt {
    background-color:#278c0c;
    color:White;
    float:left;
    font-weight:bold;
    line-height:1.25em;
    margin:0pt 0.5em 0pt 0pt;
    padding:0.5em 0.75em;
}

dl.portalMessage {
     background-color:#fbfffa;
     border:1px solid #278c0c;
     font-size:90%;
}

dl.portalMessage dd {
    line-height:1.25em;
    margin:0pt;
    padding:0.5em;
}




/*-------------------------- HEADER --------------------------------------*/
#portal-logo {
   float:left;
}

#portal-logo img {
    margin:0em 0em 0em 20px;
}
#portal-header {
    height:3.4em; /*44px;*/
    background: #ededed url(bg-header.png) repeat-x scroll 0px 0%;
    border-bottom:1px solid #C5C5C5;/*#717171;*/
    border-left:1px solid #C5C5C5;/*#717171;*/
    border-right:1px solid #C5C5C5;/*#717171;*/
}

/*--------------- global nav ------------------*/

#portal-globalnav {
    padding:0px;
    margin:0px;
    height:3.4em;
    float:right;
}

#portal-globalnav li {
    padding: 0px;
    float:left;
    text-align:center;
    display:inline;
    height:3.4em;/*43px;*/
    border-left: 1px solid #cfcfcf;/*#232323;*/
    border-right: 1px solid #cfcfcf;/*#232323;*/
    width:auto;
}
#portal-globalnav li.selected a, #portal-globalnav li a:hover{
    background: #d8d8d8 url(bg-button-header.png) repeat-x scroll 0px 0%;
}

#portal-globalnav li a, #portal-globalnav li.selected a {
    float:left;
    font-size:1em;
    height:3em;
    padding:0.4em 1em 0em;
    position:relative;
    border-left: 1px solid #f2f2f2;/*#2f2f2f;*/
    color: black;/*white;*/
    line-height:2.5em;
}


/*--------------- portlet styles -----------------*/

.portletSearch  .portletItem, .portletSearch{
    border:none;
    text-align:center;
}

input.searchField, input.searchPage {
    border:1px solid #bcbcbc;
    background:white none;
    font-size:100%;
    height:1.2em;
    margin-right:-4px;
    padding:0.3em 5px;
    width:15em;
}
input.searchButton {
    background:white url(lupa.png) no-repeat scroll 0px;
    padding:0px 0px 0px 25px;
    height:2.4em;
    margin-bottom:0px !important;
    border:none;
    width: 6em;
}

.portletHeader a {
    font-size:1.1em;
    margin:0.3em;
    color: #444;
}

/*---- calendar---*/
.ploneCalendar .todaynoevent {
    border:2px solid #286FC9;
}


