# Every country has a section, denoted by square brackets 
# and the 2-digit country ISO-Code, e.g. [US]
# 
# The following parameters have to be specified:
# - "bank" - the bank number (domestic bank code)
# - "branche" - the branche code
# - "account" - the account number
# - "check1/2/3" - country-specific checksum 
#    (empty, if included in account number)
#   If any of the above items is not available in the country (e.g. no 
#   branche code), it has to empty (e.g. "branche="). Otherwise, the format is 
#   specified as follows:
#   "min/max, type, fillchar"
#   - min is minimium length, max maximum length, if min==max, only one value 
#     has to be given
#   - type is 'n' for numeric, 'a' for letters, 'an' for alphanumeric
#   - fillchar denotes which character is used for filling the account number 
#     to its maximum length. If fillchar is not specified, no filling is 
#     performed
# - "iban_length" - the total length of the IBAN
# - "iban_order" - the order, in which these items appear in the IBAN, 
#    e.g. "bank, branche, account"

# AUSTRIA
[AT]
bank = 5, n
branche =
account = 4/11, n, 0
check1 = 
check2 = 
check3 = 
iban_length = 20
iban_order = bank, account
sepa = Y

# BELGIUM
[BE]
bank = 3, n
branche =
account = 7, n
check3 = 2, n
iban_length = 16
iban_order = bank, account, check3
sepa = Y

# BOSNIA AND HERZEGOVINA
[BA]
bank = 3, n
branche = 3, n
account = 8, n
check3 = 2, n
iban_length = 20
iban_order = bank, branche, account, check3
sepa = Y

# GERMANY
[DE]
bank = 8, n
branche = 
account = 10, n, 0
check1 = 
check2 = 
check3 = 
iban_length = 22
iban_order = bank, account
sepa = Y

# ITALY
[IT]
bank = 5, n
branche = 5, n
account = 12, an, 0
check1 = 1,a
check2 = 
check3 =
iban_length = 27
iban_order = check1, bank, branche, account
sepa = Y

