[buildout]
develop = .
parts = test
        zopepy

find-links =
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads
    http://download.gocept.com/packages

# Add additional eggs here
eggs =
    five.hashedresource

versions = versions

[versions]
zc.recipe.cmmi = 1.2.0

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.11.3/Zope-2.11.3-final.tgz
fake-zope-eggs = true
fake-eggs-folder = ${buildout:parts-directory}/fake-eggs
# [dovecot] needs these and can't get them from the [zope2]-location
skip-fake-eggs =
    zdaemon
    ZConfig

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
blob-storage = ${buildout:directory}/var/blobstorage
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs = ${buildout:eggs}
zcml =
    gocept.restmail
    gocept.webmail

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[test]
recipe = collective.recipe.z2testrunner
packages = five.hashedresource
extra-paths = .
zope2part = instance
