body { margin:0; padding:0; font-size:12px; font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; color:#333; background: #aaa; }

/* LINKS */
a:link, a:visited { color: #334444; text-decoration:none; }
a:hover { text-decoration: underline; }
a img { border:none; }
a.section:link, a.section:visited { color: white; text-decoration:none; }

/* GLOBAL DEFAULTS */
p, ol, ul { margin:.2em 0 .8em 0; }

h1,h2,h3,h4,h5 { font-weight:bold; }
h1 { font-size:18px; padding:0 6px 0 0; margin:0 0 .2em 0; }
h2 { font-size:16px; margin:1em 0 .5em 0; }
h3 { font-size:14px; margin:.8em 0 .3em 0; font-weight:bold; }

ul li { list-style-type:square; padding:1px 0; }
li ul { margin-bottom:0; }
li { font-size:11px; line-height:14px; }

form { margin:0; padding:0; }
fieldset { margin:0; padding:0; }

code { font-family:"Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace; white-space: pre-wrap }

/* TABLES */
table { border-collapse:collapse; border-color:#333; }
td, th { font-size:11px; line-height:13px; border-bottom: 1px solid #ddd; vertical-align:top; padding:5px; }
th { text-align:left; font-size:12px; font-weight:bold; }
thead th, thead th:first-child, tfoot td:first-child { border-left:none !important; }
thead th.optional { font-weight:normal !important; }
thead th { background-color: #aaa; font-size: 13px; }
.row1 { background: #cdd; }
.row2 { background: #fff; }
table caption, .caption { background-color: #556; color: #fff; text-align: center; font-weight: normal; padding: 4px; }

/* FORM DEFAULTS */
input, textarea, select { margin:2px 0; padding:2px 3px; vertical-align:middle; font-weight:normal; font-size:11px; }
textarea { vertical-align:top !important; }
input[type=text], input[type=password], textarea, select, .vTextField { border:1px solid #333; }

/*  FORM BUTTONS  */
input[type=submit], input[type=button], .submit-row input { background:white url(../img/admin/nav-bg.gif) bottom repeat-x; padding:3px; color:black; border:1px solid #bbb; border-color: #aaa #333 #333 #aaa; }
input[type=submit]:active, input[type=button]:active { background-image:url(../img/admin/nav-bg-reverse.gif); background-position:top; }
input[type=submit].default, .submit-row input.default { border:2px solid #333; background:#7CA0C7 url(../img/admin/default-bg.gif) bottom repeat-x; font-weight:bold; color:white; float:right; }

/* MESSAGES & ERRORS */
ul.messagelist { padding: 0; margin: 0; }
ul.messagelist li { font-size:12px; display:block; padding: 8px; border-bottom: 1px solid #cdd; color: #fff; background-color: #334444; }
.errornote { font-size:12px !important; display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border:1px solid red; color: red;background:#ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat; }
ul.errorlist { margin:0 !important; padding:0 !important; }
.errorlist li { font-size:12px !important; display:block; padding: 4px; margin:0 0 3px 0; border:1px solid #c43; color:white; background-color: #cc4433 }
td ul.errorlist { margin:0 !important; padding:0 !important; }
td ul.errorlist li { margin:0 !important; }
.errors { background:#ffc; }
.errors input, .errors select { border:1px solid red; }
div.system-message { background: #ffc; margin: 10px; padding: 6px 8px; font-size: .8em; }
div.system-message p.system-message-title { padding:4px 5px 4px 25px; margin:0; color:red; background:#ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat; }
.description { font-size:12px; padding:5px 0 0 12px; }

/* BREADCRUMBS */
div.breadcrumbs { background-color: #555566; padding: 2px 8px 3px 8px; font-size:11px;  color: #fff;  text-align:left; }
.breadcrumbs a { color: #fff; }


/* ACTION ICONS */
.addlink { padding-left:12px; background:url(../img/admin/icon_addlink.gif) 0 .2em no-repeat; }
.changelink { padding-left:12px; background:url(../img/admin/icon_changelink.gif) 0 .2em no-repeat; }
.deletelink { padding-left:12px; background:url(../img/admin/icon_deletelink.gif) 0 .25em no-repeat; }
a.deletelink:link, a.deletelink:visited { color:#CC3434; }
a.deletelink:hover { color:#993333; }

/* OBJECT TOOLS */
.object-tools { font-size:10px; font-weight:bold; padding-left:0; float:right; position:relative; margin-top:-2.4em; margin-bottom:-2em; }
.form-row .object-tools { margin-top:5px; margin-bottom:5px; float:none; height:2em; padding-left:3.5em; }
.object-tools li { display:block; float:left; background:url(../img/admin/tool-left.gif) 0 0 no-repeat; padding:0 0 0 8px; margin-left:2px; height:16px; }
.object-tools li:hover { background:url(../img/admin/tool-left_over.gif) 0 0 no-repeat; }
.object-tools a:link, .object-tools a:visited { display:block; float:left; color:white; padding:.1em 14px .1em 8px; height:14px; background-color:#333; }
.object-tools a.viewsitelink, .object-tools a.golink { background:#999 url(../img/admin/tooltag-arrowright.gif) top right no-repeat; padding-right:28px; }
.object-tools a.viewsitelink:hover, .object-tools a.golink:hover { background:#5b80b2 url(../img/admin/tooltag-arrowright_over.gif) top right no-repeat; }
.object-tools a.addlink { background-color: #333; }
.object-tools a.addlink:hover { background:#667 top right no-repeat; }

/* PAGE STRUCTURE */
#container { position:relative; width:100%; min-width:760px; padding:0; }
#content { margin:10px 15px; background-color: #fff; padding: 10px;}
#header { width:100%; }
#content-related { float:right; width:18em; position:relative; margin-right:-19em; }



/*  HEADER  */
#header { background: #333; color:#fff; overflow:hidden; }
#header a:link, #header a:visited { color:white; }
#branding h1 { padding:0 10px; font-size:18px; margin:8px 0; font-weight:normal; color:#fff; }
#branding h1 span { color: #ccdddd; font-style: italic; }
#user-tools { position:absolute; top:0; right:0; padding:1.2em 10px; font-size:11px; text-align:right; }

/* CHANGELISTS */
#changelist { position:relative; width:100%; }
.change-list .filtered table { border-right:1px solid #ddd;  }
.change-list .filtered { min-height:300px; }

/*  CHANGELIST TABLES  */
#changelist table thead th { white-space:nowrap; }
#changelist table tbody td { border: 1px solid #ddd; }

/*  TOOLBAR  */
#changelist #toolbar { padding:3px; border-bottom:1px solid #ddd; background:#556 top left repeat-x; color:#666; }
#changelist #toolbar form input { font-size:11px; padding:1px 2px; }
#changelist #toolbar form #searchbar { padding:2px; }

/*  FILTER COLUMN  */
#changelist-filter { position:absolute; top:0; right:0; z-index:1000; width:160px; border-left:1px solid #556; background: #333; margin:0; }
#changelist-filter h2 { font-size:11px; padding:2px 5px; border-bottom:1px solid #556; color: #cdd}
#changelist-filter h3 { font-size:12px; margin-bottom:0; color: #aaa;}
#changelist-filter ul { padding-left:0;margin-left:10px; }
#changelist-filter li { list-style-type:none; margin-left:0; padding-left:0; }
#changelist-filter a { color:#cdd; }
#changelist-filter a:hover { color:#fff; }
#changelist-filter li.selected { border-left:5px solid #fff; padding-left:5px;margin-left:-10px; }
#changelist-filter li.selected a { color:#fff !important; }

/* Build state */
.success, .failure { font-weight: bold; }
.success { color: #344; }
.failure { color: #c43; }
.building { color: #aaa; }
#build-state.building { background-image: url(building.gif);
                         background-repeat: no-repeat; 
                         background-position: center right; }

/* BUILD */
#build-detail { background-color: #fff; margin-right: 10px;}
