/* Blog */
div#calendar { font-size: 0.9em; }
div#calendar td { padding: 3px; }

div#content div.post h2 {
    background: #f8f8f8 
    url('/img/ffficons/silky/book.png') 0.33em 0.33em no-repeat; 
    padding-left: 2em; 
    margin-top: 1.33em;
    margin-bottom: 0.5em;
    border: 1px solid #2d3b7e; 
    }

div#content div.entrytext h1 {
    font-size:  1.66em; margin: 0.75em 0 0 0; padding-bottom: 0.66em; }

div#content div.entrytext h2 {
    font-size:  1.33em; 
    margin: 1.2em auto; 
    padding: 0 0 1em 0; 
    background: transparent url('/img/assets/hstrip.png') bottom left repeat-x; 
    border: none;
}
div#content div.entrytext h3 { 
    margin: 1.66em auto; }
div#content div.entrytext p img {
    margin: 1em auto; text-align: center; display: block; }
div#content div.entrytext p {
    margin: auto; width: 100%; }

