.grid .page_info {
    float: right;
}

.grid .nav_links {
    float: left;
}

.grid .spinner {
    float: left;
}

.grid .navigator {
    height: 1.8em;
    vertical-align: top;
    background-color: white;
}

.grid .nav_links  a, .grid .nav_links  .current_page {
    padding-left: 0.5em;
    font-weight: bold;
}

.grid .nav_links  a {
    color: blue;
    cursor: pointer;
}

.grid .odd:hover, .grid .even:hover {
    background-color: #ddddff;
}