div#main {
    display: block;
    position: absolute;
    margin: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: solid 2px #0869a1;
    text-align: center;
    color: #0869a1;
}

h1.abstract {
    display: block;
    position: absolute;
    top: 2em;
    left: 10px;
    color: #0869a1;

}

div.abstract {
    display: block;
    position: absolute;
    border: solid 0px #000000;
    top: 6em;
    left: 10px;
    width: 40%;
}

form#search {
   display: block;
   position: relative;
   top: 10em;
   //bottom: 10em;
   left-margin: 50%;
   right-margin: 50%;
}

div.menublock {
   display: block;
   position: absolute; 
}
