
div.abstract {
  width: 95%;
}

div.shortabstract {
   width: 95%;
}

div.shortheader {
   width: 95%;
}


#menucolumnbr {
        display: block;
}


#header {
	margin-left: 175px;
	}

#column {
	right: -5px;
	}

#content {
	border-right: solid 5px #90b03e; 
	}

#body {
	}



#formplace {
	width: 100%;
}

#search {
	right: 60px; /* need mirror? */
}

#bottomformplace {
	left: 125px;
}

form.login {
	margin: 0px;
	}

#login {
	padding: 0px;
	left: 140px;
	bottom: 0px;
}


#logo {
	top: 0px;
}


#logobar {
	width: 255px;
}

#menucolumn {
	top: 0px;
	z-index: 5;
}

a.left {
   width: 30%;
}

a.right {
   width: 30%;   
}


