#metaspace {
  display: none;
}

#contentspace {
  position: absolute;
  top: 110px;
  left: 170px;
  bottom: 0px;
  right: 0px;
  overflow: auto;
  font-size: 0.9em;
}

div.sidebar {
  position: absolute;
  position: fixed;
  top: 110px;
  left: 4px;
  bottom: 4px;
  width: 155px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  vertical-align: top;
  overflow: auto;
  float: left;
}

#logo {
  position: absolute;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 5px;
  background-color: white;
}

#logo img {
  border-width: 0px;
}

a {
  text-decoration: none;
  color: #a80000;
}

div.sidebar .selected a {
  color: white;
  background-color: #a80000; 
}

#content {
  border: 0px;
  height: 95%;
  width: 100%;
}

ul {
  padding-left: 0em;
  margin-top: 0px;
}

ul li {
  list-style-type: none;
}

.code a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.lineno {
  height: 1.4em;
  text-align: right;
  color: #555;
  width: 3em;
  padding-right: 1em;
  border: 0px solid black;
  border-right-width: 1px;
}

.codecell {
  margin: 0px;
  padding: 0px;
}

.code {
  height: 1.4em;
  margin: 0px;
  padding: 0px;
  padding-left: 1em;
  white-space: pre;
  font-family: monospace, Monaco;
}

.comment {
  color: #a80000;
}

.string {
  color: purple;
}

.keyword {
  color: #090;
}

.alt_keyword {
  color: blue;
}

.number {
  color: red;
}

.funcinfo {
  border: 1px solid black;
  color: black;
  padding: 1em;
  background-color: white;
}

.callstackitem {
  border: 1px solid black;
  margin-bottom: 1em;
}

