[buildout]
develop =  .
parts = test coverage-test coverage-report python

[test]
recipe = zc.recipe.testrunner
eggs = zc.comment [browser, test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = zc.comment [browser, test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = zc.comment
