[buildout]
develop = .
extensions = buildout.dumppickedversions
extends = http://grok.zope.org/releaseinfo/grok-1.0a4.cfg
unzip = true
prefer-final = true
versions = versions
parts =
    development_tools
    omelette
    pyflakes
    test


[versions]
# Override Grok KGS for development:
z3c.testsetup = 0.4
zope.testing = 3.7.5
# Result of buildout.dumppickedversions:
collective.recipe.omelette = 0.9
ipython = 0.9.1
pyflakes = 0.3.0
zc.recipe.egg = 1.2.2
zest.releaser = 2.6
setuptools = 0.6c9
zc.buildout = 1.2.1
tha.coverage = 0.1.1
z3c.coverage = 1.1.2

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
eggs =
    megrok.strictrequire
    megrok.strictrequire[test]


[development_tools]
recipe = zc.recipe.egg
interpreter = python
eggs =
    megrok.strictrequire
    ipython
    zest.releaser
    tha.coverage


[pyflakes]
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
   setuptools
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[omelette]
recipe = collective.recipe.omelette
eggs = megrok.strictrequire
