[buildout]
develop = .
parts = test eggs

[eggs]
recipe = zc.recipe.egg
eggs =
    plone.recipe.zope2install
interpreter = zope2installpy

[test]
recipe = zc.recipe.testrunner
eggs =
    plone.recipe.zope2install
defaults = ['-s', 'plone.recipe.zope2install']

