[buildout]
develop = .
parts = interpreter test
find-links = http://download.zope.org/distribution/
extends = http://grok.zope.org/releaseinfo/grok-0.13.cfg
versions = versions

[interpreter]
recipe = zc.recipe.egg
eggs = d2m.rendersource
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = d2m.rendersource
defaults = ['--tests-pattern', '^f?tests$', '-v']