[buildout]
extends =
    coreloadtests.cfg

parts +=
    zeo
    zeo-instance1
    zeo-instance2
    zeo-plonesite
    pound-build
    pound
    supervisor

[zeo]
recipe = plone.recipe.zope2zeoserver
zope2-location = ${zope2:location}
zeo-address = localhost:8100
file-storage = var/filestorage/zeo-Data.fs

[zeo-instance1]
recipe = ${instance:recipe}
zope2-location = ${instance:zope2-location}
zeo-client = True
zeo-address = ${zeo:zeo-address}
http-address = 127.0.0.1:9080
user = ${instance:user}
eggs = ${instance:eggs}
zcml = ${instance:zcml}

[zeo-instance2]
recipe = ${zeo-instance1:recipe}
zope2-location = ${zeo-instance1:zope2-location}
zeo-client = ${zeo-instance1:zeo-client}
zeo-address = ${zeo-instance1:zeo-address}
http-address = 127.0.0.1:9081
user = ${zeo-instance1:user}
eggs = ${zeo-instance1:eggs}
zcml = ${zeo-instance1:zcml}

[zeo-plonesite]
recipe = collective.recipe.plonesite >= 0.6
zeoserver = zeo
instance = zeo-instance1
admin-user = admin
site-id = plone
site-replace = False
profiles-initial = ${plonesite:profiles-initial}

[pound-build]
recipe = plone.recipe.pound:build
url = http://www.apsis.ch/pound/Pound-2.4.3.tgz

[pound]
recipe = plone.recipe.pound:config
# Run as a daemon to let supervisord manage
daemon = 0
dynscale = 1
balancers =
   one localhost:8002 ${zeo-instance1:http-address} ${zeo-instance2:http-address}

[supervisor]
recipe = zc.recipe.egg
eggs = supervisor
