/* Stylesheet for the 'PyAr' Plone theme */

body {
    background-color:#f2f2f2;
    color: #444444;
    font-family: Helvetica,Arial;
}
h1, h2 {
    color: #003362;
    font-weight: bold;
    font-family: Helvetica,Arial;
}
h1{
    border-bottom:1px solid #D9EDF4;
}
h2{
    font-size:140%;
    border: none;
}
a, a:visited, .documentContent p a:visited, .documentContent p a{
    color: #0195C3;
}
.kupu a{
    color: #0195C3 !important;
}
.documentContent ul{
    list-style-image: none;
    list-style-type: inherit;
}

#visual-portal-wrapper {
    margin:0 auto !important;
    width:1024px !important;
    background-color: White;
}

#portal-globalnav {
    border-top: 1px solid #0195C3;
    height: 21px;
    background-color: white;
}

#portal-globalnav li a:hover {
    background-color:#ACDCEA;
    color:#134164;
}

#portal-globalnav li a {
    border: none;
    color: #134164;
    height: auto;
    font-size: 113%;
    margin-right: 0.5em;
    padding: 3px 1.25em 1px 1.25em;
    line-height: 23px;
    font-weight: bold;
}
#portal-globalnav li.selected a {
    background-color:#ACDCEA;
    border: none;
    color:#134164;
}

#portal-column-content {
    padding-top:0em;
}
#portal-column-content {
    padding-top: 0em;
}
#portal-column-one .visualPadding {
    padding-top: 1em;
}
#portal-column-two .visualPadding {
    padding-top: 1em;
}

#portal-column-two{
    width: 233px !important;
}
ul#portal-personaltools {
    background: none;
    border: none;
    display:inline;
    float:right;
    margin:0;
    padding:2em 3em 0;
    text-align:right;
    text-transform:none;
}
#portal-personaltools li a{
    color: #0095c2;
    font-size: 125%;
    font-weight: bold;
}
#portal-personaltools li a#user-name img{
    display: none;
}
ul#portal-personaltools li span.user-welcome{
    color: black !important;
    font-size: 125%;
    font-weight: bold;
}

#portal-breadcrumbs {
    background-image: url(++resource++plonetheme.pyar.images/top_background.jpg);
    background-repeat: repeat-x;
    background-position: center top;
    border-bottom: none;
    padding-top: 2em;
}

#portal-breadcrumbs a {
    color: #0094C2;
    text-decoration: underline;
}

#portal-breadcrumbs .breadcrumbSeparator{
    font-size: 85%;
}

input {
    border-color:#AAAAAA #DDDDDD #DDDDDD #AAAAAA;
    border-width:2px 1px 1px 2px;
}

a#portal-logo img{
    margin:0 0 0 2em;
}



#portal-header {
    background-image: url(++resource++plonetheme.pyar.images/sky.gif);
    text-align: center;
}

.documentActions {
    border-top: 1px solid #D9EDF4;
    margin-top: 5em;
}
.documentActions ul{
    margin: 0.5em 0 0 1.5em;
    padding-right: 0px
}
.documentActions ul li{
    margin: 0 0 0 1em;
}
.documentActions ul li#document-action-sendto {
    background-image: url(++resource++plonetheme.pyar.images/send_to.png);
    background-repeat: no-repeat;
    background-position: left;
}
.documentActions ul li a{
    color: #76797C;
}
.documentActions ul li#document-action-sendto a,
.documentActions ul li#document-action-rss a,
.documentActions ul li#document-action-print a{
    padding-left: 1.5em;
}
.documentActions ul li#document-action-print {
    background-image: url(++resource++plonetheme.pyar.images/print.png);
    background-repeat: no-repeat;
    background-position: left;
}
.documentActions ul li#document-action-print {
    background-image: url(++resource++plonetheme.pyar.images/print.png);
    background-repeat: no-repeat;
    background-position: left;
}
.documentActions ul li#document-action-rss {
    background-image: url(++resource++plonetheme.pyar.images/rss.png);
    background-repeat: no-repeat;
    background-position: left;
}

div#region-content {
    padding-bottom: 1em !important;
}

#portal-siteactions-top {
    background-color:inherit;
    background-image: url(++resource++plonetheme.pyar.images/top_background.jpg);
    background-repeat: repeat-x;
    background-position: center top;
    height: 2em;
}
ul#portal-siteactions{
    float:none;
    position: relative;
    left: -40px;
    top: -15px;
    text-align:center;
}
ul#portal-siteactions li a, ul#portal-siteactions li a:hover{
    border: none;
    color:#0195C3;
    background: none;
}
div#portal-footer{
    background-color: transparent;
    border: none;
    margin: 0 0 0 40px;
    padding: 0;
}
#portal-mini-logo{
    float: left;
    position: relative;
    top: -45px;
    left: 40px
}
.hiddenStructure{
    display:none;
}
.documentEditable {
    padding-top: 1em !important;
}

.context, .formControls .actionButtons .button, .documentEditable * .context,
.standalone, .documentEditable * .standalone{
    background: #0094c4 url(++resource++plonetheme.pyar.images/button_background.gif) repeat-x top;
    border:none !important;
    color: white;
    height: 24px;
    padding-left: 1px;
    font-weight: bold;
}

.documentContent input.searchPage{
    font-size: 100% !important;
}
.documentContent form.searchPage input.searchButton, .documentContent form input.searchButton{
    background: #0094c4 url(++resource++plonetheme.pyar.images/button_background.gif) repeat-x top;
    background-position: 0 0 !important;
    padding:1px 10px !important;
    border:none !important;
    color: white;
    font-weight: bold;
}
.documentContent #login-form input.context {
    background-position: 0 0 !important;
    margin-bottom:1em;
    padding:1px 10px !important;
    font-size: 100% !important;
}


/*****************   iframing   *****************/

iframe {
    border: none;
}
