/* Stylesheet for the 'PyAr' Plone theme */
/* Navigation */

.navTreeItem a, dd.portletItem .navTreeItem a {
    border:none;
}
.navTreeItem a:hover, dd.portletItem .navTreeItem a:hover {
    border:none;
}

.portletNavigationTree ul{
    background-color: #EBF0F3;
}

.portletNavigationTree dd{
    padding: 0;
}

.portletNavigationTree dt{
    background-color: #AEDCEB;
    padding: 5px 15px;
    margin-bottom: 2px;
}
.portletNavigationTree dt a{
    color: #003360;
    font-weight:bold;
    font-size:15px;
    text-transform:none;
}

.navTree li{
    margin-bottom: 0;
    border-top: 1px solid white;
}
.navTree li a.navTreeCurrentItem, .navTree li a.navTreeCurrentItem:visited  {
    background-image: url(++resource++plonetheme.pyar.images/selected_folder_arrow.gif) !important;
    color: #0094C2 !important;
    border: none !important;
    background-color: #DCE6E7 !important;
}

.navTree li ul li a.navTreeCurrentItem, .navTree li ul li a.navTreeCurrentItem:visited  {
    background-image: url(++resource++plonetheme.pyar.images/selected_arrow.gif) !important;
}

dl.portletNavigationTree .navTree li a:hover {
    background-color: #DCE6E7 !important;
    background-image: url(++resource++plonetheme.pyar.images/hover_arrow.gif) !important;
    color: #0094C2 !important;
}
.navTree li a, .navTree li a:visited{
    background-color: #EBF0F3;
    background-image: url(++resource++plonetheme.pyar.images/arrow.gif);
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 30px;
    font-weight: bold;
    color: #003360 !important;
    border: none;
}
.navTree li img {
    display: none;
}
ul.navTree li ul a, ul.navTree li ul a:visited{
    font-weight: normal;
}

.portletNavigationTree  ul.navTreeLevel1 {
    /*border-top: 1px solid white;*/
    border-bottom: none;
    background-color: white !important;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
ul.navTreeLevel2, ul.navTreeLevel3, ul.navTreeLevel4{
    border-bottom: none;
    border-top: none;
    background-color: white !important;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.navTreeLevel1 li a, .navTreeLevel1 li a:visited {
    padding-left: 0;
    background-position: 30px center;
}
.navTreeLevel2 li a, .navTreeLevel2 li a:visited{
    padding-left: 0;
    background-position: 40px center;
}
.navTreeLevel3 li a, .navTreeLevel3 li a:visited {
    padding-left: 0;
    background-position: 50px center;
}
.navTreeLevel1 li a span {
    padding-left: 45px;
    display: block;
}
.navTreeLevel2 li a span {
    padding-left: 55px;
}
.navTreeLevel3 li a span {
    padding-left: 65px;
}
