/* Stylesheet for the 'PyAr' Plone theme */
/* Navigation */

.portletNews dt{
    padding-bottom: 7px;
}

.portletNews dd{
    padding: 0 15px 7px 0;
}

.portletNews dd img {
    display: none;
}

.portletNews dd a, .portletNews dd a:visited{
    background-color: #EBF0F3;
    border: none;
    color: #404040;
}

.portletNews dd a span.portletItemDetails, .portletNews dd a:visited span.portletItemDetails{
    background-image: url(++resource++plonetheme.pyar.images/arrow.gif);
    background-repeat: no-repeat;
    background-position: left center;
    color: #003360 !important;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    padding-left: 15px;
    margin-left: 15px;
}

.portletNews dd a .portletItemTitle, .portletNews dd a:visited .portletItemTitle{
    padding-left: 15px;
    margin-left: 15px;
    display: block;
}
