/* Stylesheet for the 'PyAr' Plone theme */

.portlet {
    font-family: Helvetica,Arial;
    border-bottom:2px solid #083866;
    padding-bottom:1em;

}
.portletHeader, .managedPortlet .portletHeader {
    background-color: #EBF0F3;
    border:none;
    font-weight:bold;
    text-transform:uppercase;
    padding-top: 0.75em;
}

.portletHeader a, .managedPortlet .portletHeader a {
    color: #5f7990;
}

.portletItem {
    border:none;
    margin:0;
    padding:1em;
    background-color: #EBF0F3;
}

.portletFooter {
    background-color: #EBF0F3;
    border: none;
    margin: 0;
    padding: 0.25em 1em 0.75em;
    text-align: left;
}

.portletFooter a, .portletItem a {
    color: #5f7990;
}
.portletSearch .portletFooter {
    font-weight:bold;
    color: #5f7990;
    border: none;
}
.portletSearch .visualClear {
    clear:none;
    display:block;
}

.portletLogin div.field input.context{
    background:transparent url(++resource++plonetheme.pyar.images/login_button.jpg) no-repeat;
    width:43px;
    height:24px;
    border:none;
    padding:0;
    font-size:0;
    color:transparent;
    text-indent:-99999px;
    line-height:0;
}
.portletLogin label{
    font-weight: normal;
    position: relative;
    color: #76797C;
    top: 19px;
    left: 3px;
}
.portletLogin div.field{
    margin: 0;
}
.portletLogin div.field input{
    width: 80px;
}
.portletSearch input.searchButton {
    background-color: #EBF0F3;
    background-image: url(++resource++plonetheme.pyar.images/search_button.gif);
    background-repeat: no-repeat;
    width:64px;
    height:24px;
    border:none;
    color:transparent;
    font-size:0;
    line-height:0;
    text-indent:-99999px;
}
