/*
  <dtml-with base_properties> (do not remove this)
  <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either)
*/

.documentContent ul {
    list-style-image: url(bullet.gif);
    list-style-type: disc;
}

.module
{/* Wrapper around one module. */
  display: block;
  border: 1px solid #8CACBB;
  margin: 1em;
}

.moduleItem {
    padding: 0;
    margin: 1em 1em 1.5em;
}

.moduleItem h5 {
  margin: 0;
  color: #000 !important;
}

.moduleItem .contract-info {
  margin-bottom: 5px;
}

.contract-list {
  margin-top: 10px !important;
  margin-left: 2px;
}

.contract-overview {
    text-align: left;
}

.moduleHeader
{ /* Heading of an employee module. */
  background-color: #dee7ec;
  border-bottom: 1px solid #8CACBB;
  padding: 0.25em 1em 0.25em;
}

#remainingitemsform .button {
    margin-top: 0.5em;
}

.employee-viewlet
{ /* Block around the actual rendered viewlet. */
  margin: 5px;
}

.right {
    float: right;
    clear: right;
}


ul.hrm-edit-tabs {
   margin: 0;
   padding: 0;
   text-align: center;
}

.hrm-edit-tabs li {
   display: inline;
   border-top: 1px solid #0060ae;
   border-bottom: 1px solid #0060ae;
   padding: 1px;
}

.hrm-edit-tabs li a {
   padding: 1px 0.5em;
   margin: 0pt;
   text-decoration: none;
   color: #0060ae;
   border: none;
}

.hrm-edit-tabs li a:hover {
   background-color: #e5edf8;
}

.hrm-edit-tabs li a.selected {
   padding: 1px 0.5em;
   margin: 0pt;
   text-decoration: none;
   color: #0060ae;
   border: none;
   background-color: #e5edf8;
}

.hrm-edit-tabs li.hrm-edit-last {
   border-right: 1px solid #0060ae;
}

.hrm-edit-tabs li.hrm-edit-first {
   border-left: 1px solid #0060ae;
}

.worklocation-viewlet
{ /* one viewlet for an employee on the worklocation page */
  width: 30%;
  float: left;
  font-size: 90%;
  margin-left: 2%;
  }

ul.worklocation
{ line-height: 1em;
  }

.worklocation-employee,
.clear
{ /* wrapper around one employee+worklocation viewlets on
     the worklocation page */
  clear: both;
  }

/* build-in special classes for viewlets */

.dont-show
{/* Wrapper around one module. */
  display: none;
}

.full-width
{/* Wrapper around one module. */
  display: block;
  clear: both;
  width: 95%;
  margin: 1em;
}

#employee-base-edit label {
   float: left;
   width: 180px;
   padding-left: 10px;
}

#employee-base-edit .field {
    position: relative;
}

#employee-base-edit span.fieldRequired {
   position: absolute;
   left: -8px;
   top: 0px;
   text-indent: -1000px;
}

input.notesfield {
   width: 65% !important;
}

input#submit-note {
    margin-left: 0.5em;
}

#notes .moduleItem {
    margin-top: 0.25em;
}

#notes .moduleItem, #absencelist .moduleItem {
    margin-left: 16px; /* don't modify this value, it fixes positioning for the bullets */
}

.noteslist {
  margin-top: 10px;
  width: 100%;
}

.noteslist td {
  vertical-align: top;
}

.noteslist .notes-bullet {
    width: 1.5%;
}

.notestext {
  width: 78%;
  padding-bottom: 8px;
}

.notes-bullet, .contract-bullet {
  background: url(bullet.gif) no-repeat;
  width: 2%;
  padding-right: 6px;
}

.notes-bullet {
  padding-right: 10px; /* this value should be higher than the one of contract-bullet */
}

.notedate {
   font-size: 90%;
   text-align: left;
   white-space: nowrap;
}

.divide {
    width: 10px;
    text-align: center;
}

.notedays {
   color: #000000;
   font-size: 90%;
   text-align: right;
}
.remove-note, .remove-contract {
  width: 5%;
  text-align: right;
  padding-left: 8px;
  cursor: pointer;
}

.noteslist input[type="checkbox"] {
    margin-top: 4px;
    margin-right: 2px;
}

.moduleButton {
  display: block;
  float: right;
  margin-left:  4px;
}

.displayTitle {
  /*  This is a IE7 fix. When you don't have this, the title and description will be invisible.
  The content under the title and description have a float:left.
  Using the position property, the content above the float:left items will be visible.
  If there is a better fix, please change it. */
  position: relative;
}

.alternative-views {
  float: right;
}

.employee_sick, dd .employee_sick a:link,  dd .employee_sick a:visited,
.contenttype-absence.employee_sick a, .absencetext {
    color: #c70708;
}

table.employee_sick, table.employee_healthy {
    width: 100%;
    margin-bottom: 0.4ex;
}

.edit-absence {
    width: 5%;
}

/* start - absence-views css*/
.alternative-absence-views, #absencelist .absencelistfield {
    margin-bottom: 0.5em;
}

#absencelist .errormessage, #plonehrmFileViewlet .errormessage, #checklist .errormessage {
    color: #c70708;
}

#absencelist .context {
    margin-top: 0.8em;
}

table.absence-head {
    border-collapse: separate;
    text-align: left;
    float: right;
    width: 306px;
}

table.absence-head th {
    border-bottom: none;
}

table.absence-head td, table.contract-overview td {
    background-color: #eef3f5;
    border-top: 1px solid #8cacbb;
}

#absence-view-container, .absence-view {
    width: 620px;
}

.absence-bullet {
    background: url(bullet.gif) no-repeat;
}

.notedate.startdate, .absence-bullet {
    padding-left: 14px;
}

#absence_text {
    margin-bottom: 0.25em;
}

#content .contenttype-evaluationinterview a,
#content .contenttype-note span,
#content .contenttype-absencefile a {
    padding-left: 2em;
    line-height: 3ex;
    display: block;
}

#content .contenttype-evaluationinterview a {
    background: url(evaluation_icon.gif) no-repeat left top;
}

#content .contenttype-note span {
    background: url(notes_icon.gif) no-repeat 2px 3px;
}

#content .contenttype-absencefile a {
    background: url(document_icon.gif) no-repeat left 1px;
}

.absence-view .discreet {
    font-size: 100%; /* discreet made the text 90% smaller, this fixes that*/
}

/* fixes for link-parent: it was overridden by public.css, the importants provide a stable solution */
a.link-parent {
    background: url(arrowUp.gif) 4px 5px no-repeat !important;
    padding: 1px 0px 10px 16px !important;
}
/* stop - absence-views css*/

.worklocation_overview .employee_sick {
    display: block;
    background: url(ico-sick.gif) no-repeat left  2px;
    padding: 2px 5px 4px 22px;
}

table.listing td, .stx table td {
    padding: 0.25em 0.75em;
}

/* Removes bottom border for action icons (delete, edit ...) */
a.action-icon, td a.action-icon {
  margin-left: 0.5em;
  border: none;
  cursor: pointer;
}

h3, h4, h5, h6 {
    font-size: 100%;
}

.clear {
    display: block;
    clear: both;
}

.left-column, .right-column {
    float: left;
    width: 44%;
}

#plonehrmFileViewlet label, #checklist label,
#addabsenceform label, #closeabsenceform label{
    display: block;
}

#file_file, #checklist .plone_jscalendar {
   margin-bottom: 1em;
}

#fileuploadform #file_title, #fileuploadform #file_desc,
#checklist #item_text {
    margin-bottom: 0.5em;
}

.fileslist table {
    width: 100%;
}

.file_remove {
    width: 2%;
}

span.item-today, li a:link.item-today, li a:visited.item-today,
td a:link.item-today, td a:visited.item-today {
    color: #ff9000;
}

span.item-past, li a:link.item-past, li a:visited.item-past,
td a:link.item-past, td a:visited.item-past {
    color: #C70708;
}

#viewlet-jobperformance .moduleItem {
    position: relative;
    z-index: 1;
}

 .jobperformance_date {
    position: absolute;
    right: 0;
}

/* </dtml-with> */