/* Stylesheet for the 'Overlapped Tabs' Plone theme */

body {
    background-color:#B8B8BA;
    color: #444444;
    font-family: Helvetica,Arial;
}

#visual-portal-wrapper {
    margin: 5em auto 4em !important;
    width:993px !important;
    background-color: White;
}

#portal-logo img {
    margin: -1px 0 4px;
}

#portal-globalnav-wrapper {
    height: 84px;
    width: 739px !important;
    float: right;
}
#portal-globalnav {
    background-color:#B8B8BA;
    position: relative;
    top: -31px;
    height: 84px;
    width: 739px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    border:0 none;
    margin:0;
    padding:0;
}

#portal-globalnav li {
    display:inline;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    text-align:center;
    border:0 none;
    margin:0;
    padding:0;
}

#portal-globalnav li a {
    background:transparent url(++resource++plonetheme.overlappedtabs.images/sections_labels_0.jpg); no-repeat scroll 0 0;
    display:block;
    float:left;
    text-decoration:none;
    text-indent:-9999px;
}

li.section0 a:link, li.section0 a:visited {
    background-position:0 0;
}


#portal-column-content{
    padding-right: 30px;
    padding-top:0;
    margin-left: auto;
}

div#content {
    padding-left: 12px;
    padding-right: 12px;
}

.documentEditable{
    margin-left:auto;
    margin-right:1px;
    width: 730px;
}
#region-content{
    background-color:#E4E4E4;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: none;
    margin-left: auto;
    margin-right: 1px;
    width:730px !important;
}
#portal-colophon {
    color:#666666;
    margin:0;
    padding:0;
    text-align:right;
}
#portal-colophon div.colophonAbove{
    height:30px;
}
#portal-colophon div.colophonAbove div{
    margin: 0;
    padding: 0;
    width:30px;
    height:30px;
    position:relative;
}
#portal-colophon div#br{
    background:transparent url(++resource++plonetheme.overlappedtabs.images/rounded_br.png) no-repeat scroll bottom right;
    bottom: 0;
    margin-right:0;
    margin-left:auto;
}
#portal-colophon div#bl{
    background:transparent url(++resource++plonetheme.overlappedtabs.images/rounded_bl.png) no-repeat scroll bottom left;
    top: -30px;
    margin-right:auto;
    margin-left:0;
}
#portal-colophon .colophonWrapper{
    background-color:#B8B8BA;
}
#portal-colophon .colophonWrapper ul{
    margin: 0 16px 0 auto;
    list-style:none;
    height: 36px;
    width: 108px;
}

#portal-colophon .colophonWrapper ul li {
    list-style: none;
    display: inline;
    text-align: center;
    padding: 0;
}
#portal-colophon .colophonWrapper ul li a{
    background:#B8B8BA url(++resource++plonetheme.overlappedtabs.images/disclaimer.png) no-repeat right bottom;
    text-decoration: none;
    display:block;
    line-height: 0;
    font-size: 0%;
    border-bottom: none;
    height: 36px;
}

.documentActions li{
    background-color: #E4E4E4;
}
h1, h2, h3 {
    border-bottom:none;
    color: #194b1f;
}
h1{
    font-size:136%;
}
h2{
    font-size:140%;
}
#portal-header{
    background:white url(++resource++plonetheme.overlappedtabs.images/rounded_tr.png) no-repeat right top;
    height:151px;
}

/* Left column */
#portal-column-one .visualPadding {
    width: 200px;
    padding:2em 0 0 10px;
}

#portal-column-one .visualPadding  dt.portletHeader {
    min-height: 0;
}

/* Forms */
input {
    color: #818181;
}

/* Navigation Portlet */
dl.portletNavigationTree{
    border-bottom:none;
}
dl.portletNavigationTree dt.portletHeader{
    display: none;
}
dl.portletNavigationTree dd.portletItem{
    background-color: white;
    border: none;
    padding:5px 1em 1em !important;
}
dl.portletNavigationTree dd.portletItem img{
    display: none;
    line-height: 0px;
}
dl.portletNavigationTree dd.portletItem a{
    background-color: white;
    border: none;
    font-weight: bold;
    color: #194b1f !important;
    text-align: right;
    line-height:15px !important;
}
dl.portletNavigationTree dd.portletItem a:hover{
    background-color: white;
    border: none;
    color: #0C8639 !important;
}
dl.portletNavigationTree dd.portletItem a.navTreeCurrentItem{
    color: #0C8639 !important;
    border: none !important;
}
.portlet-static-empty{
    font-size: 0%;
    line-height: 0px;
}
dl.portletNavigationTree dd.portletItem ul ul a {
    font-size:smaller;
}


/* buttons */
.context, .formControls .actionButtons .button, .documentEditable * .context,
.standalone, .documentEditable * .standalone{
    background: #194b1f;
    color: white;
    height: 24px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
}

.documentContent input.searchPage{
    font-size: 100% !important;
}
.documentContent form.searchPage input.searchButton, .documentContent form input.searchButton{
    background: #194b1f url(++resource++plonetheme.overlappedtabs.images/button_arrow.jpg) no-repeat right 8px;
    padding:1px 10px !important;
    border:none !important;
    color: white;
    font-weight: bold;
}
.documentContent #login-form input.context {
    background: #194b1f url(++resource++plonetheme.overlappedtabs.images/button_arrow.jpg) no-repeat right 8px;
    color: white;
    height: 24px;
    font-weight: bold;
    margin-bottom:1em;
    padding:1px 13px 4px 1px !important;
    font-size: 100% !important;
}


/* MAP */

#map-info{
    width: 300px;
}
#map-info h3{
    font-style: italic;
    font-size: small;
}

/* Logout */

#logout{
    text-align: right;
    position:relative;
    top: 5px;
    background-color: #E4E4E4;
    width:730px !important;
    margin-left: auto;
    margin-right: 1px;
}
#logout a{
    padding-right:5px;
}

a.managePortletsFallback, div.managePortletsLink{
    display: none !important;
}

div.portlet-static-contact-informatie{
    text-align: right;
}
