[buildout]
develop = .
parts = python test
newest = false

[python]
recipe = zc.recipe.egg
eggs = alchemist.security
interpreter = python
       
[test]
recipe = zc.recipe.testrunner
eggs = 
  alchemist.security
