[buildout]
parts = test demo
develop = .

[app]
recipe = zc.zope3recipes:application
eggs = gocept.registration [test]
site.zcml = <include package="gocept.registration.demo" file="application.zcml"/>

[database]
recipe = zc.recipe.filestorage

[demo]
recipe = zc.zope3recipes:instance
application = app
zope.conf = ${database:zconfig}

[test]
recipe = zc.recipe.testrunner
eggs = gocept.registration [test]
