div#leftslot {
    display: none;
}

div#mainmenu {
    display: none;
}

div#contentcontainer {
    width: 100%;
    margin: 10px;
}

div#contentcontainer div#topline {
    display: none;
}

div#contentcontainer div#topslogan {
    display: none;
}

div.rightvalues {
    display: none;
}

div.leftvalues {
    display: none;
}

div#localnavy {
    display: none;
}

div#contentcontainer div#bottomslogan {
    display: none;
}

div#contentcontainer div#bottomline {
    display: none;
}


div#referencemenu {
    display: none;
}

div#footer {
    display: none;
}

div#smartbanner {
    display: none;
}
