#header {
    position: relative;
    float: left;
    padding: 0;
}

#header img#headerleft {
    margin: 0;
    padding: 0;
    float: left;
}

#leftslot #projectblock #projects {
    height: 360px;
}


div#contentcontainer {
    float: left;
    position: relative;
    margin: 0 10px;
    text-align: left;
    width: 540px;
    padding: 0;
}

div#content {
    position: relative;
    float: left;
    width: 95%;
}

div#contentcontainer div#content div#localnavy {
    width: 97%;
}

div#contentcontainer #topslogan{
    width: 100%;

}

div#contentcontainer #bottomslogan{
    width: 100%;
}

div#body {
    float: left;
    padding: 0;
    margin: 0 10px 10px 10px;

}

div#contentcontainer div#content div#body h1.abstract {
    width: 96%;
}

div#contentcontainer div#content div#body div.abstract {
    width: 96%;
}



div#contentcontainer div#content div#body div.values {
    width: 96%;
}

div#contentcontainer div#content div#body div.values div.short {
}

.roundedcornerbox div.menublock {
    display: block;
    position: relative;
    float: left;
    width: 164px;
}

.roundedcornerbox div.menublock a.menuheader {
    display: none;
}

.roundedcornerbox div.menublock a.menuitem {
    width: 135px;
    margin-left: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #0069d5;
}


#newslistbox div.menublock {
    margin: 0;
    padding: 10px;
    width: 144px;
}

#newslistbox div.menublock a.menuheader {
    display: none;
}

#newslistbox div.menublock a.menuitem {
    width: 140px;
}


#referencemenu {
    clear: none;
}

div#leftslot div .menublock {
    width: 144px;
    float: left;
}

div#leftslot div .menublock h1.menuheader {
    width: 144px;
    float: left;
}

div#leftslot div .menublock .menubody {
    width: 144px;
    float: left;
}

div#leftslot div .menublock .menubody  a {
    width: 144px;
    float: left;
}

#referencemenu {
    margin-right: 40px;
}

div#contentcontainer div#content div#body div.article {
    width: 96%;
}


div#contentcontainer div#content div#body div.contenticons {
    width: 94%;
    padding: 12px;
    overflow-y: hidden;
}
