[buildout]
develop = .
parts = test
versions = versions

# with zodb 3.9, DemoStorage currently fails with _tid attribute, so
# nail ZODB version to 3.8.1 for tests.
[versions]
ZODB3 = 3.8.1

[test]
recipe = zc.recipe.testrunner
eggs = z3c.blobfile [test]
zcml = z3c.blobfile-overrides
defaults = ['--tests-pattern', '^f?tests$', '-v']
