[buildout]
develop = . 
parts = test
extends = http://grok.zope.org/releaseinfo/grok-0.14.cfg
versions = versions

[versions]
lxml = 2.0.9
zope.testing = 3.6.0

[test]
recipe = zc.recipe.testrunner
eggs = z3c.relationfieldui
defaults = ['--tests-pattern', '^f?tests$', '-v']
