[buildout]
develop = . externals/ZODB
parts = zodbscripts test server1 server2 zeo
find-links = http://download.zope.org/distribution/

[test]
recipe = zc.recipe.testrunner
eggs = gocept.zeoraid
defaults = ['-vv']
# Some demo parts

[storage1]
recipe = zc.recipe.filestorage

[server1]
recipe = zc.zodbrecipes:server
zeo.conf = 
    <zeo>
    address 8101
    </zeo>
    <filestorage 1>
    path ${storage1:path}
    </filestorage>

[storage2]
recipe = zc.recipe.filestorage

[server2]
recipe = zc.zodbrecipes:server
zeo.conf = 
    <zeo>
    address 8102
    </zeo>
    <filestorage 1>
    path ${storage2:path}
    </filestorage>

[storage3]
recipe = zc.recipe.filestorage

[zeo]
recipe = gocept.zeoraid:server
zeo.conf =
    <zeo>
    address 127.0.0.1:8100
    </zeo>
    %import gocept.zeoraid
    <raidstorage 1>
        <zeoclient 1>
            server localhost:8101
            storage 1
        </zeoclient>
        <zeoclient 2>
            server localhost:8102
            storage 1
        </zeoclient>
    </raidstorage>
    <raidstorage 2>
        <filestorage 1>
            path ${storage3:path}
        </filestorage>
    </raidstorage>

[zodbscripts]
recipe = zc.recipe.egg:scripts
eggs = ZODB3
       gocept.zeoraid
