/*
  <dtml-with base_properties> (do not remove this)
  <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either)
*/
.module
{/* Wrapper around one module. */
  display: block;
  width: 44%;
  border: 1px solid #8CACBB;
  float: left;
  margin: 1em;
}

.moduleItem {
    padding: 0;
    margin: 1em 1em 1.5em;
}

.moduleItem h5 {
  margin: 0;
  color: #000 !important;
}

.moduleItem .contract-info {
  margin-bottom: 5px;
}

.contract-list {
  margin-top: 10px !important;
}

.moduleHeader
{ /* Heading of an employee module. */
  background-color: #dee7ec;
  border-bottom: 1px solid #8CACBB;
  padding: 0.25em 1em 0.25em;
}

#remainingitemsform input {
   border: none;
}

#remainingitemsform .button {
   border: 1px solid #0060ae;
}

.employee-viewlet
{ /* Block around the actual rendered viewlet. */
  margin: 5px;
}

.right {
    float: right;
    clear: right;
}

ul.hrm-edit-tabs {
   margin: 0;
   padding: 0;
   text-align: center;
}

.hrm-edit-tabs li {
   display: inline;
   border-top: 1px solid #0060ae;
   border-bottom: 1px solid #0060ae;
   padding: 1px;
}

.hrm-edit-tabs li a {
   padding: 1px 0.5em;
   margin: 0pt;
   text-decoration: none;
   color: #0060ae;
   border: none;
}

.hrm-edit-tabs li a:hover {
   background-color: #e5edf8;
}

.hrm-edit-tabs li a.selected {
   padding: 1px 0.5em;
   margin: 0pt;
   text-decoration: none;
   color: #0060ae;
   border: none;
   background-color: #e5edf8;
}

.hrm-edit-tabs li.hrm-edit-last {
   border-right: 1px solid #0060ae;
}

.hrm-edit-tabs li.hrm-edit-first {
   border-left: 1px solid #0060ae;
}

.worklocation-viewlet
{ /* one viewlet for an employee on the worklocation page */
  width: 30%;
  float: left;
  font-size: 90%;
  margin-left: 2%;
  }

ul.worklocation
{ line-height: 1em;
  }

.worklocation-employee,
.clear
{ /* wrapper around one employee+worklocation viewlets on
     the worklocation page */
  clear: both;
  }

/* build-in special classes for viewlets */

.dont-show
{/* Wrapper around one module. */
  display: none;
}

.full-width
{/* Wrapper around one module. */
  display: block;
  clear: both;
  width: 95%;
  margin: 1em;
}

#employee-base-edit label {
   float: left;
   width: 180px;
   padding-left: 10px;
}

#employee-base-edit .field {
    position: relative;
}

#employee-base-edit span.fieldRequired {
   position: absolute;
   left: -8px;
   top: 0px;
   text-indent: -1000px;
}

#viewlet-jobperformance,
#notes .module {
   float: none;
   clear: both;
   width: 90%;
}

input.notesfield {
   width: 65% !important;
}

input#submit-note {
    margin-left: 0.5em;
}

.noteslist {
  margin-top: 10px;
  width: 100%;
}

.noteslist td {
  vertical-align: top;
}

.notestext {
  width: 78%;
  padding-bottom: 8px;
}

.notesbullet {
  background: url(bullet.gif) no-repeat;
  width: 2%;
  padding-right: 8px;
}

.notedate {
   color: #777676;
   width: 15%;
   font-size: 90%;
   text-align: right;
}

.remove-note {
  width: 5%;
  text-align: right;
  padding-left: 8px;
  cursor: pointer;
}

.moduleButton {
  display: block;
  float: right;
  margin-left:  4px;
}

.displayTitle {
  /*  This is a IE7 fix. When you don't have this, the title and description will be invisible.
  The content under the title and description have a float:left.
  Using the position property, the content above the float:left items will be visible.
  If there is a better fix, please change it. */
  position: relative;
}

.alternative-views {
  float: right;
}

#remainingitemsform .button {
    margin-top: 0.5em;
}

.employee_sick {
    color: #c70708;
}

#absencelist .absencelistfield {
    padding-left: 4px;
    margin-left: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}


#absencelist .errormessage {
    color: #c70708;
}

#absencelist .context {
    margin-top: 0.8em;
}

.startdate  {
    padding-right: 1.5em;
}
.worklocation_overview .employee_sick {
    display: block;
    background: url(ico-sick.gif) no-repeat left  2px;
    padding: 2px 5px 4px 22px;
}

table.listing td, .stx table td {
    padding: 0.25em 0.75em;
}


/* Removes bottom border for action icons (delete, edit ...) */
li a.action-icon {
  margin-left: 1em;
  border: none;
}
/* </dtml-with> */
