
/* Kupu mashups buttons styles */

button.kupu-googlesearch {
    background-image: url("google.png");
}

button.kupu-googlemaps {
    background-image: url("maps.png");
}

button.kupu-wikipedia {
    background-image: url("wikipedia.png");
}



/* Kupu mashups drawer styles */

.kupu-gsearchdrawer, .kupu-wikipediadrawer, .kupu-gmapsdrawer {
    width: 350px;
    left: 400px;
}

.kupu-gsearchdrawer .kupu-panels,
.kupu-gsearchdrawer .kupu-panels table,
.kupu-gsearchdrawer div.kupu-dialogbuttons {
  width: 350px;
}

.kupu-wikipediadrawer .kupu-panels,
.kupu-wikipediadrawer .kupu-panels table,
.kupu-wikipediadrawer div.kupu-dialogbuttons {
  width: 350px;
}

.kupu-gmapsdrawer .kupu-panels,
.kupu-gmapsdrawer .kupu-panels table,
.kupu-gmapsdrawer div.kupu-dialogbuttons {
  width: 350px;
}

.googlesearch-link {
    padding-left: 20px;
    background: transparent url("google.png") no-repeat center left;
}

.wikipedia-link {
    padding-left: 20px;
    background: transparent url("wikipedia.png") no-repeat center left;
}

.googlemaps-link {
    padding-left: 20px;
    background: transparent url("maps.png") no-repeat center left;
}

.gs-result {
    margin-bottom: 10px;
}

.gs-watermark {
    display: none;
}

.gsearch-status {
    text-align: right;
}

.wiki-content {
    margin-top: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.wiki-status {
    text-align: right;
}

.map_canvas {
    width: 310px;
    height: 310px;
}

.gmnoprint span{
    display:none;
}

/* Bubble pop-up */

.mashup_preview {
    background-color: #fff;
    overflow-y: auto;
    width: 350px;
    height: 350px
}

.popup {
    position: absolute;
    display: none;
    z-index: 50;
    border-collapse: collapse;
    background-color: #fff;
    border-bottom: 2px solid #bbb;
    border-right: 1px solid #ccc;
    max-width: 350px;
    padding: 0px 20px 20px 20px;
    margin-top: 0em;
}

