[buildout]
parts = test debug tags
develop = .
find-links = 3rdparty/
versions = versions

[versions]
SimpleParse = 2.1.0.a1

[test]
recipe = zc.recipe.testrunner
eggs = gocept.objectquery
defaults = ['--tests-pattern', '^f?tests$', '-v', '--color', '--exit-with-status']

[debug]
recipe = zc.recipe.egg:script
eggs = gocept.objectquery
interpreter = debug

[tags]
recipe = z3c.recipe.tag:tags
eggs = gocept.objectquery

