[buildout]
parts = test python
develop = .
project = koboldfs [zope]

[python]
recipe = zc.recipe.egg
eggs = ${buildout:project}
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:project}
