/* Copyright(c) gert.cuykens@gmail.com */

html,body {margin:0px;
           padding:0px;
           border:0px solid black;}

textarea {overflow:hidden;
          width:100%;
          height:100px;
          border:0px solid black;
          border-top:1px solid black;
          border-bottom:1px solid black;
          padding:0px;}

li {margin:10px 0px 0px 165px;text-decoration:underline;color:blue;}

.messages_pnr{text-align:center;}
.messages_time{text-align:center;}

#all       {width:60px; position:absolute;right:10px; top:12px;}
#find      {width:60px; position:absolute;right:80px; top:12px;}
#save      {width:60px; position:absolute;right:150px;top:12px;}
#remove    {width:60px; position:absolute;right:220px;top:12px;}
#nr        {width:60px; position:absolute;right:290px;top:12px;}

#session   {width:160px;
            position:absolute;
            left:5px;
            top:5px; 
            height:120px; 
            background-image:url('../../wsgi/download.wsgi');}

#text      {margin:25px 0px 0px 0px;}

