#editormenu {
	display: block;
	position: fixed;
	bottom:0;
	right:0;
	z-index: 20;
}

a.editormenu {
	border: solid 2px gray;
	display: inline;
	padding: 0px 5px;
	color: #ffffff;
   	text-align: center;
	background-color: #036e59;
}

#menucolumnbr {
	display: none;
}

div.mainmenuplace {
	border: solid 0px black; 
	height: 400px;
}

img.mainmenuplace {
	height: 400px;
	width: 70px;
	float: left;
}

#mainmenu {
	display: relative;
	background-color: #036e59;
	color: white;
	position: relative;
	width: 180px;
        right: 0px;
	top: 40px;
	margin-left: 70px;
	z-index: 4;
}


#header {
	display: block;
	background-color: #036e59; 
	color: white;
	position: relative;
	height: 125px;
	width: 100%;
	top: 0px;
	left: 0px;
	min-width: 600px;
	}

#column {
	display: block;
	border-top: solid 5px #ffffff;
	border-bottom: solid 5px #ffffff;

	background-color: #036e59;
	/* border-right: solid 2px #0869a1; */
	width: 250px;
	position: relative;
	top: 0px;
	/* height: 1000px; */
	float: left;
	clear: left;
	z-index: 1;
	}

#content {
	display: block;
	position: relative;
	background-color: #ffffff; 
	z-index: 0;
	margin-left: 250px;
	min-width: 600px;
	}


#referencemenu {
	display: relative;
	background-color: #036e59;
	color: white;
	position: relative;
	width: 180px;
        left: 0px;
	margin-left: 70px;
	top: 40px;
	z-index: 4;
}

#footer {
	margin-top: 5px;
	display: block;
	background-color: #036e59; 
	color: white;
	position: relative;
	height:125px;
	width: 100%;
	right: 0px;
	min-width: 600px;
	clear: left;
	}


#mainbody { 
	display: block;
	position: relative;
	left: 0px;
	background-color: #036e59;
	}

#body {
	display: block;
	position: relative;
	padding: 20px;
	}

#localnavy {
	display: block;
        position: relative;
	margin-top: 0px;
	z-index: 3;
	}


#formplace {
	display: block;
	background-color: #ffffff;
	color: #036e59;
	position: absolute;
	top: 45px;
	left: 250px;
	height: 80px;
	right: 0px;
        z-index: 0;
}

#topdreambot {
	display: block;
	background-color: #036e59;
	position: absolute;
	top: 45px;
	z-index: 1;
}

#search {
	display: block;
	background-color: #ffffff;
	position: absolute;
	height: 45px;
	padding: 5px;
	vertical-align: middle;
	left: 165px;
	top: 10:px;
}

#breadcrumbs {
	display: block;
	background-color: #ffffff;
	color: #535af6;
	position: absolute;
	top: 95px;
	left: 250px;
	right: 0px;
	z-index: 2;
}

#bottomformplace {
	display: block;
	background-color: #ffffff;
	color: #0869a1;
	position: absolute;
	bottom: 45px;
	height: 80px;
	left: 250px;
	min-width: 555px;
	width: 100%;
}

#bottomdreambot {
	display: block;
	background-color: #0869a0;
	position: absolute;
	bottom: 45px;
	left: 0px;
	z-index: 1;
}

#login {
	display: block;
	background-color: #ffffff;
	position: absolute;
	height: 10px;
	padding: 20px;
	vertical-align: middle;
	left: 165px;
	bottom: 15px;
}

#bottombreadcrumb {
	display: none;
	background-color: #ffffff;
	color: #535af6;
	position: absolute;
	top: 0px;
        height: 15px;
	right: 15px;
	width: 100%;
	min-width: 600px;
	z-index: 2;
}

input {
  	background-color:  #036e59; /* Цвет фона */
  	color: #ffffff; /* Цвет текста */
	vertical-align: top;
	border-style: solid;
	font-size: 20px;
}	

textarea {
  	background-color:  #036e59; /* Цвет фона */
  	color: #ffffff; /* Цвет текста */
	vertical-align: top;
	border-style: solid;
	font-size: 12px;
}	

#logo {
	display: block;
	position: absolute;
	top:  -120px;
	left: 10px;
	width: 131;
	height: 110;
	z-index: 10;
}

#authordata {
	display: none;
	background-color: #036e59;
	color: #fffff;
	position: relative;
	text-align: right;
	vertical-align: top;
	z-index:09;
}

#logobar {
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	width: 250px;
	background-color: #036e59; 
}

#menucolumn {
	display: block;
	position: relative;
	border-top: solid 2px #ffffff;
	border-bottom: solid 2px #ffffff;
	width: 240px;
	left: 6px;
}

.menublock {
   width: 100%;
   margin: 0px;
   padding: 0px;
   background-color: #b3d3cd;
   border: solid 2px #036e59;
   position: relative;
}

.menuheader {
   display: block;
   position: relative;
   width: 90%;
   margin: 10px;
   background-color: #ffffff;
   color: #036e59;
   padding: 0px;
   text-align: center;
   border: solid 0px black;
   top: 10px;
 }

.menuitem {
   display:block;
   width: 90%;
   margin-left: 10px; 
   margin-right: 10px;
   position: relative;
   text-align: justify;
   font-size: 11px;
   font-weight:bold;
   color: #151ff3;
   padding-bottom: 5px;
 }

.mainmenuitem {
   display:block;
   width: 90%;
   margin-left: 10px; 
   margin-right: 10px;
   padding-bottom: 10px;
   position: relative;
   text-align: justify;
   font-size: 14px;
   font-weight:bold;
   color: #ffffff;
 }


div.reference {
   margin: 10px;
   padding: 0px;
   background-color: #b3b3b3;
   border: solid 0px black;
   position: relative;
   clear: right;
}

h1.reference {
   margin: 10px;
   background-color: #b3b3b3;
   color: #000000;
   padding: 0px;
   font-size: 12px;
   border: solid 0px black;
   position: relative;
   top: 10px;
}

a.reference {
   display:block;
   margin-left: 40px; 
   margin-right: 10px;
   position: relative;
   text-align: justify;
   font-size: 16px;
   font-weight:bold;
   color: #151ff3;
   padding-bottom: 5px;
 }



p.date {
   text-align: right;
   font-size: 11px;
   font-weight:bold;
   color=#000000;
   padding: 4px;
}
p.author {
   text-align: right;
   font-size: 11px;
   font-weight:bold;
   color=#000000;
   padding: 4px;
}

a.up:after {
   content: url(icons/arrow-up.png);
}

a.up:before {
   content: url(icons/arrow-up.png);
}

a.up {
   display: block;
   position: relative;
   text-align: center;
   font-size: 11px;
   font-weight:bold;
   z-index: 5;
}

a.left:before  {
   content: url(icons/arrow-left.png);	
}

a.left {
   display: block;
   position: relative;
   text-align: left;
   font-size: 11px;
   font-weight:bold;
   margin-left: 15px;
   width: 50%;
}

a.right:after {
   content: url(icons/arrow-right.png);	
}

a.right {
   display: block;
   position: relative;
   text-align: right;
   font-size: 11px;
   font-weight:bold;
   width: 50%;   
   float: right;
   margin-right: 15px;
}


h1.abstract {
   margin: 0px;
   padding: 0px;
   font-size: 22px;
}

span.abstractauthor {
   display: block;
   position: relative;
   float: left;
   font-weight: bold;
   font-size: 14px;
   width: 40%;
}

span.abstractdate {
   display: block;
   position: relative;
   text-align: right;
   float: right;
   font-weight: bold;
   font-size: 14px;
   width: 40%;
}

div.abstract {
  padding: 0px;
  font-size: 12px;
  font-weight: bold;
  text-align: justify;
  clear: right;
}


div.article {
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  text-align: justify;
}

div.annotations {
   display: block;
   position: relative;
   margin-top: 20px;
   marging-bottom: 10px;
   left: 20px;
   padding: 0px;
   padding-color: white;
   float: right;
   background-color: #b3b4ba;
   width: 250px;
   z-index: 3;
}

div.annotation {
   display: block;
   position: relative;
   padding: 10px;
   margin: 10px;
   font-size: 11px
   border-style: solid;
   border-width: 2px;
   border-color:  #000000;
}

h1.annotation {
   margin: 0px;
   padding: 0px;
   font-size: 12px;
}

div.short {
   display: block;
   position: relative;
   padding: 10px;
}

div.shortheader {
   border: solid 0px black;
   display: block;
   position: relative;
   padding-bottom: 10px;
}

a.shorttitle {
   border: solid 0px black;
   display: block;
   position: relative;
   text-align: left;
   font-weight: bold;
   font-size: 14px;
   width: 80%;
}

span.shortauthor {
   display: block;
   position: relative;
   float: left;
   font-weight: bold;
   font-size: 14OApx;
   width: 40%;

}

span.shortdate {
   display: block;
   position: relative;
   text-align: right;
   float: right;
   font-weight: bold;
   font-size: 14px;
   width: 40%;
}

div.shortabstract {
   display: block;
   position: relative;
   /* width: 100%;*/
   clear: right;
}
div.values {
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  text-align: justify;
}

h1.values {
  display:none;
}

div.leftvalues {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

div.rightvalues {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align:  right;
}

