/* Some reset love, courtesy of yahoo */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	font-size:10px;
}


/*Container*/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#222;
	color: #050505;	
	background-color: #CCC;
	padding-bottom:20px;
}

div {
    background-color: #FFF;
    margin-top:8px;
    padding:5px;
    padding-top:2px;
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    overflow:auto;
}


h2 {
    font-size:16px;
    font-weight:100;
    margin:0px 0px 3px 0px;
    border-bottom: 1px solid #DDD;       
}

h3{
 font-size:12px;
 margin-bottom:5px;
}

#header {
	overflow:hidden;
	margin:0px auto 0px auto;
	background-color: #FFF;
	border-bottom: 3px solid #DDD;
	border-top:none;
	float:none;
    padding:5px;	
}

#header h1{
    font-size:20px;
    float:left;
    font-weight:100;
}

.subtle{
	font-size:8px;
	color:#CCC;
	font-weight:100;
}

.message{
	color:#944
}

.error{
	color:#A33
}

.noborder { 
    border:none;
}

.internal {
    border:none;
    float:left;
    margin-right:10px;
}

/*DL's*/
dd{	border-bottom: 1px solid #F2F2F2;}

dd,dt{
	font-size: 10px;
	padding:2px 0px 2px 0px;
	width:100%;
	min-height:15px; /* Fixes empty dd probs. My CSS sux. */
}
dt { 
	float: left;
	width:23%;
}

dt:after{content:':';}

pre div{
 border:none;   
}

/*Tables*/
table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}


/* Hack */
#history_table {
   width:77%;
}

thead{
	font-weight:bold;
	background:#F4F4F4;
	border-bottom:1px solid #EEE;
	}

td{
    font-size:10px;
	border-bottom:1px solid #EEE;
	}
