.timeslot ul.scanning {
  color: #b9b95a;
  background-color: #f7f778;
  border-color: #f7f778;
}
.timeslot ul.methods {
  color: #a780b9;
  background-color: #deabf7;
  border-color: #deabf7;
}
.timeslot ul.cleaning {
  color: #a7b9b9;
  background-color: #def7f7;
  border-color: #def7f7;
}
.timeslot ul.otherUse {
  color: #a780b9;
  background-color: #deabf7;
  border-color: #deabf7;
}
.timeslot ul.reserved {
  color: #b98080;
  background-color: #f7abab;
  border-color: #f7abab;
}
.timeslot ul.maintenance,
.timeslot ul.closed,
.timeslot ul.earmarked,
.timeslot ul.downtime {
  color: #808080;
  background-color: #ababab;
  border-color: #ababab;
}

/* TODO: add and sortout .hover for IE */
.timeslot ul.scanning:hover { background-color: #f9f99a; }
.timeslot ul.methods:hover { background-color: #e7c0f9; }
.timeslot ul.cleaning:hover { background-color: #e7f9f9; }
.timeslot ul.otherUse:hover { background-color: #e7c0f9; }
.timeslot ul.reserved:hover { background-color: #f9c0c0; }
.timeslot ul.maintenance:hover,
.timeslot ul.closed:hover,
.timeslot ul.earmarked:hover,
.timeslot ul.downtime:hover { background-color: #c0c0c0; }

/* TODO: resolve this multiple-class selector issue for IE */
.clickedtimeslot ul.scanning { border-color: #b9b95a; }
.clickedtimeslot ul.methods { border-color: #a780b9; }
.clickedtimeslot ul.cleaning { border-color: #a7b9b9; }
.clickedtimeslot ul.otherUse { border-color: #a780b9; }
.clickedtimeslot ul.reserved { border-color: #b98080; }
.clickedtimeslot ul.maintenance,
.clickedtimeslot ul.closed,
.clickedtimeslot ul.earmarked,
.clickedtimeslot ul.downtime { border-color: #808080; }

.inactive .timeslot ul.scanning {
  //font-size: 0px;
  background-color: #fcfcbc;
  border-color: #fcfcbc;
}
.inactive .timeslot ul.methods {
  //font-size: 0px;
  background-color: #efd6fc;
  border-color: #efd6fc;
}
.inactive .timeslot ul.cleaning {
  //font-size: 0px;
  background-color: #effcfc;
  border-color: #effcfc;
}
.inactive .timeslot ul.otherUse {
  //font-size: 0px;
  background-color: #efd6fc;
  border-color: #efd6fc;
}
.inactive .timeslot ul.reserved {
  //font-size: 0px;
  background-color: #fcd6d6;
  border-color: #fcd6d6;
}
.inactive .timeslot ul.maintenance,
.inactive .timeslot ul.closed,
.inactive .timeslot ul.earmarked,
.inactive .timeslot ul.downtime {
  //font-size: 0px;
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}

.timeslot ul.session {
  color: #555;
}
