ul.day {
  list-style: none;
  float: left;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 16.6667%; /* 100 / number of days */
}

.timeslot {
  position: absolute;
  width: 100%;
}

.inactive .timeslot ul {
  padding-left: 2px;
}

.timeslot ul {
  position: relative;
  background-color: #ababab;
  border: 2px solid #ababab;
  margin: 1px 1px 0 0;
  padding: 0;
  line-height: 0.7em;
  overflow: hidden;
}

.timeslot ul li {
  font-size: 0.7em;
  margin: 0;
  padding: 0;
  display: none;
}

.timeslot ul li.summary {
  cursor: default;
  display: inline;
}

.timeslot ul li.util {
  bottom: -2px;
  display: none;
  position: absolute;
}

.inactive .timeslot ul li {
  //display: none;
}

.timeslot ul li.util a {
  float: right;
  background: none;
}

.timeslot ul li.util a img {
  border: 0;
}

.timeslot ul li.util a.updown {
  cursor: s-resize;
}

.timeslot ul li.util a.sort {
  cursor: move;
}

.timeslot ul li.util a.delete,
.timeslot ul li.util a.duplicate {
  float: left;
}

.timeslot ul li.util a.duplicate {
  padding-left: 2px;
}

.inactive .timeslot ul.earmark {
  border-right: none;
  border-left: none;
  background-image: url(../../images/gridlines.png);
  background-position: 0 -2px;
  background-repeat: repeat;
}

.timeslot:hover ul li.util,
.hover ul li.util {
  background: inherit;
  display: block;
}

.box a.selected {
  background: #b00;
  color: white;
}

.timeslot .session .summary strong {
  vertical-align: top;
  font-size: 1.3em;
  font-style: normal;
  font-weight: bold;
  color: #b22;
}

/* Body class controlled display */

body.viewerisnotadmin .adminonly {
  display: none !important;
}

#schedule {
  clear: both;
  background: #555 none;
  font-size: 1.1em;
  line-height: 1.1em;
  height: 300px; /* Will be changed dynamically by JS */
  width: 100%;
  background: #555 url(../../images/gridlines-light.png) repeat 0 26px;

}

#schedule.loading {
  cursor: wait;
  background: #555 url(../../images/schedule-loading.gif) no-repeat center 6em;
}

#schedule.weekhidden {
  background: #555 url(../../images/hidden-week.png) no-repeat center 6em;
}

#schedule.iewarning {
  background: #555 url(../images/ie-warning.png) no-repeat center 6em;
}

#daydates {
  background: #555;
  list-style: none;
  height: 25px;
  width: 90%;
  margin: 0;
  padding: 0 0 0 10%;
}

#daydates li {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  width: 16.6667%;
}

#daydates li p {
  background-color: #ddd;
  border: solid #555;
  border-width: 1px 1px 0 0;
  height: 24px;
  margin: 0;
  padding: 0 0 0 3px;
  line-height: 24px;
}

#timescale {
  float: left;
  width: 10%;
  margin: 0;
  padding: 0;
}

#timescale li {
  width: 100%;
  margin: 0;
  padding: 0;
}

#timescale li p {
  background: #ddd url(../../images/gridlines.png) repeat top left;
  font-size: 0.8em;
  height: 67px;
  margin: 1px 1px 0 1px;
  padding: 0 0 0 3px;
  line-height: 20px;
}

#layers {
  float: left;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#layers div {
  position: absolute;
  top: 0;
  left: 10%;
  height: 100%;
  width: 90%;
}

#evlayer {
  cursor: default;
  display: none;
}

#evlayer.active {
  cursor: crosshair;
  display: block;
}

#main {
  position: relative;
}

#weeklinks {
  width: 100%;
  clear: both;
}

#weeklinks .left {
  float: left;
}

#weeklinks .right {
  float: right;
}

#weeklinks .dateselector {
  position: absolute;
  left: 50%;
  float: left;
  width: 100px;
  margin-left: -50px;
}

#weeklinks .dateselector input {
  width: 100px;
}

h2#schedheading {
  display: inline;
  float: left;
}

#weekshownbox {
  margin-top: 1em;
  padding: 0.3em 0.5em;
  float: right;
  display: inline;
  color: #555;
  border: 1px solid #ccc;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

#weekshownbox.active {
  background: #ddd;
}

#weekshownbox label, #weekshownbox input {
  display: inline;
}

#weekshownbox input {
  vertical-align: text-top;
  margin: 0em 0.5em 0 0;
}

#weekshownbox label {
  line-height: 1.2em;
}

/* DatePicker overrides */

input.DatePicker {
	background: #fff url(../../images/datepicker/date.gif) no-repeat top left;
  border-color: #c22;
}

input:focus.DatePicker {
	background: #fffce9 url(../../images/datepicker/datefocus.gif) no-repeat top left;
}

.dp_cal {
  border-color: #c22;
}

.dp_cal table {
  margin: 0;
  padding: 0;
}

.earmarksummary, .sessiontimesummary {
  color: #444;
  font-weight: bold;
}

