/* Stylesheet for the 'blueblog' Plone theme */
body {
	background:#337fce url(++resource++myimg/bg.gif) repeat-y 50%;
	font-family:verdana,arial,sans-serif;	
}

h3, h4, h5, h6 {
color:#76A7DC;
text-decoration:none;
font-family:"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
}

h1, h2 {
color:#76a7dc;
border-bottom:0px solid #8CACBB;
font-weight:bold;
}

a{text-decoration:none}

p {
color:#808080;
line-height:1.5em;
margin:0pt 0pt 0.75em;
}

li {
color:#808080;
margin-bottom:0.5em;
}

.documentDescription {
color:#76a7dc;
font-weight:normal;
line-height:1em;
}

#portal-top{
	background:url(++resource++myimg/header.gif) no-repeat;
}

#visual-portal-wrapper {
background:white;
margin:0pt auto;
padding:0pt;
width:580px;

}

#portal-logo { 
	background: none;
	color:#FFFFFF;
	font-size:14pt;
	font-weight:bold;
	line-height:90px;
	padding-left:15px;

	
}
#portal-logo a {
    padding: 0px;
    height: 75px !important;
    font-size: 28px;
    text-decoration:none;
}

#subtitle {
    font-size: 20px;
}



#portal-column-content {
border-collapse:collapse;
margin:0em 0em 2em;
padding:1em 1em 0pt;
vertical-align:top;
}

#portal-columns {
border-collapse:collapse;
border-spacing:0pt;
width:580px !important;
}

.documentContent {
background:url(++resource++myimg/articlebg.gif) repeat-y scroll left top;
font-size:8pt;
padding:1em 1em 2em !important;
}

.documentContent li a {
color:#000;
border-bottom:1px solid #000;
text-decoration:none;
font-size:8pt;
}

.documentContent li a:hover {
color:#808080;
border-bottom:1px solid #000;
text-decoration:none;
}


#portal-globalnav {
background:url(++resource++myimg/horizontal.jpg);
color:#808080;
height:32px;
line-height:normal;
list-style-image: none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
padding:0em 0em 0em 2em;
white-space:nowrap;
}


#portal-globalnav li a:hover {
background-color: transparent;
border-color: transparent;
color:#ffffff;
}

#portal-globalnav li a {
background-color:transparent;
border-color:transparent;
border-style:solid solid none;
border-width:1px;
color:#808080;
height:auto;
margin-right:0.5em;
padding:0em 1.25em;
text-decoration:none;
text-transform:lowercase;
}

#portal-globalnav li.selected a {
background-color:transparent;
border-color:transparent;
border-style:solid;
border-width:1px;
color:#fff;
}


#portal-column-one {
background:url(++resource++myimg/sidebar.gif) repeat-y scroll -10%;
border-collapse:collapse;
padding:0pt;
vertical-align:top;
width:0em;
}


#portal-column-one .visualPadding {
background:url(++resource++myimg/menutop.gif) no-repeat;
padding:2em 1.5em 1em 0em;
margin-left:2px;
width:142px;
}



.portlet {
background-color:transparent;
border-bottom:2px solid #aaa;
margin:1px 0pt 1em;
margin-left:4px;
width:149px;
}

.portletHeader {
color:#808080;
background-color:transparent;
border:0px solid #000;
font-weight:normal;
line-height:1.6em;
padding:0em 1em;
text-transform:lowercase;
}

.portletHeader a {
color:#808080;
}

.portletItem {
border-left:0px solid #8CACBB;
border-right:0px solid #8CACBB;
border-bottom:0px solid #000;
margin:0pt;
padding:1em;

}

label {
color:#808080;
font-weight:normal;
}

.context, .formControls .actionButtons .button, .documentEditable * .context {

border:0px solid #8CACBB;
color:#808080;
cursor:pointer;
font-size:85%;
padding:1px 1px 1px 15px;
text-transform:lowercase;
}

.even {
background-color:#b0b0b0;
}


.field {
background:none;
clear:both;

left:0pt;
margin:0pt 1em 1em 0pt;
top:0pt;
}


.portletFooter {
background-color:transparent;
border-color:transparent;
border-style:dotted solid none;
border-width:1px;
margin:0pt;
padding:0.25em 1em;
text-align:right;
}

.portletCalendar dt {
background-color:transparent;
border-bottom:none;
font-weight:normal;
line-height:1.6em;
text-align:center;

}

.ploneCalendar {
border-collapse:collapse;
border-spacing:0pt;
margin:0px;
width:100%;
}

.ploneCalendar .weekdays th {
background-color:transparent;
border-color:transparent;
border-style:solid none;
border-width:0px;
font-weight:normal;
padding:2px;
text-align:center;
}

input.inputLabelActive {
color:#76797C;
width:70px;
}

input.searchButton {
width:50px;
}


.LSBox {
background:transparent url(++resource++myimg/searchbox.gif) no-repeat scroll 0%;
clear:left;
display:block;
float:left;
margin-left:-5px;
padding:5px;
text-align:right;
width:128px;
}


#portal-footer {
background-color:#fff;
border-bottom:1px solid #e4e4e4;
border-top:1px solid #e4e4e4;
float:none;
line-height:1.2em;
margin:2em 0em 1em;
padding:0.5em 0em 1em;
text-align:center;
}

#portal-footer a:hover {
text-decoration:underline;
}

#portal-footer a {
border:medium none;
color:#ccc;
text-decoration:none;
}

#portal-colophon {
color:#ccc;
float:none;
margin:0pt 0pt 1em;
padding:0pt 0pt 1em;
text-align:center;
}

#portal-colophon ul li a {
border-bottom:1px solid #CCCCCC;
color:#ccc;
text-decoration:none;
}
