
p, body, li { font-family: Verdana, Arial, Sans-serif; font-size: 10pt; }
body { width: 60%; margin-left: 60px; margin-top: 50px }
h1, h2, h3 { font-family: Georgia, Verdana, Arial, Sans-serif }
code { color: #990000 }
pre { background-color: #dedede; border: solid 1px black; margin: 5%; padding: 10px; }

