[buildout]
parts =
    test
    py
    application demo selenium
develop = .

[test]
recipe = zc.recipe.testrunner
eggs = zc.selenium
defaults = '--tests-pattern [fn]?tests --exit-with-status -1'.split()
working-directory = ${buildout:directory}

[py]
recipe = zc.recipe.egg
eggs = zc.selenium
interpreter = py


### Selenium tests

[application]
recipe = zc.zope3recipes:application
servers = zserver
eggs =
   ZODB3 == 3.8.1
   zc.selenium
   zope.app.server
   zope.app.zcmlfiles
site.zcml = <include package="zope.app.zcmlfiles" />
            <include package="zope.app.server" />
            <include package="zc.selenium" />

[demo]
recipe = zc.zope3recipes:instance
application = application
zope.conf =
    devmode on
    <zodb>
      <demostorage>
      </demostorage>
    </zodb>
    <server http0>
      address 39857
      type WSGI-HTTP
    </server>
    

[selenium]
recipe = zc.recipe.egg:scripts
eggs = ${application:eggs}
scripts = selenium
entry-points = selenium=zc.selenium.selenium:main
initialization =
    sys.argv[1:1] = ['${demo:run-directory}/zope.conf', '-r']

