[buildout]
develop = .
parts = libxml2 libxslt lxml deveggsvn test demo selenium
extends = http://svn.gocept.com/repos/gocept/zopeversions/zope-stable.cfg
          http://svn.gocept.com/repos/gocept/gocept.lxml/trunk/buildout-lxml.cfg

[test]
recipe = zc.recipe.testrunner
eggs = gocept.autocomplete[test]

[deveggsvn]
recipe = infrae.subversion
urls = svn://svn.zope.org/repos/main/z3c.form/trunk z3c.form
as_eggs = True

### Selenium tests

[application]
recipe = zc.zope3recipes:application
servers = zserver
eggs = ${test:eggs}
     zope.app.server
     zope.app.zapi
site.zcml =
    <include package="gocept.autocomplete" file="ftesting.zcml" />
    <include package="zope.app.server"/>

[demo]
recipe = zc.zope3recipes:instance
application = application
zope.conf =
    devmode on
    <zodb>
      <demostorage>
      </demostorage>
    </zodb>
    <server http0>
      address 9090
      type WSGI-HTTP
    </server>

[selenium]
recipe = zc.recipe.egg:scripts
eggs = ${application:eggs}
    wsgiref
scripts = selenium
entry-points = selenium=zc.selenium.selenium:main
initialization =
    sys.argv[1:1] = ['${demo:run-directory}/zope.conf', '-r']
