.engal {
	font-family:arial, helvetica, sans-serif;
}

BODY.engal {
    background-color: #fff;
    padding: 0;
    margin: 0;
    border: 0;
}

#engal_contents {
    width: 800px;
    display: block;
    padding-top: 0;
    margin:0 auto 0 auto;
    border: 1px dashed grey;
}

#header {
        padding-top: 0;
	margin:0 auto 0 auto;
        display: block;
        overflow: visible;
        width: 800px;
        height: 80px;
        background: #258dcb; /* url(../images/engal.png) 10px center no-repeat;*/
}

#header h1 {
    padding-left: 210px;
    font-size:24pt;
    color: #fff;
    font-weight:normal;
    text-align: center;
    margin: auto;
    padding: 0;
    border: 0;
    padding-bottom: 0.25em;
    clear: both;
}

#nav {
    float: right;
    display: inline;
    color:#fff;
    font-size:10pt;
    padding-top: 5px;
    clear: both;
}

#nav a {
	margin:0px 10px 0px 10px;
	padding:0px 2px 0px 2px;
	border-top:2px solid #555;
	color:#fff;
	text-decoration:none;
	text-transform:lowercase;
}

#nav a:hover {
	border-top:2px solid #ec008c;
}

.engal #photoset_thumbs .thumbbox {
    padding-left: 3px;
}

.engal #photoset_thumbs .thumb {
    display:inline;
    width:100px;
    height:100px;
    padding:0;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    float:left;
}

.engal .thumb img {
	padding:1px;
	background:grey;
	border:0;
}

.engal h2 {
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
}

#photoset_table {
    background-color: #fff;
    width: 800px;
}

#photoset_table td {
    vertical-align: top;
}

#photoset_details {
    width: 250px;
}

#photoset_thumbs {
}

#nav .welcome {
}

#photoset_example img {
    padding: 2px;
    background:grey;
    border: 0;
}

.engal .splitter {
    width: 1px;
    background-color: #ccc;
    padding: 0;
    margin: 0;
    border: 0;
}

.photoset_info {
    font-size: 12px;
    clear: both;
}

.photoset_info .photoset_name {
    font-weight: bold;
}

.photoset_info .photoset_description {
    padding: 1em 0;
    margin: 0 2em;
    color: #aaa;
}

#photoset_thumbs .next {
    margin-top: 1em;
    float: right;
}

#userpage_table {
    background-color: #fff;
    width: 800px;
}
#userpage_table img {
    border: 0;
}

#userpage_table td {
    vertical-align: top;
    min-height: 150px;
}

#userpage_table td.userpage_details {
    width: 160px;
}

#userpage_table td.userpage_thumbs {
    width: 640px;
}

#userpage_table td {
    padding: 5px 0;
}

.engal .userpage_thumbs .thumb {
    display:inline;
    width:70px;
    height:70px;
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    float: left;
}

#frontpage_table {
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
}

#frontpage_table td {
    vertical-align: top;
}

#photo_table {
    background-color: #fff;
    border: 1px solid grey;
    width: 800px;
}

#photo_table td {
    vertical-align: top;
}

#photo_details {
    width: 650px;
}

#photo_others {
    width: 149px;
}

.engal #photo_other .thumbbox {
    padding-left: 0;
}

.engal #photo_other .thumbbox .thumb {
    display:inline;
    width:40px;
    height:40px;
    padding:0;
    padding-left: 1px;
    padding-right: 1px;
    float:left;
}

#photo_other .photoset_info p {
    padding-top: 1em;
    clear: both;
}

#photo_other .thumbbox .others_in_the_set {
    font-size: 12px;
    clear: both;
}

.engal .thumb img {
	padding: 1px;
	background: grey;
	border:0;
}

.photo_info {
    font-size: 12px;
    clear: both;
}

.photo_info .photo_description {
    padding: 1em 0;
    margin: 0 2em;
    color: #aaa;
}

#photo_primary_photoset .photoset_info .photoset_description {
    padding: 1em 0;
    margin: 0 0.75em;
    color: #aaa;
}

#firstuser_table {
    background-color: #fff;
    border: 1px solid grey;
    width: 800px;
}

#firstuser_table td {
    vertical-align: top;
}

.engal_tag_description {
    padding: 0.25em 0;
    margin: 0 1em;
    color: #aaa;
}

.engal_tag_list {
    font-size: smaller;
    color: #711;
    padding: 0;
    padding-left: 1em;
}

#frontpage_userlist_table {
    border: 1px solid grey;
    margin: 0 5px 1em 5px;
}

#frontpage_userlist_table caption {
    font-size: 20pt;
    background-color: #258dcb;
    border: 1px 0px;
    color: white;
    margin: 10px 5px 0 5px;
}
#frontpage_userlist_table img {
    border: 0;
}

#frontpage_userlist_table td {
    vertical-align: top;
    min-height: 150px;
}

#frontpage_userlist_table td.frontpage_thumbnail {
    width: 160px;
}

#frontpage_userlist_table td.frontpage_details {
    width: 239px;
}

#frontpage_userlist_table td {
    padding: 5px 0;
}

#frontpage_find {
    border: 1px solid grey;
    margin: 10px 5px 0 5px;
}

#frontpage_find h2 {
    font-size: 20pt;
    font-weight: normal;
    background-color: #258dcb;
    color: white;
    /* margin: 0.5em 5px 0 5px; */
    padding: auto;
}
