.checkselect {
    border: 1px solid #ccc;
    list-style: none;
    height: 20ex;
    overflow: auto;
    width: 16em;
}

.checkselect, .checkselect li { margin: 0; padding: 0; }

.checkselect label:hover { background: #777; color: #fff; }

.checkselect label {
    display: block;
    padding-left: 25px;
    text-indent: -25px;
}

* html .checkselect label { height: 1%; } /* Fix para IE 6 */