[buildout]
develop = .
parts = vpython test

[vpython]
recipe = tl.buildout_virtual_python

[test]
recipe = zc.recipe.testrunner
eggs = tl.buildout_virtual_python
defaults = ["-v", "-c", "-s", "tl.buildout_virtual_python"]
