[buildout]
develop = .
parts = interpreter test gettext
extends = http://grok.zope.org/releaseinfo/grok-1.0a2.cfg
versions = versions

[interpreter]
recipe = zc.recipe.egg
eggs = megrok.jinja
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = megrok.jinja
defaults = ['--tests-pattern', '^f?tests$', '-v']

[gettext]
recipe = cc.gettext:msgfmt
po_path = src/megrok/jinja/ftests/locales/po
mo_path = src/megrok/jinja/ftests/locales/mo