[buildout]
develop = .
parts =
    test
    test-nolxml
    py
    py-nolxml

[test]
recipe = zc.recipe.testrunner
environment = test-environment
eggs =
   chameleon.core [lxml]

[test-nolxml]
recipe = zc.recipe.testrunner
environment = test-environment
eggs =
   chameleon.core

[test-environment]
Z3C_PT_DEBUG = False

[py]
recipe = zc.recipe.egg
eggs = 
    chameleon.core [lxml]
    Sphinx
interpreter = py
environment = test-environment
scripts = sphinx-build

[py-nolxml]
recipe = zc.recipe.egg
eggs =
    chameleon.core
interpreter = py-nolxml
environment = test-environment
