div#plone-true-gallery div.view div.image img,
div#plone-true-gallery div.view div.image h2,
div#plone-true-gallery div.view div.image p{
    display:none;
}
div#plone-true-gallery div.view div.selected img{
    display:block;
    margin:auto;
    text-align:center;
}
.hoverThumbnail{
	cursor:pointer;
}

div#plone-true-gallery div.view{
	text-align:center;
	margin: 5px auto auto;
	position:relative;
}
div#plone-true-gallery ul.carousel{
    display:none;
}
div#plone-true-gallery div.view div#media-guide{
	display:none;
	margin: -20px 0 0 -100px;
	z-index:900000000;
	overflow: hidden;
	position: absolute;
    background-image: url(++resource++plonetruegallery.resources/images/media-guide.png);
    background-repeat: no-repeat;
	width:200px;
	height: 39px;
	left:50%;
	top:50%;
	text-align:center;
}
div#plone-true-gallery div.view div#media-guide ul{
    margin: 8px 0px 2px 22px;
}
div#plone-true-gallery div.view div#media-guide ul *{
	margin:0pt;
	padding:0pt;
}
div#plone-true-gallery div.view div#media-guide ul li{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	width:30px;
	height: 20px;
	background-repeat: no-repeat;
	display:table;
	float:left;
}
div#plone-true-gallery div.view div#media-guide ul li.first{
	background-image: url(++resource++plonetruegallery.resources/images/media-skip-backward.png);
}
div#plone-true-gallery div.view div#media-guide ul li.prev{
	background-image: url(++resource++plonetruegallery.resources/images/media-seek-backward.png);
}
div#plone-true-gallery div.view div#media-guide ul li.pause{
    display:none;
	background-image: url(++resource++plonetruegallery.resources/images/media-playback-pause.png);
}
div#plone-true-gallery div.view div#media-guide ul li.play{
	display: none;
	background-image: url(++resource++plonetruegallery.resources/images/media-playback-start.png);
}
div#plone-true-gallery div.view div#media-guide ul li.next{
	background-image: url(++resource++plonetruegallery.resources/images/media-seek-forward.png);
}
div#plone-true-gallery div.view div#media-guide ul li.last{
	background-image: url(++resource++plonetruegallery.resources/images/media-skip-forward.png);
}

div#plone-true-gallery div.info{
    text-align: center;
    margin: 5px auto;
    width: 400px;
    padding-bottom:5px;
    background-color:#EAEAEA;
    border:1px dashed black;
}

div#plone-true-gallery div.info h2{
    border-bottom: none;
    margin: 0.25em 0pt 0.25em;
}
div#plone-true-gallery div.info p{
}
div#plone-true-gallery div.info a{
    
}
div#plone-true-gallery{
    background-color:black;
    padding-bottom:14px;
    min-width:500px;
    margin: auto;
    text-align:center;
}