/* Stylesheet for the 'Delicious v.2' Plone theme */

body {
    background: #242424 url(++resource++plonetheme.delicious2.images/bg.gif) repeat-x scroll 0 0;
}

#visual-portal-wrapper {
    width:980px;
    margin: 0 auto;
}

#portal-header {
    height:178px;
    position:relative;
}

#portal-logo img {
    margin:43px 0 1em 2em;
}

#portal-footer {
    background-color: transparent;
    border: 0;
    border-top:1px solid #404040;
    margin:60px auto 0;
    color:#FDFDFD;
}

#portal-colophon {
  float: left;
}

#delicious-copyright {
    float: right;
    width: 20%;
    font-size: 85%;
    margin: 15px 0 1em;
    padding: 0 0 1em;
}

#portal-column-content {
 padding:1em 0em 0;
}

#history {
  color: white;
}

#content-history .historyAction {
    background-color: #96a328;
}

.inline-diff {
    background-color:transparent !important;
}

/* START portlets */
#portal-column-one,
#portal-column-two {
    background:transparent url(++resource++plonetheme.delicious2.images/portletsVisualWrapper-bg.gif) repeat-y scroll 0 0;
}

#portal-column-one {
    background-position: top right;
}

#portal-column-two .visualPadding,
#portal-column-one .visualPadding {
    padding:2em 0.6em 1em;
}

.portletHeader {
    background:transparent url(++resource++plonetheme.delicious2.images/h3-bg.gif) no-repeat scroll 0 54%;
    border-width:0 0 1px;
    color:#FDFDFD;
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:1.4em;
    font-weight:normal;
    letter-spacing:1px;
    padding-bottom:3px;
    padding-left:18px;
}

.portletFooter {
    background-color: transparent;
    border-width: 1px 0 0 0;
}

.portletCalendar .portletHeader {
    font-size: 1.2em;
}

.portletCalendar .portletItem a {
    color: white;
}

.ploneCalendar .todayevent,
.ploneCalendar .todaynoevent {
 border: 1px solid #FFA500;
}

.portletItem {
    border:0;
    padding: 0;
}


/* START portlet login */
.portletLogin .formControls {
  padding-bottom: 10px;
}
.portletLogin .even {
    background-color: transparent;
}
/* END portlet login */

/* START portlet navigation */
.navTreeCurrentItem,
.navTreeCurrentItem:hover,
.navTreeItem a:hover, dd.portletItem .navTreeItem a:hover {
    background-color:#AFBC25;
    border:1px solid #AFBC25;
    color: white !important;
}
/* END portlet navigation */

/* END portlets */ 

/* START site actions */
#portal-siteactions {
    margin:8px 1px 0 0;
    padding: 0;
}

#portal-siteactions li {
    font-size:0.9em;
    padding:0 0 0 24px;
}

#portal-siteactions li a {
    border: 0;
    margin: 0 16px 0 0;
    padding: 0;
    color: white;
}

#portal-siteactions li::after {
    content: "|";
}


#siteaction-sitemap {
    background:transparent url(++resource++plonetheme.delicious2.images/sitemap.gif) no-repeat scroll 0 1px;
}

#siteaction-accessibility {
    background:transparent url(++resource++plonetheme.delicious2.images/house.gif) no-repeat scroll 0 1px;
}

#siteaction-contact {
    background:transparent url(++resource++plonetheme.delicious2.images/envelope.gif) no-repeat scroll 0 1px;
}

#siteaction-plone_setup {
    background:transparent url(++resource++plonetheme.delicious2.images/house.gif) no-repeat scroll 0 1px;
}

#portal-siteactions li.last a {
    margin: 0 !important;
}
#portal-siteactions li.last::after {
    content: "";
}


#portal-siteactions li a:hover {
    background-color: transparent;
    border: 0;
    color: white;
    text-decoration: underline;
}

/* END site actions */


/* START globalnav */
#portal-globalnav {
    position:absolute;
    right:1px;
    top:146px;
}

#portal-globalnav li a {
    background:#242424 url(++resource++plonetheme.delicious2.images/li-bg.gif) repeat-x scroll 0 0;
    border-color:black black;
    border-style:solid solid none ;
    border-width:1px 1px medium;
    color:#FFFFFF;
    display:inline;
    float:left;
    font-size:1.1em;
    font-weight: bold;
    height:32px;
    line-height:32px;
    list-style-type:none;
    margin-left:3px;
    padding:0 1.1em;
    text-align:center;
    text-decoration: none;
}

#portal-globalnav li.selected a:hover,
#portal-globalnav li.selected a {
    background:#232323 url(++resource++plonetheme.delicious2.images/li-bg-hover.gif) repeat-x scroll 0 0;
    border-color:#2D4A00 #2D4A00;
    border-style:solid solid none;
    border-width:1px 1px medium;
    color:#FFFFFF;
    text-decoration:none;
}

#portal-globalnav li a:hover {
    background:#242424 none repeat scroll 0 0;
    border-color:#222222 #222222 -moz-use-text-color;
    border-style:solid solid none;
    border-width:1px 1px medium;
    color:#FFFFFF;
    text-decoration:underline;
}
/* END globalnav */


#portal-personaltools {
  background-color: transparent;
}

#portal-breadcrumbs {
    color: white;
    border: 0;
    line-height: 3em;
}


/* START Document Actions */
.documentActions {
    border-top:0;
}

.documentActions ul {
    float: right;
    padding-top:10px;
}


.documentActions li {
    width: 14px;
    height: 11px;
    overflow: hidden;
    display: block;
    float: left;
}

.documentActions li a {
    padding: 20px;
}

#document-action-rss {
    background:transparent url(++resource++plonetheme.delicious2.images/rss.gif) no-repeat 0 0;
}
#document-action-print {
    background:transparent url(++resource++plonetheme.delicious2.images/printer.gif) no-repeat 0 0;
}

#document-action-sendto {
    background:transparent url(++resource++plonetheme.delicious2.images/envelope.gif) no-repeat scroll 0 0;
/*     padding-left:20px; */
}

/* END Document Actions */

table.listing th, .stx table th {
    background:#AFBC25 url(++resource++plonetheme.delicious2.images/listing-bg.gif) repeat-x scroll 0 bottom;
}

table.listing a,
table.listing a:hover {
    color: #ffa500;
}

.tileFooter a::after
{
    content: '→';
}


/* START base HTML TAG */
h1, h2, h3, h4, h5, h6 {
    font-family:Georgia,"Times New Roman",Times,serif;
    color: #FFFFFF;
    text-align: left;
    font-weight: normal;
    letter-spacing: 1px;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.4em;
    margin: 4px 0 0 0;
}

h3 {
    background:transparent url(++resource++plonetheme.delicious2.images/h3-bg.gif) no-repeat scroll 0 54%;
    color:#FDFDFD;
    font-size:1.4em;
    margin-bottom:7px;
    padding-left:18px;
}

p {
    color:#FDFDFD;
    line-height:170%;
    margin-bottom:10px;
}

pre {
    color:black;
}
/* END Base HTML TAG */


/* START searchbox */

#portal-searchbox input.searchButton {
    border: 0;
    height:26px;
    width:30px;
    background-color: transparent;
    color: transparent;
    background-image: none;
}

#portal-searchbox .LSBox {
    background:transparent url(++resource++plonetheme.delicious2.images/search-button.gif) no-repeat top right;
}

#searchGadget {
    border-color:black;
    background-color: white;
    height:1.7em;
    padding-left:0.5em;
    width:14em;
}

.searchSection label {
  color: white;
}


.LSDescr,
.livesearchContainer {
  color: white;
}


input.searchPage {
    font-size:120% !important;
    width:500px;
}

form.searchPage input.searchButton  {
    background:transparent url(++resource++plonetheme.delicious2.images/search-button-big.gif) no-repeat scroll 0 0;
    border:0 none;
    height:26px;
    padding-bottom:3px;
    width:100px;
}
/* END searchbox */

/* START text style */
.documentDescription {
    color:#76797C;
    display:block;
    font-size:0.8em;
    font-weight:bold;
    line-height:1.5em;
    margin:0 0 0.5em;
}

.documentContent {
    font-size:100%;
    padding:1em 0.5em 2em !important;
}

h2.tileHeadline {
    font-size: 1.4em;
}


.documentContent p a {
    border-bottom:1px solid #AFBC25;
}

.tileItem {
border: 0;
border-bottom:1px solid #AFBC25;
}

#content .link-category {
    color:#ffa500 !important;
}

/* END text style */


/* START form style */
textarea,
select,
input {
    background:#383838;
    color: white;
    border-color: #666666;
}

option {
    color: white;
}


.formTab a:hover,
.formTab .selected,
.portalMessage dd {
  color: black;
}

li.formTab a:hover,
li.formTab a.selected {
  background:#AFBC25 url(++resource++plonetheme.delicious2.images/button-green.gif) repeat-x scroll 0 -1px;
}

/*#login-form input.context */
.standalone, .documentEditable * .standalone,
.context, .formControls .actionButtons .button, .documentEditable * .context {
    background:transparent url(++resource++plonetheme.delicious2.images/button.gif) repeat-x scroll 0 0;
    border-color: black;
    border-style:none solid;
    border-width:0 1px;
    margin:0;
    padding:0 10px;
    height: 26px;
}

input[id*="cancel"],
.standalone, .documentEditable * .standalone {
    background:transparent url(++resource++plonetheme.delicious2.images/button-green.gif) repeat-x scroll 0 0;
}

input[id*="cancel"]:active,
.standalone:active, .documentEditable * .standalone:active,
.context:active, .formControls .actionButtons .button:active, .documentEditable * .context:active {
    background-color: #242424;
    background-image: none;
    border: 1px solid black;
}

input[id*="cancel"]:active,
.standalone:active, .documentEditable * .standalone:active {
    background-color: #96a328;
}

#login-form input.context {
    background-position: 0 0;
    padding:0 10px;
}


/* END Form style */


/* START Image style */
.tileImage,
.newsImage {
    border:1px solid #AFBC25;
}

.newsImage {
    margin:0.2em 0 0.6em;
}




/* END Image style*/