[buildout]
develop = .
extensions = buildoutpip
requirements =
	http://github.com/pinax/pinax/raw/master/requirements/0.7/release.txt
parts = pip
eggs =

[pip]
recipe=zc.recipe.egg
eggs = ${buildout:eggs}