[buildout]

develop = .
parts = svn 

[svn]
recipe = ore.recipe.svnlib
url = http://subversion.tigris.org/downloads/subversion-1.5.2.tar.bz2
extra_options=-without-apxs

[python]
recipe = zc.recipe.egg
extra-paths = {svn:location}/lib/python
interpreter = python
