[buildout]
develop = .
parts = eggs django
versions=versions
newest = false
extensions = lovely.buildouthttp
unzip = true

[versions]
zc.buildout>=1.4.1
django = 1.1
djangorecipe=0.19.1

[eggs]
recipe = zc.recipe.egg
interpreter = python
eggs =
     django
     PasteScript	
     django-reusableapps
     django_historique

[django]
recipe = djangorecipe
version = 1.1
settings = development
eggs = ${eggs:eggs}
wsgi = true
project = django_historique