[buildout]
develop = .
parts = test
allow-picked-versions = false
use-dependency-links = false
versions = versions

[versions]
manuel = 1.0.0a1
setuptools = 0.6c9
zc.recipe.testrunner = 1.0.0
zc.recipe.egg = 1.0.0
zc.buildout = 1.0.0
zope.testing = 3.5.0

[test]
recipe = zc.recipe.testrunner
eggs = zc.recipe.macro
defaults = ["-1"]
