body{padding: 20px;background-color: #FFF; text-align: center;			    font: 76% Verdana,Arial,sans-serif}
h3,h1,h2,p{margin: 0 10px}
h1{font-size: 180%;color: #333333;padding-bottom: 6px}
h2{font-size: 150%;color: #FFF;}
h3{font-size: 105%;color: #FFF;padding-bottom: 6px}
p{padding-bottom:1em}
h3,h2,h1{padding-top: 0.3em}

blockquote {
   padding-left: 0.5em;
   border-left: 0.3em solid #aa5555;
}

blockquote:after {
   font-size: small;
   content: " -- " attr(cite);
}

code, pre.example {
	font-face: Courier New;
	font-size: 10pt;
	color: #990000;
}

pre.example {
	color: #330000;
	background-color: #D5AAAA;
	padding: 10px;
	margin-top: 0px;
	margin-left: 2.5%;
	width: 90%;
}

div#container{width:800px;margin: 0 auto;text-align:left}

div#content{background: #D5CCCC;width:500px}
div#content>h2{padding-bottom: 6px}
div#content>ul{padding-left: 75px;}
div#content>ul>li>a{underline: none; color:#000}

div#nav{float: right;width:275px;background: #558888}
div#nav hr{color: #336666; background-color: #558888; height: 2px;width: 90%}
div#nav p{padding: 5px 0}
div#nav>a{padding-left: 10px}
div#nav h2{font-size: 130%;color: #333}
div#nav h3{padding: 5px 0px 0px 0px;margin-bottom: 5px;font-size: 102%;color: #333}