body {
   margin: 1.5em 2em 1.5em 1.5em;
   font-family: Georgia, sans-serif;
}

h1, h2 {
   font-family: Tahoma, "Gill Sans", sans-serif;
   font-weight: normal;
}

address {
   font-size: small;
   padding-top: 0.35em;
   border-top: 2px solid #069;
   font-style: normal;
}

address a.edit {
   font-variant: small-caps;
}

div.about {
   float: right;
   font-size: 0.95em;
}

pre { margin-left: 1.5em; }

blockquote {
   padding-left: 0.5em;
   border-left: 0.3em solid #99c;
}

blockquote:after {
   font-size: small;
   content: " -- " attr(cite);
}

blockquote pre {
   font-family: Georgia, sans-serif;
}

div.menu {
	position: absolute;
	left: 80%;
	width: 150px;
	height: 200px;
	floating: left;
	background: #9BD1FA;
}

div.content {
	width: 80%;
}

