/*
 * CSS styles for feed widgets and feed display in browsers with no
 * direct feed support.
 */

.feedlinklist {
    list-style-type: none;
    padding-left: 0px;
}

.feedlink {
    margin-left: 3px;
    padding: 0 0 0 19px;
    background: url("../images/feed-icon-14x14.png") no-repeat 0 50%;
}

.feedbutton {
    font: bold 0.75em sans-serif;
    text-decoration: none;
    line-height: 150%;
}

.feedbutton span {
    border: solid 1px #f60;
    padding: 0.2em 0.35em;
    margin: .2em .3em;
    float: left;
}

.feedbutton span.feedtype {
    color: #fff;
    background: #f60;
    margin-right: 0;
}

.feedbutton span.feedtitle {
    color: #000;
    background: #fff;
    margin-left: 0;
}
