/* SilvaForum CSS */
div.forum {
 margin-bottom: 1em;
}

div.forum h5 {
  margin-top: 0.7em;
}

/*___________________________________________ PAGINATION SELECTORS __________*/
table.pagination {
  width: 100%;
  border: 1px solid gray;
  border-spacing: 1px;
  background-color: #afc3d7;
  font-size: 100%; /* for moz in SL */
}
table.pagination tr {
  background-color: #cdd9e5;
  vertical-align:bottom;
}
table.pagination td {
  width: 25%;
  padding: 0 0.2em 0.1em 0.2em;
  text-align: center;
}
table.pagination a:link {
  text-decoration:none;
}
table.pagination a:visited {
  text-decoration:none;
}
table.pagination a:hover {
  text-decoration:underline;
}

/*______________________________________________ LISTING SELECTORS __________*/
table.forum-content-table {
  width: 100%;
  border: 1px solid gray;
  border-spacing: 1px;
  background-color: #afc3d7;
  font-size: 100%; /* for moz in SL */
}
table.forum-content-table thead {
  background-color: #b0c4d7;
}
table.forum-content-table tr {
  vertical-align: top;
}
table.forum-content-table tr.topic {
  background-color: #ccd9e6;
}
table.forum-content-table tr.preview {
  background-color: #eaf6ef;
}
table.forum-content-table tr.odd {
  background-color: #d4dee9;
}
table.forum-content-table tr.even {
  background-color: #ccd9e6;
}
table.forum-content-table th.align-left {
  text-align: left;
}
table.forum-content-table th, table.forum-content-table td {
  padding: 0.1em 0.3em 0;
}
table.forum-content-table td.author {
  width: 6em;
  padding-top:0.2em;
  font-size: 90%;
}
table.forum-content-table td.comment {
}
table.forum-content-table h4 {
  margin: 0 0 0.3em;
}
table.forum-content-table h5 {
  margin-top: 0.4em;
}
table.forum-content-table p {
  margin-top: 0.3em;
}
table.forum-content-table span.author {
  font-weight: bold;
}
span.icon {
  float:left;
  margin-right:4px
}
table.forum-content-table p.datetime, table.forum-content-table p.permalink {
  margin-top: 0.4em;
  color: #555;
  font-size: 90%;
}
table.forum-content-table p.permalink {
  float: right;
}

/*_____________________________________________ EMOTICON SELECTORS __________*/
#emoticons {
  margin: 0;
  padding-top: 0.2em; 
  border: 1px solid gray;
  text-align:center;
}

div.forum div.emoticon {
  margin: 0.3em;
  float: left;
}

/*____________________________________________ PERMALINK SELECTORS __________*/
div.forum div#comment {
  background: #ccd9e6;
  padding: 0.2em;
  border: 1px solid gray;
}

/*____________________________________________ FORM SELECTORS _______________*/
form {
  margin:0;
  padding:0;
}

div.forum input.store, textarea.store {
  width: 100%;
  max-width: 100%; /* for FF, why? */
}

div.forum div.submit {
  margin: 0.5em 0 0 0;
}

div.forum div.controls {
  margin: 1.7em 0 0 0;
  padding-bottom:0.5em;
  border-bottom:1px solid gray
}

/* style is attitude */