/*
 * CSS for the TG quick start page.
 */
table.grid {
             width: 85%;
             margin: 1em;
			 }

.grid th {
             text-decoration: underline;
}

/*
 * Quick mash-up of CSS for the TG quick start page.
 */

html, body {
  color: black;
  background-color: #ddd;
  font: x-small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
  font-size: 83%;
  margin: 0;
  padding: 0;
}

td, th {padding:3px;border:none;}
tr th {text-align:left;background-color:#f0f0f0;color:#333;}
tr.odd td {background-color:#edf3fe;}
tr.even td {background-color:#fff;}


a.link, a, a.active {
  color: #d;
}

.white {
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Century Schoolbook L", Georgia, serif;
  font-weight: bold;
}

div.flash{
    background-color: #FF0000;
    color: white;
}
#main_content {
  color: black;
  font-size: 110%;
  background-color: white;
  border-top: 3px solid #aaa;
  padding-top: 8px;
  padding-left: 4px;
  margin-bottom: -10px;
  clear: both;
}


.sidebar {
  border: 1px solid #cce;
  background-color: #ffffab;
  margin: 0.5em;
  margin-left: 1.5em;
  padding: 1em;
  float: right;
  width: 200px;
  font-size: 88%;
  background-color:#fffe1;
  background-repeat:repeat-x;
}

.sidebar h2 {
  margin-top: 0;
  color: black;
}

.sidebar ul {
  margin-left: 1.5em;
  padding-left: 0;
}



#sb_top {
  clear: right;
}

#sb_bottom {
  clear: right;
}


#header {
  background: #66afff URL("../images/grad_blue.png") repeat-x;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  margin: 0 auto 0 auto;
  color: #ffffff;
  height:60px;
}

.alogo {
}

.headtext {
  font-size: 33px;
  padding: 5px;
  margin-bottom: 0px;
  float:left;
  color: #ffffff;
}


#footer {
  color: #888;
  background-color: white;
  font-size: 75%;
  text-align: center;
  margin:0px;
}

.flogo {
  padding-left: 20px;
  padding-top: 0px;
  padding-right: 20px;
  margin-bottom: 0px;
  float: left;
  src: "../images/tg_under_the_hood.png";
}

.foottext{
}

.code {
  font-family: monospace;
  font-size: 127%;
}

span.code {
  font-weight: bold;
  background: #eee;
}

/*#status_block {
  margin: 0 auto 0.5em auto;
  padding: 5px 15px 15px 55px;
  background: #eef URL('../images/ok.png') left center no-repeat;
  border: 1px solid #cce;
  width: 680px;
  font-size: 120%;
  font-weight: bolder;
}
*/
.notice {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 680px;
  background: #9CC3E7 URL('../images/info.png') left center no-repeat;
  border: 1px solid #cce;
}

.fielderror {
    color: red;
    font-weight: bold;
}

div.clearingdiv {
  clear:both;
}

.table_list {
  background:#216EA9 URL("../images/grad_blue.png") repeat-x;
  float:left;
  clear:left;
  border:2px #aaa solid;
  margin:0px 5px 0px 0px;
  padding:8px;
  decoration:none;
}
#tablelabelwidget.a.active{
  color:#ffffff;
  decoration:none;
  }
