
/* From Trac
----------------------------------------------------------------------------*/

/* Header */
#header hr { display: none }
#header h1 { margin: 1.5em 0 -1.5em; }
#header img { border: none; margin: 0 0 -3em }
#header :link, #header :visited, #header :link:hover, #header :visited:hover {
 background: transparent;
 color: #555;
 margin-bottom: 2px;
 border: none;
}
#header h1 :link:hover, #header h1 :visited:hover { color: #000 }

/* Quick search */
#search {
 clear: both;
 font-size: 10px;
 height: 2.2em;
 margin: 0 0 1em;
 text-align: right;
}

#search input {
    font-size: 10px;
    padding:0.1em 0.5em;
    border:1px outset #CCCCCC;
}

#search input#proj-search {
    padding: 0.25em 0.5em;
    border: 1px solid #D7D7D7;
}

#search label {
    display: none;
}

/* Navigation */
.nav h2, .nav hr { display: none }
.nav ul { font-size: 10px; list-style: none; margin: 0; text-align: right }
.nav li {
 border-right: 1px solid #d7d7d7;
 display: inline;
 padding: 0 .75em;
 white-space: nowrap;
}
.nav li.last { border-right: none }

/* Main navigation bar */
#mainnav {
 background: #f7f7f7;
 border: 1px solid #000;
 font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
 margin: .66em 0 .33em;
 padding: .2em 0;
}
#mainnav li { border-right: none; padding: .25em 0 }
#mainnav :link, #mainnav :visited {
 border-right: 1px solid #fff;
 border-bottom: none;
 border-left: 1px solid #555;
 color: #000;
 padding: .2em 20px;
}
* html #mainnav :link, * html #mainnav :visited { background-position: 1px 0 }
#mainnav :link:hover, #mainnav :visited:hover {
 background-color: #ccc;
 border-right: 1px solid #ddd;
}
#mainnav .active :link, #mainnav .active :visited {
 background: #333;
 border-top: none;
 border-right: 1px solid #000;
 color: #eee;
 font-weight: bold;
}
#mainnav .active :link:hover, #mainnav .active :visited:hover {
 border-right: 1px solid #000;
}

/* Basic html elements
----------------------------------------------------------------------------*/

* {
    outline: none;
    font-size: 1em;
}

body {
    font: 11pt/120% "Myriad Web", "Myriad Pro", "Myriad", "Lucida Grande", "Bitstream Vera Sans", "Arial", sans-serif;
    margin: 0;
    background: #F8F8F8 url("../images/sidebar.gif") repeat-y 0 0 ;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Myriad Web", "Myriad Pro", "Myriad", "Lucida Grande", "Bitstream Vera Sans", "Arial", sans-serif;
}

:link, :visited,
.milestone .info h2 em,
h1 :visited,
dt em {
    color: #36C;
}

*:link, *:visited {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 2em;
    color: #36C;
    font-weight: normal;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

h1 *:link, h1 *:visited,
h2 *:link, h2 *:visited,
h3 *:link, h3 *:visited,
h4 *:link, h4 *:visited,
h5 *:link, h5 *:visited,
h6 *:link, h6 *:visited {
    color: #36C;
}

dt {
    color: #888;
    font-weight: bold;
}

#content table th {
    background: #46C;
}
#content table td {
    border-bottom-color: #46C;
}

p :link:hover,
p :visited:hover {
    color: #008;
    border-bottom-color: #008;
}

p :visited {
    color: #349;
}

#content ul.link-bar a:hover {
    color: #008;
}


/* Page structure
----------------------------------------------------------------------------*/

#banner {
    position: relative;
    height: 96px;
    background: #02A url("../images/header-background.jpg") repeat-x 0px 0px;
}

#logo {
    position: absolute;
    top: 11px;
    left: 10px;
    height: 80px;
}

#header {
    background: none;
}

#footer {
    text-align: right;
    padding: 1.5em;
    margin-left: 256px;
}

#page {
    margin: 0;
    background: none;
    background: url("../images/page-background.jpg") repeat-x 256px 0px;
}


/* Navigation
----------------------------------------------------------------------------*/

#ctxtnav ul,
#metanav ul {
    font-size: 0.7em;
    padding: 0;
    margin: 0;
}

#metanav {
    position: absolute;
    right: 0;
    top: 72px;
    color: #36C;
}

#metanav ul li a,
#ctxtnav ul li a {
    border: none;
    padding: 0;
}

#metanav li {
    border-color: #02A;
}

#metanav ul li *:link,
#metanav ul li *:visited {
}

#metanav ul li *:link:hover,
#metanav ul li *:visited:hover {
    background: none;
    color: #FFF;
}

#metanav a,
#ctxtnav {
    text-transform: uppercase;    
}

#ctxtnav {
    margin-top: 8px;
}

#mainnav {
    background: #34B url("../images/menu-background.jpg") repeat-x 0 0;
    border: none;
    margin: 0;
    padding: 0;
    height: 20px;
}

#mainnav ul {
    padding: 2px 0 0;
    margin: 0;
    font-size: 12px;
}

#mainnav .active *:link, 
#mainnav .active *:visited {
    background: #36C;
    color: #FFF;
}

#mainnav *:link,
#mainnav *:visited {
    background: none;
    color: #9AF;
    border: none;
}

#mainnav *:link:hover,
#mainnav *:visited:hover,
#mainnav .active *:link:hover,
#mainnav .active *:visited:hover {
    background: none;
    border: none;
    color: #FFF;
}

#mainnav ul li.active *:link,
#mainnav ul li.active *:visited {
    background: none;
    border: none;
}

#apydia-body #header {
    display: none;
}

/* Search
----------------------------------------------------------------------------*/

#search {
    position: absolute;
    top: 32px;
    right: 8px;
}

/* Wiki & various UI elements
----------------------------------------------------------------------------*/

#prefs,
#tabs,
.wiki-toc {
    background: #CCF;
    border: 1px solid #88E;
}

#tabs {
    overflow: auto;
}

#tabs li {
    color: #02A;
}

#tabs li.active,
.wiki-toc .active {
    background: #78F;
    color: #FFF;
    border: 1px solid #25E;
}

#tabs li.active li.active {
    color: #FFF;
    border-color: #25E;
    background: #25E;
}


#content.prefs #tabs {
    border: none;
    background: none;
}

.wiki-toc .active *:link,
.wiki-toc .active *:visited {
    color: #FFF;
    border: none;
    font-weight: bold;
    padding-left: 0.5em;
}

.wiki-toc h4 {
    color: #02A;
    font-weight: bold;
}

.wiki-toc *:link,
.wiki-toc *:visited {
    color: #36C;
}

.wiki-toc *:link:hover,
.wiki-toc *:visited:hover {
    background: none;
    color: #02A;
}

a.missing:link,
a.missing:visited {
    color: #778;
    background: #EEF;
}

table.listing thead {
    background: #EEF;
}

table.listing thead th {
    border: 1px solid #ACF;
}

table.listing tbody tr:hover {
    background: #FFF !important;
}

/* Source code browser
----------------------------------------------------------------------------*/

h1 *:link,
h1 *:visited {
    color: #36C;
}

div.code {
    background-color: #F8F8F8;
    border: 1px solid #FFF;
    font-size: 0.9em;
    line-height: 150%;
}

#content pre {
    background: #FFF;
    border: 1px solid #EEE;
}

/* apydia sidebar
----------------------------------------------------------------------------*/

#browser li.active a {
    background: #F8F8F8;
    color: #237;
}

#browser li a:hover {
    color: #008;
}

#browser {
    background: #FFF url("../images/bg-shadow-white.jpg") repeat-x 0 0;
}

.link-bar li a {
    background: none !important;
    padding: 0;
}

