[buildout]
develop = .
parts = test coverage-test coverage-report resource-list python
index = http://download.zope.org/zope3.4
find-links=http://pypi.python.org/pypi/zope.app.publisher
versions = versions

[versions]
zope.app.publisher=3.5.0

[test]
recipe = zc.recipe.testrunner
eggs = z3c.versionedresource [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.versionedresource [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[resource-list]
recipe = zc.recipe.egg
eggs = z3c.versionedresource

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = z3c.versionedresource
