[buildout]
develop = .
parts = modpython

[vpython]
recipe = tl.buildout_virtual_python
headers = true

[apache]
recipe = tl.buildout_apache:httpd

[modpython]
recipe = tl.buildout_mod_python
httpd = apache
python = vpython
