/* Stylesheet for the 'rcom Theme' Plone theme */

.documentByLine,
.documentDescription,
.portletSearch .portletFooter {
	display: none;
}

.tileImage {
	float: right;
	margin-top: 4.5em;
}

.kupu {
	font-size: 1em;
}

.newsImage {
	float: right;
	margin: 0 0 3px 3px;
}

.discreet,
#parent-fieldname-text p {
	margin: 0px !important;
}

.documentDescription {
	font-weight: bold;
}

.link-presentation {
	display: none;
}

.documentFirstHeading {
	font:2.2em Arial;
	color:#121212;
	letter-spacing:-1px;
	margin:10px 0;
	border-bottom:2px solid #eee;
	background:url(++resource++plonetheme.rcom.images/h2.jpg) bottom left no-repeat;
	clear:left;
}

#contentActionMenus li {
	padding: 0;
}

#contentActionMenus {
	border: 0px solid transparent;
}

.contentViews {
	padding-left: 0;
	font-size: 0.9em;
}

.contentViews li {
	margin: 0;
	padding: 0;
}

#contenidos {
	background: url(++resource++plonetheme.rcom.images/content.jpg) top right no-repeat;
	margin: 0 265px 0 0;
	padding: 0;
}

.portletWrapper {
	padding-bottom: 1em;
}

.portletHeader {
	padding: 0;
	padding-bottom: 1em;
	background: white;
}

.portletHeader a {
	color: #333;
	font-size:1.3em;
	font-weight: bold;
	border-bottom: none;
}

dl.portlet {
	background:#f4f4f4;
	padding: 0px;
	margin:0 0;
}

.portletItem {
	padding: 1em;
	border-left: 5px solid #F0F0F0;
}

.portletFooter {
	padding-top: 1em;
}

.portletFooter a {
	display:block;
	color:#333;
	text-decoration:none;
	text-align:right;
	border:none;
	padding: 0 1em 1em 0;
}

.portletFooter a:hover {
	border-bottom: none;
}

.portletItem img {
	display: none;
}

.portletSearch {
	background: red;
	margin: 0 !important;
	padding: 0 !important;
}

.portletSearch .portletItem,
.portletSearch .portletFooter {
	background: white;
	padding: 0px;
	border-left: none;
}

input.searchButton {
	margin: 1em 0;
}

/*** document actions ***/

.documentActions {
    margin: 1em 0;
    padding: 0;
    text-align: right;
    border-top: &dtml-borderWidth; &dtml-borderStyle; &dtml-globalBorderColor;;
}
.documentActions ul {
    margin: 0;
    padding: 0 0.5em;
    display: block;
    margin-top: -0.9em;
    list-style-type: none;
    list-style-image: none;
}
.documentActions li {
    display: inline;
    font-size: &dtml-fontSmallSize;;
    margin: 0 0.5em;
    padding: 0 0.25em;
    background-color: &dtml-backgroundColor;;
}
.documentActions a {
    border: none !important;
    text-decoration: none;
}

/* Status messages */

dl.portalMessage {
    font-size: &dtml-fontSmallSize;;
}
dl.portalMessage a {
    color: black;
    border: none;
    text-decoration: underline;
}
dl.portalMessage dt {
    background-color: #996;
    border: 1px solid #996;
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: White;
    line-height: 1.25em;
}
dl.portalMessage dd {
    background-color: #ffffe3;
    border: 1px solid #996;
    padding: 0.5em 0.5em;
    margin: 0;
    line-height: 1.25em;
}
dl.warning dt {
    background-color: #d80;
    border: 1px solid #d80;
}
dl.error dt {
    background-color: #d00;
    border-color: #d00;
}
dl.warning dd {
    background-color: #fd7;
    border-color: #d80;
}
dl.error dd {
    background-color: #fd7;
    border-color: #d80;
}

/*** SOLEMNY ***************************************************************************************/

body {
	font: 62.5%/1.6em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
	color:#888;
	margin:0;
	background:url(++resource++plonetheme.rcom.images/body.jpg) top repeat-x #121212;
	background-attachment:fixed;
	padding:0 35px;
}

* {
	margin:0;
	padding:0;
}

#header h1 a img {
    border: none !important;
}

#wrapper1 {
	background:#1e1e1e;
	padding:0 10px 10px 10px;
	margin:0 auto;
}

#wrapper2 {
	background:url(++resource++plonetheme.rcom.images/wrapper2.jpg) bottom repeat-x #fff;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	padding:0 10px 10px 10px;
}

/*** NAVIGATION ***/

#portal-globalnav {
	float:right;
	border:none;
	padding:0;
	margin:0;
}

#portal-globalnav li {
	float:left;
	list-style:none;
	margin:0 4px 0 0;
	padding:0;
}

#portal-globalnav li a {
	display:block;
	padding:40px 10px 21px 10px;
	background:#fff;
	color:#444;
	text-decoration:none;
	text-transform:uppercase;
	margin:0 1px 0 0;
}

#portal-globalnav li a:hover {
	background:url(++resource++plonetheme.rcom.images/nav_a_hover.jpg) top center no-repeat #fff;
	color:#000;
}

#header h1 {
	font:2.7em Arial;
	letter-spacing:-1px;
	color:#222;
	float:left;
	padding:8px 20px 2px 0px;
}

#header h1 a {
	color:#222;
	text-decoration:none;
	border:none;
}
#header h1 a:hover {
	color:#000;
}
#header h1 span {
	font-size:.8em;
	color:#ccc;
	text-transform:uppercase;
}

#container {
	clear:both;
	padding: 0;
}

#sidebar {
	width:230px;
	float:right;
  background: #fff;
	padding:0px 20px 10px 10px;
	margin: 0px 0 0 0;
}

#contenidos h2 {
	font:2.2em Arial;
	color:#121212;
	letter-spacing:-1px;
	margin:10px 0;
	border-bottom:2px solid #eee;
	background:url(++resource++plonetheme.rcom.images/h2.jpg) bottom left no-repeat;
	clear:left;
}
#contenidos h2 a {
	color:#121212;
	text-decoration:none;
}
#contenidos p {
	margin:15px 0;
	font-size:110%;
	line-height:21px;
}
ol.subnav {
	margin:-10px 0 0 -5px;
	padding:0;
}
ol.subnav li {
	float:left;
	list-style:none;
	margin:0;
	padding:0;
}
ol.subnav a {
	font-weight:bold;
	color:#555;
	border-top:2px solid #fff;
	display:block;
	padding:5px;
	text-decoration:none;
	margin:0 5px 0 0;
	border-bottom:none;
}
ol.subnav a:hover {
	border-top:2px solid #005A97;
	color:#121212;
	border-bottom:none;
}

#sidebar ul {
	list-style:none;
	border-top:1px solid #eee;
	border:none;
	padding:0;
	margin:0;
}
#sidebar ul li {
	border-bottom:1px solid #eee;
	padding:5px;
	margin:0;
}
#sidebar ul li a {
	color:#0066dd;
	text-decoration:none;
}
#sidebar ul li a:hover {
	color:#0033aa;
}

input.searchField {
	padding:5px;
	border:1px solid #eee;
	color:#555;
	width:220px;
    display: block;
}



#contenidos h3 {
	font:1.8em Trebuchet MS;
	color:#555;
	margin:10px 0;
}
blockquote {
	padding:0 0 0 10px;
	border-left:5px solid #eee;
}

ul {
	margin:10px 10px 10px 0;
	padding:0 0 0 15px;
}
li {
	margin:0 0 0 10px;
	padding:5px;
}
#contenidos img {
	padding:5px;
	border:1px solid #eee;
}
a {
	color:#222;
	border-bottom:1px dotted #ccc;
	text-decoration:none;
}
a:hover {
	border-bottom:1px solid #ccc;
}
#footer {
	text-align:center;
	border-top:2px solid #000;
	padding:10px;
	margin:30px 0 0 0;
	color:#ccc;
	width:760px;
	margin:0 auto;
}

#footer p span {
	padding: 0.3em;
}


#footer a {
	color:#eee;
}

p.description {
	/*background:url(++resource++plonetheme.rcom.images/description.jpg) right bottom no-repeat #005A97;
  background-color: #F0CB3A;*/
  background-color: #FCE573;
	padding:10px 10px 20px 10px;
	font-size:1.5em !important;
  color: #1E1E1E;
	line-height:25px !important;
	border:4px solid #1E1E1E;
}
p.description a {
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	border-bottom:1px dotted #8CD1FF;
}
p.description a:hover {
	border-bottom:1px solid #8CD1FF;
}