# This is where all of your settings go for your development environment

[global]

sqlobject.dburi="postgres://anders@/tasty"

server.environment="production"
server.socket_port=8890
pebblebase="http://pebble.ccnmtl.columbia.edu/service/tasty"

# setup for automatic email reporting on server errors
error_report_email=True
hormel_url="http://hormel.ccnmtl.columbia.edu/"
error_report_email_address="anders@columbia.edu"

[logging]

[[handlers]]

[[[access_out]]]
# set the filename as the first argument below
args="('server.log',)"
class='FileHandler'
level='INFO'
formatter='message_only'

[[loggers]]
[[[tasty]]]
level='ERROR'
qualname='tasty'
handlers=['error_out']

[[[access]]]
level='INFO'
qualname='turbogears.access'
handlers=['access_out']
propagate=0
