/* Copyright(c) gert.cuykens@gmail.com */

body,html {width:100%;
           height:100%;
           background:white;
           overflow: hidden;
           border:0px solid black;}

* {margin:0px;padding:0px;}

a {text-decoration: underline;color:blue;}

