[buildout]
parts =
  django
  wheeljack
  supervisord
versions = versions

[versions]
djangorecipe = 0.13

[django]
recipe = djangorecipe
version = 1.0
project  = autobot
settings = settings
eggs = 
  wheeljack
  djpasty

[wheeljack]
recipe = zc.recipe.egg
eggs = wheeljack

[supervisord]
recipe = zc.recipe.egg
eggs = supervisor
