#left {
    float: left;
    width: 50%;
}

#right {
    float: right;
    width: 50%;
}

#bottom {
    clear: both;
    width: 100%;
}

div.details {
    width: 100%;
}

div.memory {
    width: 100%;
}

div.hard-disks {
    width: 100%;
}

div.storage {
    width: 100%;
}

div.accessories {
    width: 100%;
}

div.peripherals {
    clear: both;
    float: right;
    width: 50%;
}

div.price {
    float: left;
    width: 50%;
}
