# This buildout is used for development of Twiddler.
# It gets the necessary eggs and creates a test runner and a python
# interpreter.

# To set up an environment suitable for doing development work on
# Twiddler, do the following:
# 
# python bootstrap.py 
# bin/buildout

# Tests can be run with:
#
# bin/test -m twiddler

# A python environment with Twiddler available can be started using:
#
# bin/py

[buildout]
develop = .
parts = test py
 
[py]
recipe = zc.recipe.egg
eggs = twiddler
interpreter = py 

[test]
recipe = zc.recipe.testrunner
eggs = twiddler
