[buildout]
index = http://eggproxy.thehealthagency.com/
find-links = http://thapi.thehealthagency.com/exceptions.html
extends = http://thapi.thehealthagency.com/kgs/pavozi-2.0a3.cfg
unzip = true
prefer-final = true
versions = versions
extensions = buildout.dumppickedversions
parts =
    test
    test-all
    omelette
    console_scripts
    development_tools
    pyflakes
    mkdir
develop = .
eggs =
    tha.sdistmaker


[versions]
# Specific pins
tha.sdistmaker =
z3c.recipe.compattest = 0.12.1
# buildout.dumppickedversions


[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
eggs =
    tha.sdistmaker
    tha.sdistmaker[test]


[test-all]
recipe = z3c.recipe.compattest >= 0.12.1
include-dependencies = tha.sdistmaker


[development_tools]
recipe = zc.recipe.egg
eggs =
    eazysvn
    ipython
    pep8
    tha.coverage
    tha.dependencygraph
    zest.releaser
    z3c.dependencychecker


[pyflakes]
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
       ${development_tools:eggs}


[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[mkdir]
recipe = z3c.recipe.mkdir
paths = var/private