[buildout]
develop = .
parts = test coverage-test coverage-report python demo

[test]
recipe = zc.recipe.testrunner
eggs = keas.googlemap [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = keas.googlemap [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[python]
recipe = zc.recipe.egg
eggs = keas.googlemap
interpreter = python



# Demo buildout stuff.

[zope3]
location = .

[demo-app]
recipe = zc.zope3recipes:app
site.zcml = <include package="keas.googlemap.demo" file="app.zcml" />
eggs = keas.googlemap [demo]

[demo]
recipe = zc.zope3recipes:instance
application = demo-app
zope.conf = ${database:zconfig}
  <server>
    type HTTP
    address 8080
  </server>

[database]
recipe = zc.recipe.filestorage
