.searchwidget-selected a {
  text-decoration: none;
}
.searchwidget-selected li {
  list-style: none;
  float: left;
  margin: 0.2em;
}
.ArchetypesSearchWidget a.context {
  float: left;
  clear: both;
  display: block;
  display: -moz-inline-box;
  display: inline-block;
  background-position: 5px 50%;
  padding: 0.1em 0.3em 0.1em 15px;
  margin: 1em 0;
}
.searchwidget-multiselect {
  position:absolute;
  right:0;
  top:32px;
  width:156px;
  height: 1%;
  margin-left: 0.5em;
  border-left: 1px solid #76797C;
  overflow-x: hidden;
  overflow-y: auto;
}
.searchwidget-multiselect li {
  list-style: none;
  cursor: pointer;
}
.searchwidget-popup-multi .searchwidget-forms > div {
  margin-right:162px;
}
.searchwidget-forms li {
  z-index: 102;
  position: relative;
}
.searchwidget-forms .row {
  float: left;
}
.searchwidget-forms .formFields {
  clear: both;
}
.ui-dialog-titlebar {
  position: absolute;
  left: 2px;
  right: 2px;
  height: 23px;
  z-index: 100;
}
.searchwidget-popup,
.searchwidget-popup-multi {
  padding: 0;
  overflow: hidden;
}
.searchwidget-popup-multi .searchwidget-results {
  margin-right: 162px;
}
.searchwidget-results .searchResults {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}
.searchwidget-results .searchwidget-selected {
  background: Red;
}
.searchwidget-results .documentFirstHeading {
  background: #CCCCCC url(images/cccccc_40x100_textures_03_highlight_soft_75.png) repeat-x scroll 50% 50%;
  border:1px solid #AAAAAA;
  color:#222222;
  font-weight:bold;
  display:block;
  -moz-border-radius-bottomleft:4px;
  -moz-border-radius-bottomright:4px;
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
  padding:0.2em 0.2em 0;
  position: relative;
  height: 30px;
  line-height: 1.9em;
  font-size: 1.2em
}
.searchwidget-results dd.image-thumbnail {
  float: left;
  text-align: center;
}
.searchwidget-results dd {
  margin: 0.5em;
  padding: 0.2em;
}
.searchwidget-results dd.image-thumbnail img {
  display: block;
  float: none;
}
.searchwidget-results dd img {
  display: block;
  float: left;
  margin: 0.5em;
}
.searchwidget-multiselect img {
  margin: 0.5em;
}
