@import url(syntax.css);

body {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 20px 0 20px;
    background-color: #883333;
    }

#info { 
    font-family: Georgia;
    font-weight: bold; 
    margin-bottom: 20px;
    padding: 40px 40px 40px 40px;
    color: #fefefe;
    background-color: #333;
    text-align: center;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    } 
    
#title { 
    font-size: 2.2em; 
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px dashed #fefefe;
    }
#author, #venue, #location, #date { font-size: 30px; }

a { color: #883333; }

span.pre { font-weight: bold; }

h1 { 
    font-family: Verdana, sans-serif;
    font-size: 1.5em;
    color: #883333;
    padding-bottom: 5px;
    border-bottom: 1px dashed #999; 
    }

div.section {
    color: #000;
    padding: 0 15px 15px 15px; 
    border: 1px solid #aaa; 
    margin-bottom: 20px;
    background-color: #f0f0b0;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    }

img { margin-bottom: 15px; }
    
div.notes {
    color: #606060;
    font-size: 0.7em;
    font-weight: normal;
    border-top: 1px dashed #999; 
    margin-top: 5px;
    }    

.highlight {
    font-size: 0.7em;
    padding: 10px 20px 10px 20px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    }
