[buildout]
index = http://eggproxy.thehealthagency.com/
find-links = http://thapi.thehealthagency.com
             http://thapi.thehealthagency.com/exceptions.html
extends = grok-1.0a3.cfg
unzip = true
prefer-final = true
versions = versions
extensions = buildout.dumppickedversions
parts =
#    lxml
    test
    omelette
    console_scripts
    development_tools
    pyflakes
develop =
    .
    local-checkouts/*
eggs =
    tha.coverage


[versions]
# Override packages in the grok KGS:
zc.sourcefactory = 0.3.5 # Upgrade to 0.4 needs work.
simplejson = 2.0.7
z3c.testsetup = 0.3

# Pin versions that we want to pin to a specific version
#lxml = 2.2 # Pinned as the static lxml recipe needs to know a specific version.

# Not specifically pinned versions.
# List compiled on <date> by <name>
# Remove this list, run buildout -n and replace with output of
# buildout.dumppickedversions


#[lxml]
#recipe = z3c.recipe.staticlxml >= 0.6
#static-build = true
#egg = lxml


[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
eggs =
    tha.coverage
    tha.coverage[test]


[development_tools]
recipe = zc.recipe.egg
eggs =
    eazysvn
    importchecker
    ipython
    zest.releaser

[pyflakes]
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
   setuptools
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
       ${development_tools:eggs}
# Dogfood
       tha.coverage


[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}
