[global]
    # A common option for all of the examples
    destdir = mypkg

# The syntax for examples is:
# [Example Name]
# files = filespec
# destdir = dirspec  (optional)
#
# **filespec** is a name, a glob, or a comma-separated list of names/globs. 
# The files will be stored in the archive with their relative paths intact.
# All filespecs are relative to the directory containing this examples map file.
#
# **destdir** is the directory to install all the files into.  This should be
# a relative path, and the installer/unpacker on the destination machine
# can determine what the absolute path should be.
#
# Each section can be either a single examples or a container/directory
# of additional, nested examples.

[First example]
    files = file1.py

[Second example]
    files = file2.py

[Old]
    # This gets pre-pended to all the options inside 
    sourcedir = old
    
    [[Old example1]]
        files = old1.py
    
    [[Old example2]]
        files = old2.py

    [[Attic]]
    sourcedir = attic

        [[[Attic 1]]]
            files = attic1.py

        [[[Attic 2]]]
            files = attic2.py, attic2_data

[Tutorial]
    sourcedir = tutorial
    
    [[Tutorial 1]]
        files = tut1.py
    
    [[Tutorial 2]]
        files = tut2.py


