th	{
	font-weight:bold;
	text-align:right;
	font-family:Verdana;
	font-size:12px;
}

ol	{
	margin-top:0;
	margin-bottom:0;
}

ul	{
	margin-top:0;
	margin-bottom:0;
}

li	{
	text-align:justify;
	font-family:verdana; 
	font-size:11px;
	margin-right:0; 
	margin-left:10;
	margin-top:0;
	margin-bottom:0;
	color:black;
}

strong { 
  	font-family:Verdana;
}


code 	{
   	font-family:verdana;
}

A 	{
	COLOR: blue
}

P 	{
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px 0px 5px; 
	COLOR: black; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Verdana; 
	TEXT-ALIGN: justify
}

H1,H2,H3,H4,H5	{
	PADDING: 0;
	MARGIN: 0;
	FONT-FAMILY: Verdana;
	TEXT-ALIGN: left;
}

H1	{
	font-size:14px;
	MARGIN-TOP:15px;
	MARGIN-bottom:5px;
	PADDING-TOP:2px;
	PADDING-BOTTOM:2px;
}

H2	{
	FONT-SIZE: 12px;
	margin-top:10;
	margin-bottom:5px;
}

H3	{	
	FONT-SIZE: 11px;
	margin-top:10;
	text-align:left;
}

H4 	{
	FONT-SIZE: 10px;
	margin-top:10;
	margin-bottom:5px;
	text-align:left;
}

H5 	{
	FONT-SIZE: 10px;
	margin-top:5;
	text-align:left;
}

HR	{
	color:#7BAADE;
}

dl	{
	FONT-SIZE: 10pt;
	border-width:2px;
	text-align:justify;
	padding:5px;
	font-family:Verdana;
}

dt 	{ 
	font-family:Verdana; 
	font-size:12px; 
}

dd	{
	margin-left:20px;
	margin-top:3px;
	margin-bottom:3px;
	font-family:Verdana;
	font-style:italic;
	font-size:11px; 
}

pre	{
	font-family: Monaco, "Courier New", Courier, monospace;
	font-size: 100%;
	padding: 1em;
	border: 1px solid black;
	color: Black;
	background-color: #bebebe;
	overflow: auto;
}

img	{
	vertical-align: right;
}
