/* @group Portal View Menu Bar */

ul.portalViewMenuBar {
  margin: 0 0 0 0;
  padding: 0 0 0 0.75em;
  height: 4.4ex;
}

ul.portalViewMenuBar a:hover {
  color: #1A3E6D;
  text-decoration: underline;
}

ul.portalViewMenuBar a {
  display: block;
  margin: 0;
  font-size: 110%;
  text-decoration: none;
  color: #002D5F;
}

/* @group Items */
ul.portalViewMenuBar li.portalViewMenuBarItem {
  float: left;
  position: relative;
  margin: 0;
  padding: 0.51ex 0.51em 0.51ex 1.1em;
  width: auto;
  background: #fff url(++resource++jyu.portalview.images/menubar_bullet.gif) no-repeat 2px 50%;
  height: 3.3ex;
  display: block; 
  z-index: 998;
}

ul.portalViewMenuBar li.portalViewMenuBarItem:hover  {
  background: #DEE7EC url(++resource++jyu.portalview.images/menubar_bullet.gif) no-repeat 2px 50%;
  z-index: 999;
}

ul.portalViewMenuBar li.portalViewMenuBarLink {
  float: left;
  position: relative;
  margin: 0;
  padding: 0.51ex 0.51em 0.51ex 1.1em;
  width: auto;
  background: #fff url(++resource++jyu.portalview.images/box_bullet.gif) no-repeat 2px 50%;
  height: 3.3ex;
  display: block; 
  z-index: 998;
}

ul.portalViewMenuBar li.portalViewMenuBarLink a:hover{
  text-decoration: none;
  color: #67809F;
  border-bottom: 1px solid #cccccc;
}

/* @end */


/* @group Subitems */
ul.portalViewMenuBar li.portalViewMenuBarItem ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #DEE7EC;
  border-top: none;
  margin: 0 0 0 -13px;
  padding: 0.51ex 0.51ex 1.1em 1.1em;
  width: 20em;
  filter: alpha(opacity=96);
  -moz-opacity: 0.96; opacity: 0.96;
}

/* to override top and left in browsers other than IE,
   which will position to the top right of the containing li,
   rather than bottom left */
ul.portalViewMenuBar li.portalViewMenuBarItem>ul {  
  top: auto;
  left: auto;
}
/* @end */

/* @group Items under hovered items */
ul.portalViewMenuBar li.portalViewMenuBarItem:hover ul,
ul.portalViewMenuBar li.portalViewMenuBarItem.over ul { 
  display: block;
  position: absolute; 
}

ul.portalViewMenuBar li.portalViewMenuBarSubItem {
  width: 100%;
  display: block;
  margin: 0;
  padding-top: 0.51ex;
  background-image: none;
  list-style-type: none;
  min-height: 1em;
  z-index: 1000;
}

ul.portalViewMenuBar li.portalViewMenuBarSubItem a {
  display: block;
  margin: 0;
  font-size: 105%;
  text-decoration: none;
  padding: 0.51ex 0.51ex 0.51ex 0;
}

ul.portalViewMenuBar li.portalViewMenuBarSubItem a:hover {
  text-decoration: underline;
}
/* @end */

/* @end */
