/* General plone 3 overrides */

.managePortletsLink {
    /*display: none;*/
}

.documentContent,
.documentEditable {
    padding: 0px !important;
    margin: 0px !important;
    padding-bottom: 15px !important;
}

.documentEditable .documentContent {
    border: 0px;
    padding: 0px !important;
}

.documentContent {
    background-color: transparent;
}

.contentViews {
    background-color: transparent;
}

.contentViews li a {
    background-color: transparent;
}

.contentActions {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

div.portlet {
    border: 0px;
}

.inlineEditable {
    background: none !important;
    padding: 0px !important;
    border: 0px !important;
}

#portal-personaltools {
    background-color: transparent;
    border: 0px;
}

#portal-breadcrumbs {
    border: 0px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#portal-column-one div.visualPadding,
#portal-column-two div.visualPadding,
#portal-column-content,
#portal-column-content div.visualPadding {
    padding-top: 0px;
}

#portal-globalnav li a,
#portal-globalnav li.selected a,
#portal-globalnav li a:hover {
   /* background-color: transparent;
    border: 0px;
    margin: 0px;
    padding: 0px;
    margin-left: 4px;
    padding-right: 6px;
    border-right: 1px solid #ccc;*/
}

#portal-globalnav li a {
   font-size: 1.1em;
}

#portal-globalnav li.selected a {
    color: #000;
}

#portal-globalnav {
    /*margin-bottom: 5px;
    padding-left: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;*/
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#review-history {
    display: none;
}

#portal-personaltools {
    clear: both;
    padding-left: 2em;
    margin-bottom: 5px;
    text-align: left;
}

#portal-personaltools li {
    margin: 0px;
    margin-right: 1em;
}

#portal-searchbox {
    margin-top: 0px;
}

#portal-logo img {
    margin-bottom: 0px;
    margin-top: 10px;
    padding-right: 1em;
}

li.navTreeItem img {
    display: none;
}

.portlet.portletNavigationTree,
.portlet.portletNavigationTree .portletItem {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.portlet.portletNavigationTree .portletHeader {
    border: 0px;
    padding: 0px;
    margin-bottom: 5px;
    background-color: transparent;
    font-weight: bold;
}

#showhide-toolbar {
    border-top: 1px dotted #aaa;
    padding-top: 5px;
    text-align: right;
    background-color: #f8f8f8;
}

#portal-siteactions {
    margin-bottom: 15px;
    float: none;
    padding-left: 2em;
}

/**** button styles ****/

.context, 
.formControls .actionButtons .button, 
.documentEditable * .context, 
.standalone, 
.documentEditable * .standalone,
#login-form input.context,
.destructive, 
.documentEditable * .destructive {
    background-image: none;
    padding: 1px;
}