/* Stylesheet for the 'Intranet Theme' Plone theme */

/**** body ****/
body{
    font-size: 70%;
}

h1,h2{
    border-bottom: 0px;
    margin-bottom: 10px;
}

a:hover {
    text-decoration: none;
}

#visual-portal-wrapper{
    min-width: 935px;
    margin: 0px 2em 0px 2em;
}

/**** portal-logo ****/
#portal-logo {
    float: left;
}

#portal-logo img{
    margin: 15px 0px 15px 0px;
}

/**** personal tools ****/
#portal-personaltools-wrapper{
    float: right;
    width: 250px;
}

#portal-personaltools-wrapper #users-name{
    height: 20px;
    padding-left: 30px;
    line-height: 20px;
}

#portal-personaltools-wrapper #users-name.anon{
    background-image: none;
}

#portal-personaltools{
    border: 0px;
    padding: 0px 0px 0px 20px;
    text-align: left;
    line-height: 20px;
    margin-bottom: 4px;
}

#portal-personaltools li{
    margin: 0px;
    padding: 0px 10px;
}

/**** site-search ****/
#portal-searchbox{
    width: 210px;
    margin: 0px; padding: 0px;
    margin-top: 0px;
    text-align: left;
}

.LSBox{
    padding: 0px 0px 0px 0px;
    float: left;
}

.LSResult{
    padding-top: 0px;
}

#searchGadget{
    width: 165px;
    background-image: none;
    padding: 2px;
    height: auto;
    margin: 0px;
    margin-left: 5px;
}

#portal-searchbox label {
    display: none;
}

#portal-searchbox div.searchSection label {
    display: inline;
    border-right: 1px solid #ccc;
    padding-right: 5px;
}

#portal-searchbox div.searchSection {
    text-align: left;
}

#portal-searchbox #searchbox_currentfolder_only {
    margin-left: 15px;
}

#portal-searchbox #advanced_search_link {
    padding-left: 5px;
}

#portal-searchbox input.searchButton {
    background-image: none;
    padding: 0px;
    border: 0px;
}

/**** global-nav ****/
#portal-globalnav{
    clear: both;
    padding: 0px;
}

#portal-globalnav li{
    margin: 0px;
    float: left;
    display: block;
}

#portal-globalnav li a{
    display: block;
    margin: 0px;
    font-weight: bold;
    padding: 10px;
}

/**** breadcrumbs ****/

#portal-breadcrumbs {
    border: 0px;
    padding: 10px;
    color: #000;
    line-height: 1em;
    margin-bottom: 0px;
}

/**** columns ****/

#portal-column-one .visualPadding{
    padding: 0px 10px 0px 0px;
}
#portal-column-two .visualPadding{
    padding: 0px 0px 0px 10px;
}
#portal-column-two{
    padding-top: 50px;
}

#portal-column-content{
    padding: 0px;
}

/**** portlets ****/
.portlet{
    margin-bottom: 30px;
    width: 210px;
}

.portletHeader {
    height: 29px;
    border: 0px;
    padding: 10px;
}

.portletHeader a{
    font-weight: bold;
}

.portletItem{
    padding: 10px
}

.portletItemDetails{
    text-align: left;
}

.portletFooter{
    text-align: left;
}

.portletCalendar .portletHeader {
    height:20px;
    padding: 5px;
}

.portletCalendar .portletHeader a#calendar-previous,
.portletCalendar .portletHeader a#calendar-next {
    font-size: 110%;
}

/**** navigation tree ****/
#navigationTree{
    margin: 0px;
    border: 0px;
    margin-bottom: 30px;
}

#navigationTree #title{
    height: 48px;
    position: relative;
}

#navigationTree #title h3{
    position: absolute;
    left: 10px;
    bottom: 10px;
    margin: 0px;
    border: 0px;
}

#navigationTree.empty {
    margin-bottom: 0px;
}

#navigationTree.empty #title {
    border-bottom: 0px;
    margin-bottom: -1px;
}

#navigationTree ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}

#navigationTree li{
    padding-left: 10px;
}

#navigationTree li a{
    display: block;
    font-size: 110%;
    padding-bottom: 2px;
}

#navigationTree li .submenu{
    margin-top: 5px;
}

#navigationTree li .submenu li{
    border: 0px;
}

#navigationTree li .submenu li a{
    font-size: 100%;
}


/**** editing styling ****/
#toolbar-holder{
    height: 51px;
    position: relative;
}

#edit-toolbar{
    height: 51px;
    position: relative;
    display: none;
}

#toolbar-holder.shown #edit-toolbar{
    display:block;
}

#toolbar-holder.shown #hidden-toolbar{
    display: none;
}

#toolbar-holder #hidden-toolbar a{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0px 3px 1px 3px;
}

.contentActions, .documentEditable .documentContent {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

#edit-toolbar .contentActions{
    border-top: 1px dotted #c0c0c0;
    border-bottom: 0px;
    padding-left: 10px
}

#edit-toolbar .contentViews{
    padding-top: 1px;
    border-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-left: 0px;
}

.contentViews li a{
    color: #000;
    padding: 0px 10px;
}

.contentViews li.selected a, .contentViews li a:hover {
    color: #000;
}

.contentActions #contentStateMenu,
#contentStateMenu li{
    float: none;
}

#contentStateMenu li {
    display: inline;
}

#contentStateMenu li.icon {
    border-left: 0px !important;
}

.contentActions a {
    padding: 0px 4px;
}

.contentActions li {
    border-left: 0px;
}

#contentActionMenus li{
    margin-left: 2px;
}

.contentActions #contentActionMenus a{
    padding-bottom: 1px;
}

#contentStateMenu li.plone-contentmenu-workflow{
    padding-right: 5px;
    border-left: 0px;
    color: #000;
}

.contentActions li.plone-contentmenu-workflow ul#state_sub_menu{
    display: inline;
}

/**** page styling ****/

#region-content{
    padding: 10px 0px !important;
}

.documentFirstHeading{
    font-weight: bold;
}

/**** document by line ****/
.documentByLine{
    margin-bottom: 20px;
}

.documentByLine span#lock-icon {
    float: right;
}

.documentByLine span#lock-icon img {
    padding: 10px;
}

.documentByLine .byLineTitle{
    width: 120px;
    float: left;
}

.byLineAuthor, .byLineModified{
    padding: 10px;
    font-size: 100%;
}

.documentAuthor, .documentModified{
    font-weight: bold;
}

span.documentByLine{
    border: 0px;
}

/**** related items ****/
.intranetRelatedItems{
    float: right;
    width: 200px;
}

#relatedItemBox{
    margin: 0px 0px 10px 10px;
}

.intranetRelatedItems .relatedHeader{
    height: 30px;
    padding: 10px;
}

.intranetRelatedItems .relatedHeader h5{
    margin: 0px;
    padding: 0px;
}

.intranetRelatedItems ul{
    margin: 10px;
}

.intranetRelatedItems #relatedItemBox a{
    border: 0px;
}

body.kssActive h2.inlineEditable:hover, body.kssActive h1.inlineEditable:hover {
    padding-bottom:10px;
}

/**** site-actions ****/
#portal-siteactions{
    padding-left: 0px;
}

/**** table listings ****/
table.listing a:hover {
    text-decoration: none;
}

/**** manage portlet link ****/
.managePortletsLink, .managePortletsFallback {
    text-align: left;
    font-weight: bold;
}

#portal-column-two .managePortletsLink,
#portal-column-two .managePortletsFallback {
    text-align: right;
}

/**** footer ****/
#clear-space-before-footer{
	height: 10px;
	margin-top: 10px;
}

