/* Intranet theme IE Styling Fixes */

/* ie6 puts the wrong height on sub menu li elements  */
* html #navigationTree li .submenu li{
    height: 1.2em
}

/* compensate for IE including padding inheight */
.portletHeader{
    height: 29px !important;
}

/* IE makes searchbox text too big */
#searchGadget{
    font-size: 100%;
}

* html #searchGadget {
    margin-left: 10px;
}

/* IE 6 min-width hack */
* html #visual-portal-wrapper {
    width: expression(document.body.clientWidth <1032 ? "935px" : "95%" );
}

/* ie cuts off bottom of arrow */
.contentActions #contentActionMenus li{
    padding-bottom: 5px;
}

/* Lightboxing */
#overlay {
    filter: alpha(opacity=70);
}

/* IE 6 png transparency */
* html #lbCloser {
    background-image: none;

    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="++resource++netsightintranet.images/closebox.png",sizingMethod='scale');
}

