# wwph.cfg
# python  commands that are executed by the wwphextensions.py file
# to set parameters and parameter defaults

self.fix_continuous_variables = False

self.Iteration0MipGap = 0.02
self.InitialMipGap = 0.10
self.FinalMipGap = 0.001

# for all six of these, zero means don't do it.
self.Iter0FixIfConvergedAtLB = 0 # 1 or 0
self.Iter0FixIfConvergedAtUB = 0  # 1 or 0
self.Iter0FixIfConvergedAtNB = 0  # 1 or 0 (converged to a non-bound)
self.FixWhenItersConvergedAtLB = 0
self.FixWhenItersConvergedAtUB = 25
self.FixWhenItersConvergedAtNB = 0  # converged to a non-bound
self.FixWhenItersConvergedContinuous = 0
      
# "default" slamming parms 
# True and False are the options (case sensitive)
self.CanSlamToLB = False
self.CanSlamToMin = False
self.CanSlamToAnywhere = False
self.CanSlamToMax = True
self.CanSlamToUB = False
self.PH_Iters_Between_Cycle_Slams = 5

# the next line will try to force at least one variable to be
# fixed every other iteration after iteration 50
# if anything can be slammed
self.SlamAfterIter = 50

self.CycleLengthSlamThreshold = 50
