.content-lead-image {
    float:right;
    border: 1px solid black;
}

.leadimage-summary {
    float: left;
    padding-right: 1em;
    padding-bottom: 0.2em;
}

.leadimage-body-wrapper {
    padding-top: 1em;
}

.leadimage-body {
    float: left;
    padding-right: 1em;
    padding-bottom: 1em;
}
