[buildout]
develop = .
parts = test eggs

[eggs]
recipe = zc.recipe.egg
eggs =
    z3c.recipe.fakezope2eggs
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs =
    z3c.recipe.fakezope2eggs
    plone.recipe.zope2install
defaults = ['-s', 'z3c.recipe.fakezope2eggs']

