# configuration for unit tests
files.basicTest=path("test/data/test-basic.log")
files.entryTest=path("test/data/test-entry.log")
files.rolling=path("test/data/rolling-index")
files.actions=path("test/data/test-actions.log")
