[buildout]
parts = 
    test
develop = .
unzip = true
find-links =
    http://download.zope.org/distribution/

[test]
recipe = zc.recipe.testrunner
defaults = ['-cv', '--module', '^Products[.]WatermarkImage']
eggs =
    Products.WatermarkImage
