[buildout]
parts = console_scripts taglist
develop = .

[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs = zest.releaser
       ipython

[taglist]
recipe = zc.recipe.egg
eggs = tha.taglist
scripts = taglist
#arguments = 
#    defaults_file='${buildout:directory}/defaults.py', 
#    specific_outfile='${buildout:directory}/index.html'
