[global]
# This is where all of your settings go for your development environment
# Settings that are the same for both development and production
# (such as template engine, encodings, etc.) all go in 
# tasty/config/app.cfg

sqlobject.dburi="postgres://tasty@/tasty_dev"
server.socket_port=9980
server.environment="development"
autoreload.package="tasty"
tg.strict_parameters = True

# LOGGING
# Logging configuration generally follows the style of the standard
# Python logging module configuration. Note that when specifying
# log format messages, you need to use *() for formatting variables.
# Deployment independent log configuration is in tasty/config/log.cfg
[logging]

[[loggers]]
[[[tasty]]]
level='DEBUG'
qualname='tasty'
handlers=['debug_out']

[[[allinfo]]]
level='INFO'
handlers=['debug_out']

[[[access]]]
level='INFO'
qualname='turbogears.access'
handlers=['access_out']
propagate=0
