[buildout]
develop = .
parts = bluebream
        test
        sphinxbuilder

[bluebream]
recipe = zc.recipe.egg
eggs = bluebream
       PasteScript

[test]
recipe = zc.recipe.testrunner
eggs = bluebream[test]

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs_source
build = ${buildout:directory}/docs
