[buildout]
develop = .
parts = py test

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = lovely.remotetask [test]

[py]
recipe = zc.recipe.egg
interpreter = python
eggs = lovely.remotetask
