/* doc/burn.css
 * Cascading Style Sheet for Burn project documentation.
 */

body {
    font-family: verdana, helvetica, sans;
    margin-left: 80px;
    width: 60%;
    text-align: justify;
    border-left: 1px solid gray;
    padding-left: 20px;
    background-image: url(burn-flame.jpeg);
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    }
p {
    margin-left: 20px;
    }
div.section h1,
div.section h2 {
    color: #249;
    }
h1.title {
    text-align: left;
    border-bottom: 1px dotted gray;
    }
p.rubric {
    text-align: right;
    text-decoration: underline;
    font-weight: bold;
    color: gray;
    }
