pre {
    width: 600px;
    background: #fafafa;
    color: #022;
    border-top: 1px solid #ddc;
    border-bottom: 1px solid #ddc;
    margin: .2em .2em;
    padding: .2em;
    overflow: auto;
}

.find {
    background: #afa;
}

.bubble {
    float: right;
    background: #eed;
    margin-bottom: 0.6em;
}

.menu_part {
    border-top: 3px solid white;
    padding-top: 6px;
    margin-top: 1em;
}

.menu_part select {
    margin: .5em 0;
}
