# RedHat and Fedora distros have RPMs for LAM distribution; in such a
# case, headers and libraries are in default system locations, and you
# should not need any special configuration.

# If you do not have MPI distribution in a default location, please
# uncomment and fill-in appropriately the following lines. Yo can use
# as examples in [mpich2], [openmpi], [lam], and [deino] sections
# below [mpi] section (wich is the default one).

# If you specify multiple locations for includes and libraries, please
# separate them with the path separator for your platform, i.e., ':'
# on Unix and ';' on Windows


# Default configuration
# ---------------------
[mpi]

## mpi_dir              = /usr/local
## mpi_dir              = /usr/local/mpi
## mpi_dir              = /opt/mpi

## mpicc                = %(mpi_dir)s/bin/mpicc
## mpicxx               = %(mpi_dir)s/bin/mpicxx

## define_macros        = 
## undef_macros         = 
## include_dirs         = /usr/local/include
## libraries            = mpi
## library_dirs         = /usr/local/lib
## runtime_library_dirs = /usr/local/lib
## extra_compile_args   =
## extra_link_args      =
## extra_objects        =



# MPICH2 1.0.4 example
# --------------------
[mpich2]

mpi_dir              = /usr/local/mpich2/1.0.5
# mpicc                = %(mpi_dir)s/bin/mpicc
# mpicxx               = %(mpi_dir)s/bin/mpicxx
include_dirs         = %(mpi_dir)s/include
libraries            = mpich rt
library_dirs         = %(mpi_dir)s/lib
runtime_library_dirs = %(library_dirs)s



# OpenMPI 1.1.2 example
# ---------------------
[openmpi]

mpi_dir              = /usr/local/openmpi/1.1.4
# mpicc                = %(mpi_dir)s/bin/mpicc
# mpicxx               = %(mpi_dir)s/bin/mpicxx
include_dirs         = %(mpi_dir)s/include:%(mpi_dir)s/include/openmpi
libraries            = mpi orte opal rt dl nsl util m
library_dirs         = %(mpi_dir)s/lib:%(mpi_dir)s/lib/openmpi
runtime_library_dirs = %(library_dirs)s



# LAM/MPI 7.1.2 example
# ---------------------
[lam]

mpi_dir              = /usr/local/lam/7.1.2
# mpicc                = %(mpi_dir)s/bin/mpicc
# mpicxx               = %(mpi_dir)s/bin/mpicxx
include_dirs         = %(mpi_dir)s/include
libraries            = lammpio lamf77mpi mpi lam util dl
library_dirs         = %(mpi_dir)s/lib
runtime_library_dirs = %(library_dirs)s



# MPICH 1.2.7 example
# -------------------
[mpich]

mpi_dir              = /usr/local/mpich/1.2.7
# mpicc                = %(mpi_dir)s/bin/mpicc
# mpicxx               = %(mpi_dir)s/bin/mpicxx
include_dirs         = %(mpi_dir)s/include
libraries            = mpich
library_dirs         = %(mpi_dir)s/lib/shared:%(mpi_dir)s/lib
runtime_library_dirs = %(mpi_dir)s/lib/shared



# DeinoMPI example
# ----------------
[deino]

mpi_dir = C:\Program Files\DeinoMPI
include_dirs = %(mpi_dir)s\include
libraries = mpi
library_dirs = %(mpi_dir)s\lib


# Local Variables:
# mode: Python
# End:
