[buildout]
develop = . 
parts = test
extends = http://grok.zope.org/releaseinfo/grok-1.0.cfg
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = megrok.traject
defaults = ['--tests-pattern', '^f?tests$', '-v']
