/*
** Calendar elements - used in the calendar rendering
*/
.dayPopup {
    background-color: #EEF5E1;
    border: 1px solid Black;
    padding: 0.2em;
    position: absolute;
    visibility: hidden;
    width: 12em;
    z-index: 2;
}
.date {
    font-weight: bold;
}
.portletCalendar {
    width: 100%;
    margin: 1px 0 1em 0;
    width: 100%;
}
.portletCalendar dt {
    text-align: center;
}
.portletCalendar dd {
    margin: 0;
    padding: 0;
}
.portletCalendar a {
    text-decoration: none;
}
.portletCalendar a:hover {
    text-decoration: none;
}
.ploneCalendar {
    border-collapse: collapse;
    border-spacing:0;
    width: 100%;
}
.ploneCalendar td {
    background-color: transparent;
    width: 14%;
    text-align: center;
    padding: 2px;
}
.ploneCalendar .weekdays th {
    background-color: #EEF5E1;
    border: 1px solid #EEF5E1;
    border-style: solid none;
    text-align: center;
    padding: 2px;
    font-weight: normal;
}
.ploneCalendar .event {
    background-color:#EEF5E1;
    font-weight: bold;
}
.ploneCalendar .todayevent {
    background-color: #EEF5E1;
    border: 2px solid #CBD8B4;
    font-weight: bold;
}
.ploneCalendar .todaynoevent {
    border-collapse: collapse;
    border: 2px solid #CBD8B4;
}

/* Document Actions */

.documentActions {
    margin: 1em 0;
    padding: 0;
    text-align: right;
    border-top: 1px solid #333333;
}
.documentActions ul {
    margin: 0;
    padding: 0 0.5em;
    display: block;
    margin-top: -0.9em;
    list-style-type: none;
    list-style-image: none;
}
.documentActions li {
    display: inline;
    font-size: small;
    margin: 0 0.5em;
    padding: 0 0.25em;
    background-color: white;
	line-height: 100% !important;
	list-style-image:none !important;
	list-style-position: inline !important;
	list-style-type: none !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
}
.documentActions a {
    border: none !important;
    text-decoration: none;
}

/* Status messages */

dl.portalMessage {
    font-size: small;
    background-color: #ffffe3;
    border: 1px solid #996;
}
dl.portalMessage a {
    color: black;
    border: none;
    text-decoration: underline;
}
dl.portalMessage dt {
    background-color: #996;
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: White;
    line-height: 1.25em;
}
dl.portalMessage dd {
    padding: 0.5em 0.5em;
    margin: 0;
    line-height: 1.25em;
}
dl.warning {
    border-color: #d80;
}
dl.warning dt {
    background-color: #d80;
}
dl.error {
    border-color: #d00;
}
dl.error dt {
    background-color: #d00;
}
dl.warning {
    border-color: #d80;
}
dl.warning dd {
    background-color: #fd7;
}
dl.error {
    border-color: #d80;
}
dl.error dd {
    background-color: #fd7;
}