div.wrapper {
	width: 770px;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 auto;
	left: 100px;
	padding-top: 20px;
	position: relative;
}

h1 a {
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	color: #222;
	letter-spacing: -2px;
	word-spacing: 5px;
	text-decoration: none;
	padding: 5px;
	padding-left: 0px;
	width: 600px;
	float: left;
}

h1 span {
	color: #1c6191;
	font-size: 160px;
	font-weight: bold;
}

div.header {
	height: 170px;
}

div.header ul {
	float: right;
}

div.header ul li {
	margin-bottom: 5px;
	text-align: right;
	background-color: #222222;
}

div.header ul li a {
	text-decoration: none;
	color: #eee;
	font-size: 30px;
	display: block;
	padding: 5px;
}

div.header ul li a:hover {
	color: #1c6191;
	background-color: #fff;
}

ul.notifications {
	position: absolute;
	z-index: 10;
	width: 190px;
	left: -200px;
}

ul.notifications li {
	background-color: #222;
	padding: 5px;
	color: #aaa;
	margin-bottom: 5px;
}

ul.notifications li div h3 {
	margin-bottom: 10px;
	color: #eee;
}

ul.notifications li div p {
	padding-left: 10px;
	padding-right: 10px;
}

ul.notifications li div p {
	font-size: 13px;
	line-height: 14px;
}

ul.notifications li div p a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

ul.notifications li div p a:hover {
	text-decoration: underline;
}

ul.notifications li.footer {
	background-color: #444;
}

ul.notifications li.footer div p {
	font-size: 14px;
	line-height: 17px;
	color: #eee;
}

div.content {
	clear: both;
}

div.post {
	border-top: 5px solid #eee;
	padding-top: 10px;
	padding-bottom: 20px;
}

div.post p a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

div.post p a:hover {
	text-decoration: underline;
}

div.post pre.code {
	width: 700px;
	background-color: #eee;
	font-family:"Courier New",Courier,mono;
	position: inherit;
	padding: 5px;
	margin: 15px;
	display: block;
	overflow-Y: hidden;
	overflow: auto;
	font-size: 14px;
	line-height: 17px;
}

div.post h2 a {
	font-size: 35px;
	letter-spacing: 1px;
	color: #1c6191;
	text-transform: lowercase;
	text-decoration: none;
	display: block;
}

div.post h2 a:hover {
	background-color:#222;
	color: #eee;
}

div.post p {
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	line-height: 18px;
}