body {
    background-color: #eeeeee;
    color: #222222;
    text-align: center;
}

a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a[accesskey]:before {
    background-color: #cccccc;
    border: 2px outset;
    content: attr(accesskey);
    font-family: monospace;
    font-size: 0.9em;
    margin-right: .5em;
    padding: 0 0.3em;
    text-transform: uppercase;
}
a[accesskey] {
    text-decoration: none;
}
a[accesskey]:hover span {
    text-decoration: underline;
}

ol.thumbnails {
    list-style: none;
}
ol.thumbnails li {
    float: left;
    margin: 0 10px 10px 0;
}

img {
    border: 0.2em solid #cccccc;
    margin: 0 auto;
}
a:hover img {
    border-color: #222222;
}

#footer {
    clear: both;
    font-size: 0.9em;
}
