/*
 * CSS styles for feed widgets and feed display in browsers with no
 * direct feed support.
 */

.feedlinklist {
    list-style-type: none;
}

.feedlink {
    margin-left: 3px;
    padding: 0 0 0 19px;
    background: url("../images/feed-icon-14x14.png") no-repeat 0 50%;
}
