BODY {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    margin: auto;
    background-color: white;
    color: black;
}

DIV.header {
    padding: 2px 10px 2px 10px;
    width: 100%;
}

.header H1 {
    text-align: center;
    font-size: xx-large;
}
.header H3 {
    text-align: right;
    font-size: large;
    font-style: italic;
    color: orange;
}

.table TABLE {
    border-width: 3px;
    border-style: solid;
    border-color: teal;
    table-layout: fixed;
    font-size: medium;
    font-style: none;
    vertical-align: middle;
    text-align: center;
}

.table TD {
    border-width: 1px;
    border-style: solid solid none none;
    border-color: black;
    padding: 1px 2px 1px 2px;
}

.table H1 {
    font-size: medium;
    text-transform: uppercase;
}

TABLE.tableactions {
    border-style: none;
    table-layout: fixed;
}

.tableactions TD {
    border-style: none;
    padding: 0px 2px 0px 2px;
}

.tableactions A:link, .tableactions A:visited, .tableactions A:active {
    text-decoration: underline;
    color: blue;
}

.tableactions A:hover {
    text-decoration: underline;
    color: orange;
}

.create H1 {
    font-size: large;
}

.create H3 {
    font-size: large;
    font-style: italic;
    text-transform: lowercase;
    color: red;
}

DIV.success {
    margin: 5px;
    padding: 10px;
    border-width: 3px;
    border-style: dashed;
    border-color: green;
    font-size: small;
}

.success H1 {
    font-size: large;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
}

DIV.failure {
    margin: 5px;
    padding: 10px;
    border-width: 3px;
    border-style: dashed;
    border-color: red;
    font-size: small;
}

.failure H1 {
    font-size: large;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
}

DIV.error {
    margin: 5px;
    padding: 10px;
    border-width: 3px;
    border-style: dashed;
    border-color: silver;
    font-size: small;
}

.error H1 {
    font-size: large;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
}

DIV.actionform {
    margin: 10px 0px 0px 0px;
    padding: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: teal;
    font-size: small;
}

.actionform H1 {
    font-size: large;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
}

.actionform form {
    margin: 0px;
}

DIV.footer {
    margin: 0px;
    padding: 10px;
    font-size: large;
    text-align: right;
}

.footer A:link, .footer A:visited, .footer A:active {
    text-decoration: underline;
    font-style: italic;
    color: black;
}

.footer A:hover {
    text-decoration: underline;
    font-style: italic;
    color: orange;
}

FONT.name {
    font-size: normal;
    font-weight: bold;
}
FONT.help {
    color: grey;
    font-size: x-small;
    font-style: italic;
}
