[buildout]
develop = .
parts = test py

find-links = http://download.zope.org/distribution/

[test]
recipe = zc.recipe.testrunner
eggs = zope.bforest
defaults = '--tests-pattern ^[fn]?tests --exit-with-status -1'.split()
working-directory = ${buildout:directory}

[py]
recipe = zc.recipe.egg
eggs = setuptools
       zope.bforest
interpreter = py
scripts = py
