[buildout]
develop = .
parts = test appscripts
newest = false

[appscripts]
recipe = zc.recipe.egg:scripts
eggs = getpaid.report
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = getpaid.report
defaults = ['--tests-pattern', '^f?tests$', '-v']
