[buildout]
develop = .
parts = test interpreter
find-links = http://download.zope.org/distribution/
extends = http://grok.zope.org/releaseinfo/grok-0.14.1.cfg
versions = versions

[interpreter]
recipe = zc.recipe.egg
eggs = megrok.kss
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = megrok.kss
defaults = ['--tests-pattern', '^f?tests$', '-v']
