body {
    font-family: sans-serif, Arial, Helvetica;
    background-color: #92CC47;
    color: #000000;
    margin: 0;
}
div.head {
    height: 210px;
    background-color: #ffffff;
    margin: 20px;
}
div.body {
    width: 100%
    float: left;
}
.clear {
    clear: both;
}
div.menu {
    width: 20%;
    margin-left: 20px;
    float: left;
}
div.content {
    width: 75%;
    margin-left: 10px;
    background-color: #ffffff;
    float: right;
    margin-right: 20px;
}
div.actualcontent {
    margin: 10px;
    float: left;
}
div.footer {
    color: #ffffff;
    width:: 100%;
    font-size: 75%;
    text-align: center;
}
ul {
    margin: 0pt;
    padding: 0pt;
}
li {
    list-style-type: none;
    font-weight: bold;
}
a:hover {
    color: #000000;
    text-decoration: underline;
}
a:visited {
    color: #000000;
    text-decoration: underline;
}
a {
    color: #000000;
    text-decoration: underline;
}
h4 {
    color: #ffffff;
}
.errorlist {
    color: #b90000;
}
