[buildout]
parts = test 
        scripts
extensions = gp.svndevelop
develop = zopyx.convert2
svn-develop = svn://svn.zope.org/repos/main/zopyx.convert2/trunk/#egg=zopyx.convert2

[versions]
zope.app.container=3.6.0


[test]
recipe = zc.recipe.testrunner
eggs = zopyx.smartprintng.core [test]
     
[scripts]
recipe = zc.recipe.egg:scripts
eggs = zopyx.smartprintng.core
      
