[buildout]
extends = http://grok.zope.org/releaseinfo/grok-1.1a1.cfg
develop = .
parts = test
find-links = http://download.zope.org/distribution/
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = megrok.login [test,]
defaults = ['--tests-pattern', '^test_.*$', '-v']
