* {
	padding:0;
	margin:0;
}

body {
	background: #000055;
	text-align:center;
}

#container {
	width: 800px;
	margin: 0 auto;
	text-align:center;
    background: #fff;
}

a.nonexistent { 
	background-color: #f0dbc3 
}

/*---------------------------------TITLE-----------*/

#title {
	width: 710px;
	height: 194px;
	margin: 0 auto;
	padding: 0;
}

#title h1 {display:none;}

#masthead {
    background-repeat:no-repeat;
	font-size: 80%;
	padding: 16px 8px 0px 8px;
	border: 0;
	border-bottom: 2px solid #000;
	}

/*---------------------------------CONTENT-----------*/

#content {
	width:760px;
	margin:0 auto;
	margin-top: 16px;
	margin-bottom: 32px;
	font-size: 12px;
	text-align: justify;
}

hr {
   outline-bottom: #000, solid, thin;
   margin: 0;
   margin-top: 10px;
   margin-bottom: 10px;
}

h3 {
	font-size: 20px;
	margin: 10px;
}

h4 {
	font-size: 16px;
	margin: 10px;
}

h5 {
	font-size: 12px;
	margin: 10px;
}

ol, dl, ul {
	margin-left: 40px;
    margin-right: 40px
}

p {
  margin: 5px;
  margin-left: 20px;
}

blockquote {
  margin: 5px;
  margin-left: 40px;
}

/*--------------------------------FOOTER-----------*/

#footer {
	width:800px;
	height:200px;
	margin:0 auto;
	font-size: 10px;
	text-align: center;
	border-top: 2px solid #000;
}
