div.carousel{
    height: 100px;
    margin:0px;
    padding:5px;
}
div.carousel ul{
    padding-left:10px;
}
div.carousel ul li {
    float: left;
    list-style: none;
    /* We set the width/height explicitly. No width/height causes infinite loops. */
    width: 75px;
    height: 75px;
    display: none;
}
div.carousel ul li:hover {
    background-color:gray;
}

div.carousel div.nextCarouselButton {
    position: relative;
    top: 15px;
    float: right;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(++resource++plonetruegallery.resources/images/next-horizontal.png) no-repeat 0 0;
}

div.carousel div.prevCarouselButton {
    position: relative;
    top: 15px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(++resource++plonetruegallery.resources/images/prev-horizontal.png) no-repeat 0 0;
}