/*
 * Pocoo highlight package emacs style
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 * based on Emacs 22 default theme
 *
 * :copyright: 2006 by Georg Brandl.
 * :license: GNU GPL, see LICENSE for more details.
 */

@import url(highlight.css);

.syntax .cm { color: #008800; font-style: italic; }              /* Comments */
.syntax .cm-proc { color: #008800; font-style: normal; }     /* Preprocessor */ 
.syntax .kw { color: #AA22FF; font-weight: bold; }                /* Keyword */
.syntax .kw-pseudo { font-weight: normal; }               /* pseudo keywords */
.syntax .op { color: #666666; }                                 /* Operators */
.syntax .op-word { color: #AA22FF; font-weight: bold; }    /* word operators */
.syntax .bn { color: #AA22FF; }                                  /* Builtins */
.syntax .fun { color: green; }                             /* Function names */
.syntax .cls { color: blue; }                                 /* Class names */ 
.syntax .exc { color: #d2413a; font-weight: bold; }            /* Exceptions */ 
.syntax .var { color: #b8860b; }                           /* Variable names */
.syntax .const { color: #880000; }                              /* Constants */
.syntax .entity { color: #999999; font-weight: bold; }           /* Entities */
.syntax .attr { color: #bb4444; }                              /* Attributes */
.syntax .tag { color: green; font-weight: bold; }               /* Tag names */
.syntax .deco { color: #AA22FF; font-weight: normal; }         /* Decorators */
.syntax .st { color: #bb4444; }                                   /* Strings */
.syntax .st-int { color: #bb6688; }                         /* interpolation */
.syntax .st-esc { color: #bb6622; }                            /* escape seq */
.syntax .st-re { color: #bb6688; }                                  /* regex */
.syntax .st-sym { color: #b8860b; }                               /* symbols */
.syntax .st-oth { color: green; }                  /* Other Strings (q{...}) */
.syntax .nb { color: #666666; }                                    /* Number */

.syntax .gen-hd { font-weight: bold; color: blue; }              /* headings */
.syntax .gen-sh { font-weight: bold; color: purple; }         /* subheadings */
.syntax .gen-del { color: red; }                             /* deleted text */
.syntax .gen-ins { color: green; }                          /* inserted text */
.syntax .gen-em { font-style: italic; }                   /* emphasized text */
.syntax .gen-sr { font-weight: bold; }                  /* strong emph. text */

.syntax .err { border: 1px solid red; }                      /* lexer errors */
