/*
 * Pocoo highlight package base style
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 * :copyright: 2006 by Georg Brandl.
 * :license: GNU GPL, see LICENSE for more details.
 */

.syntax { border: 1px solid #d0d0d0; background-color: #f0f0f0;
          margin-left: 10px; margin-right: 10px; }

.syntaxheader { margin-top: 15px; margin-bottom: 0px;
                text-align: right; font-size: 11px;
                border-bottom: 0; padding: 3px; }

.linenos { float: left; display: block; padding-right: 7px; }
.linenos pre { padding-left: 7px; color: #666; }

pre.syntax { padding: 5px; margin-top: 0px; }
