@charset "utf-8";
/* CSS Document */

body {
	background: #F3F4F6 url(bg.png) repeat-x;
	font: 67% Geneva, Arial, Helvetica, sans-serif;
	color: #222;
	margin: 0;
}

a, a:visited {
	color: #0099CC;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}


h1 {
	font-size: 24px;
	color:#3399CC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: lighter;
	border-bottom: dotted 1px #666;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}
	
/* Header */

#portal-header {
  height:118px;
  font-size:100%;
}

#region-content {
  background:transparent;
}

#portal-logo {
  display:block;
  height:88px;
}



/* Navigation Bar */

#portal-siteactions li a {
  border:none;
  background:transparent;
  color:#ccc;
  font-weight:bold;
}

#portal-siteactions li a:hover {
  border:none;
  background:transparent;
  color:#fff;
}

#portal-globalnav a {
	font-weight: normal;
}

#portal-globalnav {
	position: relative;
	width: auto;
	height: 30px;
	margin: 0;
	padding : 2px 0 0 0;
	font: 12px/25px Verdana, Arial, Tahoma, Sans-serif;
	list-style : none;
	margin: 0;
	padding: 0;
}

#portal-globalnav li {
	display: inline;
        border:none;
}

#portal-globalnav li a {
	display: block;
	height: 25px;
	float: left;
	padding: 0 10px;
	color: #ccc;
	text-decoration: none;
	background: none;
	border-left: dotted 1px #666;
        border-right:none;
        border-top:none;
        border-bottom:none;
}


#portal-globalnav li a:hover {
	color: #fff;
	background: transparent url(nbg-inv.png) top repeat-x;	
        border-left: dotted 1px #666;
        border-right:none;
        border-top:none;
        border-bottom:none;
}

#portal-globalnav li.selected a {
	color: #3399FF;
	background: transparent url(nbg-inv.png) top repeat-x;
	font-weight: bold;
        border-left: dotted 1px #666;
        border-right:none;
        border-top:none;
        border-bottom:none;
}

/* Content */

#portal-column-content {
	padding: 10px 5px 0 5px;
}

#content {
	font-size: 14px;
}

.documentActions {
	background: url(post-footer.png) repeat-x;
	height: 32px;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px 0 10px;
	text-align: right;
	color: #fff;
	margin-bottom: 30px;
}

.documentActions ul {
   margin:2px;
   color:#fff;
}

.documentActions li {
  background:transparent;
}

.documentActions li a {
  color:#ccc;
}

.documentActions li a:hover {
  color:#fff;
}
	

.documentModified {
   background: url(calendar.png) no-repeat scroll left center;
   padding-left:20px;
   margin-left:20px;
}

.documentAuthor {
   background: url(user.png) no-repeat scroll left center;
   padding-left:20px;
}


.dated {
	padding-top: 2px;
	background: url(calendar.png) left no-repeat;
	padding-left: 20px;
	float: left;
}

.category {
	background: url(category.png) left no-repeat;
	padding-left: 20px;
	margin-left: 10px;
	float: left;
	height: 22px;
}

.author {
	padding-left: 20px;
	padding-bottom: 5px;
	background: url(user.png) no-repeat;
}

.more {
	padding-right: 20px;
	margin-left: 20px;
	padding-bottom: 2px;
	background: url(more.png) right no-repeat;
}


/* Forms and Text Fields */

form {
	margin : 10px;
	padding : 10px;
	border-top: dotted 2px #D7D7D7;
	border-bottom: dotted 2px #D7D7D7;
}

#portal-searchbox form, .portletSearch form {
 border:none;
}

#portal-searchbox {
  display:none;
}

label {
	font-weight : bold;
	margin : 5px 0;
	color: #333333;
}

input {
	padding : 2px;
	border : 1px solid #D7D7D7;
	font : normal 1em Verdana, sans-serif;
	color : #000000;
	background: #F9F9F9;
}

textarea {
	width : 400px;
	padding : 2px;
	font-family : Verdana, sans-serif;
	border : 1px solid #D7D7D7;
	height : 100px;
	display : block;
	background:#F9F9F9;
	color : #000;
}

input.button {
	margin : 0;
	font : bolder 12px Arial, Sans-serif;
	border : 2px solid #ccc;
	padding : 2px 3px;
	background : #fff;
	color : #131212;
}

/* Addition Stuffs */

blockquote {
	background: #F8F8F8;
	border: dotted 1px #D7D7D7;
	padding: 5px 5px 5px 25px;
}

code {
	margin : 4px 8px;
	padding : 10px;
	text-align : left;
	display : block;
	overflow : auto;
	font : 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
	background: #F8F8F8;
	border : 1px dashed #D7C3C3;
}

ul, ol {
	margin: 5px 20px;
	padding: 0 20px;
	color: #333333;
}

ul span, ol span {
	color: #333333;
}



/* Sidebar */

#portal-column-one,#portal-column-two {
	font-size: 14px;
	border-bottom: dotted 2px #D7D7D7;
}

.portletHeader,.portletCalendar dt {
	font-size: 16px;
	font-weight: bold;
	color: #333;
        border:none;
}

.portletCalendar dt {
         background: url(calendar.png) left no-repeat;
}

#category {
        background: #242424 url(category.png) no-repeat scroll left center;;
        font-size: 12px;
        font-weight: bold;
        color: #000;
        padding:3px 20px;
        border-bottom: dotted 1px #DEDEDE;
        border-top: dotted 1px #DEDEDE;
        color:#fff;
}

#portal-column-one .visualPadding {
padding:2em 0 1em 1em;
}


#portal-column-two .visualPadding {
padding:2em 1em 1em 0;
}

.portletItem {
  border:none;
  background:inherit;
}

.portletFooter {
  border:none;
  background:inherit;
}

.portlet {
	margin: 0px;
	background: transparent url(side-footer.png) bottom no-repeat;
        border-bottom:1px dashed #D7D7D7;
        border-top:none;
        border-left:none;
        border-right:none;
}

.portlet a:hover {
  text-decoration:none;
}

.portlet dt {
  background: transparent;
}


.portlet ul {
	list-style: none;
	text-decoration: none;
	margin : 3px 0 2px 0;
	padding: 0;
}

.portlet ul li {
	padding : 2px 0 0px 5px;
	margin : 0 0 0 2px;
	border-bottom: 1px dotted #ccc;
}

.portlet ul li:hover {
	background: #EBEBEB;
}

.portlet ul a {
	text-decoration : none;
	background-image : none;
	color: #333;
}


.portlet ul a:hover {
}

#divider-line {
	border-top: 1px dashed #A6A6A6;
	height: 2px;
}

/* Images */

img {
	border: none;
	background: none;
}


/* Footer */

#portal-colophon {
	background: #fff;
	height: 25px;
	padding-top: 5px;
	border-top: 5px solid #666666;
	color: #000;
	font-size: 12px;
	text-align: center;
        margin:0;
}

#portal-colophon ul li a {
	color: #666;
}

#portal-footer {
        background: #999;
        color: #fff;
        margin:0;
        border-top: 5px solid #666666;
        border-bottom:none;
}

#portal-footer a, #portal-footer a:visited {
        color: #000;
}

#footer-portlets {
        background: #242424;
        padding: 5px 150px 0;
        border-top: 5px solid #666666;
        color: #fff;
        font-size: 12px;
        margin:0;
}

#footer-portlets .portletItemDetails {
   color:#fff;
   font-weight:normal;
}

#footer-portlets a {
        color: #8CCF16;
}

#footer-portlets .state-published {
  color: #8CCF16 !important;
}

#footer-portlets dt a,#footer-portlets dt {
  color:#fff;
}

.manageFooterPortletsLink {
  margin:0px;
}

.clearfix {
	clear:both;
	overflow: hidden;
}



.FooterPortletA,.FooterPortletB,.FooterPortletC,.FooterPortletD {
   width:24%;
   float:left;
}

.FooterPortletA {
  
}

.FooterPortletD {

}


body {
	background: #F3F4F6 url(bg.png) repeat-x;
}
