.alphabet_button {
	background: Gainsboro;
	border: none;
	padding: 0;
	margin: 0;
	margin-bottom: 2px;
	vertical-align: baseline;
	text-decoration: underline;
}

.alphabet_button:hover {
	background: DarkSalmon;
}

.alphabet_button:active {
	background: red;
}

.alphabet_word{
	float:left;
	margin-right: 2.5em;
}
