#header {
    position: relative;
    padding: 0;
}


#leftslot #projectblock #projects {
    height: 360px;
}


div#contentcontainer {
    float: left;
    position: relative;
    margin: 0 10px;
    text-align: left;
    width: 530px;
    padding: 0;
}

div#content {
    position: relative;
    float: left;
    width: 95%;
}

div#contentcontainer div#content div#localnavy {
    width: 97%;
}

div#contentcontainer #topslogan{
    width: 100%;

}

div#contentcontainer #bottomslogan{
    width: 100%;
}

div#body {
    float: left;
    padding: 0;
    margin: 0 10px 10px 10px;

}

div#contentcontainer div#content div#body h1.abstract {
    width: 96%;
}

div#contentcontainer div#content div#body div.abstract {
    width: 96%;
}



div#contentcontainer div#content div#body div.values {
    width: 96%;
}

div#contentcontainer div#content div#body div.values div.short {
}

.roundedcornerbox div.menublock {
    display: block;
    position: relative;
    float: left;
    width: 154px;
}

.roundedcornerbox div.menublock a.menuheader {
    display: none;
    width: 154px;
}

.roundedcornerbox div.menublock a.menuitem {
    width: 154px;
    margin-left: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #0069d5;
}



#referencemenu {
    clear: none;
    margin-right: 33px;
}

div#leftslot div .menublock {
    width: 165px;
    float: left;
}

div#leftslot div .menublock a.menuheader {
    width: 165px;
    float: left;
}

div#leftslot div .menublock a.menuitem {
    width: 155px;
    float: left;
}

div#leftslot div .menublock .menubody {
    width: 144px;
    float: left;
}

div#leftslot div .menublock .menubody  a {
    width: 144px;
    float: left;
}

div#contentcontainer div#content div#body div.article {
    width: 96%;
}

div#contentcontainer div#content div#body div.article div.annotations {
    width: 96%;
    float: left;
}

div#contentcontainer div#content div#body div.article div.document {
    padding: 5px;
    float: left;
}


div#contentcontainer div#content div#body div.article div.document h1 {
    float: left;
}

div#contentcontainer div#content div#body div.article div.document img {
    display: block;
    width: 97%;
    float: left;
}

div#contentcontainer div#content div#body div.contenticons {
    width: 94%;
    padding: 12px;
    overflow-y: hidden;
}
