body {
    padding: 0;
    margin: 0;
}

div#wholepage {
    display: block;
    width: 766px;
    text-align: left;
    position: relative;
    
}

div#logoblock a img {
	border: 0px;
}

body {
    background-color: #ffffff;
    font-family: Arial;
}

p {
    text-align: justify;
}

div#smartbanner {
    text-align: center;
}

#header {
    display: block;
    position: relative;
    
    margin: 30px 10px 5px 10px;
    padding: 5px 5px 10px 5px;
    
    border: 2px solid #447974;
    
    background-color: #ffff9c;
    color: #447974;
    font-weight: bold;
    font-variant: small-caps;
}


#leftslot {
    display: block;
    position: relative;
    width: 165px;
    float: left;
    margin: 5px 10px;
}

#leftslot #logoblock {
    display: block;
    position: relative;
    width: 165px;
    float: left;
    margin: 5px 0;
}

#leftslot #projectblock {
    display: block;
    position: relative;
    width: 165px;
    float: left;
    text-align: center;
    border: 2px solid #447974;
    margin: 5px 0;
}


#leftslot #projectblock #projects {
    float: left;
    overflow: hidden;
    position: relative;
    width: 165px;
    height: 350px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ffff9c;
}

#leftslot #projectblock #projects a {

    display: block;
    position: relative;
    margin: 5px 0;
}

#leftslot #projectblock #projects a img.projectimage {
    border: 2px solid #ffffff;
    float: none;
}

#leftslot #searchblock {
    display: block;
    float: left;
    width: 165px;
    height: 36px;
    padding: 0;
    
    
    border: 2px solid #447974;

    background-color: #ffff9c;
    color: #447974;
    
}

#leftslot #searchblock form input#field {
    display: block;
    float: left;
    width: 110px;
    height: 15px;
    margin: 7px 0 7px 7px;
    background-color: #ffffff;
    border: 2px solid #999999;
}



#leftslot #searchblock form input#button {
    background-color: transparent; 
    display: block;
    float: left;
    color: #050505;
    font-size: 7pt;
    font-weight: bold;
    border-style: none;
    padding: 2px;
    margin: 7px 0;
    height: 19px;
    width: 35px;
}

#mainmenu {
    display: block;
    position: relative;
    height: 24px;
    background-color: #ffffff;
    float: left;
    padding: 0;
    margin: 10px 0 0 40px;
}

#mainmenu div.mainmenuitem {
    display: block;
    float: left;
    position: relative;
    height: 24px;
    margin: 0 1px;
}

#mainmenu div.mainmenuitem a.mainmenuitem {
    display: block;
    float: left;
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
    padding: 0 6px;

    height: 24px;

    border-top: 2px solid #447974;
    border-left: 2px solid #447974;
    border-right: 2px solid #447974;
    border-bottom: none;
    
    background-color: #ffffde;
    color: #447974;
}

#mainmenu div.mainmenuitem a.mainmenuitemactive {
    display: block;
    float: left;
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
    padding: 0 6px;

    height: 24px;

    border-top: 2px solid #447974;
    border-left: 2px solid #447974;
    border-right: 2px solid #447974;
    border-bottom: none;

    background-color: #ffff9c;
    color: #447974;
}



div#contentcontainer {
    margin: 39px 10px 0 195px;
    position: relative;
    padding: 0;

    background-color: #ffff9c;
    color: #447974;
    
    border: 2px solid #447974;
}

div#contentcontainer div#topslogan {
    display: block;
    background-color: #ffff9c;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    color: #447974;
}

div#contentcontainer div#content {
    background-color: #ffff9c;
    position: relative;
    padding: 10px;
    width: 95%;
    text-align: justify;
}

div#contentcontainer div#bottomslogan {
    display: block;
    background-color: #ffff9c;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    color: #447974;
    width: 100%;
}


div#contentcontainer div#content div#localnavy {
    position: relative;
    border: 2px solid #447974;
/*
    border-top: 2px solid #1881EE;
    border-left: 3px solid #0069d5;
    border-right: 3px solid #0069d5;
*/

    background-color: #ffffde;
    color: #447974;

    width: 100%;
    float: left;
    margin: 3px;
    font-size: 8pt;
    font-weight: bold;
}

div#contentcontainer div#content div#localnavy a.up {
    display: block;
    color: #477974;
    float: left;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
    text-decoration: none;
}

div#contentcontainer div#content div#localnavy a.right {
    display: block;
    color: #477974;
    float: right;
    text-align: right;
    padding-right: 5px;
    text-decoration: none;

}

div#contentcontainer div#content div#localnavy a.left {
    display: block;
    color: #477974;
    position: relative;
    float: left;
    text-align: left;
    padding-left: 5px;
    text-decoration: none;
}

div#contentcontainer div#content div#body {
    position: relative;
    width: 99%;
    float: left;
    margin: 3px;
    padding: 0;
    color: #154e88;
}

div#contentcontainer div#content div#body h1.abstract {
    padding: 5px;
    margin: 3px 0 0 0;
    color: #447974;
    font-size: 12pt;
    font-weight: bold;
    border: 2px solid #447974;
    border-bottom-width: 0;
    background-color: #dee6e6;
    width: 99%;
    float: left;
}

div#contentcontainer div#content div#body span.abstractauthor {
    display: none;
}

div#contentcontainer div#content div#body span.nickname {
    display: none;
}

div#contentcontainer div#content div#body span.abstractdate {
    display: none;
}

div#contentcontainer div#content div#body div.abstract {
    padding: 5px;
    margin: 0 0 3px 0;
    font-size: 10pt;
    border: 2px solid #447974;
    border-top-width: 0;

    background-color: #dee6e6;
    width: 99%;
    float: left;
}

div#contentcontainer div#content div#body div.abstract img {
    float: left;
    margin: 3px 6px 3px 3px;
}

div#contentcontainer div#content div#body div.abstract p {
    clear: left;
}

div#contentcontainer div#content div#body div.article {
    padding: 5px;
    margin: 0 0 3px 0;
    font-size: 10pt;

    color: #447974;
    border: 2px solid #447974;
    background-color: #dee6e6;

    width: 99%;
    float: left;
}

div#contentcontainer div#content div#body div.article div.document {
    padding: 5px;
}

div#contentcontainer div#content div#body div.article div.document h1.title {
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    color: #000000;
    padding: 3px;
    margin: 3px;
}

div#contentcontainer div#content div#body div.article div.document h2,h3,h4,h5,h6 {
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
    color: #000000;
    padding: 3px;
    margin: 3px;
}

div#contentcontainer div#content div#body div.contenticons {
    border: 2px solid #447974;
    background-color: #dee6e6;
    width: 99%;
    float: left;
    padding: 7px;
    margin: 5px 0 10px 0;
    overflow-x: auto;
}

div#contentcontainer div#content div#body div.contenticons table tr td img {
    border-style: none;
}

div#contentcontainer div#content div#body div.reference {
    padding: 5px;
    margin: 3px 0 0 0;
    color: #000000;
    font-size: 10pt;
    border: 3px solid #0069d5;
    background-color: #0069d5;
    width: 99%;
    float: left;
}

div#contentcontainer div#content div#body div.reference h1.reference {
    padding: 2px;
    margin: 0;
    font-size: 8pt;
    font-weight: bold;
    color: #000000;
}

div#contentcontainer div#content div#body div.reference a.reference {
    font-size: 8pt;
    margin: 1px 5px 1px 0;
    padding: 1px;
}

div#contentcontainer div#content div#body div.values {
    padding: 5px;
    margin: 3px 0 3px 0;
/*    color: #082862; */
/*    background-image: url('images/valuesbg.gif');*/

    color: #447974;
    border: 2px solid #447974;
    background-color: #dee6e6;


    font-size: 10pt;
    width: 99%;
    float: left;
}

div#contentcontainer div#content div#body div.values h1.values {
    color: #082862;
}

div#contentcontainer div#content div#body div.values div.short {
    color: #082862;
    border-bottom: 1px solid #447974;
    margin-top: 15px;
    font-size: 10pt;
    width: 99%;
    float: left;
}

div#contentcontainer div#content div#body div.values div.short div.shortabstract img {
    margin: 3px 6px 3px 3px;
}

div#contentcontainer div#content div#body div.values div.short div.shortabstract p {
    margin: 0;
}

div#contentcontainer div#content div#body div.values h1.values {
    padding: 3px;
    margin: 3px;
    color: #000000;
    font-size: 12pt;
    font-weight: bold;
}

#footer {
    display: block;
    position: relative;
    padding: 0;
    border: 2px solid #447974;
    background-color: #ffff9c;
    margin: 10px;
    color: #447974;
    clear: both;
    height: 35px;
}

#footer div#contacts {
    font-size: 8pt;
    color: #447974;
    font-weight: bold;
    float: left;
    padding: 3px;
    line-height: 13px;
}

#footer div#copyright {
    background-color: transparent;
    font-size: 8pt;
    float: right;
    padding: 6px;
}

#footer div#copyright a {
    color: #447974;
    font-weight: bold;
}



#referencemenu {
    clear: right;
    margin-top: 0;
    display: block;
    float: right;
    margin: 10px 6px;
    height: 24px;
    padding: 0 2px;
    position: relative;

}
    
#referencemenu .referencemenuitem {
    display: block;
    float: left;
    position: relative;
    height: 24px;
    margin: 0 2px;
    border: 2px solid #447974;
    background-color: #ffff9c;
    color: #447974;

}

#referencemenu .referencemenuitem img.referencemenuitemleft {
    display: block;
    float: left;
}
            
#referencemenu .referencemenuitem a {
    padding: 0 2px;
    float: left;
    color: #154e88;
    display: block;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}

#referencemenu .referencemenuitem img.referencemenuitemright {
    display: block;
    float: left;
}



.menublock {
    width: 165px;
    display: block;
    float: left;
    position: relative;
    background-color: #ffff9c;
    margin-bottom: 5px;
    border: 2px solid #447974;
    margin: 5px 0;
}

.menublock a.menuheader {
    display: block;
    background-color: #f6ce18;
    color: #ffffff;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}


.menublock a.menuitem {
    display: block;
    font-size: 10pt;
    text-decoration: none;
    background-color: #ffff9c;
    color: #447974;
    padding: 2px 5px;
    border-bottom: 1px solid #447974;
}


.menublock h1.menuheader {
    display: block;
    font-weight: bold;
    font-size: 12pt;
    margin: 0;
    padding: 3px;
    width: 165px;

    border-bottom: 1px solid #0069d5;
}

.menublock .menubody {
    width: 165px;
    position: relative;

}

.menublock .menubody a {
    display: block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    color: black;
    width: 165px;
    clear: left;
    padding: 3px 10px;
}


.fullimagecontainer {
    border: 3px solid #447974;
    text-align: center;
    margin: 15px 10px;
}

.fullimagecontainer h1.sitetitle {
    position: absolute;
    font-size: 12pt;
    left: 50px;
    top:0;
    padding: 0 5px;
    margin: 0;
    background-color: white;
    float: left;
}

.fullimagecontainer h1.sitetitle a {
    color: #154e88;
    text-decoration: none;
}

.fullimagecontainer h1.fullimage {
    font-size: 16px;
    font-weight: bold;
}

.fullimagecontainer .imagebox {
    text-align: center;
    margin: 10px;
    position: relative;
    overflow: auto;
}


h1, h2, h3, h4, h5 {
    color: #154e88;
}

h1.values {
    display: none;
}