[buildout]
develop = .

parts = test
extends = http://grok.zope.org/releaseinfo/grok-0.14.1.cfg
versions = versions

[versions]
lxml = 2.0.9
zope.testing = 3.6.0
# 0.4.0 introduces dependency on zope.browser, but without
# a newer zope.app.form that will lead to problems. for now lock them
# down
zc.sourcefactory = 0.3.4
zope.app.form = 3.4.1

[test]
recipe = zc.recipe.testrunner
eggs = z3c.relationfieldui
defaults = ['--tests-pattern', '^f?tests$', '-v']
