[buildout]
develop = . 
parts = scripts devpython test
versions = versions

[versions]

[scripts]
recipe = zc.recipe.egg:scripts
eggs = hurry.yui

[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = hurry.yui

[test]
recipe = zc.recipe.testrunner
eggs = hurry.yui
defaults = ['--tests-pattern', '^f?tests$', '-v']
