[buildout]
parts = kss kss.base kss.django python django 


[kss]
recipe = subversionrecipe
urls =
  https://codespeak.net/svn/kukit/kss.base/trunk kss.base

[kss.base]
recipe = zc.recipe.egg:develop
setup = kss/kss.base

[kss.django]
recipe = zc.recipe.egg:develop
setup = .

[django]
recipe = djangorecipe>=0.4
settings = development
test=django
eggs = 
     kss.django
     kss.base
project = kssexamples
version = trunk


[python]
recipe = zc.recipe.egg
interpreter = python
eggs = 
     kss.base
     kss.django