div.ohloh {
  display: block; 
  position: relative; 
  float: right; 
  margin: 2px 5px;
}

table.maintable {
  display: block; 
  position: relative;
}

div.shortview {
 display: block;
 position: relative;
}

span.abstract1 {
  display: block;
}

span.abstract2 {
  display: block;
}

#breadcrumbs {
  display: none;
}

#localnavy {
  display: none;
}

span.shortdate {
  display: none;
}

span.shortauthor {
  display: none;
}

div.abstract {
  clear: none;	
  text-align: justify;
}

#topmenu {
	display: none;
}

#mainmenu {
	display: none;
}

#header {
	margin-right: 0px;
}

p.author {
        display: none;
}

p.date {
        display: none;
}

div.shortabstract {
   clear: none;
   text-align: justify;
}


