/* Copyright(c) gert.cuykens@gmail.com */
body,html{margin:0px;
          border:0px solid black; 
          padding:0px;
          background-color:white}

input {margin:3px;}

#form {margin:11px 0px 11px 0px;
       width:250px;
       text-align:right;}

#std {width:100%;
      color:white;
      background:black;
      margin:0px;
      padding:0px;
      display:none;}

