
#glowormPageWrapper { position: fixed; top: 0; left: 0; right: 0; bottom: 250px; overflow: auto; }

#glowormPanel { position: absolute; bottom: 0; left: 0; width: 100%; height: 250px; background:#F9F9F9; color: #000; }

#glowormPanel h2 { color: #FFF; font-size: 1.0em; font-weight: bold; border: none; margin: 0; padding-left:5px; }
#glowormPanel h4 { color: #000; }

tal:viewletmanager.currentlySelectedElement { display:block; border: 1px solid yellow;}
.currentlySelectedElement{ border: 2px dashed red !important; display: block; }

#glowormPanel #glowormPanelHeader { height: 22px; line-height: 22px; background:url(portal_skins/GloWorm/gloworm_header_bg.gif) repeat-x; /*cursor: n-resize;*/}
#glowormPanel #glowormPanelHeader .closeLink{ float: right; margin: 4px; }

#glowormPanel #glowormPanelBody {position: absolute; left: 325px; overflow: auto; height:226px; padding: 1px 1em;  border-left: 3px outset #AAA;}

#glowormPanel #glowormPanelNavTree{ overflow: auto; width: 325px; height:228px; }
#glowormPanel #glowormPanelNavTree ul{ margin:0 0 0 2em; padding: 0; list-style-type: square;}

#glowormPanel #glowormPanelNavTree ul li{ margin:0; padding:0; }
#glowormPanel #glowormPanelNavTree ul li a {padding-left: 2px;}
#glowormPanel #glowormPanelNavTree ul li a.hiddenViewlet{color:#999;}

#glowormPanel #glowormPanelNavTree .currentlySelectedElement { background: #EDD; border: 1px solid #DCC !important; border-right: none !important; font-weight: bold;}

#glowormPanel #glowormPanelNavTree ul.viewletmanager-tree { list-style-type: circle;}
#glowormPanel #glowormPanelNavTree ul.viewlet-tree { list-style-type: disc; }

#glowormPanel a { color: #000; }
#glowormPanel a.viewletMoveUp, 
#glowormPanel a.viewletMoveDown { text-decoration: none; }

#glowormPanel .visibleViewlet .showViewlet { display: none; }
#glowormPanel .visibleViewlet .hideViewlet { display: inline; }
#glowormPanel .hiddenViewlet .showViewlet { display: inline; }
#glowormPanel .hiddenViewlet .hideViewlet { display: none; }

#glowormPanel input.context { background-color: #FFF !important;}

#glowormPanel table td { vertical-align: top; }


/*#glowormPanel table { color: #000; }
#glowormPanel table th { text-align: left; }
#glowormPanel table td { vertical-align: top; border: 1px solid #EEE; padding: .5em; background: #FFF;}
#glowormPanel table table {  }
#glowormPanel table table td, #glowormPanel table table td {  }
#glowormPanel #viewletManagerListing td { border: 1px solid #FFF; padding: 0; margin: 0; }
#glowormPanel #viewletManagerListing tr { border: 1px solid #EEE; background: #FFF; padding: .5em; }*/