[buildout]
develop = .
parts = test interpreter
find-links = http://download.zope.org/distribution/
# Before making releases please test also with older versions
extends = http://grok.zope.org/releaseinfo/grok-1.0a1.cfg
#extends = http://grok.zope.org/releaseinfo/grok-0.14.1.cfg
#extends = http://grok.zope.org/releaseinfo/grok-0.13.cfg
versions = versions

[versions]
zope.testing = 3.6.0

[interpreter]
recipe = zc.recipe.egg
eggs = megrok.kss
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = megrok.kss
defaults = ['--tests-pattern', '^f?tests$', '-v']
