div.ToolBarContainer {
    border-bottom: 1px solid #D8D2BD;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    cursor: default;        
}

.ToolBar {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 11px;
}

.ToolBar hr {
    height: 1px;
    color: silver;
}

.ToolBar .topmenu,
.ToolBar .topmenu:hover,
.ToolBar .topmenu-active,
.ToolBar .topmenu-active:hover {
    line-height: normal;
    padding: 4px 6px 4px 6px;
    margin: 1px; 
    color: #000000;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    display: block;
    position: relative;
}
.ToolBar .topmenu:hover {
    margin: 0px;
    border: 1px solid #8F8F85;
    background:#EFECDE;
}
.ToolBar .topmenu-active,
.ToolBar .topmenu-active:hover {    
    margin: 0px;
    border: 1px solid #8F8F85;    
    border-bottom:none;
    background:#C9D5E5;
}

.ToolBar .submenu,
.ToolBar .submenu:hover,
.ToolBar .submenu-active,
.ToolBar .submenu-active:hover {
    border:1px solid #FDFDF9;
    background: #FDFDF9;
    line-height: normal;
    padding: 3px 30px 3px 20px;
    color: black;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    display: block;
    position: relative;
}
.ToolBar .submenu:hover,
.ToolBar .submenu-active,
.ToolBar .submenu-active:hover {
    border:1px solid #316BC6;
    background: #C9D5E5;
    color: black;
}

.ToolBar .menugroup {
    background: #FCFCF8;
    border: 1px solid;
    border-color: #F1EFE2 #716F64 #716F64 #F1EFE2;
    padding: 2px 1px 1px 2px;
    position: absolute;
    visibility: hidden;
    z-index: -1;       
}
.ToolBar .menuarrow {
    position: absolute;
    top: 7px;
    right: 8px;
    border: 0;
}

* html .ToolBar td { 
    position: relative;
} /* ie 5.0 fix */
