body {
    margin: 0px;
}

h2 {
   padding: 3px;
   margin: 0px;
   background-color: #ddd;
   border-bottom: 2px solid;
}

th {
    text-align: left;
    padding-right: 28px;
}

.report-column {
   border-bottom: 1px dashed;
   padding-right: 28px;
}

.summary {
   background-color: #eed;
   border-bottom: 0px;
}

a {
   text-decoration: none;
}

.annotation-line {
   font-style: italic;
   font-weight: 700;
   font-family: mono,arial;
   border-left: 8px solid #aaa;
   padding-left: 5px;
}

.covered {
   border-left: 8px solid #3e3;
   background-color: #cfc;
}

.uncovered {
    border-left: 8px solid red;
}

pre {
   margin: 1px;
   display: inline;
}

.uncovered {
   background: #ebb;
}

.non-exec {
    border-left: 8px solid #aaa;
    background-color: #eee;
}

.lineno {
    margin-right: 5px;
    background-color: #ef5;
}

#colophon {
    border-top: 1px solid;
    background-color: #eee;
    display: block;
    position: relative;
    bottom: 0px;
    padding: 8px;
    float: bottom;
    width: 100%;
    margin-top: 20px;
    font-size: 75%; 
    text-align: center;
}
