## These are default values for nginx configuration
[seleniumrc]
url=http://release.openqa.org/selenium-remote-control/0.9.2/selenium-remote-control-0.9.2-dist.zip
md5sum=c262021d5c0d9c427a1d515f7514695d
java-cmd=java