[buildout]
develop = .
parts = subversion python test

[subversion]
recipe=ore.recipe.svnlib
url=http://subversion.tigris.org/downloads/subversion-1.5.0-rc4.tar.bz2
extra_options=--without-apxs

[python]
recipe = zc.recipe.egg
eggs = ore.svn
extra-paths = ${subversion:location}/lib/python
interpreter = python
       
[test]
recipe = zc.recipe.testrunner
eggs = 
  ore.svn 
  zope.schema
  zope.component
extra-paths = ${subversion:location}/lib/python
