@import url("pudge.css");

/* Basic Layout 
---------------------------------- */

body { 
    padding: 0.5em;
    font-size: 12px;
    color: #111;
    max-width: 70em;
    margin: 0 auto;
}
#main-content {
    margin-left: 1em;
    margin-right: 1em;
}

/* Top Navigation
----------------------------------- */

#top-nav { 
    background: #373;
    padding: .3em .3em;
    margin: 0;
    margin-bottom: 1.5em;
}
#top-nav #doc-title { 
    font-size: 2em;
    line-height: 60%;
    font-weight: bold;
    margin: 0;
    padding-top: .32em;
    padding-right: 1em;
    padding-left: .3em;
    color: #9c9;
    float: left;
}
#top-nav a { 
    color: #8b8;
    text-decoration: none;
}
#top-nav .online-navigation a {
    color: #9c9;
    margin-right: 0.5em;
}
#top-nav .online-navigation a:hover, #top-nav h1 a {
    color: #ada;
}

/* Footer
----------------------------------- */

div#footer { 
  text-align: right;
  margin-top: 1.5em;
  border-top: 1px solid #373;
  padding-top: .5em;
  font-size: 80%;
  color: #666;
}
div#footer a { 
  color: #373;
  text-decoration: none;
}
div#footer p { 
  margin: 0.2em 1em;
}

/* Basic Style
----------------------------------- */
h1, h2, h3, h4 { 
  margin: 1em auto; 
  font-family: 'Trebuchet MS', 'Verdana', Sans-serif;
  color: #555;
  font-weight: normal;
}
h1 {
    font-size: 200%
}
h2 { font-size: 170% }
h3 { font-size: 150% }
h4 { font-size: 120% }
a:link { color: #060; }
a:visited { color: #363; }
pre {
    font-family: monospace;
    color: #036;
    background-color: #f2f2ea;
    padding: 0.5em;
}
.doctest-block {
    font-size: 97%;
}

dl dt { 
  font-style: italic;
  margin-top: .5em;
  font-weight: bold;
  color: #555;
}
hr { 
  color: #373;
  background-color: #373;
  height: 1px;
  border: 0;
  width: 100%;
  margin: 2em 0; 
}

/* Pudge Elements
--------------------------------- */

h1.pudge-member-page-heading { 
  font-size: 250%;
  margin: 0.5em 0;
}
h4.pudge-member-page-subheading { 
  font-size: 150%;
  font-style: italic;
  margin-top: -1.3em;
  margin-left: 2em;
  color: #999;
}
p.pudge-member-blurb { 
  font-style: italic;
  font-weight: bold;
  font-size: 120%;
  margin-top: 0.2em;
  color: #6a6;
}
div.pudge-module-doc { 
}
div.pudge-section { 
  margin-left: 2em;
}
p.pudge-member-blurb { 
  font-style: italic;
  font-weight: bold;
  font-size: 120%;
}

/* rst-doc Elements
--------------------------------- */
.rst-doc h1 {
    margin: 0.5em 0;
}

/* Section Navigation 
----------------------------------- */

div#pudge-section-nav
{
  margin: 1em 0 1.5em 0;
  padding: 0;
}

div#pudge-section-nav ul { 
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  border-right: 1px solid #aaa;
}
div#pudge-section-nav ul li
{
  display: block;
  float: left;
  text-align: center;
  padding: 0;
  margin: 0;
}

div#pudge-section-nav ul li .pudge-section-link,
div#pudge-section-nav ul li .pudge-missing-section-link
{
    display: block;
    background: #aaa;
    color: #ddd;
    width: 11em;
    padding: 0.5em;
    margin-right: 5px;
    margin-bottom: 2px;
    text-decoration: none;
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Lucida, sans-serif;
    font-weight: bold;
    font-size: 10px;
}

div#pudge-section-nav ul li a:hover
{
  color: #fff;
  background: #393;
}

div#pudge-section-nav ul li .pudge-section-link
{
  background: #373;
  color: #9c9;
}

/* Module Lists
----------------------------------- */
dl.pudge-module-list dt { 
  font-style: normal;
  font-size: 110%;
}
dl.pudge-module-list dd { 
  color: #555;
}

/* misc */
pre, tt { 
  font-size: 120%;
}
