* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

div.contact {
  border: 1px solid #777;
  margin: 1em;
  padding-bottom: 1ex;
}

.contact-title {
  padding: .5ex;
  background: #eee;
  border-bottom: 1px solid #777;
}

div.field-container {
  margin: 1ex;
}

div.field-container div.label label {
  font-weight: bold;
}

div.field {
  margin: 1ex;
  font-size: small;
}

div.widget {
  white-space: pre;
}

.contact-field-item {
  margin-top: 1ex;
}

.contact-field-title{
  font-size: smaller;
}