img {
	border: none
}

#site-footer {
	border-top: 2px solid #000;
	padding: 15px 0px;
	background-color: #fff;
}

#site-footer div {
	position: absolute;
}

#site-footer * {
	color: black;
	text-align: center;
	text-decoration: none;
}

