div.kssmessages-popup-visible { 
    display: block; 
    position: absolute;
    z-index: 20;
    width: 40%;
}   

div.kssmessages-popup-hidden { 
    display: none; 
    position: absolute;
    z-index: 20;
}

/* Drop shadow */
div#shadow-container {
    position: relative;
    left: 3px;
    top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

div#shadow-container .shadow2, div#shadow-container .shadow3, div#kssmessages-popup-message-wrapper {
    position: relative;
    left: -1px;
    top: -1px;
}

div#shadow-container .shadow1 {
    background-color: #F1F0F1;
}

div#shadow-container .shadow2 {
    background-color: #DBDADB;
}

div#shadow-container .shadow3 {
    background-color: #B8B6B8;
}

div#kssmessages-popup-message-wrapper {
    background-color: white;
    border: 1px solid #848284;
    padding: 10px;
}

div#kssmessages-popup-message-wrapper button {
    float: right;
    margin-top: -18px;
}

div#kssmessages-popup-message { 
    background-color: white;
    padding: 6px;
}   

