# Metadata section allows you to define the default
# service type to be created
[metadata]
default_service=GeoJSON

# each additional section is a 'layer', which can be accessed.
# see DataSources.txt for more info on configuring.
[scribble]
type=DBM
file=/tmp/featureserver.scribble
gaping_security_hole=yes
