/* @override http://localhost:8080/Plone/portal_css/subskinsiii/++resource++easySlider.css */

#slider-container{
	border: 1px solid #b8b8b8; 	
	margin: auto auto 30px;
}
	
#slider {}

div.news-slide {
	padding: 15px;
}

img.news-slide-image {
	float: right;
	padding-top: 10px;
}


#slider-container #parent-fieldname-title {
 	padding: 6px 10px;
	border-bottom: 0 none;
	display: block;
}

#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;
}
#slider, #slider li{ 
	overflow:hidden; 
}


#prevBtn, #nextBtn{ 
	display:block;
	width:30px;
	height:77px;
	position:relative;
	left:-30px;
	top:-130px;
}	
#nextBtn{ 
    top:-205px;
}

#prevBtn a, #nextBtn a{  
	display:block;
    color: transparent;
	width:30px;
	height:77px;
	background:url(++resource++btn_prev.gif) no-repeat 0 0;	
}	
#nextBtn a{ 
	background:url(++resource++btn_next.gif) no-repeat 0 0;	
}

.slider-text {
	padding: 10px;
	float: left;
	display: block;
}
.slider-image {
	float: right;
	display: block;
    margin-right: 25px;
}

#easySlider-goToButtons a.active{
    background-color:gray;
}
#easySlider-goToButtons{
    text-align:center;
}