[I18N]

## Automatically build msgid catalogs (default is 1).
#message-catalog: yes

## Support for internationalised archetypes.Attributes with a stereotype
## of 'i18n' or taggedValue of i18n=1 will be multilingual. Possible
## values for this option are 'linguaplone' and 'i18n-archetypes'.
#i18n-content-support: 


[CLASSES]

## Treat unknown attribute types as strings (default is 0).
#unknown-types-as-string: no

## Generate actions (default is 1)
#generate-actions: yes

## For references, create a back reference field on the referred-to
## class. Requires ATBackRef product
## (http://www.plone.org/products/atbackref) to work. (Default is 0).
#backreferences-support: yes

## Always generate 'id' and 'title' fields (default is 0).
#default-field-generation: no

## Changes the default class type from content_class to your value.
## Useful when most of your classes are not archetype content.
#default-class-type: content_class

## default type of interfaces (z2 or z3).
#default-interface-type: z3

## Specifies default permission to create content (defaults to 'Add
## portal content.'). Warning: it used to be 'Add [CREATION_PERMISSION]
## content', so with the 'Add' and 'content' automatically added.
#default-creation-permission: Add portal content

## Specifies the default roles that creates content
#default-creation-roles: python:('Manager','Owner')

## Separate creation permissions per class (defaults to no)
#detailed-creation-permissions: no

## specifies how relations should be implemented(default is 'basic').
#relation-implementation: basic


[DOCUMENTATION]

## Strip HTML tags from documentation strings, handy for UML editors,
## such as Poseidon, which store HTML inside docs (default is 0).
#strip-html: no

## Generate module information header
#module-info-header: yes

## Set default author value (can specify as comma-separated list, or
## specify several times).
author: Emanuel Sartor, Santiago Bruno

## Set default email (can specify as comma-separated list, or specify
## several times).
e-mail: emanuel@menttes.com

## Set default copyright
copyright: Menttes SRL

## Set default license (default is the GPL).
license: GPL


[GENERAL]

## Output directory in which to put everything
#outfile: 

## Names of packages to scan for classes and generate output for (can
## specify as comma-separated list, or specify several times). Leaving
## this empty means that all packages are scanned and generated
#generate-packages: ('NO', 'DEFAULT')

## Overwrite existing files? (Default is 1).
#force: yes

## Add RCS $Id$ tags to the generated file (default is 0).
#rcs-id: no

## Add ArchGenXML version information to the generated file (default is
## 1).
#version-info: yes

## Add generation date to generated files (default is 0).
#generated_date: no

## Start the pdb in post mortem mode in case of an uncaught exception
#pdb-on-exception: no

## Create manual code sections, so regeneration will play nice (default
## is yes)
#manual-code-sections: yes



