[buildout]
extends = http://dist.plone.org/release/3.2a1/versions.cfg
develop =
    .

parts =
    lxml
    libxml2-python
    zope2
    instance
    roadrunner
    ipzope

find-links =
    http://dist.repoze.org/plone/latest
    http://download.zope.org/distribution/

eggs =
    ipdb
    PIL

versions=versions

[versions]
lxml = 2.1.2

[lxml]
recipe = z3c.recipe.staticlxml
egg =
    lxml

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.10.6/Zope-2.10.6-final.tgz
fake-zope-eggs = true
additional-fake-eggs =
    ZConfig
    pytz

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-port = 8080
debug-mode = on
blob-storage = ${buildout:directory}/var/blobstorage
extra-paths = ${buildout:directory}/parts/site-packages/
verbose-security = on
eggs =
    ${buildout:eggs}
    lxml
    Plone
    Products.PloneArticle
    plone.reload
    plone.app.blob
    collective.plone.gsxml

zcml =
    plone.reload
    plone.app.blob
    collective.plone.gsxml

[libxml2-python]
recipe = collective.recipe.distutils
url = ftp://xmlsoft.org/libxml2/python/libxml2-python-2.6.21.tar.gz


[roadrunner]
recipe = roadrunner:plone
packages-under-test =
    lxml
    collective.plone.gsxml

[ipzope]
recipe = zc.recipe.egg
eggs =
        ipython
        ${instance:eggs}
initialization =
        import sys, os
        os.environ["SOFTWARE_HOME"] = "${zope2:location}/lib/python"
        os.environ["INSTANCE_HOME"] = "${instance:location}"
        sys.argv[1:1] = "-p zope".split()
extra-paths =
        ${zope2:location}/lib/python
scripts = ipython=ipzope

