/* blog */
.blogentry {
	margin-bottom: 2em;
}

/* discussion thread */
.hiddenComments {
	display: none;
}
.replytitle {
	background: url('++resource++bda.blogview.images/open_comments.png') 0px 50% no-repeat;
	padding-left: 15px;
	font-size: 14px;
	margin-top: 15px;
	cursor: pointer;
}
.commentsopen {
	background: url('++resource++bda.blogview.images/close_comments.png') 0px 50% no-repeat;
}
.discussion {
	margin-top: 5px;
}
.discussion form .standalone,
.discussion form .destructive {
	border: none;
	padding-left: 0;
	background-image: none;
	background-color: transparent;
	margin-bottom: 5px !important;
}
.comment {
	background-color: transparent;
	border: none;
	padding: 0;
	margin-bottom: 0;
}
.comment .documentByLine {
	padding-left: 15px;
	font-weight: bold;
	margin-bottom: 2px;
}
.comment .base {
	background: url('++resource++bda.blogview.images/comment_arrow.png') 0px 50% no-repeat;
}
.comment .reply {
	background: url('++resource++bda.blogview.images/reply_arrow.png') 0px 50% no-repeat;
}
.comment h3 {
	border: none;
	margin-bottom: 0;
	padding-left: 15px;
	font-size: 12px;
	font-weight: bold;
}
.comment h3 a {
	padding-left: 0;
	background-image: none;
}
.comment .commentBody {
	margin-left: 15px;
	margin-bottom: 3px;
}
.comment form .standalone {
	padding-left: 12px;
}