[buildout]
parts =
    zope2
    fakezope2eggs
    plone
    productdistros
    instance
    zopepy
    synchro

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads

# Add additional eggs here
# elementtree is required by Plone
eggs =
    elementtree
    collective.synchro

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =
    src/collective.synchro
eggs-directory = eggs

[fakezope2eggs]
recipe = z3c.recipe.fakezope2eggs

[plone]
recipe = plone.recipe.distros
urls = http://launchpad.net/plone/2.5/2.5.5/+download/Plone-2.5.5.tar.gz
nested-packages = Plone-2.5.5.tar.gz
version-suffix-packages = Plone-2.5.5.tar.gz
 
[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.9.8/Zope-2.9.8-final.tgz

# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL,
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.
[productdistros]
recipe = plone.recipe.distros
urls =
    http://codespeak.net/z3/five/release/Five-1.4.4.tgz
    http://plone.org/products/filesystemstorage/releases/2.6.2/filesystemstorage-2-6-2.tgz
nested-packages =
version-suffix-packages =

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8025
debug-mode = on
verbose-security = on

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} my.package
eggs =
    ${buildout:eggs}
    collective.synchro

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    collective.synchro

products =
    ${buildout:directory}/products
    ${productdistros:location}
    ${plone:location}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[synchro]
recipe = zc.recipe.egg
eggs =
    collective.synchro

extra-paths=
    ${instance:location}
    ${zope2:location}/lib/python


#arguments = sys.argv[1:] + ['${zeoclient1:location}/etc/zope.conf']
