# config file for mtrax
[DEFAULT]
Package: python-mtrax
Build-Depends: python-numpy
Depends: python-wxgtk2.8, python-numpy, python-matplotlib, python-scipy, python-imaging, python-motmot-wxvideo, python-motmot-wxglvideo, python-motmot-wxvalidatedtext, python-motmot-imops, python-pygarrayimage, python-pyglet
MIME-Desktop-Files: mtrax.desktop
MIME-File: mtrax.mime
Setup-Env-Vars: DISABLE_INSTALL_REQUIRES=1
