div#volunteering{
  background-color:#F1EFFF;
  border:1px solid black;
  padding:2px;
}
div#volunteering dl{
  background-color:white;
  font-family:Georgia,'Times New Roman',Times,serif;
  border:1px solid #FF994E;
  padding:3px;
  font-size:15px;
  height:40px;
  margin-bottom:2px;
  margin-top:2px;
}
div#volunteering dl dd{
  font-family:Georgia,'Times New Roman',Times,serif;
  float:left;
  margin:0px;
  padding-right:10px;
}
div#volunteering dl dt{
  font-family:Georgia,'Times New Roman',Times,serif;
  padding-right:10px;
  margin-top:2px;
}
div#volunteering dl a{
  font-family:Georgia,'Times New Roman',Times,serif;
}