#portal-column-content img.roundabout {
	display: none;
}
#portal-column-content div.roundabout {
	width: 360px;
	height: 280px;
	overflow: hidden;
}
.roundabout-loading {
	width: 360px;
	height: 280px;
	background-image: url(++resource++collective.roundabout.images/spinner.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.roundabout-wrapper {
	width: 540px;
	height: 280px;
	position: relative;
}
.roundabout-viewer {
	width: 360px;
	height: 280px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.roundabout-viewer-window {
	top: 20px;
	left: 20px;
	position: absolute;
	overflow: hidden;
	z-index: 2;
}
.roundabout-tile-a {
	position: absolute;
	overflow: hidden;
	z-index: 4;
}
.roundabout-tile-b {
	position: absolute;
	overflow: hidden;
	z-index: 3;
	display: none;
}
.roundabout-tile-a img {
	position: absolute;
	z-index: 4;
}
.roundabout-tile-b img {
	position: absolute;
	z-index: 3;
}
.roundabout-overlay {
	position: absolute;
	z-index: 5;
	background-image: url(++resource++collective.roundabout.images/transparent.gif);
	cursor: crosshair;
}
.roundabout-map {
	width: 180px;
	height: 280px;
	position: absolute;
	left: 360px;
	top: 0px;
}
.roundabout-map-window {
	top: 20px;
	left: 20px;
	position: absolute;
}
.roundabout-map-container {
	position: absolute;
	top: 0px;
	left: 0px;
}
.roundabout-map-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
}
.roundabout-map-panorama {
	position: absolute;
	width: 8px;
	height: 8px;
	background-image: url(++resource++collective.roundabout.images/map_panorama.gif);
	cursor: pointer;
	font-size: 0px;
	line-height: 0px;
}
.roundabout-map-hotspot {
	position: absolute;
	cursor: pointer;
	background-image: url(++resource++collective.roundabout.images/transparent.gif);
}
.roundabout-map-compass {
	width: 40px;
	height: 40px;
	position: absolute;
}
.roundabout-map-compass-n {
	background-image: url(++resource++collective.roundabout.images/compass_n.gif);
}
.roundabout-map-compass-ne {
	background-image: url(++resource++collective.roundabout.images/compass_ne.gif);
}
.roundabout-map-compass-e {
	background-image: url(++resource++collective.roundabout.images/compass_e.gif);
}
.roundabout-map-compass-se {
	background-image: url(++resource++collective.roundabout.images/compass_se.gif);
}
.roundabout-map-compass-s {
	background-image: url(++resource++collective.roundabout.images/compass_s.gif);
}
.roundabout-map-compass-sw {
	background-image: url(++resource++collective.roundabout.images/compass_sw.gif);
}
.roundabout-map-compass-w {
	background-image: url(++resource++collective.roundabout.images/compass_w.gif);
}
.roundabout-map-compass-nw {
	background-image: url(++resource++collective.roundabout.images/compass_nw.gif);
}
.roundabout-hotspot {
	width: 28px;
	height: 28px;
	background-image: url(++resource++collective.roundabout.images/hotspot.gif);
	position: absolute;
	left: 1000px;
	cursor: pointer;
	display: none;
}
.roundabout-arrow-nw {
	position: absolute;
	background-image: url(++resource++collective.roundabout.images/arrow_nw.gif);
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
}
.roundabout-arrow {
	position: absolute;
	width: 20px;
	height: 20px;
}
.roundabout-arrow-nw:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_nw_over.gif);
	cursor: nw-resize;
}
.roundabout-arrow-ne {
	background-image: url(++resource++collective.roundabout.images/arrow_ne.gif);
	top: 0px;
	left: 340px;
}
.roundabout-arrow-ne:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_ne_over.gif);
	cursor: ne-resize;
}
.roundabout-arrow-se {
	background-image: url(++resource++collective.roundabout.images/arrow_se.gif);
	top: 260px;
	left: 340px;
}
.roundabout-arrow-se:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_se_over.gif);
	cursor: se-resize;
}
.roundabout-arrow-sw {
	background-image: url(++resource++collective.roundabout.images/arrow_sw.gif);
	top: 260px;
	left: 0px;
}
.roundabout-arrow-sw:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_sw_over.gif);
	cursor: sw-resize;
}
.roundabout-arrow-n {
	background-image: url(++resource++collective.roundabout.images/arrow_n.gif);
	top: 0px;
	left: 170px;
}
.roundabout-arrow-n:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_n_over.gif);
	cursor: n-resize;
}
.roundabout-arrow-e {
	background-image: url(++resource++collective.roundabout.images/arrow_e.gif);
	top: 130px;
	left: 340px;
}
.roundabout-arrow-e:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_e_over.gif);
	cursor: e-resize;
}
.roundabout-arrow-s {
	background-image: url(++resource++collective.roundabout.images/arrow_s.gif);
	top: 260px;
	left: 170px;
}
.roundabout-arrow-s:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_s_over.gif);
	cursor: s-resize;
}
.roundabout-arrow-w {
	background-image: url(++resource++collective.roundabout.images/arrow_w.gif);
	top: 130px;
	left: 0px;
}
.roundabout-arrow-w:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_w_over.gif);
	cursor: w-resize;
}
