body {
    padding: 0;
    margin: 0;
}

div#wholepage {
    display: block;
    width: 766px;
    text-align: left;
    position: relative;
    
}

div#logoblock a img {
	border: 0px;
}

body {
    background-color: #ffffff;
    font-family: Arial;
}

p {
    text-align: justify;
}

div#smartbanner {
    text-align: center;
}

#header {
    display: block;
    position: relative;
    background-color: transparent;
    background-image: url('images/headerbg.gif');
    height: 24px;
    margin: 30px 10px 5px 10px;
    padding: 0;
}

#header img {
    display: block;
    height: 24px;
}

#header img#headerleft {
    float: left;
}

#header img#headerright {
    float: right;
}

#header img#headertitle {
    float: left;
}

#leftslot {
    display: block;
    position: relative;
    width: 165px;
    float: left;
    margin: 5px 10px;
}

#leftslot #logoblock {
    display: block;
    position: relative;
    width: 165px;
    float: left;
    margin: 5px 0;
}

#leftslot #projectblock {
    display: block;
    position: relative;
    width: 165px;
    float: left;
    text-align: center;
    
    background: url('images/projectblockbg.gif');
    background-repeat: repeat-y;

    margin: 5px 0;
}


#leftslot #projectblock img {
    float: left;
    margin: 0;
    padding: 0;
}

#leftslot #projectblock #projects {
    float: left;
    overflow: hidden;
    position: relative;
    width: 165px;
    height: 350px;
    text-align: center;
    margin: 0;
    padding: 0;
}

#leftslot #projectblock #projects a {

    display: block;
    position: relative;
    margin: 5px 0;
}

#leftslot #projectblock #projects a img.projectimage {
    border: 2px solid #ffffff;
    float: none;
}

#leftslot #searchblock {
    display: block;
    float: left;
    width: 165px;
    height: 36px;
    background-image: url('images/searchblockbg.gif');
    background-repeat: no-repeat;
    padding: 0;
}

#leftslot #searchblock form input#field {
    display: block;
    float: left;
    width: 110px;
    height: 15px;
    margin: 7px 0 7px 7px;
    background-color: #ffffff;
    border: 2px solid #999999;
}

.roundedcornerbox {
    display: block;
    width: 164px;
    float: left;
    background: url('images/currentboxbg.gif');
    background-repeat: repeat-y;
    text-align: center;
    margin: 5px 0;
}

.roundedcornerbox img {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

.roundedcornerbox div.menublock {
    display: block;
    position: relative;
    float: left;
    width: 164px;
    background-color: transparent;
}

.roundedcornerbox div.menublock a.menuheader {
    display: none;
}

.roundedcornerbox div.menublock a.menuitem {
    display: block;
    width: 140px;
    float: left;
    clear: left;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    text-align: left;
    margin-left: 11px;
    padding-left: 5px;
    border-bottom: 1px solid #0069d5;
}

#newslistbox {
    display: block;
    width: 164px;
    float: left;
    background: url('images/newslistboxbg.gif');
    text-align: center;
    margin: 5px 0;
}

#newslistbox img {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

#newslistbox div.menublock {
    display: block;
    position: relative;
    float: left;
    margin: 0;
    padding: 10px;
    background: url('images/newslistmenublockbg.gif');
    background-repeat: no-repeat;
    background-position: bottom left;
}

#newslistbox div.menublock a.menuheader {
    display: none;
}

#newslistbox div.menublock a.menuitem {
    display: block;
    float: left;
    clear: left;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    text-align: left;
    width: 144px;
    border-bottom: 1px solid #0069d5;
}



#leftslot #searchblock form input#button {
    background-color: transparent; 
    display: block;
    float: left;
    color: #050505;
    font-size: 7pt;
    font-weight: bold;
    border-style: none;
    padding: 2px;
    margin: 7px 0;
    height: 19px;
    width: 35px;
}

#mainmenu {
    display: block;
    position: relative;
    height: 24px;
    background-color: #ffffff;
    float: left;
    padding: 0;
    margin: 10px 0 0 40px;
}

#mainmenu div.mainmenuitem {
    display: block;
    float: left;
    position: relative;
    height: 24px;
    background-image: url('images/menuitembg.gif');
}

#mainmenu div.mainmenuitem img.menuitemleft {
    display: block;
    float: left;
}
#mainmenu div.mainmenuitem a.mainmenuitem {
    display: block;
    float: left;
    color: #154e88;
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
    padding: 4px 2px;

}

#mainmenu div.mainmenuitem a.mainmenuitemactive {
    display: block;
    float: left;
    color: #ffffff;
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
    padding: 4px 2px;
}


#mainmenu div.mainmenuitem img.menuitemright {
    display: block;
    float: left;
}

div#contentcontainer {
    margin: 39px 10px 0 195px;
    position: relative;
    background-color: #3399ff;
    padding: 0;

}

div#contentcontainer div#topline {
    background-color: #3399ff;
    position: relative;
    display: block;
    height: 7px;
}

div#contentcontainer div#topslogan {
    display: block;
    background-color: #3399ff;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

div#contentcontainer div#content {
    background-color: #3399ff;
    position: relative;
    padding: 10px;
    width: 95%;
    text-align: justify;
}

div#contentcontainer div#bottomslogan {
    display: block;
    background-color: #3399ff;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    width: 100%;
}

div#contentcontainer div#bottomline {
    background-color: #3399ff;
    position: relative;
    display: block;
    background-color: #3399ff;
    position: relative;
    height: 7px;
    width: 100%;
}

div#contentcontainer div#content div#localnavy {
    position: relative;
    /*  border: 3px solid #0069d5;  */
    border-top: 2px solid #1881EE;
    border-left: 3px solid #0069d5;
    border-right: 3px solid #0069d5;
    background-color: #0069d5;
    width: 100%;
    float: left;
    margin: 3px;
    font-size: 8pt;

}

div#contentcontainer div#content div#localnavy a.up {
    display: block;
    color: #002862;
    float: left;
/*    width: 100%;   */
    width: 99%;
    text-align: left;
    padding-left: 5px;
    border-bottom: 1px solid #000000;
    text-decoration: none;
}

div#contentcontainer div#content div#localnavy a.right {
    display: block;
    color: #002862;
    float: right;
    text-align: right;
    padding-right: 5px;
    text-decoration: none;

}

div#contentcontainer div#content div#localnavy a.left {
    display: block;
    color: #002862;
    position: relative;
    float: left;
    text-align: left;
    padding-left: 5px;
    text-decoration: none;
}

div#contentcontainer div#content div#body {
    position: relative;
    width: 99%;
    float: left;
    margin: 3px;
    padding: 0;
    color: #154e88;
}

div#contentcontainer div#content div#body h1.abstract {
    padding: 5px;
    margin: 3px 0 0 0;
    color: #000000;
    font-size: 14pt;
    font-weight: bold;
    border-top: 3px solid #999999;
    border-left: 3px solid #999999;
    border-right: 3px solid #999999;
    border-bottom-width: 0;
/*    background-color: #cde6ff;  */
    background-color: #ffffff;
    width: 99%;
    float: left;
}

div#contentcontainer div#content div#body span.abstractauthor {
    display: none;
}

div#contentcontainer div#content div#body span.nickname {
    display: none;
}

div#contentcontainer div#content div#body span.abstractdate {
    display: none;
}

div#contentcontainer div#content div#body div.abstract {
    padding: 5px;
    margin: 0 0 3px 0;
    font-size: 10pt;
    border-top-width: 0;
    border-left: 3px solid #999999;
    border-right: 3px solid #999999;
    border-bottom: 3px solid #999999;
    background-color: #ffffff;
    width: 99%;
    float: left;
    background-image: url('images/abstractbg.gif');
    background-repeat: repeat-x;
    background-position: bottom left;
}

div#contentcontainer div#content div#body div.abstract img {
    float: left;
    margin: 3px 6px 3px 3px;
}

div#contentcontainer div#content div#body div.abstract p {
    clear: left;
}

div#contentcontainer div#content div#body div.article {
    padding: 5px;
    margin: 0 0 3px 0;
    font-size: 10pt;
    border: 3px solid #999999;
/*    background-color: #cde6ff;  */

    background-color: #ffffff;
    background-image: url('images/articlebg.gif');
    background-repeat: repeat-x;
    background-position: bottom left;
    width: 99%;
    float: left;
}

div#contentcontainer div#content div#body div.article div.document {
    padding: 5px;
}

div#contentcontainer div#content div#body div.article div.document h1.title {
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    color: #000000;
    padding: 3px;
    margin: 3px;
}

div#contentcontainer div#content div#body div.article div.document h2,h3,h4,h5,h6 {
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
    color: #000000;
    padding: 3px;
    margin: 3px;
}

div#contentcontainer div#content div#body div.contenticons {
    border: 1px solid #999999;
    background-color: #0069d5;
    width: 99%;
    float: left;
    padding: 7px;
    margin: 3px 0 0 0;
    overflow-x: auto;
}

div#contentcontainer div#content div#body div.contenticons table tr td img {
    border-style: none;
}

div#contentcontainer div#content div#body div.reference {
    padding: 5px;
    margin: 3px 0 0 0;
    color: #000000;
    font-size: 10pt;
    border: 3px solid #0069d5;
    background-color: #0069d5;
    width: 99%;
    float: left;
}

div#contentcontainer div#content div#body div.reference h1.reference {
    padding: 2px;
    margin: 0;
    font-size: 8pt;
    font-weight: bold;
    color: #000000;
}

div#contentcontainer div#content div#body div.reference a.reference {
    font-size: 8pt;
    margin: 1px 5px 1px 0;
    padding: 1px;
}

div#contentcontainer div#content div#body div.values {
    padding: 5px;
    margin: 3px 0 3px 0;
/*    color: #082862; */
/*    background-image: url('images/valuesbg.gif');*/
    font-size: 10pt;
    border: 3px solid #999999;
    background-color: #e6e2e6;
    width: 99%;
    float: left;
}

div#contentcontainer div#content div#body div.values h1.values {
    color: #082862;
}

div#contentcontainer div#content div#body div.values div.short {
    color: #082862;
    border-bottom: 1px solid #000000;
    margin-top: 15px;
    font-size: 10pt;
    width: 99%;
    float: left;
}

div#contentcontainer div#content div#body div.values div.short div.shortabstract img {
    margin: 3px 6px 3px 3px;
}

div#contentcontainer div#content div#body div.values div.short div.shortabstract p {
    margin: 0;
}

div#contentcontainer div#content div#body div.values h1.values {
    padding: 3px;
    margin: 3px;
    color: #000000;
    font-size: 12pt;
    font-weight: bold;
}

#footer {
    display: block;
    position: relative;
    background-image: url('images/footerbg.gif');
    padding: 0;
    margin: 10px;
    color: #ffffff;
    clear: both;
    height: 35px;
}

#footer img {
    display: block;
    height: 35px;
}

#footer img#footerleft {
    float: left;
}

#footer img#footerright {
    float: right;
}

#footer div#contacts {
    font-size: 8pt;
    color: #fafbfc;
    float: left;
    padding: 3px;
    line-height: 13px;
}

#footer div#copyright {
    background-color: transparent;
    font-size: 8pt;
    float: right;
    padding: 6px;
}

#footer div#copyright a {
    color: #fafbfc;
}





#referencemenu {
    clear: right;
    margin-top: 0;
    display: block;
    float: right;
    margin-right: 30px;
    height: 24px;
    padding: 0 2px;
    position: relative;    
}
    
#referencemenu .referencemenuitem {
    display: block;
    float: left;
    background-image: url('images/referencemenuitembg.gif');
    position: relative;
    height: 24px;
}

#referencemenu .referencemenuitem img.referencemenuitemleft {
    display: block;
    float: left;
}
            
#referencemenu .referencemenuitem a {
    padding: 0 2px;
    float: left;
    color: #154e88;
    display: block;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}

#referencemenu .referencemenuitem img.referencemenuitemright {
    display: block;
    float: left;
}



.menublock {
    width: 165px;
    display: block;
    float: left;
    position: relative;
    background-color: #3399ff;
    border-style: none;
    margin-bottom: 5px;
}

.menublock h1.menuheader {
    display: block;
    color: #black;
    font-weight: bold;
    font-size: 12pt;
    margin: 0;
    padding: 3px;
    width: 158px;
    border-bottom: 1px solid #0069d5;
}

.menublock .menubody {
    width: 165px;
    position: relative;

}

.menublock .menubody a {
    display: block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    color: black;
    width: 165px;
    clear: left;
    padding: 3px 10px;
}


.fullimagecontainer {
    border: 3px solid #3199ff;
    text-align: center;
    margin: 15px 10px;
    background-image: url('images/articlebg.gif');
    background-repeat: repeat-x;
    background-position: bottom left;

}

.fullimagecontainer h1.sitetitle {
    position: absolute;
    font-size: 12pt;
    left: 50px;
    top:0;
    padding: 0 5px;
    margin: 0;
    background-color: white;
    float: left;
}

.fullimagecontainer h1.sitetitle a {
    color: #154e88;
    text-decoration: none;
}

.fullimagecontainer h1.fullimage {
    font-size: 16px;
    font-weight: bold;
}

.fullimagecontainer .imagebox {
    text-align: center;
    margin: 10px;
    position: relative;
    overflow: auto;
}


h1, h2, h3, h4, h5 {
    color: #154e88;
}

h1.values {
    display: none;
}