.row {
   width: 95%;
   text-align: left;
   float: left;
   position: relative;
   padding: 10px;

    background-color: #ffffff;
/*
    border-left: 2px solid #999999;
    border-right: 2px solid #999999;
*/    
}

fieldset {
    width: 97%;
}

.row .label {
   font-size: 10pt;
   width: 95%;
   text-align: left;
/*   background-color: #698d23; */
   background-color: #3399ff;
   color: #000000;
   padding: 3px;
   margin: 5px 0;
   position: relative;
   
}

.row .label label {
   text-decoration: none;
   border-style: none;
   color: #ffffff;
}

fieldset .row .label {
    background-color: #ffffff;
    width: 95%;
    background-color: #3399ff;
}

fieldset .row .label label {
    width: 95%;
    color: #ffffff;
}

.row .field {
   width: 95%;
}

.row .field input {
   width: 100%;
}

.row .field input.checkboxType {
   width: 15px;
   height: 15px;
}

.row .field textarea {
    width: 100%;
}

.row .value {
   width: 100%;
   background-color: gray;
}

.row .value select {
    width: 100%;
}

.row .controls input {
    background-color: #3399ff;
    color: #000000;
    margin: 10px 0;
}


div#b {
    background-color: #ffffff;
    border: 2px solid #999999;
}


div#body h3 {
    margin: 0;
    padding-left: 7px;
    width: 96%;
    background-color: #ffffff;
}

div#body form div div.row p {
    background-color: #ffffff;
    border-style: none;
    
}

div#body form div p {
    font-size: 12pt;
    font-weight: bold;
    color: #000000;
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: block;
}
