[buildout]
develop = .
parts = openldap test

[openldap]
recipe = zc.recipe.cmmi
url = ftp://ftp.openldap.org/pub/OpenLDAP/openldap-stable/openldap-stable-20071118.tgz
extra_options = --enable-local --enable-bdb --disable-overlays --disable-slurpd --disable-shared --enable-fast-install

[test]
recipe = zc.recipe.testrunner
eggs = z3c.recipe.ldap

