/* Copyright(c) gert.cuykens@gmail.com */
html,body,div {margin:0px;
               border:0px solid black; 
               padding:0px;
               background-color:white}

input {width:142px;
       margin:2px;}

#form {margin-top:11px;
       width:230px;
       text-align:right;}

#menu {position:absolute;
       left:80px;
       width:145px;
       text-align:right;}

#products-dg {position:absolute;
              top:0px;
              left:240px;}

#select{width:145px;}
#update{width:145px;}
#delete{width:145px;}
#insert{width:145px;}
#session{width:145px;}
#status{position:absolute;left:83px;top:250px;}
