[buildout]
develop = .
parts = test bundlemaker

# This one gives test failures even when "python setup.py test" works
# fine.  Somehow zc.recipe.egg cannot be found.
[test]
recipe = zc.recipe.testrunner
eggs = z3c.recipe.eggbasket


[bundlemaker]
recipe = z3c.recipe.eggbasket:creator
egg = martian
versionfile = http://grok.zope.org/releaseinfo/grok-0.12.cfg
