[buildout]
develop = .
parts = test coverage docs

[test]
recipe = zc.recipe.testrunner
eggs = z3c.formjs [test]

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage

[docs]
recipe = z3c.recipe.sphinxdoc
eggs = z3c.formjs [docs]
