.collage-slider ul, .collage-slider li{
    margin:0;
    padding:0;
    list-style:none;
    }
.collage-slider, .collage-slider li{ 
    width:500px;
    height:200px;
    overflow:hidden; 
    }
span#prevBtn{}
span#nextBtn{}      
