[buildout]
develop = .
parts = zcontact test coverage
find-links = http://download.zope.org/distribution/
# modify the line below to something like:
#   eggs-directory = /home/username/buildout-eggs
# if you want buildout to look for eggs in some common installation
# area.
eggs-directory = eggs
newest = false

[zcontact]
recipe = zc.recipe.egg
eggs = zcontact
       Paste
       PasteScript
       PasteDeploy

[test]
recipe = zc.recipe.testrunner
eggs = zcontact [test]
defaults = ['--tests-pattern', '^f?tests$$', '-v']

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage
