.content {

padding: 2px;
margin: auto

}

.content .header {
/*height: 20px;    naranja #FF9148*/
background: #EEEEEE;
border-bottom: 2px solid #FF9148;
padding: 2px;
margin: auto
}

.content .header h3 {
/*height: 20px;*/
color: #808080;
margin: 5px;
font-size: 14px;
}

.content .container {

padding: 10px;
margin: auto

}

.content .footer {

padding: 10px;
margin: auto
}
