[buildout]
develop = .
newest = false

parts = test
        interpreter
	i18n

versions = versions
extends = http://download.zope.org/zope3.4/versions-3.4.0c7.cfg

[zope3]
location = .

[test]
recipe = zc.recipe.testrunner
eggs = ice.template [test]
defaults = ['--tests-pattern', '^f?tests$', '-v']

[interpreter]
recipe = zc.recipe.egg
eggs = ice.template
interpreter = py

[i18n]
recipe = lovely.recipe:i18n
package = ice.template
domain = ice.template
location = src/ice/template
output = locales
zcml = 
     <include package="zope.app.zcmlfiles" />
     <include package="ice.template" />
