[buildout]
extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg
develop = .
parts = python test coverage-test coverage-report
versions = versions

[python]
recipe = zc.recipe.egg
interpreter = py
eggs = z3c.feature.zope

[test]
recipe = zc.recipe.testrunner
eggs = z3c.feature.zope [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.feature.zope [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[gtkeggdeps]
recipe = zc.recipe.egg
scripts = gtkeggdeps
eggs = gtkeggdeps
       z3c.feature.zope
