
#as-form-wrapper{
    background:transparent;
    width:60em;
}

.as-hide-show, .documentContent .as-hide-show a{
    padding-right:0.2em;
    color:#000;
    text-align:right;
    font-weight: bold;
}
.documentContent .as-hide-show a:hover{
    text-decoration:underline;
}
#as-search-form{
    padding-left:0.4em;
    padding-top:0.4em;
}
.as-multi-selector{
    width:15em;
}

.as-submit input{
    background-color:#FFF;
    padding-bottom:0.1em;
    margin-right:0.5em;
    padding-right:0em;
}

.as-field{
    margin-bottom:0;
    margin-right:0.2em;
}
.as-field-tip{
    color:#000;
    font-weight: bold;
}
.as-field-tip:hover{
    text-decoration:underline;
}

div.as-tooltip{
    display:none;
    background:transparent;
    position:absolute;
    top:0;
    left:0;
}
div.as-tooltip img{
    margin-top:-1px;
    margin-left:20px;
}
div#in-tipdiv{
    padding:0.4em 1em;
    border:solid 1px #567;
    background-color:#FFF;
    font-size: 10px;
    font-family: verdana,lucida,sans-serif;
}
div.in-as-tooltip p{
    margin:0.5em 0pt;
    padding:0pt;
}
div#as-noresults-msg{
   background-color:#DDDDDD;
   margin-top:20px;
   text-align:center;
   width:62em;
   padding:20px;
}

#as-result-table{
    width:75em;
}
#as-title-th{
    width:60%;
}
#as-creator-th,#as-modified-th{
    text-align:center;
    width:2%;
}
a.as-tabhead{
    color:#000;
}
a.as-tabhead-arrow{
    color:blue;
    font-size:14px;
}

a.as-tabhead:hover{
    text-decoration:underline;
}
#as-result-heading{
    margin-top:1.5em;
}

#as-number-of-results{
    font-family: verdana,lucida,sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.as-result-list td.as-result-savedby,
.as-result-list td.as-result-date{
    text-align:center;
    padding-left:2em;
    padding-right:2em;
    color:blue;
}
.as-pagination .listingBar{
    width:77em;
    background-color:#6699DD;
    font-weight:bold;
}
.as-pagination .listingBar a:hover{
    text-decoration:underline;
}
.as-pagination .listingBar a{
    color:#FFF;
}
.documentContent ul[name=as-result-info]{
    display:none;
}
.documentContent .as-info-row li{
    padding-left:1em;
    list-style-type:none;
    list-style-image:none;
}
td.as-result-title{
    width:60%;
}
td.as-result-savedby{
    width:18%;
}
td.as-result-date{
    width:22%;
}
.documentContent .as-result-title a:visited{
    color:maroon;
}
.documentContent .as-result-title a{
    text-decoration:none;
    color:green;
    padding-left:0.2em;
    margin-left:0.2em;
    font-size:1.5em;
    border-bottom:none;
}
.documentContent
.as-result-title
a.as-info-hl {
    color:blue;
    font-size:1em;
}
.documentContent .as-result-title a:hover{
    text-decoration:underline;
}
.highlightedSearchTerm {
background-color:#6efe46;
}