[buildout]

parts = svn-package 
        test 
        devpython
develop = parts/svn-package/xooof.spectools

[svn-package]
recipe=iw.recipe.subversion
urls= https://xooof.svn.sourceforge.net/svnroot/xooof/python/xooof.spectools/trunk/ xooof.spectools

[versions]
#lxml = 1.3.6

[test]
recipe = zc.recipe.testrunner
eggs = xooof.schema.dev
       xooof.spectools

# installs bin/devpython to do simple interpreter tests
[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = xooof.schema.dev
       xooof.spectools

