#glowormPageWrapper { position: fixed; top: 0; left: 0; right: 0; bottom: 50px; overflow: auto; }

#glowormPanel { position: absolute; bottom: 0; left: 0; width: 100%; height: 50px; background:#444; border-top:2px inset #FFF; color: #FFF; }
#glowormPanel table { color: #FFF; }
#glowormPanel a { color: #FFF; }

#glowormPanel h2 { color: #FFF; font-size: 1.0em; font-weight: bold; border: none; margin: 0;}
#glowormPanel h4 { color: #FFF }

.currentlySelectedElement{ border: 2px dashed red !important; }

#glowormPanel table th { text-align: left; }
#glowormPanel table td { vertical-align: top;}

#glowormPanel table table { background: #555; }
#glowormPanel table table td, #glowormPanel table table td { border: 1px solid #444; }

#glowormPanel .visibleViewlet .showViewlet { display: none; }
#glowormPanel .visibleViewlet .hideViewlet { display: inline; }
#glowormPanel .hiddenViewlet .showViewlet { display: inline; }
#glowormPanel .hiddenViewlet .hideViewlet { display: none; }

#glowormPanel #glowormPanelHeader { padding: 1px; background: #333; border-bottom: 1px inset #000; /*cursor: n-resize;*/}
#glowormPanel #glowormPanelHeader .closeLink{ float: right; margin-bottom: 3px; }

#glowormPanel #glowormPanelBody { padding: 1px 1em; }

#glowormPanel a.viewletMoveUp, 
#glowormPanel a.viewletMoveDown { text-decoration: none; }
