[buildout]
extends = base.cfg
extensions = mr.developer buildout.dumppickedversions
sources = sources
sources-dir = extras
auto-checkout =
    plone.app.blob

[sources]
plone.app.blob = svn https://svn.plone.org/svn/plone/plone.app.blob/trunk

[versions]
ZODB3 = 3.8.3
zope.testing = 3.8.3

[zope2]
fake-zope-eggs = true
skip-fake-eggs = zope.proxy zope.testing

[instance]
blob-storage = var/blobstorage
eggs +=
    plone.app.blob
    Products.contentmigration
zcml +=
    plone.app.blob
    Products.contentmigration
