
div.abstract {
  width: 95%;
}

div.shortabstract {
   width: 95%;
}

div.shortheader {
   width: 95%;
}


#referencemenu {
	width: 150px;
}
#mainmenu {
	width: 150px;
}

#header {
	margin-right: 175px;
	}

#column {
	right: 0px;
	}

#mainbody {
	}

#content {
	border-left: solid 0x #00ff00; 
	}

#body	{
	height: 100%;
}


#formplace {
	width: 100%;
}

#bottomformplace {
	right: 125px;
}

form.login {
	margin: 0px;
	}

#menucolumn {
	top: 0px;
	z-index: 5;
}

a.shortheader {
   width: 50%; 
}

a.left {
   width: 30%;
}

a.right {
   width: 30%;   
}

