[buildout]
develop = .
parts =
    test
    py

[test]
recipe = zc.recipe.testrunner
environment = test-environment
eggs =
   chameleon.core

[test-environment]
CHAMELEON_DEBUG = False
CHAMELEON_CACHE = False
CHAMELEON_STRICT = True

[py]
recipe = zc.recipe.egg
eggs =
    chameleon.core
    Sphinx
interpreter = py
environment = test-environment
scripts = sphinx-build
