.history_panel { 
    font-weight: bold;
}

.history_panel .status {
    border: thin solid gray;
    display: block;
    padding: 0.2em;
    text-align: center;
}

.history_panel .approves {
    background-color: lightgreen;
    border: thin solid green;
    display: block;
    padding: 0.2em;
}

.history_panel .rejects {
    background-color: pink;
    border: thin solid red;
    display: block;
    padding: 0.2em;
}

.history_panel .approver {
}

.history_panel .rejecter {
}

.history_panel .approve_button,
.history_panel .reject_button {
    padding: 0.3em;
    width: 5em;
    text-align: center;
}

.history_panel .approve_button a,
.history_panel .reject_button a {
    color: white;
    font-weight: bold;
}

.history_panel .approve_button {
    background-color: green;
}

.history_panel .reject_button {
    background-color: red;
}

