/* GLOBAL */
* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
	font-family: "Trebuchet MS", verdana, arial, sans-serif;
	font-size: 12px;
	color: #333;
	background: url("images/bg.gif") repeat;
}
#container {
	position: relative;
	margin: 0px auto;
	text-align: left;
	width: 800px;
	background: url("images/contentbg.jpg") repeat-y;
}

/* HEADER */
#header {
	width: 660px;
	height: 120px;
	background: url("images/headerbg.jpg") no-repeat;
	padding-top: 105px;
	padding-left: 140px;
}
#intro {
	width: 540px;
	margin-left: 100px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #999;
}
#intro img {
	margin: 10px;
}

/* SIDEBAR */
#links {
	position: absolute;
	right: 50px;
	top: 300px;
}
#links li, #links h4 {
	list-style-type: none;
	width: 175px;
	text-align: center;
	background: #fff;
	border: 1px solid #999;
	border-left: none;
	padding: 2px;
	margin: 2px;
}
#links li a {
	font-weight: bold;
	text-decoration: none;
	color: #666;
}

/* CONTENT */
#content {
	width: 540px;
	padding-left: 100px;
	padding-bottom: 8px;
}
.entry {
	margin-bottom: 50px;
}
.entry h3 {
	font-size: 16px;
	color: #110d41;
}
.entry p {
	margin: 10px 0;
}
.entry .byline {
	text-align: right;
}
/* FOOTER */
#footer {
	width: 540px;
	text-align:center;
	padding-bottom: 20px;
	margin-left: 100px;
	border-top: 1px dotted #666;
}

