[buildout]
develop = .
extends = http://grok.zope.org/releaseinfo/grok-1.0b2.cfg
versions = versions
parts = test

[versions]
SQLAlchemy = 0.5.6
z3c.saconfig = 0.9.1
docutils = 0.5
transaction = 1.0.0
zope.sqlalchemy = 0.4

[test]
recipe = zc.recipe.testrunner
eggs = megrok.rdb
defaults = ['--tests-pattern', '^f?tests$', '-v']
