h1.facetedNavigationFirstHeading {
  text-align: center;
  margin-bottom: 1em;
}

#facetedNavigation ul {
  list-style: none;
  margin: 0;
}

#facetedNavigation div.block {
  margin-bottom: 1em;
  padding: 0;
}

#facetedNavigation div.block h3 span.showOrHideFacetBlockButton {
  background-image: url("treeExpanded.gif");
  background-position: 0 0;
  background-repeat: no-repeat;
  float: right;
  width: 9px;
  height: 9px;
  margin: 0;
  padding: 0;
}

#facetedNavigation div.hidden h3 span.showOrHideFacetBlockButton {
  background-image: url("treeCollapsed.gif");
}

#facetedNavigation div.block h3 {
  border: 1px solid black;
  margin: 0;
  padding: 0.2em;
  text-align: center;
}

#facetedNavigation div.block div.notApplicable {
  border: 1px solid black;
  border-top: 0;
  text-align: center;
  font-style: italic;
}

#facetedNavigation div.hidden div.notApplicable {
  display: none;
}

#facetedNavigation div.block ul {
  border: 1px solid black;
  border-top: 0;
  padding: 0;
  margin: 0;
}

#facetedNavigation div.hidden ul {
  display: none;
}

#facetedNavigation div.block li {
  font-size: smaller;
  margin: 0 0.4em;
  padding: 0;
}

#facetedNavigation div.block ul li input {
  margin-left: 0;
}

#facetedNavigation div.block li label {
  font-weight: normal;
}

#facetedNavigation #items {
  margin-left: 1em;
  margin-right: 1em;
}

#facetedNavigation #items ul {
  margin-top: 1em;
}

#facetedNavigation #items ul li {
  list-style-image: none;
}

div.batch {
  text-align: center;
}

div.batch ul {
  display: inline;
}

div.batch ul li {
  display: inline;
}

div.batch ul li span.current {
  font-weight: bold;
}