#portal-column-content .roundabout {
	display: none;
}
.roundabout-wrapper {
	width: 360px;
	height: 280px;
	position: relative;
}
.roundabout-container {
	top: 20px;
	left: 20px;
	position: absolute;
}
.roundabout-arrow-nw {
	position: absolute;
	background-image: url(++resource++collective.roundabout.images/arrow_nw.gif);
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
}
.roundabout-arrow {
	position: absolute;
	width: 20px;
	height: 20px;
}
.roundabout-arrow-nw:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_nw_over.gif);
	cursor: nw-resize;
}
.roundabout-arrow-ne {
	background-image: url(++resource++collective.roundabout.images/arrow_ne.gif);
	top: 0px;
	left: 340px;
}
.roundabout-arrow-ne:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_ne_over.gif);
	cursor: ne-resize;
}
.roundabout-arrow-se {
	background-image: url(++resource++collective.roundabout.images/arrow_se.gif);
	top: 260px;
	left: 340px;
}
.roundabout-arrow-se:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_se_over.gif);
	cursor: se-resize;
}
.roundabout-arrow-sw {
	background-image: url(++resource++collective.roundabout.images/arrow_sw.gif);
	top: 260px;
	left: 0px;
}
.roundabout-arrow-sw:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_sw_over.gif);
	cursor: sw-resize;
}
.roundabout-arrow-n {
	background-image: url(++resource++collective.roundabout.images/arrow_n.gif);
	top: 0px;
	left: 170px;
}
.roundabout-arrow-n:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_n_over.gif);
	cursor: n-resize;
}
.roundabout-arrow-e {
	background-image: url(++resource++collective.roundabout.images/arrow_e.gif);
	top: 130px;
	left: 340px;
}
.roundabout-arrow-e:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_e_over.gif);
	cursor: e-resize;
}
.roundabout-arrow-s {
	background-image: url(++resource++collective.roundabout.images/arrow_s.gif);
	top: 260px;
	left: 170px;
}
.roundabout-arrow-s:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_s_over.gif);
	cursor: s-resize;
}
.roundabout-arrow-w {
	background-image: url(++resource++collective.roundabout.images/arrow_w.gif);
	top: 130px;
	left: 0px;
}
.roundabout-arrow-w:hover {
	background-image: url(++resource++collective.roundabout.images/arrow_w_over.gif);
	cursor: w-resize;
}
