[buildout]
develop = .
extends = versions.cfg
parts = test clockin
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = clockin

[clockin]
recipe = zc.recipe.egg:scripts
eggs = clockin
script = clockin
entry-points = clockin=clockin.clockin:main

