/* 
	Author:	    Ilias Lazaridis - http://lazaridis.com
	Copyright:  2006 by Ilias Lazaridis
	Distribute: Use and distribute freely. Please preserve header.
*/

@import url("pudge.css");
@import url("screen.css");
@import url("silvercity.css"); /* SilverCity default.css, code coloring */

/* further css import at the end of the document */

/*--- modifications for screen.css ----------------------------------------- */


body {
background-color:#999999; /* outer background color */
}

div#page {
background-color:#FFFFFF; /* dodument background color */
}

div#header {
background-color: #B30000; /* header background color */
}

ul#menu li a.selected {
font-weight:bold;
color:#FFFFFF;
}

/* extends the width of te menue entries*/
ul#menu {
/*margin: 5px 60px 5px 60px; */
margin-top:5px;
margin-bottom:5px;
margin-left:inherit;
margin-right:inherit;
}

/*--- pudge & rst ---------------------------------------------------------- */

h1.pudge-member-page-heading { 
  font-size: 200%;
}
h4.pudge-member-page-subheading { 
  font-size: 130%;
  font-style: italic;
  margin-top: -2.0em;
  margin-left: 2em;
  margin-bottom: .3em;
  color: #aaa; /* #FF5000 */
}

a.toc-backref {
  font-size:18px;
  }
  
a.reference {
  font-weight:normal;
  color:#000099;
}

/* --- rst --------------------------------------------------------------------*/

tt.literal, pre.literal-block{ 
  background-color: #EEEEEE; 
  font-size:12px;
}

pre.literal-block{
  margin-left: 10px;
  margin-right: 10px;
}

/* --- rst code-coloring, SilverCity ------------------------------------------*/

div.code-block{
margin-left: 10px ;
margin-right: 10px ;
margin-bottom: 15px ;
background-color: #eeeeee;
font-family: "Courier New", Courier, monospace;
font-size: 10pt;
}

/*--- place your modifications into this file ------------------------------ */

@import url("custom.css");

