/* This style is based on the following theme:

	Kubrick v1.2.5  for  WordPress 1.2
	 http://binarybonsai.com/kubrick/

	This theme was designed and built by Michael Heilemann,
	whose blog you will find at http://binarybonsai.com/
	
*/

body {
color: #333;
background-color: #444;
font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
text-align: center;
margin: 0;
padding: 0;
}

a {
color: #b30000;
text-decoration: none;
border-bottom: 1px dashed #FFBFBF;
}

a:hover {
border-bottom: 1px solid #b30000;
}

a:selected {
font-style:oblique
}

a img {
border-width: 0;
}

div#page {
-moz-border-radius: 1em;
border-radius: 1em;
background-color: #eee;
width: 760px;
margin: 20px auto;
border: 1px solid #999;
}

div#header {
-moz-border-radius: 1em;
border-radius: 1em;
color: #FFBFBF;
background-color: #B30000;
margin: 10px;
border-top: 1px solid #333;
border-left: 1px solid #333;
border-bottom: 1px solid #333;
border-right: 1px solid #333;
}

div#header h1 {
margin-bottom: 0;
font-weight: bold;
}

div#header h1 a {
color: #eee;
border: 0;
}

ul#menu {
border-top: 1px solid #333;
margin: 5px 120px 5px 120px;
}

ul#menu li {
list-style: none;
display: inline;
margin: 0 5px 0 5px;
}

ul#menu li a {
text-decoration: none;
border-bottom: 0px;
color: #FFBFBF;
}

ul#menu li a:hover {
text-decoration: underline;
}

div#main {
font-size: 0.8em;
width: 72%;
float: left;
border-right: 1px solid #aaa;
text-align: left;
padding: 0 20px 20px 20px;
}

div#main h2 {
margin-top: 0;
}

div#sidebar {
font-size: 0.7em;
margin-left: 78%;
width: 21%;
text-align: left;
}

div#sidebar h3 {
border-bottom: 1px dashed #aaa;
margin-bottom: 0;
}

div#sidebar span.date {
font-style: italic;
color: black;
background-color: #ddd;
padding: 1px 5px 1px 2px;
}

div#sidebar p {
margin-top: 0;
}

div#banners {
margin-top: 50px;
text-align: center;
}

div#banners img, div#banners a {
border: 0px;
}

div#banners img {
margin: 5px 10px 5px 10px;
}

div.buttons {
text-align: center;
}

div.buttons img, div.buttons a{
border: 0px;
}

div#pie {
clear: both;
font-size: 0.7em;
border-top: 1px solid #aaa;
}

/* For the FAQ */
dt {
font-weight: bold;
font-size: 110%;
}

dd {
margin-bottom: 15px;
}

/* For the downloads */

table.downloads {
border-collapse: collapse;
border: 1px solid #007D00;
width: 500px;
}

table.downloads  th {
background-color: #BFFFBF;
border-bottom: 1px solid #007D00;
}

table.downloads td, table.downloads th {
border-left: 1px solid #007D00;
padding-left: 5px;
}

td.center, th.center {
text-align: center;
}

td.right, th.right {
text-align: right;
}


/* For the screenshots */
div.screenshot {
padding-top: 10px;
clear: both;
}

div.screenshot img {
float: left;
margin-right: 10px;
}

div.screenshot p {
margin-left: 210px;
margin-top: 0;
}

/* For the developers */
ul.links {
list-style: none;
padding: 0;
}

