[buildout]
develop = ..
parts = logcheck


[logcheck]
recipe = tha.recipe.logcheck
logfiles = var/example.log
recipient = someone@example.com
ignores = 
    bla bla
    test
    we\ird$%*()regex

       