form.loginbox span.label {
  font-weight: bold;
  color: #000000;
  display: block;
}

form.loginbox hr {
  width: 50%;
  color: #green;
}

form.loginbox span {
  font-weight: bold;
  color: #000000;
}

form.loginbox input#loginbox-password, input#loginbox-login, input#loginbox-submit, input#loginbox-openid {
  width: 98%;
}


form.loginbox select {
  width: 90%;
}

form.loginbox div.error {
  margin: 2px;
  left: 0px;
}

#body {
/*    position: relative; 
    overflow: hidden; */
    overflow: hidden;
}

div.message {
    font-size: 12pt;
    font-weight: bold;
    background-color: #c0c0c0;
    color: #000000;
    margin: 5px;
    border: solid 2px green;
    padding: 5px;
    text-align: center;
}

/* classes for displaying messages */

.error {
    font-size: 12pt;
    font-weight: bold;
    background-color: #c0c0c0;
    color: #000000;
    margin: 5px;
    border: solid 2px red;
    padding: 5px;
    text-align: center;
    display: block;
}

.warning {
    font-size: 12pt;
    font-weight: bold;
    background-color: #c0c0c0;
    color: #000000;
    margin: 5px;
    border: solid 2px blue;
    padding: 5px;
    text-align: center;
    display: block;
}

.trace {
    font-size: 12pt;
    font-weight: bold;
    background-color: #c0c0c0;
    color: #000000;
    margin: 5px;
    border: solid 2px green;
    padding: 5px;
    text-align: center;
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial;
    min-width: 760px;
    text-align: justify;
}

.button {
    font-weight: bold;
    padding: 3px 8px;
    color: #000000;
    font-size: 8pt;
    background-color: #a2d935;
}


#header {
/*    background-color: #698d3c;   */
    height: 80px;
    position: relative;
}

#header img {
   margin: 0;
}

#mainmenu {
    text-align: right;
    background-color: #a2d935;
    float: right;
    height: 27px;
    vertical-align: middle;
    margin-right: 1px;
    white-space: nowrap;
}

#mainmenu .mainmenuitem {
    height: 27px;
    color: #000000;
    font-size: 10pt;
    text-decoration: none;
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
}

#mainmenu .mainmenuitemactive {
    height: 27px;
    color: #000000;
    font-size: 10pt;
    text-decoration: none;
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
}

#mainmenu a.mainmenuitem:hover {
    background-color: #316712; /* 698d3c; */
    color: #ffffff;
}


#breadcrumbbar {
    height: 27px;
    font-size: 10pt;
    color: #ffffff;
    background-color: #316712; /* 698d3c; */
    margin-bottom: 10px;
    clear: both;
    text-align: right;
}

#breadcrumbbar div#breadcrumbs {
    display: block;
    position: relative;
    padding-top: 5px;
    padding-right: 20px;
}

#breadcrumbs a,span {
    position: relative;
    text-decoration: none;
    color: #ffffff;
}

#leftcolumn {
    float: left;
    width: 194px;
    min-width: 194px;
}



.menublock a.menuheader {
    display: block;
    background-color: #316712; /* #698d3c; */
    text-decoration: none;
    color: #ffffff;

    font-weight: bold;
    font-size: 10pt;
    padding: 5px 0 5px 10px;
    margin: 0;
}

.menublock div {
   padding: 10px;
}


.clouditem0, .clouditem1, .clouditem2, .clouditem3, .clouditem4, .clouditem5, .clouditem6  {
   display:inline;
   position: relative;
   text-align: justify;
   text-decoration: none;
   font-size: 10pt;
   color: #000000;
}       

.clouditem0 {
   font-size: 60%;
}

.clouditem1 {
   font-size: 70%;
}


.clouditem2 {
   font-size: 80%;
}


.clouditem3 {
   font-size: 90%;
}


.clouditem4 {
   font-size: 100%;
}


.clouditem5 {
   font-size: 110%;
}


.clouditem6 {
   font-size: 120%;
}


.clouditem7 {
   font-size: 130%;
}



.menublock a.menuitem {
    display: block;
    padding: 2px 5px;
    font-size: 10pt;
    text-decoration: none;
    color: #000000;
    margin: 5px;
}

.menublock a.menuitem:hover {
/*    background-color: #698d3c;   */
/*    color: #ffffff;              */
    color: #0054ff;
}

.menublock a.selected {
    background-color: #316712; /* #698d3c; */
    color: #ffffff;
}

.menublock {
    margin: 0 5px 5px 5px;
    border: solid 2px #99ba51;
}

.menublock .menuheader {
    background-color: #316712; /* #698d3c; */
    color: #ffffff;
    font-weight: bold;
    font-size: 10pt;
    padding: 5px 0 5px 10px;
    margin: 0;
}

.menublock .menubody {
    font-size: 10pt;
    padding: 5px;
}

.menublock .menubody a {
    display: block;
    padding: 2px 10px;
    text-decoration: none;
    color: #000000;
}
.menublock .menubody a:hover {
/*    background-color: #698d3c; */
/*    color: #ffffff;            */
    color: #0054ff;
}



.menublock .menubody a.menuitem {
    display: block;
    padding: 2px 10px;
    text-decoration: none;
    color: #000000;
}


.menublock .menubody a.menuitem:hover {
/*    background-color: #698d3c;  */
/*    color: #ffffff;             */
    color: #0054ff;
}


.menublock .menubody a.selected {
    background-color: #316712; /* #698d3c; */
    color: #ffffff;
}


.menublock .menubody a.more {
    font-weight: bold;
    color: #0054ff;
    font-size: 8pt;
    text-decoration: none;
}

div.friendlist div.person {
    border: 2px solid gray; /* #dddddd; */
}

div.person {
    float: left;
    margin: 2px;
    width: 80px;
    min-height: 190px;
    text-align: center;
    position: relative;
}


div.person div.imagebox {
    width: 100%;
    height: 80px;
    margin-left:3px;
    text-align: center;
}

div.person div.imagebox img {
    border-style: none;
}


div.person a {
    font-weight: bold;
    font-size: 7pt;
    color: #000000;
    text-decoration: none;
    display: block;
    clear: left;
    position: relative;
}

div.person a span {
    display: block;
    clear: left;
}
div.person a span.personname {
    display: block;
    min-height: 35px;
}

div.person a span.personstatus {
    display: block;
    min-height: 20px;
}


div.person a span.iscommunity {
    display: block;
    font-weight: normal;
    min-height: 20px;
}


div.community {
    float: left;
    margin: 2px;
    width: 80px;
    min-height: 190px;
    text-align: center;
    position: relative;
    border: 2px solid #99ba51; /*green;  #b6eca3; */
}


div.community div.imagebox {
    width: 100%;
    height: 80px;
    margin-left:3px;
    text-align: center;
}

div.community div.imagebox img {
    border-style: none;
}


div.community a {
    font-weight: bold;
    font-size: 7pt;
    color: #000000;
    text-decoration: none;
    display: block;
    clear: left;
    position: relative;
}

div.community a span {
    display: block;
    clear: left;
}

div.community a span.communityname {
    display: block;
    min-height: 35px;
}

div.community a span.communitystatus {
    display: block;
    min-height: 20px;
}


div.community a span.iscommunity {
    display: block;
    font-weight: bold;
    min-height: 20px;
    color: #316713;
}



#rightcolumn {
    float:right;
    width: 200px;
    clear: right;
    min-width: 200px;
}

#search {
    margin-left: 205px;
    margin-right: 205px;
    margin-bottom: 10px;
}
#search h1 {
   font-size: 10pt;
   font-weight: bold;
}

#mediaheader {
    font-size: 1pt;
    color: #ffffff;
    display: none;
}

#localnavy {
    overflow: hidden;
    padding: 5px;
    position: relative;
    margin-bottom: 10px;
    font-size: 8pt;
    border-top: 2px solid #99ba51;
    border-bottom: 2px solid #99ba51;
}

#localnavy .up {
    float: left;
    width: 98%;
    text-align: center;
    color: #000000;
    font-weight: bold;
}

#localnavy .left {
    float: left;
    width: 49%;
    text-align: left;
    color: #000000;
    font-weight: bold;
}

#localnavy .right {
    float: right;
    width: 49%;
    text-align: right;
    color: #000000;
    font-weight: bold;
}

#content {
    position: relative;
    margin-left: 205px;
    margin-right: 205px;
    min-width: 350px;
}


#content {
    position: relative;
    margin-left: 205px;
    margin-right: 205px;
    min-width: 350px;
}

/* ABSTRACT */

h1.abstract {
   font-size: 12pt;
   color: #000000;
   font-weight: bold;
}

.abstractauthor {
   font-size: 8pt;
   color: #000000;
}

.abstractauthor a.nickname {
    color: #000000;
    text-decoration: none;
}

.abstractauthor a.nickname:hover {
    color: #0054ff;
}


.abstractdate {
    font-size: 8pt;
    color: #000000;
}

div.abstract {
    font-size: 10pt;
    overflow: auto;
    position: relative;
}

div.abstract p {
/*    text-indent: 40pt;   */
}


div.abstract img {
    margin-right: 15px;
    display: block;
    float: left;
    border-width: 0;
}

div.abstract ul li {
    margin-left: 30px;
}

div.abstract ol li {
    margin-left: 30px;
}

/* VALUES */


div.values {
    color: #000000;
    font-size: 10pt;
    position: relative;
    width:98%;
    float: left;
}

h1.values {

    display: none  
}


/* SHORT */

.short {
    margin: 5px 0;
    font-size: 10pt;
    width: 100%;
    position: relative;
    float: left;
    position: relative;
}

.shortheader {
    font-size: 10pt;
    padding: 5px 0 0 10px;
    margin: 0;
    width: 100%;
    float: left;
}

.shortheader .shorttitle {
    font-weight: bold;
    font-size: 12pt;
/*    color: #ffffff; */
}

.shortheader .shortdate {
    color: #000000;   
}

.shortheader .shortauthor {
    color: #000000;  
}

.shortabstract {
   padding: 0 10px 0 10px;
   position: relative;
   clear: left;
}

.shortabstract img {
    display: block;
    float: left;
    margin: 7px;
    padding: 0;
}

.shortabstract p {
    margin-top: 3px;
}

/* DOCUMENT */

.document {
   font-size: 10pt;
}

.document h1 {
   font-size: 14pt;
   font-weight: bold;
}


.document h2, .document h3 {
   font-size: 12pt;
   font-weight: bold;
}


/* ANNOTATIONS */
.annotations {
    font-size: 8pt;
    position: relative;
    margin: 10px;
    width: 300px;
    float: right;
}

.annotation {
    font-size: 8pt;
    border: solid 2px #99ba51;

}

.annotation h1.annotation {
    background-color: #316712; /* #698d3c; */
    font-size: 10pt;
    padding: 0 0 0 10px;
    margin: 0;
    border: 1px solid #99ba51;
}


/* ARTICLE */

.article {
    width: 100%;
    overflow: auto;
    margin: 5px 0;
    font-size: 10pt;
    float: left;
}

.article p {
    text-align: justify;
/*    text-indent: 40pt;  */
}

/* REFERENCE */

div.reference {
    margin-top: 10px;
    border: solid 2px #99ba51;
    position: relative;
    clear: left;
    float: left;
    width: 90%;
}

div.reference h1.reference {
    background-color: #698d2c;
    font-size: 10pt;
    margin: 0;
    border-style: none;
}

div.reference a.reference {
    font-size: 10pt;
    border-style: none;
    display: block;
}

#referencemenu {
    height: 27px;
    background-color: #a2d935;
    position: relative;
    float: right;
    margin-right: 1px;
}

#referencemenu a.mainmenuitem {
    display: table-cell; 
    height: 27px;
    color: #000000;
    font-size: 10pt;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 10px;
/*    float: left; */
}

#referencemenu a.mainmenuitem:hover {
    background-color: #316712; /* #698d3c; */
    color: #ffffff;
}


.friendlist {
    width: 99%;
    font-size: 10pt;
    border: 2px solid #99ba51;
    padding: 0 0 2px 0;
    position: relative;
/*    overflow: auto;  */
}

.friendlist .friendlistheader {
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
    padding: 5px 0 5px 10px;
    background-color: #316712; /* #698d3c; */
    color: #ffffff;
    margin: 0;
}

.friendlist a {
    color: #000000;
}

.comments {
    position: relative;
    width: 100%;
    float: left;
    margin-top: 10px;
    clear: both;
}

.commentsheader {
    padding-left: 5px;
    background-color: #a2d935;
    font-size: 10pt;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    overflow: auto;
}

.comment {
    position: relative;
    border-bottom: 3px solid #a2d935;
    width: 100%;
    overflow: auto;
}

.commentheader {
    font-size: 10pt;
    border-bottom: 1px solid #a2d935;
    position: relative;
    color: #000000;
    font-weight: bold;
    padding: 5px;
    width: 97%;
    overflow: auto;
}

.commentheader .commentauthor {
    float: left;
}

.commentheader .commentauthor a {
    color: #000000;
    text-decoration: none;
}

.commentheader .commentdate {
    float: right;
}


.commentauthorimage {
    float: left;
    width: 100px;
    height: 100px;
    border-right: 1px solid #a2d935;
    border-bottom: 1px solid #a2d935;
    padding: 5px;
    margin-right: 15px;
    text-align: center;
}

.commentauthorimage img {
    border-style: none;
}

.commentabstract {
    font-size: 10pt;
    text-align: justify;
    padding: 5px;
}

.commentadd {
    margin: 5px;
    font-size: 8pt;
    text-align: left;
}

.commentadd a {
    color: #0054ff;
    text-decoration: none;
}


#footer {
    clear: both;
    background-color: #316712; /* #698d3c; */
    padding: 0 10px 0 10px;
    height: 27px;
    color: white;
    font-size: 10pt;
    text-align: right;
    margin-bottom: 5px;
}

#footer div {
    padding-top: 1px;
    color: #ffffff;
}

#footer div a {
    color: #ffffff;
}

#editormenu {
	display: block;
	position: fixed;
	bottom:0;
	right:0;
	z-index: 20;
}

a.editormenu {
	border: solid 2px #99ba51;
	display: inline;
	padding: 0px 5px;
	color: #ffffff;
   	text-align: center;
	background-color: #316712; /* #698d3c; */
}


/* PROFILE */

.profile {
    position: relative;
    margin: 0 5px 5px 5px;
    border: solid 2px #99ba51;
    overflow: auto;
}

.profile h1.profileheader {
    height: 26px;
    background-color: #316712; /* #698d3c; */
    color: #ffffff;
    font-weight: bold;
    font-size: 10pt;
    padding: 5px 0 0 10px;
    margin: 0;
    clear: both;
}

.profile .profileinfo {
    float: right;
    width: 45%;
    text-align: left;
    padding: 10px;
}

.profile .profilephoto {
    text-align: center;
    float: left;
    width: 45%;
    padding: 10px 0;
    overflow: auto;
}

.profile .profileabout {
    padding: 5px;
}





.profilemenublock {
    margin: 0 5px 5px 5px;
    border: solid 2px #99ba51;
}

.profilemenublock .profilemenuheader {
    height: 26px;
    background-color: #316712; /* #698d3c; */
    color: #ffffff;
    font-weight: bold;
    font-size: 10pt;
    padding: 5px 0 0 10px;
    margin: 0;
}

.profilemenublock .profilemenubody {
    position: relative;
    font-size: 10pt;
    padding: 5px;
}

.profilemenublock .profilemenubody a.profilemenuitem {
    display: block;
    padding: 2px 10px;
    text-decoration: none;
    color: #000000;
}

.profilemenublock .profilemenubody a.profilemenuitem:hover {
    background-color: #316712; /* #698d3c; */
    color: #ffffff;
}

/* Full Image */

.fullimagecontainer {
    border: 1px solid #a2d935;
    text-align: center;
    margin: 15px 10px;
}

.fullimagecontainer h1.sitetitle {
    position: absolute;
    font-size: 14pt;
    left: 50px;
    top:0;
    padding: 0 5px;
    margin: 0;
    background-color: white;
    float: left;
}

.fullimagecontainer h1.sitetitle a {
    color: green;
    text-decoration: none;
}

.fullimagecontainer .imagebox {
    text-align: center;
    margin: 10px;
    position: relative;
    overflow: auto;
}

.fullimagecontainer .imagebox img {
}

.contenticons {
    float: left;
    width: 100%;
    overflow-x: auto;
}

.contenticons table tr td a img {
    border-width: 0;
}

/* Стили для результатов переработки ReST */

ul.simple {
    width: 92%;
    list-style-type: disc;
    margin-left: 0;
}

ul.simple li {
    margin-left: 20px;
}

ul.simple li {
    clear: both;
}

/* docutils footnote */
.docutils {
    border-style: none;
}

a.reference {
    display: auto;
    border-style: none;
    padding: 0;
    margin: 0;
}

.chat {
    border: 1px solid green;
    text-align: center;
    margin: 15px 10px;
}

.chat h1.chatheader {
    position: absolute;
    font-size: 14pt;
    left: 50px;
    top:0;
    padding: 0 5px;
    margin: 0;
    background-color: white;
    float: left;
}

.chat h1.chatheader a {
    color: green;
    text-decoration: none;
}

.chat img.chatlogo {
    display: block;
    float: left;
    min-width: 250px;
    width: 20%;
    padding: 15px;
}

.chat .chatworkplace {
    width: 75%;
    position: relative;
    float: left;
    padding: 15px;
}

.chat .chatwith {
    font-size: 12pt;
    text-align: center;
}

.chat .chatwith a {
    color: green;
    font-size: 12pt;
}

.chat .chatmessage {
    font-size: 10pt;
    clear: both;
    padding: 3px 10px;
    text-align: left;
}

.chat .chatmessage .messagetime {
    font-size: 8pt;
}

.chat .me .nickname {
    color: red;
    text-decoration: none;
}

.chat .notme .nickname {
    color: blue;
    text-decoration: none;
}

#smartbanner {
    display: block;
    position: relative;
    text-align: center;
    padding: 2px;
    margin: 2px;
}

