#body {
    overflow: auto;
}

.document {
    width: 98%;
}

.comments {
   position: relative;
   clear: none;
}

.comment {
    float: left;
    overflow: visible;
    width: 100%;
}

.mainmenuitem {
    height: 27px;
    display: block;
    float: left;
}

.mainmenuitemactive {
    height: 27px;
    display: block;
    float: left;
}

#localnavy {
    height: 35px;
}

.row {
    float: left;
}

.profile {
    float: left;
    margin: 5px 7px 5px 0;
}

h1.reference {
    margin: 0;
    float: none;
    padding: 0 0 0 10px;
}

.menublock {
    background-color: white; 
}

.shortheader {
    width: 97%;
}

.friendlist {
    float: left;
}

.person, .community {
    height: 170px;
}
