/* Stylesheet for the 'Python' Plone theme */

body {
	font-family: Arial, Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
	line-height: 1.1em;
	margin: 0;
	padding: 0 50px;
	background: #ffffff url(++resource++plonetheme.python.images/bg.png) top center repeat-x;
}

body.kupu {
	background: #ffffff;
	background-image: none;
}

a {
	color: #0000aa;
	text-decoration: none;
	border: 0;
}

a img {
	border: 0;
}

h1 {
	font-family: Georgia, "Bitstream Vera Serif", "New York", Palatino, serif;
	font-weight: normal;
	color: #234764;
	font-size: 160%;
	margin: 0.7em 0pt;
	text-decoration: none;
}

h2 {
	font-family: Georgia, "Bitstream Vera Serif", "New York", Palatino, serif;
	font-weight: normal;
	color: #366D9C;
	font-size: 140%;
	margin: 0.7em 0pt;
}

h3 {
	font-family: Georgia, "Bitstream Vera Serif", "New York", Palatino, serif;
	font-weight: normal;
	color: #234764;
	font-size: 120%;
	margin: 0.7em 0pt;
}

h4 {
	font-family: Georgia, "Bitstream Vera Serif", "New York", Palatino, serif;
	font-weight: normal;
	color: #366D9C;
	font-size: 100%;
	margin: 0.7em 0pt;
}

#content, #region-content {
	font-size: 95%;
}

#content a, #region-content a {
	border: 0;
	border-bottom: 1px dashed #cccccc;
}

#portal-searchbox {
	padding: 8px 10px 0 0;
}

#portal-searchbox #searchGadget {
	vertical-align: top;
	width: 11em;
	color: #000000;
	background: #ffffff !important;
	border: 1px solid #c4cccc;
	font-size: 105%;
	margin: 0 6px 0 0;
}

#portal-searchbox .searchButton {
	font-size: 95% !important;
}

input[type="button"], input[type="submit"] {
	background: #f8f7f7 url(++resource++plonetheme.python.images/button-on-bg.png) repeat-x !important;
	border: 1px solid silver !important;
	border-color: #c4cccc #6f7777 #6f7777 #c4cccc !important;
	color: #000000;
	font-family: Arial, Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
	font-size: 101%;
	font-weight: bold;
	margin: 4px 0.4 em 0 0;
	padding: 0 0.2em !important;
	vertical-align: text-top;
}

.searchButton {
	background: #f8f7f7 url(++resource++plonetheme.python.images/button-on-bg.png) repeat-x !important;
	border: 1px solid silver !important;
	border-color: #c4cccc #6f7777 #6f7777 #c4cccc !important;
	color: #000000;
	font-family: Arial, Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
	font-size: 101%;
	font-weight: bold;
	margin: 4px 0.4 em 0 0;
	padding: 0 0.2em 0 0.2em !important;
	vertical-align: text-top;
}

input[type="text"], input[type="password"] {
	color: #000000;
	background: #ffffff !important;
	border: 1px solid #c4cccc;
}

#portal-searchbox .searchSection {
	display: none;
}

#portal-advanced-search {
	width: auto !important;
	height: auto !important;
	text-align: center;
	margin: 0.25em 0 0 0;
	position: relative;
	left:-15px;
}

#portal-advanced-search a {
	font-size: 80%;
	text-decoration: none;
	color: #333399;
	border-bottom: 1px dotted #cccccc !important;
	padding: 0 0.5em;
}

#portal-font-size-changer-wrapper {
	float: right;
	text-align: right;
	width: 200px;
	margin: 0 0 -3px 0;
	padding: 0;
	font-size: 75%;
	font-weight: bold;
	position: absolute;
	top: 54px;
	right: 49px;
}

* html #portal-font-size-changer-wrapper {
	margin: -3px 0 -3px 0;
}

#portal-font-size-changer-wrapper ul {
	list-style-type: none;
	margin: -3px 0 0 0;
	padding: 0;
	font-weight: normal !important;
}

#portal-font-size-changer-wrapper ul li {
	display: inline;
	padding: 0;
	margin: 0 2px;
}

#portal-font-size-changer-wrapper ul li a {
	cursor: pointer;
	color: #888888;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

#portal-font-size-changer-wrapper ul a:hover {
	text-decoration: underline;
}

#portal-font-size-changer-wrapper ul a.selected {
	cursor: text;
	color: #000000;
	text-decoration: none;
}

#portal-font-size-changer-wrapper ul a.selected:hover {
	text-decoration: none;
}

#portal-top {
	border: 0;
	height: 84px;
	margin: 0;
	padding: 0;
}

#portal-title-wrapper {
	display: inline;
}

#portal-searchbox {
	float: right;
}

#portal-logo {
	padding: 0;
	margin: 0;
	position: relative;
	top: 5px;
	left: 0;
}

#portal-breadcrumbs {
	background: url(++resource++plonetheme.python.images/bullet.gif) left center no-repeat;
	padding: 0 0 0 14px;
	margin: 0 0 0 11.9em;
	position: absolute;
	top: 63px;
	width: 400px;
}

* html #portal-breadcrumbs {

}

#portal-breadcrumbs a {
	color: #3A4969;
}

#portal-breadcrumbs #breadcrumbs-you-are-here {
	display: none;
}

#portal-column-content {
	margin: 0;
	padding: 3px 0 0 0;
}	

* html #portal-column-content {
	padding: 0;
	position: relative;
	top: -10px;
}

#portal-column-one {
	padding: 1px 0 0 3px;
	margin: 0;
	width: 11.5em;
}

* html #portal-column-one {
	padding: 6px 0 0 3px;
}

.documentEditable {
	margin: 20px 0 0 0;
}

.managePortletsLink {
	font-size: 77%;
	text-align: left;
}

#portal-column-two .managePortletsLink {
	margin: 20px 0 0 20px;
}

#portal-column-two {
	padding: 50px 0 0 6px;
}

* html #portal-column-two {
	padding: 42px 0 0 0;
}

.contentViews {
	font-size: 77%;
}

.contentActions {
	font-size: 77%;
}	

.portlet {
	font-size: 77%;
	position: relative;
	color: #4C5B6B;
}

.portlet input[type="text"], .portlet input[type="password"] {
	width: 12em !important;
}

.portlet label {
	font-weight: normal;
}	

.portlet a {
	color: #4C5B6B;
	text-decoration: none;
}

.portlet a:hover {
	color: #000000;
	text-decoration: underline;
}

.portletHeader a {
	font-weight: bold;
}

.portletNavigationTree {
	font-size: 100%;
}

.portletItem {
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden;
}

.portletLogin .even {
	margin: 7px 0 0 0;
}

.portletNavigationTree .portletHeader {
	display: none;
}

.portletNavigationTree .navTreeItem a {
	font-size: 75%;
	margin: 0pt 0pt 4px 0;
	padding: 2px 2px 2px 4px;
	background: #f5f5f5 url(++resource++plonetheme.python.images/nav-off-bg.png) right top no-repeat !important;
	color: #4b5a6a !important;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
	border: 1px solid #dadada !important;
	width: 12em !important;
}

.portletNavigationTree .navTreeItem a:hover {
	text-decoration: underline;
	color: #000000 !important;
}

.portletNavigationTree .navTreeItem a.navTreeCurrentItem {
	color: #000000 !important;
	border-left: 3px solid #ffdb4c !important;
	background: #f5f5f5 url(++resource++plonetheme.python.images/nav-on-bg.png) right top no-repeat !important;
}

.portletNavigationTree .navTreeItem div a.navTreeItemInPath {
	color: #000000 !important;
	border-left: 3px solid #ffdb4c !important;
	background: #f5f5f5 url(++resource++plonetheme.python.images/nav-on-bg.png) right top no-repeat !important;
}

.portletNavigationTree .navTreeItem ul.navTree {
	margin: 0 !important;
	padding: 0 !important;
}

.portletNavigationTree .navTreeItem ul.navTree li a {
	text-transform: none !important;
	text-decoration: none !important;
	border: 0 !important;
	border-bottom: 1px solid #dddddd !important;
	padding: 0 0.1em 0.1em 0.1em !important;
	width: 140px !important;
	color: #3C4B7B !important;
	background: transparent !important;
	background-image: none !important;
	margin: 0 0 0 3px !important;
}

.portletNavigationTree .navTreeItem ul.navTree li a:hover {
	color: #000000 !important;
	text-decoration: underline !important;
}

.portletNavigationTree .navTreeItem ul.navTree li a.navTreeCurrentNode {
	color: #000000 !important;
	text-decoration: none !important;
	font-weight: bold !important;
}

.portletNavigationTree .navTreeItem ul.navTree li a.navTreeCurrentNode:hover {
	color: #000000 !important;
	text-decoration: underline !important;
}

.portletNavigationTree .navTreeItem a img {
	display: none;
}

#portal-column-two .portlet {
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-topleft: 12px;
	background-color: #f7f6f0;
	color: #3c4b6b;
	border: 1px solid #b7becc;
	font-family: Arial, Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
	padding: 0 0 10px 0;
	margin: auto 0 12px 20px;
	width: 240px;
	font-size: 80%;
}

#portal-column-two .portlet .portletHeader {
	-moz-border-radius-topleft: 11px;
	background: #376a94;
	color: #ffffff;
	font-weight: bold;
	margin: 0 0 8px 0;
	padding: 3px 0 4px 12px;
	border: 0;
	border-bottom: 3px solid #ffbc29;
}

#portal-column-two .portlet .portletHeader a {
	color: #ffffff;
	font-weight: bold;
}

#portal-column-two .portlet .portletItem {
	margin: 0 10px;
	padding: 0 3px 0 4px !important;
}

#portal-column-two .portlet .portletFooter {
	padding: 0 3px 0 4px !important;
}

#portal-column-two .ploneCalendar {
	margin: 0;
	text-align: center;
	width: 227px;
}

#portal-column-two .portletSearch form {
    margin: 0 9px;
}

#portal-column-two .portletSearch .portletFooter {
    margin: 0;
    text-align: center;
}

.documentActions ul {
	text-align: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.documentActions ul li {
	display: inline;
	margin: 0 10px;
}

#clear-space-before-footer {
	border: 0;
	border-bottom: 1px dotted #CCCCCC;
	margin: 3em 0pt 0pt 11.7em;
}

* html #clear-space-before-footer {
	margin: 3em 0pt 0pt 11.5em;
}

#portal-footer {
	font-size: 55%;
	border: 0;
	margin: 0 0 0 21.2em;
	padding: 1em 0;
	float: left;
	width: 500px;
}

* html #portal-footer {
	margin: 0 0 0 10.4em;
}

#portal-footer p {
	margin: 0;
	padding: 0;
}

#portal-footer p a {
	color: #666666;
}

#portal-colophon {
	padding: 0.5em 0 40px 0;
	text-align: left;
	float: right;
}

#portal-colophon ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 160px;
	font-size: 55%;
}

#portal-colophon ul li {
	display: inline;
	margin: 0 10px 0 0;
}

#portal-colophon ul a {
	color: #666666;
}

#portletmanager-plone-rightcolumn {
	margin: -30px 0 0 0;
	padding: 0 0 0 20px;
	width: 184px;
}

#portletmanager-plone-leftcolumn {
	margin: 20px 0 0 0;
	padding: 0 20px 0 0;
	width: 184px;
}

* html #portletmanager-plone-leftcolumn {
	margin: 6px 0 0 0;
}

#portletmanager-plone-leftcolumn .portlet, #portletmanager-plone-rightcolumn .portlet {
	font-weight: normal;
	background: #f7f7f7;
	padding: 5px;
	margin: 5px 0;
	width: 164px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topleft: 0px;
	border: 0;
}

#portletmanager-plone-rightcolumn .portlet .portletHeader {
	-moz-border-radius-topleft: 0px;
	border: 0;
	margin: 0;
	padding: 0;
	color: #4c5b6b !important;
	background: transparent;
	font-weight: normal;
}

#portletmanager-plone-rightcolumn .portlet .portletHeader a {
	color: #4c5b6b !important;
	font-weight: normal
}

#portletmanager-plone-rightcolumn .portlet .portletHeader a:hover {
	color: #000000 !important;
}

#portletmanager-plone-leftcolumn .portlet a, #portletmanager-plone-rightcolumn .portlet a {
	font-weight: normal;
}

#portletmanager-plone-leftcolumn div.section form div, #portletmanager-plone-rightcolumn div.section form div {
	font-size: 77%;
	margin:	0 0 10px 0;
	padding: 0;
}

dl.portalMessage {
	background: #f7f7f7;
	padding: 5px;
}

dl.portalMessage dt {
	font-family: Georgia, "Bitstream Vera Serif", "New York", Palatino, serif;
	font-weight: normal;
	color: #366D9C;
	font-size: 140%;
	margin: 0 0 0.7em 0;
}

dl.portalMessage dd {
	margin: 0;
	padding: 0;
}