[buildout]
parts = test interp
develop = . ../van.pydeb
project = van.reposync

[interp]
recipe = zc.recipe.egg
eggs = ${buildout:project}
interpreter = py

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:project}
