body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial;
}

.button {
    font-weight: bold;
    padding: 3px 8px;
    color: #000000;
    font-size: 8pt;
    background-color: #a2d935;
}


#header {
    height: 98px;
    background-color: #698d23;
    text-align: right;
}

#header img {
   margin: 25px 25px 0 0;
}

#menu {
    height: 27px;
    text-align: right;
    background-color: #a2d935;
}

#menu div {
    padding-top: 2px;
}

#menu div a {
    color: #000000;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
}

#breadcrumb {
    height: 27px;
    font-size: 8pt;
    font-weight: bold;
    color: #ffffff;
    background-color: #698d23;
    margin-bottom: 10px;
}

#breadcrumb ul {
    position:relative;
    float: right;
    list-style-type: square;
    margin: 0;
    padding: 5px 10px 0 0;
}

#breadcrumb ul li {
    float: left;
    margin-left: 20px;
}

#breadcrumb span#youarehere {
    float: right;
    padding: 5px 10px 0 0;
}

#leftslot {
    float: left;
    width: 25%;
}

.viewlet {
    margin: 5px;
    border: solid 2px #99ba51;
}

.viewlet h1 {
    height: 26px;
    background-color: #698d23;
    color: #ffffff;
    font-weight: bold;
    font-size: 10pt;
    padding: 5px 0 0 10px;
    margin: 0;
}

.viewlet .viewletbody {
    font-size: 10pt;
    padding: 15px;
}

.viewlet .viewletbody a {
    color: #000000;
}

.viewlet .viewletbody a.more {
    font-weight: bold;
    color: #0054ff;
    font-size: 8pt;
    text-decoration: none;
}



.newpeopleviewlet {
    margin: 5px;
    border: solid 2px #99ba51;
}

.newpeopleviewlet h1 {
    height: 26px;
    background-color: #698d23;
    color: #ffffff;
    font-weight: bold;
    font-size: 10pt;
    padding: 5px 0 0 10px;
    margin: 0;
}

.newpeopleviewlet .newpeopleviewletbody {
    font-size: 10pt;
    padding: 15px;
    position: relative;
    overflow: auto;
}
.newpeopleviewlet .newpeopleviewletbody div.person {
    float: left;
    margin: 3px;
    width: 80px;
    height: 120px;
    text-align: center;
}
.newpeopleviewlet .newpeopleviewletbody div.person a {
    font-weight: bold;
    font-size: 7pt;
    color: #000000;
    text-decoration: none;
}
.newpeopleviewlet .newpeopleviewletbody a.more {
    font-weight: bold;
    color: #0054ff;
    font-size: 8pt;
    text-decoration: none;

}

#rightslot {
    float:right;
    width: 25%;
}

#search {
    margin-right: 26%;
    margin-left: 26%;
    margin-bottom: 10px;
}
#search h1 {
   font-size: 10pt;
   font-weight: bold;
}

#content {
    margin-right: 26%;
    margin-left: 26%;
}

.anons {
    margin: 5px 0;
    border: solid 2px #99ba51;
    overflow: auto;
}

.anons h1 {
    height: 26px;
    background-color: #698d23;
    color: #ffffff;
    font-weight: bold;
    font-size: 10pt;
    padding: 5px 0 0 10px;
    margin: 0;
}
.anons .anonsbody {
    padding: 15px;
    font-size: 8pt;
    color: #000000;
}


.anons .anonsbody h1 {
    background-color: #ffffff;
    padding: 0;
    font-size: 10pt;
    color: #000000;
}

.anons .anonsbody img {
    padding: 5px;
}


.anons a.more {
    font-weight: bold;
    color: #0054ff;
    font-size: 8pt;
    text-decoration: none;
}


#footer {
    clear: both;
    background-color: #698d23;
    padding: 0 0 0 10px;
    height: 33px;
    color: white;
    font-size: 10pt;
    text-align: left;
}
#footer div {
    padding-top: 8px;
}
