/* Stylesheet for the 'Criticas Theme' Plone theme */

/*style header*/

#portal-header {
	background-color: #ede8d3;
	padding-top: 21px;
}

#portal-globalnav {
	background-color: #DDD2A7;
	padding-left: 9px;
	padding-top: 9px;
	padding-bottom: 7px;
	margin-top: 12px;
}

#portal-globalnav li a {
	border: 1px solid #680c11;
	background-color: #ede8d3;
	color: #680c11;
	padding-top: 3px;
	padding-bottom: 3px;
	text-transform: capitalize;
	font-weight: bold;
}

#portal-globalnav li.selected a {
	background-color: #680c11;
	color: #f4f1e4;
	border: 1px solid #680c11;
}

#portal-globalnav li a:hover {
	background-color: #f8f6ed;
	color: #680C11;
	border: 1px solid #f8f6ed; 
}

#portal-siteactions {
	padding-top: 0px;
	margin-top: 0px;
	position: relative;
	bottom: 6px;
}

#portal-siteactions li {
	padding: 4px;
}	

#portal-siteactions li a {
	background-color: #f8f6ed;
	border: 1px solid #680c11;
	color: #680c11;
	font-weight: bold;
}

#portal-siteactions li a:hover {
	background-color: #680c11;
	color: #f4f1e4;
	border: 1px solid #680c11;
}
	
.LSBox {
	position: relative;
}

#searchGadget, input.inputLabelActive {
	background: #E0D7B2 none repeat scroll 0%;
	border-left: 2px solid #680c11;
	border-top: 2px solid #680c11;
	border-bottom: 2px solid #680c11; 
	border-right: 1px solid #E0D7B2;
	padding-bottom: 2px;
	padding-top: 3px;
	margin-bottom: 4px;
}

input.inputLabelActive {
	padding-bottom: 2px;
	padding-top: 3px;
	border-right: 0px solid #680C11;
}	
		
input.searchButton {
	background: #ede8d3 url(++resource++plonetheme.criticas.images/lupasearchcuadrada.jpg) no-repeat scroll 0px 0px;
	border-top: 2px solid #ede8d3;
	border-bottom: 2px solid #ede8d3;
	border-left: 0px solid #ede8d3;
	border-right: 1px solid #ede8d3;
	padding-bottom: 6px;
	padding-top: 5px;
	position: relative;
	right: 5px;
	color: #79070f;
	text-indent: 2px;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 95%;
}
	
/*style breadcrumbs*/

#portal-breadcrumbs {
	border-bottom: 1px solid #fcfbf2;
	text-transform: uppercase;
	margin-top: 8px;
}

#portal-breadcrumbs a {
	color: black;
	font-weight: bold;
	background-color: #fcfbf2;
	text-transform: capitalize;
	padding-left: 5px;
}

#portal-breadcrumbs span span {
	background-color: #290010;
	color: white;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	text-transform: capitalize;
}

#portal-breadcrumbs .breadcrumbSeparator {
	background-color: #fcfbf2;
	font-size: 134%;	
	color: black;
}	
	
/*style body*/
	
body {
	background-color: #fcfbf2;
	}
	
/*style portlets*/

.portletHeader {
	background-color: #680c11;
	color: #f6f3d8;
	border: 1px solid #680c11;
	padding-top: 2px;
	padding-bottom: 2px;
}
	
.portletHeader a {
	color: #f6f3d8;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
}
	
.portletCalendar dt {
	background-color: #680c11;
	font-weight: bold;
	text-transform: capitalize;
}
	
.portletItem {
	background-color: #e0d7b2;
	border-right: 1px solid #e0d7b2;
	border-left: 1px solid #e0d7b2;
	color: #59383b;
}

.portlet {
	border-bottom: 1px solid #e0d7b2;
}

.portlet a {
	color: #F8F6ED;
}
	
.ploneCalendar .weekdays th {
	background-color: #F8F6ED;
	border-top: 1px solid #F8F6ED;
	border-bottom: 1px solid #F8F6ED;
	padding: 0px;
}

.ploneCalendar .todaynoevent {
	border: 2px solid #F8F6ED;
}

.ploneCalendar .todayevent {
	border: 2px solid #F8F6ED;
	background-color: transparent;	
}
	
.context,.formControls .actionButtons .button, .documentEditable * .context {
	background-image: url(++resource++plonetheme.criticas.images/cancel.jpg);
	background-color: #F8F6ED;
	border: 1px solid #680c11;
	margin-left: 23px;
}

.standalone, .documentEditable * .standalone {
	background-image: url(++resource++plonetheme.criticas.images/save.jpg);
	background-color: #F8F6ED;
	border: 1px solid #680c11;	
}
		
form {
	margin-left: 0px;
}

.portletItem img {
	display: none;
}

.portletItem a {
	color: #680c11;
}

.portletFooter {
	background-color: #E0D7B2;
	border-color: #fcfbf2;
	border-left: 1px solid #E0D7B2;
	border-right: 1px solid #E0D7B2;
}

.portletItem a:visited, .portletFooter a:visited {	
	color: #680C11;
}

.documentContent li a:visited {
	color: #91865c;
}

.documentContent p a:visited {
	color: #91865c;
}

.ploneCalendar .event {
	background-color: #fcfbf2;
}
	
#portal-column-two {
	width: 245px;
}

#portal-column-one {
	width: 345px;
}
	
.field {
	padding-left: 24px;
}

.portletSearch input.searchButton {
	background-color: #E0D7B2;
	border-top: 2px solid #E0D7B2;
	border-bottom: 2px solid #E0D7B2;
	border-left: 0px solid #E0D7B2;
	border-right: 1px solid #E0D7B2;
}

a {
	color: #680C11;
}
	
/*style navegation*/

.portletNavigationTree .portletItem {
	background-color: #fcfbf2;
	border-left: 4px solid #680c11;
	border-right: 4px solid #680c11;
}

.portletNavigationTree {
	border-bottom: 4px solid #680c11;
	font-weight: bold;
}

.portletNavigationTree ul {
	border-bottom: 0px solid #680c11;
}		

.navTreeCurrentItem {
	background: #680c11 url(++resource++plonetheme.criticas.images/menos.jpg) no-repeat scroll 150px 50%;
	color: white !important;
	border: 1px solid #680c11 !important;
	padding-left: 15px;
}

.portletNavigationTree .navTreeItem a {
	border: 0px solid #fcfbf2 !important;
}

.navTreeCurrentNode {
	border: 1px solid #680c11;
}
.navTreeItem a:hover, dd.portletItem .navTreeItem a:hover {
	background: transparent;
	color: #680c11;
}

a.navTreeFolderish:hover {
	background-color: #680c11 !important;
	color: white !important;
	background: #680c11 url(++resource++plonetheme.criticas.images/mas.jpg) no-repeat scroll 150px 50% !important;	
}

a.navTreeCurrentNode:hover {
	background: #680c11 url(++resource++plonetheme.criticas.images/menos.jpg) no-repeat scroll 150px 50% !important;
}

/*style content*/

.documentContent {
	background: transparent none repeat scroll 0% 50%;
}

.documentFirstHeading {
	background-color: #680c11;
	color: white;
	text-transform: capitalize;
	font-size: 137%;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	border-bottom: 1px solid #680c11;
}

body.kssActive h1.inlineEditable:hover {
	background-color: #680c11;
	background-image: none;	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 0px;
	border-bottom: 1px solid #680c11;
	border-right: 0px solid #680c11;
	border-top: 0px solid #680c11;
	border-left: 0px solid #680c11;
}

a.state-published {
	color: #a69f85 !important;
}

h2 {
	color: #290010;
	border: 1px solid #fcfbf2;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 137%;
	padding-left: 5px;
}

.documentActions {
	border-top: 1px solid #fcfbf2;
}	

.documentActions li {
	background-color: transparent;
	border-left: 1px solid #680c11;
}

.contentActions {
	background-color: #F8F6ED;
	border-left: 1px solid #680c11;
	border-right: 1px solid #680c11;
}

.contentViews {
	border-color: #680c11;
}

.contentViews li a {
	border: 1px solid #680c11;
	color: #680c11;
}

.contentViews .selected a {
	background-color: #680c11;
	border-bottom: 1px solid #680c11;
	color: white; 
}

.contentViews li a:hover {
	background-color: #680c11;
	color: white; 
}

.documentEditable .documentContent {
	border: 1px solid #680c11;
}

.kupu-tb {
	background-color: #fcfbf2;
	border: 1px solid #680c11;
}

.contentActions a {
	color: #680c11;
}

.contentActions li {
	border-left: 1px solid #680c11;
}

.actionMenu .actionMenuContent ul {
	background-color: #fcfbf2;
	border-color: #680c11;
}

.actionMenu .actionMenuContent li a:hover {
	background-color: #680c11;
}

.actionMenu .actionMenuContent .actionSeparator a {	
	border-top: 1px solid #680c11;
}

li.formTab a.selected {
	background: #680C11 none repeat scroll 0% 50%;
	color: white;
}

li.formTab a {
	border-bottom: 1px solid #680C11;
	border-top: 1px solid #680C11;
	border-left: 1px solid #680c11;
}

li.lastFormTab a {
	border-right: 1px solid #680C11;
}	

li.firstFormTab a {
	border-left: 1px solid #680C11;
}

input {
	border-color: #680c11;
	border-width: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
}
	
table.listing th, .stx table th {
	background: #680c11 none repeat scroll 0%;
	border-bottom: 1px solid #680c11;
	border-right: 1px solid #680c11;
	border-top: 1px solid #680c11;
	}

table.listing td, .stx table td {
	border-right: 1px solid #680c11;
}

.even {
	background-color: #e0d7b2;
}

table.listing tr, .stx table tr {
	background-color: #e0d7b2;
}

table.listing, .stx table {
	border-bottom: 1px solid #680c11;
	border-left: 1px solid #680c11;
}

table.vertical td {
	border-top: 1px solid #680C11;
}

.formPanel {
	border: 1px solid #680C11;
}

iframe.kupu-editor-iframe {
	border-color: #680c11;
}
	
fieldset {
	border: 1px solid #680C11;
}

.state-published {
	color: #a69f85 !important;
}

.odd {	
	background-color: #E0D7B2;
}

li.formTab a:hover {
	background: #680c11 none repeat scroll 0%;
	color: white;
}

.kupu-tb-buttons button {
	border-color: #680C11;
	}

.livesearchContainer {
	background-color: #fcfbf2;
	border: 1px solid #680c11;
	color: #680c11;
}
	
#livesearchLegend {
	border-color: #680c11;
}

legend {
	background: #fcfbf2 none repeat scroll 0%;
}

.LSIEFix {
	background-color: #fcfbf2;
}

.LSRow {
	border: 1px solid #fcfbf2;
}

ul.configlets li a:visited {
	color: #680c11;
}

#portal-colophon ul li a {
	border-bottom: 1px solid #DDD2A7;
	color: #680c11;
	font-weight: normal;
}

pre {
	background-color: transparent;
	border: 1px solid #680C11;
	color: #680C11;
}
	
#portal-colophon {
	background-color: #ddd2a7;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	text-align: left;
	margin-bottom: 0px;	
}

#portal-footer {
	margin-top: 0px;
	border-bottom: 1px solid #ede8d3;
	border-top: 1px solid #ede8d3;
	color: #680c11;
	background-color: #ede8d3;
	margin-bottom: 0px;	
	text-align: left;
	padding-left: 30px;	
	padding-top: 10px;
	padding-bottom: 15px;
}

#portal-footer a {
	color: #680c11;
}

#portal-footer a:visited {
	color: #680c11;
}

abbr, acronym, .explain {
	color: #680c11;
}

