body {
	background:white;
	font-family:monospace;
}

h1 {
	background-image: url(/static/header_back.png);
	background-repeat:repeat-x;
	background-position:50%;
	padding-left:5px;
	padding-right:5px;
}

.indent {
	margin-left:40px;
}

.morelist {
	font-size:8pt;
	color:red;
	text-decoration:underline;
	cursor:pointer;
	cursor:hand;
}

.mglass {
	cursor:pointer;
	cursor:hand;
	border:0px;
}

pre.error {
	border: 2px #A00000 solid;
	color: black;
	background: #FFFFAA;
}

a:hover {text-decoration:none;}

