[buildout]
parts =
    xapian
    xapian-bindings
    libxml2
    libxslt
    lxml
    python
    ipython
    test
    paster

index=
    http://dist.repoze.org/lemonade/dev/simple

develop =
    .

eggs=
    Paste
    repoze.filecat


[paster]
recipe = repoze.recipe.egg
eggs =
        ${buildout:eggs}
extra-paths =
  ${xapian:location}/lib/python
scripts = paster

######################################################################
# Test
[test]
recipe = zc.recipe.testrunner
eggs=
    repoze.filecat
extra-paths =
  ${xapian:location}/lib/python
script=test

[ipython]
recipe = zc.recipe.egg
eggs =
        ipython
        ${buildout:eggs}
scripts = ipython
extra-paths =
  ${xapian:location}/lib/python

[python]
recipe = zc.recipe.egg
eggs =
        ${buildout:eggs}
scripts = ipython
extra-paths =
  ${xapian:location}/lib/python
interpreter = python

######################################################################
# LXML
[lxml-environment]
XSLT_CONFIG=${buildout:directory}/parts/libxslt/bin/xslt-config
XML2_CONFIG=${buildout:directory}/parts/libxml2/bin/xml2-config

[lxml]
recipe = zc.recipe.egg:custom
egg = lxml
include-dirs = ${libxml2:location}/include/libxml2
               ${libxslt:location}/include
library-dirs = ${libxml2:location}/lib
               ${libxslt:location}/lib
rpath = ${libxml2:location}/lib
        ${libxslt:location}/lib
environment = lxml-environment

[libxml2]
recipe = zc.recipe.cmmi
url = http://dist.repoze.org/lemonade/dev/cmmi/libxml2-2.6.32.tar.gz
extra_options = --without-python

[libxslt]
recipe = zc.recipe.cmmi
url = http://dist.repoze.org/lemonade/dev/cmmi/libxslt-1.1.24.tar.gz
extra_options = --with-libxml-prefix=${libxml2:location}
                 --without-python

[lxml]
index = http://dist.repoze.org/lemonade/dev/simple
recipe = zc.recipe.egg:custom
egg = lxml
include-dirs = ${libxml2:location}/include/libxml2
               ${libxslt:location}/include
library-dirs = ${libxml2:location}/lib
               ${libxslt:location}/lib
rpath = ${libxml2:location}/lib
        ${libxslt:location}/lib

######################################################################
# XAPIAN
[xapian]
recipe = zc.recipe.cmmi
#url = http://oligarchy.co.uk/xapian/1.0.8/xapian-core-1.0.8.tar.gz
url = http://xappy.googlecode.com/files/xapian-core-11454.tgz

[xapian-bindings]
recipe = zc.recipe.cmmi
#url = http://oligarchy.co.uk/xapian/1.0.8/xapian-bindings-1.0.8.tar.gz
url = http://xappy.googlecode.com/files/xapian-bindings-11454.tgz
extra_options =
    PYTHON_LIB=${xapian:location}/lib/python
    XAPIAN_CONFIG=${xapian:location}/bin/xapian-config
    --with-python
    --with-php=no
    --with-ruby=no
    --with-java=no
    --with-csharp=no

