/* Stylesheet for the 'Custom Theme' Plone theme */

body {
        background-color: white;
}
#portal-top {
        background-image: url(http://germa61.uni-trier.de/plone/portaltop-bg.png);
        height: 133px;
}
#portal-header
{

}
#visual-portal-wrapper {
	width: 1280px;
	margin: 0 auto;
}

#portal-siteactions li a {
       color: white;
       text-decoration:none;
	padding: 8px;
	text-transform: none;
	font-weight: bold;
	font-size: 12px;
	border-width: 0px;
}


#portal-siteactions li a:hover {
       color: white;
       text-decoration:none;
	padding: 8px;
	text-transform: none;
	font-weight: bold;
	font-size: 12px;
	border-width: 0px;
	background-image: url(http://germa61.uni-trier.de/plone/topbuttons.png);
}


#portal-siteactions li.selected a {
	background-color: none;
	border-width: 0px;

}

#portal-logo img {
       padding-top: 33px; 
	border-width: 0px;
}
#portal-columns {
	margin-top: 70px;
}

#portal-globalnav {
       color: black;
	background-image: url(http://germa61.uni-trier.de/plone/globalnav-bg.png);
	padding-top: 10px;
       margin-top: 37px; 
	border-width: 0px;
	height: 25px;
	font-size: 12px;
}
#portal-globalnav li.selected a {
       text-shadow: black 1px 1px 1px; 
       color: white;
       padding-top: 9px;
	padding-bottom: 8px;
	border-width:0px;
	background-image: url(http://germa61.uni-trier.de/plone/globalnav-selected-bg.png);
       text-transform: none;
}
#portal-globalnav li a:hover {
	border-width:	0px;
}
#portal-globalnav li a {
       color: black; 
      text-shadow: white 1px 1px 1px; 
       font-size: 13px;
	border-width:0px;
	text-decoration:none;
       text-transform: none;
}
#searchGadget {
	background-image: url(http://germa61.uni-trier.de/plone/suche.png);
	width: 167px;
	height: 30px;
	background-color: transparent;
	border: 0px;
	padding-left: 30px;
	padding-right: 5px;
	padding-top: 5px;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}
.searchSection {
	display: none;
}
.searchButton {
	display: none;
}
#portal-personaltools {
	display: none;
}
#portal-breadcrumbs {
	display: none;
}
#portal-footer {
	height: 35px;
	border-width: 0px;
	background-image: url(http://germa61.uni-trier.de/plone/footer-bg.png);

}
#portal-footer p {
	display: none;
}
.documentActions {
	padding: 0px;
	margin: 0px;
	position: absolute; 
       border-width: 0px;
	text-align: right;
	margin-left: 920px;
	margin-top: 52px;
	color: black; 
      	text-shadow: white 1px 1px 1px; 
	font-size: 14px;
}
.documentActions ul {
	padding: 0px;
	padding-left: 5px;
	margin: 0px;
	background-image: url(http://germa61.uni-trier.de/plone/page-actions-bg.png);
       background-repeat: no-repeat; 
       background-position: left center;
}
.documentActions li {
	padding: 0px;
	padding-left: 5px;
	margin: 0px;
}


.contentActions {
	background-position:bottom;
	background-color:#113E91;
	border-left:0px solid #74AE0B;
	border-right:0px solid #74AE0B;
	color:#578308;
	height:1.6em;
	padding:0 0 0 1em;
	position:relative;
	text-align:right;
	text-transform:lowercase;
	z-index:2;
}
.contentViews {
	background-color:transparent;
	border-color:#74AE0B;
	border-style:solid;
	border-width:0 0 0px;
	line-height:normal;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding: 3px;
	padding-left:1em;
	
}

.documentContent {
	border:0px solid #74AE0B;
	padding:0;
}

.contentViews li a {
       color: black; 
       text-shadow: white 1px 1px 1px; 
	background-color:transparent;
	border:0px solid #74AE0B;
	height:auto;
	line-height:normal;
	margin-right:0.5em;
	padding:0 1em;
	text-decoration:none;
	text-transform:none;
	z-index:1;
}
.contentViews {
	background-image: url(http://germa61.uni-trier.de/plone/globalnav-bg.png);
	background-color:transparent;
	border-color:#74AE0B;
	border-style:solid;
	border-width:0 0 0;
	line-height:normal;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding-left:1em;
}
.contentViews .selected a {
	background-position:bottom;
	text-shadow: black 1px 1px 1px; 
       color: white;
	background-image: url(http://germa61.uni-trier.de/plone/globalnav-selected-bg.png);
	border-bottom:0px solid #CDE2A7;
	padding-bottom: 3px;
	padding-top: 2px;
}
.documentEditable .documentContent {
border:0px solid #74AE0B;
padding:0;
}
.actionMenu {
	border-size: 0px;
}

