[buildout]
develop = . 
parts = openldap python-ldap
        data instance
        test

find-links = http://download.zope.org/distribution/
             http://sourceforge.net/project/showfiles.php?group_id=2072

[data]
recipe = zc.recipe.filestorage

[instance]
recipe = gocept.zope3instance
database = data
admin-user = faassen
admin-password = test
address = 8080
eggs = ldappas 

[test]
recipe = zc.recipe.testrunner
eggs = ldappas

[openldap]
recipe = zc.recipe.cmmi
url = http://www.openldap.org/software/download/OpenLDAP/openldap-release/openldap-2.3.27.tgz 
extra_options= --disable-slapd --disable-backends

[python-ldap]
recipe = zc.recipe.egg:custom
egg = python-ldap
include-dirs = ${buildout:directory}/parts/openldap/include
               /sw/include/sasl
library-dirs = ${buildout:directory}/parts/openldap/lib
rpath = ${buildout:directory}/parts/openldap/lib
