# This is where all of your settings go for your development environment

# NOTE: Your configuration will not work if you have a space at the
# beginning of the line.

[global]

# DATABASE

# pick the form for your database
# sqlobject.dburi="postgres://username@hostname/databasename"
# sqlobject.dburi="mysql://username:password@hostname:port/databasename"
# sqlobject.dburi="sqlite:///file_name_and_path"
sqlobject.dburi="notrans_sqlite://%(current_dir_uri)s/tb.db"

# VIEW

# kid.outputformat="html"
# kid.encoding="utf-8"

# The sitetemplate is used for overall styling of a site that
# includes multiple TurboGears applications
# tg.sitetemplate="<packagename.templates.templatename>"

# Allow every exposed function to be called as json
# tg.allow_json = False

# Server configuration
server.environment="production"
server.logFile="server.log"
server.logToScreen=False

# Sets the number of threads the server uses
server.thread_pool = 30

# if this is part of a larger site, you can set the path
# to the TurboGears instance here
#server.webpath="/blog/"

[/static]
staticFilter.on = True
staticFilter.dir = "static"

[/favicon.ico]
staticFilter.on = True
staticFilter.file = "static/images/favicon.ico"
