[buildout]
develop = .
parts = test
find-links = http://pypi.python.org/simple/
	     http://download.zope.org/distribution/
             http://download.zope.org/zope3.4/


[test]
recipe = zc.recipe.testrunner
eggs = zw.widget [test]
