.hidden {
  display: none;
}

span.required {
  color: black;
}

#tree{
  float: left;
  margin-right: 5ex;
  margin-bottom: 20px;
  width: 80ex;
}

div.node {
  margin-left: 1em;
  border-left: 1px dashed black;
  padding-left: 1ex;
  margin-top: 1ex;
}

div.node-line{
  background: #eee;
  border: 1px solid #ccc;
}

div.inline-content{
  margin-left: 3ex;
}

form.edit-form {
  border: 1px solid #ccc;
  padding: 1ex;
  background: #eee;
  margin: 1ex 0px;
}

input.jsbutton-field,
input.inlineformbutton-field {
  border: 0;
  background: transparent;
  cursor: pointer;
  color: red;
}

input.inlineformbutton-field {
  color: blue;
  background: #eee;
  border: 1px solid #aaa;
  border-top: 0;
  margin-right: 1ex;
}

#server-events{
  float: left;
  border: 1px solid #ccc;
}

#server-events h2{
  padding: 1ex;
  background: #eee;
}

#server-events-container div{
  padding:1ex;
  border-top: 1px solid #ccc;
  background: #fff;
}