[buildout]
develop = .
parts = test devpython
extends = http://grok.zope.org/releaseinfo/grok-0.12.cfg
versions = versions

[versions]
py = 0.9.1

[test]
recipe = zc.recipe.testrunner
eggs = z3c.vcsync

# installs bin/devpython to do simple interpreter tests
[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = z3c.vcsync

