.page-body
{ 
    width: 750px; 
    margin-left: 15px;
    margin-bottom: 10px;
}
.fixcenter 
{

    margin: auto;

    margin-bottom: 5px;

    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

}
.register-hint
{
    font-size: smaller; 
    margin-top: 4px; 
    margin-bottom: 4px;
}

.register-prompt
{  

    border-top-color: #BDBDBD;
    border-top-style: solid;
    border-top-width: 1px;

    padding: 5px;

}
.recover-form * input
{ 
    margin-left: 5px;
}

.register-input-fixcenter {
    width: 500px;
    background: #ffffff;
    color: #000000;
    margin: auto;
    margin-top: 5px;
    text-align: left;
}

/* register input support */

.register-input-left 
{ 
    margin-top: 5px;
    float: left;
}

.register-input-right
{ 
    margin-left: 350px;
}

.register-input-left,
.register-input-right
{ 
    width: 350px;
}

.register-input * textarea { 

    width: 300px;
    height: 100px;
    margin-left: 5px;

}

.required-input 
{ 
    color: red;
    font-size: normal !important;
}

.register-input-label 
{ 
    float: left;
    width: 130px;
    padding-top: 2px;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
}

.register-input-left div 
{ 
    margin-bottom: 15px;
}

.register-submit 
{ 
    clear: both;
    margin-top: 10px;
    margin-left: 45px;
    margin-bottom: 15px;
}

/* default input control look */

INPUT[type=text],
INPUT[type=password],
INPUT[type=file],
TEXTAREA
{
    background: #EEEEEE;
    border: 1px solid #BDBDBD;
    padding: 3px;
}

INPUT[type=text]:focus,
INPUT[type=password]:focus,
INPUT[type=file]:focus,
TEXTAREA:focus
{
    border: 1px solid black;
}

.entry-image
{ 
    float: right;
    margin-left: 8px;
    margin-bottom: 8px;
    border: solid black 1px; 
}
