[buildout]
develop = .
parts = bluebream
        test
        sphinxbuilder

[bluebream]
recipe = zc.recipe.egg
eggs = bluebream
       PasteScript

[test]
recipe = zc.recipe.testrunner
eggs = bluebream[test]

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs/source
build = ${buildout:directory}/docs/output

[test-all-packages]
recipe = z3c.recipe.compattest
include = ${bb-packages:packages}
