[buildout]
extensions = buildout.dumppickedversions
parts =
  testrunner
develop = .
versions = versions

[versions]
zc.recipe.testrunner=1.2.0
paramiko = 1.7.5

[testrunner]
recipe = zc.recipe.testrunner
eggs =
  publickeymanager
  paramiko
extra-paths =
  ${buildout:directory}
working-directory = ${buildout:directory}
script = test
defaults = ['--path', '${buildout:directory}', '--suite-name', 'suite',
            '--exit-with-status', '-s', 'publickeymanager']

