[buildout]
parts = test debug tags
develop = .
find-links = 3rdparty/

[test]
recipe = zc.recipe.testrunner
eggs = gocept.objectquery
defaults = ['--color']

[debug]
recipe = zc.recipe.egg:script
eggs = gocept.objectquery
interpreter = debug

[tags]
recipe = z3c.recipe.tag:tags
eggs = gocept.objectquery

