
body {
    background-color: #191819;
    background-image: url('/img/bg.jpg');
    background-repeat: no-repeat;
    color: #cfcfcf;
    margin-top: 360px;
}

h1 {
    color: #dfdfdf;
}

a, a:active, a:visited {
    color: #efefef;
}


#menu div {
    background-color: #efefef;
    color: #181818;
    border: 1px solid #339672;
    margin-bottom: 8px;
}
#menu a:hover {
    background-color: #eaedc5;
    color: #000;
}

table.report-table th {
    border: 1px solid #828633;
	text-transform: capitalize;
}

table.report-table td {
    border: 1px solid #828633;
}

table.report-table tbody td a {
    display: block;
}


table.report-table tbody tr:hover {
    background-color: #292929;
}

table.report-table thead td {
    background-color: #fcf4c5;
    border: 1px solid #729633;
}
table.report-table thead td {
    color: #202020;
}
table.report-table thead td span.function {
    float: left;
    margin-right: 6px;
}
table.report-table thead td span.pagination {
    float: right;
}

table.report-table tfoot td {
    background-color: #fcf4c5;
    border: 1px solid #729633;
}
table.report-table tfoot td {
    color: #202020;
}
table.report-table tfoot td span.function {
    float: right;
    margin-left: 6px;
}
table.report-table tfoot td span.pagination {
    clear: left;
    float: left;
}

.page-report {
    clear: left;
    float: left;
    font-size: 12pt;
}
.page-report a {
    border: 1px dotted transparent;
    color: #444;
    padding: 2px 4px 2px 4px;
    text-decoration: none;
}
.page-report a:hover {
    border: 1px dotted #000;
    color: #111;
}


select {
}
textarea, input[type=file], input[type=text], input {
}
input[readonly=readonly] {
    background: #eafec2;
    border: solid 1px #ccc;
    color: #444;
    padding: 3px;
}
input[type=checkbox] {
}
input[type=submit] {
    background: #e8e693;
    color: #333;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
}
input[type=submit]:hover {
    background: #f6d293;
    color: #000;
}

