#tabs { padding-top: 0.5em; margin-top: 1em; font-size: 80%; border-bottom: 2px solid #fe8700; }
#tabs ul { white-space: nowrap; list-style: none; padding: 0;
           margin: 0; margin-bottom: -2px; }
#tabs ul li { display: inline; }
#tabs ul li a { background-color: white; color: black;
                padding: 0em 1.25em; padding-bottom: 0;
                border: 2px solid #fe8700; border-bottom: 0;
                text-decoration: none; text-transform: lowercase;
                background-color: #fe8700; }
#tabs ul li a.selected { padding-top: 0.5em; background-color: white; 
                         border-top: 5px solid #fe8700;}
#tabs ul li a:hover { background-color: white; }
