body { font-size: 90%; font-family: Verdana, sans-serif;
       margin: 0 auto; color: black; 
       border: 2em solid white;
       border-top: 0;}
h1, h2 { font-size: 100%; }
table  { border-collapse: collapse; font-size: 90%;
         margin-bottom: 1em;}
iframe { width: 45em; }

a         { color: #be6500; text-decoration: none;}
a:visited { color: #bd9465; }

textarea         {  border: 1px solid #bd9465; background-color: #efefef}
textarea:active,
textarea:hover   { background-color: #fdfdfd; min-width: 300px; }
input, button    { background-color: #f4f4f4; border: 1px outset #003366; }
input[type=text]:hover,
input[type=text]:active { background-color: #fdfdfd;}
select           { background-color: #f4f4f4;}

div.row { margin-top: 1em; }
div.row div.label { background: #fe8700; padding: 0.2em; display: inline; }
div.row div.field { display:block; padding-top: 1px; }
div.row span.error { background: red; padding: 0.2em; display: inline; }

#sortable, #sortable th, #sortable td { border: 1px solid black; }
#sortable thead th { background-color: #ffed7b; color: black; }

#visualContentWrapper { padding-top: 0.5em; border: 2px solid #fe8700; border-top: 0;}

#logo { background: white url("logobg.png") no-repeat top right;
        margin-top: 2em; margin-bottom: 0.5em;}
#toolbar { width: 100%;}
#sidebar { width: 12em; float: left;}
#content { font-size: 90%; min-height: 35em; 
           margin-top: 0.4em; margin-right: 0.5em; margin-left: 15em; }
.box { margin: 0.5em; font-size: 80%;
       border-top: 1px solid black; border-bottom: 1px solid black;}
.box h1 { padding: 0.25em; font-size: 8pt; text-align: left; margin: 0;
          background-color: #fe8700; border-bottom: 1px solid black;}
