# Metadata section allows you to define the default
# service type to be created, and location for error logging
[metadata]
default_service=GeoJSON
# error_log=error.log

# each additional section is a 'layer', which can be accessed.
# see DataSources.txt for more info on configuring.
[scribble]
type=DBM
file=/tmp/featureserver.scribble
gaping_security_hole=yes
