[buildout]
extends=http://download.zope.org/zope3.4/3.4.0/versions.cfg
develop = .
parts = test
        coverage-test
        coverage-report
        scripts
        configured-scripts
        python
        gtkeggdeps
        docs
        ctags
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = z3c.boiler
       z3c.builder.core [test]
       z3c.feature.core

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.boiler
       z3c.builder.core [test]
       z3c.feature.core
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[scripts]
recipe = zc.recipe.egg:scripts
eggs = z3c.boiler
script = boil

[configured-scripts]
recipe = zc.recipe.egg:scripts
eggs = z3c.boiler
scripts = boil=sample-boil
arguments = ['-v', '-f', '-o', '.', '-i', 'src/z3c/boiler/sample-project.xml']

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = z3c.boiler

[gtkeggdeps]
recipe = zc.recipe.egg
scripts = gtkeggdeps
eggs = z3c.boiler [deps]

[docs]
recipe = z3c.recipe.sphinxdoc
eggs = z3c.boiler [docs]
doc-eggs = z3c.boiler
           z3c.builder.core
           z3c.feature.core
build-dir = ${buildout:directory}/docs

[ctags]
recipe = z3c.recipe.tag:tags
eggs = z3c.boiler
