body{
  padding: 20px;
  font: normal 13px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
  background: black;
}

a{
  text-decoration: none;
  color: #009;
  font-weight: bold;
}
a:visited{
}
a:hover{
  color: #00f;
}

#wrapper{
  margin: auto;
  width: 60%;
}

div.paragraph{ 
  width: 80ex;
  margin: auto;
}

#header,
#footer,
#content-wrapper{
  border: 2px solid #baed00;
}

#header,
#footer{
  background: #790;
}

#header{
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  height: 70px;
  padding: 0px;
  color: #baed00;
}

#userInfo{
  float: right;
  margin-top: -17px;
  margin-right: 5px;
}
.logout-button,
.login-button{
  font-weight: bold;
  text-decoration: none;
  color: black;
  background: #baed00;
  border: 2px solid #baed00;
  border-bottom: 0px;
  padding-left: 1ex;
  padding-right: 1ex;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}

#sidebar{
  float: left;
  position: absolute;
  left: 3%;
  width: 15%;
}
.side-area,
.side-menu {
  background: #111;
  border: 2px solid #222;
  -moz-border-radius: 10px;
  padding-top: 1ex;
  padding-bottom: 1ex;
  margin-top: 1em;
}
.side-menu .menu-header {
  color: #555;
  padding-left: 1ex;
  font-weight: bold;
  font-size: larger;
}
.side-area a,
.side-menu a{
  color: #790;
  font-weight: bold;
  text-decoration: none;
}
.side-menu a{
  display: block;
  border-bottom: 2px solid #222;
  border-top: 2px solid #222;
  padding-left: 1ex;
  margin-bottom: 5px;
  margin-top: 5px;
}
.side-menu a.active-menu-item,
.side-menu a:hover{
  color: #baed00;
  background: #344200;
  border-color: #555;
  padding-left: 2ex;
}

.side-area{
  color: #777;
  padding: 1ex;
}
.side-area a:hover{
  color: #baed00;
}

#form-area {
  margin-bottom: 10px;
}
#form-selector-buttons{
  border-bottom: 2px solid #790
}
#form-selector-buttons
input[type=button],
#form-wrapper{
  background: #deeda6;
  border: 2px solid #790;
}

#form-selector-buttons
input[type=button]{
  border-bottom: 0px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  margin-right: 10px;
  font-weight: bold;
}
#form-selector-buttons
input[type=button]:hover{
  background: #baed00;
  cursor: pointer;
}

#form-wrapper{
  border-top: 0px;
  padding: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
}

#form-hide-button{
  float: right;
  border: 1px solid #790;
  -moz-border-radius: 5px;
  background: #fff;
  opacity: .5;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 12px;
  margin-top: -5px;
  margin-right: -5px;
  cursor: pointer;
}
#form-hide-button:hover{
  opacity: 1;
}
#search-results table{
  border-collapse: collapse;
}
#search-results{
  border: 1px solid #8b9653;
  border-bottom: 0px;
}
#search-results .controller{
  border: 0;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
}
#search-results .controller:hover{
  color: red;
}
.search-result-item{
  padding: 3px;
  border-bottom: 1px solid #8b9653;
  font-size: 15px;
}
.search-result-item .top-row{
  cursor: pointer;
  display: block;
}
.search-result-item table.inline{
  margin: 5px;
}
.search-result-item table.inline tr{
  border-top: 1px solid #8b9653;
}
.search-result-item table.inline td.field{
  border-left: 1px solid #8b9653;
}
.search-result-item table.inline td.label{
  width: 10%;
}
.listing-buttons input[type=button]{
  height: 15px;
  margin: 0;
  font-size: 10px;
  cursor: pointer;
}
.listing-buttons input[type=button]:hover{
  background: white;
}

div.field-container{
  border-top: 1px dotted black;
}
div.field-container form.edit-form{
  width: 305px;
}

div.field-container div.label{
  font-style: italic;
}
div.field-container div.field{
  padding-left: 10px;
}

.evenRow{
  background: #e5edca;
}
.oddRow{
  background: #dbed82;
}

#content-wrapper{
  background: black;
  padding: 4px;
  border-style: dashed;
  border-top: 0px;
  border-bottom: 0px;
}

#content{
  background: url(++resource++img/top-fade.png) top repeat-x white;
  padding: 10px;
  min-height: 400px;
}

#footer{
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;
  height: 30px;
  padding: 10px;
  text-align: center;
  color: #baed00
}

form.edit-form{
  margin: 10px;
  border: 1px solid #8b9653;
  background: #f1fad4;
  padding: 10px;
}

.label{
  font-weight: bold;
  display: inline;
  font-size: smaller;
}

.field{
  font-size: small;
}

input.text-widget {
    width: auto;
    max-width: 300px;
}