/*
 * CSS specific to Zoner.
 */

.auto_inc_serial {
    font-style: italic;
    font-size: 90%;
}

.flash_ok {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #cec URL('../images/ok.png') left center no-repeat;
  border: 1px solid #9c9;
}

.flash_warning {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #eef URL('../images/info.png') left center no-repeat;
  border: 1px solid #99c;
  font-size: 120%;
  font-weight: bolder;
}

.flash_alert {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #fd9393 URL('../images/alert.png') left center no-repeat;
  border: 1px solid #e11;
  font-size: 120%;
  font-weight: bolder;
}
