.jcarousel-skin-truegallery .jcarousel-container {
    background: black;
    border: 1px solid gray;
    margin:auto;
}

.jcarousel-skin-truegallery .jcarousel-container-horizontal {
    width: 500px;
    padding: 20px 40px;
}

.jcarousel-skin-truegallery .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-truegallery .jcarousel-clip-horizontal {
    width: 500px;
    height: 75px;
}

.jcarousel-skin-truegallery .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-truegallery .jcarousel-item {
    width: 75px;
    height: 75px;
    border: 1px solid white;
}
.jcarousel-skin-truegallery .jcarousel-item:hover {
    border: 1px solid gray;
}

.jcarousel-skin-truegallery .jcarousel-item-horizontal {
    margin-right: 10px;
}

.jcarousel-skin-truegallery .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-truegallery .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-truegallery .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-truegallery .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-truegallery .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-truegallery .jcarousel-next-disabled-horizontal,
.jcarousel-skin-truegallery .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-truegallery .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-truegallery .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-truegallery .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-truegallery .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-truegallery .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-truegallery .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-truegallery .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-truegallery .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.jcarousel-skin-truegallery .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-truegallery .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-truegallery .jcarousel-next-disabled-vertical,
.jcarousel-skin-truegallery .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-truegallery .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-truegallery .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.jcarousel-skin-truegallery .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-truegallery .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-truegallery .jcarousel-prev-disabled-vertical,
.jcarousel-skin-truegallery .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-truegallery .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
