.ost_notifier {
    width: 18em;
    padding: 0.2em;
    background: #edf3fe;
    border: thin solid lightblue;
    position: fixed;
    text-align: center;
}

.ost_notifier .notification,
.ost_notifier .close {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.ost_notifier .close {
    float: right;
}