[buildout]
extends = http://download.zope.org/zope3.4/versions.cfg
develop =
    .
    ../..
parts = app test
find-links = http://download.zope.org/distribution/
newest = false
versions = versions

[app]
recipe = zc.recipe.egg
eggs = samplezope
       gp.fileupload
       zope.app.apidoc
       zope.app.securitypolicy
       z3c.evalexception>=2.0
       Paste
       PasteScript
       PasteDeploy
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = samplezope
defaults = ['--tests-pattern', '^f?tests$', '-v']
