[buildout]
develop = .
parts = test interpreter
index = http://download.zope.org/zope3.4

[test]
recipe = zc.recipe.testrunner
defaults = ['-1']
eggs = zc.extrinsicreference

[interpreter]
recipe = zc.recipe.egg
eggs = zc.extrinsicreference
interpreter = py
