.selfclear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.selfclear {
display: inline-block; /* IE 7 */
}

.selfclear {
display: block;
}

* html .selfclear {
height: 1px; /* IE < 7 */
}



#message-list-actions li {
display: inline;
margin-left: 0;
margin-right: 1em;
}

#message-list-actions {
display: block;
padding-bottom: 0.25em;
}

#message-list-actions li a {
font-size: 95%;
text-transform: lowercase;
text-decoration: none;
border-bottom: none;
}

#message-list, #archive-folders {
padding: 1em;
}

#message-list li a:link {
text-decoration: none;
border-bottom: none;
}

#message-list li a:visited {
text-decoration: none;
border-bottom: none;
}

#new-topic {
font-size: 95%;
text-transform: lowercase;
text-decoration: none;
border-bottom: none;
}

.list-views {
margin: 20px 0;
}

.list-views a {
margin: 0 10px 0 0;
}

#listen-actions a, 
#listen-actions form {
float: right;
margin: 0 0 1em 1em;              
}


#search-form {
display: inline;
}

#members-listing {
margin-top: 10px;
}

#members-listing,
#threads-listing {
padding-bottom: 20px;
width: 100%;
border-collapse: collapse;
border-spacing: 0;
}

#members-listing th,
#threads-listing th {
background: #dee7ec;
border: 1px solid #8cacbb;
border-width: 1px 0;
}

#members-listing td,
#threads-listing td {
text-align: center;
}

table.listen-moderation-table {
width: 100%;
}

table.listen-moderation-table td {
padding-left: 1em;
padding-right: 1em;
vertical-align: top;
}

table.listen-moderation-table td.listen-moderation-table-post {
width: 100%;
}

#list-details-header {
font-size: 120%;
}

#invite-members textarea {
width: 50%;
}


.listenPortlet  .portletHeader {
text-align: right;
}

.listenPortlet  .portletHeader .portletTopLeft {
float: left;
}

.listenPortlet .formControls {
text-align: center;
}

.list-details dt {
font-weight: bold;
margin: 0;
display: inline;
}

.list-details dd {
margin: 0 0 0.5em;
}

.listenPortlet #manager_email {
margin: 1em 0 0;
}

.listen-previous-pointer {
float: left;
}

.listen-next-pointer {
float: right;
}

.listen-post-new-topic,
.listen-invite-members {
text-decoration: none;
}
