[buildout]
develop = .
parts =
	instance
    test
    zopepy

extends = http://dist.plone.org/release/3.2a1/versions.cfg
versions = versions
newest = false
find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads

eggs =
	archetypes.fieldtraverser
	Plone


[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.10.7/Zope-2.10.7-final.tgz
fake-zope-eggs = true
additional-fake-eggs =
    ZConfig
    pytz


[instance]
zope2-location = ${zope2:location}

recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = off
deprecation-warnings = on

eggs =
	${buildout:eggs}

zcml =
	archetypes.fieldtraverser
	Products.CMFPlone

# archetypes.fieldtraverser must be loaded BEFORE plone!

[test]
recipe = zc.recipe.testrunner
extra-paths = ${zope2:location}/lib/python
eggs =
	${buildout:eggs}


[zopepy]
recipe = zc.recipe.egg
interpreter = zopepy
eggs = ${test:eggs}
extra-paths = ${zope2:location}/lib/python
scripts = zopepy
