[buildout]
develop = .
parts =
  test
  xprompt

[test]
recipe = zc.recipe.testrunner
eggs = xanalogica.tumbler

[xprompt]
recipe = zc.recipe.egg:scripts
interpreter = xprompt
eggs = xanalogica.tumbler
