/* Stylesheet for the 'Mimbo Plone Theme' Plone theme */

/*** Search ***/

.LSBox {
	text-align: right;
	padding: 16px 5px 0 0;
	}

#searchGadget {
	height: 1.5em !important;
	line-height: 1.5em !important;
	width: 140px !important;
	}

.searchButton {
	background:#000000 none repeat scroll 0 0 !important;
	border:medium none !important;
	color:#E7E7E7 !important;
	padding:1px !important;
	font-size: 1em !important;
	margin-bottom: 0 !important;
	text-transform: none !important;
	}

#LSResult {
	position: absolute;
	background: white;
}


/*** Content ***/

#content {
	background: white;
	}

.contentActions a:hover {
	text-decoration: none !important;
	}

.documentEditable {
	margin-top: 1em;
	}

.formTab {
	margin-left: 0 !important;
	}

h1.documentFirstHeading {
	font-weight: normal;
	/* was h2 */
	font: 2.3em Georgia, "Times New Roman", Times, serif;
	padding-bottom:8px;
	border-bottom:1px solid #333;
	margin: 20px 0;
	}

.documentByLine {
	display: inline;
	/* was small */
	font-size: 0.95em;
	background:#eef5e1;
	padding:3px 6px;
	}

/* Comments */

.comment {
	background: #F2F2F2;
	border-top:1px solid #DDDDDD !important;
	border: 0px solid #f2f2f2;
	margin: 15px 0 3px;
	padding: 8px 15px 10px;
}

.comment h3 {
	border-bottom: 0px solid #E9E9E9;
	}

.comment h3 a {
	background: #E9E9E9;
	display: block;
	font-size:0.95em;
	padding:3px 6px;
	}

.discussion .documentByLine {
	background: transparent;
}

.commentBody {
	margin: 15px 0;
	padding: 8px 0px;
	}

/*** Sidebar ***/

.portletHeader {
	font: 1em Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	letter-spacing:0.1em;
	margin-bottom:4px;
	font-weight:bold;
	color:#5f5f5f;
	border-top:5px solid #BBB;
	border-bottom:1px solid #BBB;
	padding:6px 0 6px 2px;
	margin:22px 0 15px 0;
	font-size:1em;
	}

.portletItem {
	padding: 1em;
}

.even {
	background: #EEF5E1;
	}

.odd {
	background: #E4EFD5;
	}

.portletFooter {
	display: block;
	text-align: right;
}

/* Portlet Navigation */

.portletNavigationTree .portletItem {
	padding: 0 !important;
}

.portletNavigationTree li {
	list-style:none;
	border-bottom:1px solid #FFF;
	}

.portletNavigationTree li a:link, .portletNavigationTree li a:visited {
	background:#eef5e1;
	display:block;
	padding:4px 4px 4px 8px;
	border-left:4px solid #e4efd5;
	border-right: 1px solid #EEF5E1 !important;
	border-top: 1px solid #EEF5E1 !important;
	border-bottom: 1px solid #EEF5E1 !important;
	}

.portletNavigationTree li a:hover, .portletNavigationTree li a:active {
	background:#e4efd5;
	text-decoration:none;
	color: #7da939;
	border-left:4px solid #e4efd5 !important;
	}



.navTreeCurrentItem,
.portletNavigationTree li a:hover {
	color: #7da939 !important;
	background: #E4EFD5 !important;
	border-left:4px solid #e4efd5 !important;
	border-right: 1px solid #EEF5E1 !important;
	border-top: 1px solid #EEF5E1 !important;
	border-bottom: 1px solid #EEF5E1 !important;
}

.portletNavigationTree li li a:link, .portletNavigationTree li li a:visited {
	border-left: none
	}

.portletNavigationTree li a img {
	display: none;
	}


.navTreeLevel1,
.navTreeLevel2,
.navTreeLevel3,
.navTreeLevel4,
.navTreeLevel5 {
	margin-top: 0;
	}

.navTreeLevel1 li a:hover,
.navTreeLevel2 li a:hover,
.navTreeLevel3 li a:hover,
.navTreeLevel4 li a:hover,
.navTreeLevel5 li a:hover {
	border-left: 0px !important;
	}

/*
.navTreeLevel1 .navTreeItem li,
.navTreeLevel2 .navTreeItem li,
.navTreeLevel3 .navTreeItem li,
.navTreeLevel4 .navTreeItem li,
.navTreeLevel5 .navTreeItem li {
	border-bottom: 0px solid transparent;
	margin-bottom: 0;
	background: #7DA939 !important;
	}
*/