BODY {
    font-family: verdana, helvetica, arial;
}

TABLE.distro-listing {
    width: 100%;
}

TABLE.distro-listing TH {
    text-align: left;
}

TABLE.distro-listing TH,
TABLE.distro-listing TD {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

TABLE.distro-listing TH.distro-name {
    width: 20%;
}

.top {
    clear: both;
    height: 2em;
}

.top .logo {
    float: left;
}

.top-actions {
    float: right;
    margin: 0;
    padding: 0;
}

.top-actions LI {
    display: inline;
    border-left: 1px solid black;
    padding: 0;
    padding-left: 0.3em;
    margin: 0;
    list-style-type: none;
}

.breadcrumbs {
    font-size: 75%;
}

.distro-block {
    float: right;
    border: 2px dashed #ccc;
    padding: 1em;
    margin: 0.5em;
    font-size: 75%;
    width: 15em;
    clear: right;
}

.distro-block UL {
    margin: 0;
    padding: 0;
    padding-left: 1em;
}

.distro-block LI {
    margin-left: 1em;
}

.distro-block H4 {
    margin: 0;
    display: none;
}

.distro-block .empty {
    color: #ccc;
}

.distro-metadata DL {
    margin: 0;
    padding: 0;
}

.distro-metadata DT {
    font-weight: bold;
    display: inline;
    padding: 0;
    margin: 0;
    padding-right: 0.5em;
}

.distro-summary {
    font-style: italic;
    font-size: 90%;
}

.distro-metadata DD {
    display: inline;
    padding: 0;
    margin: 0;
}

.rst H1 {
    font-size: 150%;
}

.rst H2 {
    font-size: 130%;
}

.rst H3, .rst H4, .rst H5 {
    font-size: 110%;
}

PRE {
    margin-left: 3em;
    border: 1px dashed black;
    padding: 1em;
    background-color: #fafafa;
}

.pager {
    margin: 1em;
    text-align: center;
}

.distro-searchform {
    margin: 0.5em;
    border: 1px dashed #444;
    padding: 0.5em;
    background-color: #eee;
}

.distro-searchform LABEL {
    display: none;
}

.distro-searchform.box {
    float: right;
}

.distro-searchform.box INPUT.action {
    float: right;
}

.distro-searchform,
.distro-searchform INPUT {
    font-size: 125%;
}

.distro-searchform .field,
.distro-searchform .action  {
    float: left;
}

LI.first {
    border: none;
}
