/* Stylesheet for the 'Delicious v.2' Plone theme */

#visual-portal-wrapper {
 width:900px;
 margin: 0 auto;
}

#portal-footer {
 background-color: transparent;
 margin:20px auto 0;
 border-bottom: 0;
 color:#666666;
}

/* START portlets */
#portal-column-two .visualPadding {
 padding:2em 1em 1em 0;
}

#portal-column-one .visualPadding {
 padding:2em 0 1em 1em;
}

.portletHeader {
 color: #189AD8;
 background: white url(++resource++plonetheme.cleantheme.images/arrow-red.png) no-repeat scroll 0 9px;
 border-width:0 0 1px;
 font-size:1.4em;
 font-weight:normal;
 letter-spacing:1px;
 padding-bottom:3px;
 padding-left:18px;
}

.portletHeader a {
 color: #189AD8;
}

.portletFooter {
 background-color: transparent;
 border-width: 1px 0 0 0;
}

.portletCalendar .portletHeader {
  font-size: 1.2em; 
  background-image: none;
}

.portletCalendar dt {
  background-color: transparent;
}

.ploneCalendar .todayevent,
.ploneCalendar .weekdays th {
   background-color:#F4F4F4;
}

.ploneCalendar .todayevent,
.ploneCalendar .todaynoevent {
 border: 1px solid #FFA500;
}


.portletItem {
 border:0;
 padding: 0;
}

/* START portlet login */
.portletLogin .formControls {
  padding-bottom: 10px;
}
.portletLogin .even {
    background-color: transparent;
}
/* END portlet login */

/* START portlet navigation */
.navTreeItem a, dd.portletItem .navTreeItem a {
  padding-left: 10px;
}

.navTreeCurrentItem,
.navTreeCurrentItem:hover,
.navTreeItem a:hover, dd.portletItem .navTreeItem a:hover {
 background-color:#e32a49;
 border:1px solid #e32a49;
 color: white !important;
}
/* END portlet navigation */

/* END portlets */ 

/* START site actions */
#portal-siteactions {
    margin:8px 1px 0 0;
    padding: 0;
    color: #666666;
}

#portal-siteactions li {
    font-size:0.9em;
    padding:0 0 0 24px;
}

#portal-siteactions li a {
    border: 0;
    margin: 0 16px 0 0;
    padding: 0;
/*     color: white; */
}

#portal-siteactions li::after {
    content: "|";
}


#siteaction-sitemap {
    background:transparent url(++resource++plonetheme.cleantheme.images/sitemap.gif) no-repeat scroll 0 1px;
}

#siteaction-accessibility {
    background:transparent url(++resource++plonetheme.cleantheme.images/accessibility.gif) no-repeat scroll 0 1px;
}

#siteaction-contact {
    background:transparent url(++resource++plonetheme.cleantheme.images/envelope.gif) no-repeat scroll 0 1px;
}

#siteaction-plone_setup {
    background:transparent url(++resource++plonetheme.cleantheme.images/house.gif) no-repeat scroll 0 1px;
}

#portal-siteactions li.last a {
    margin: 0 !important;
}
#portal-siteactions li.last::after {
    content: "";
}


#portal-siteactions li a:hover {
    background-color: transparent;
    border: 0;
    text-decoration: underline;
}

/* END site actions */


/* START globalnav */
#portal-globalnav {
    background: white url(++resource++plonetheme.cleantheme.images/globalnav-bg.png) no-repeat scroll 0 0; 
    height:58px;
    margin-top:1.3em;
}

#portal-globalnav li a {
    border: 0;
    display:inline;
    float:left;
    font-size:1.1em;
    font-weight: bold;
    line-height:58px;
    list-style-type:none;
    margin-left:3px;
    padding:0 1.1em;
    text-align:center;
    text-decoration: none;
    color: black;
    background: transparent url(++resource++plonetheme.cleantheme.images/arrow-black.png) no-repeat scroll 0 26px; 
}

#portal-globalnav li a:hover,
#portal-globalnav li.selected a:hover,
#portal-globalnav li.selected a {
    border: 0;
    color:#189AD8;
    text-decoration:none;
    background: transparent url(++resource++plonetheme.cleantheme.images/arrow-red.png) no-repeat scroll 0 26px; 
}

/* END globalnav */


#portal-personaltools {
    border:0;
    float: right;
    background-color: transparent;
}

#portal-personaltools li a {
    color: #666666;
}


#portal-breadcrumbs {
    border: 0;
    float: left;
    color: #666666;
}


/* START Document Actions */
.documentActions {
    border-top:0;
}

.documentActions ul {
/*     float: right; */
/*     padding-top:10px; */
}


.documentActions li {
/*     width: 14px; */
/*     height: 11px; */
/*     overflow: hidden; */
/*     display: block; */
/*     float: left; */
padding-left: 20px;

}

.documentActions li a {
/*     padding: 20px; */
}

#document-action-rss {
    background: white url(++resource++plonetheme.cleantheme.images/rss.gif) no-repeat 3px 1px;
}
#document-action-print {
    background: white  url(++resource++plonetheme.cleantheme.images/printer.gif) no-repeat 2px 1px;
}

#document-action-sendto {
    background: white url(++resource++plonetheme.cleantheme.images/envelope.gif) no-repeat scroll 3px 2px;
/*     padding-left:20px; */
}

/* END Document Actions */

table.listing th, .stx table th {
    background:#f4f4f4;
}

table.listing a,
table.listing a:hover {
    color: #ffa500;
}

/* START base HTML TAG */
h1, h2, h3, h4, h5, h6 {
    color: #189AD8;
    letter-spacing: 1px;
/*    font-family:Georgia,"Times New Roman",Times,serif;
    text-align: left;
    font-weight: normal;
*/
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.4em;
    margin: 4px 0 0 0;
}

h3 {
/*    background:transparent url(++resource++plonetheme.cleantheme.images/h3-bg.gif) no-repeat scroll 0 54%;
    color:#FDFDFD;
    font-size:1.4em;
    margin-bottom:7px;
    padding-left:18px;*/
}


/* END Base HTML TAG */


/* START searchbox */

#portal-searchbox input.searchButton {
    background: transparent url(++resource++plonetheme.cleantheme.images/button.gif) repeat-x scroll 0 bottom;
    border:1px solid #b3b3b3;
    margin:0;
    padding:0 10px;
    height: 23px;
}

form.searchPage input.searchButton:active,
#portal-searchbox input.searchButton:active {
  background-color: white;
  background-image: none;
}

#searchGadget {
    background-color: white;
    height:1.7em;
    padding-left:0.5em;
    width:14em;
    color: black;
}

.searchSection label {
    color: #666666;
}

/*.LSDescr,
.livesearchContainer {
/*   color: white; */
}*/

input.searchPage {
    font-size:120% !important;
    width:500px;
}

form.searchPage input.searchButton  {
    background: transparent url(++resource++plonetheme.cleantheme.images/button.gif) repeat-x scroll 0 bottom;
    border:1px solid #b3b3b3;
    margin:0;
    padding:0 10px;
    height: 32px;
}

form.searchPage input.searchButton:active,
#portal-searchbox input.searchButton:active {
  background-color: white;
  background-image: none;
}

/* END searchbox */

/* START text style */
.documentDescription {
    color:#76797C;
    display:block;
    font-size:0.8em;
    font-weight:bold;
    line-height:1.5em;
    margin:0 0 0.5em;
}

.documentContent {
    font-size:100%;
    padding:1em 0.5em 2em !important;
}

h2.tileHeadline {
    font-size: 1.4em;
}

.documentContent p a {
    border-bottom:1px solid #E32A49;
}

.tileItem {
border: 0;
border-bottom:1px solid #D9D9D9;
}

#content .link-category {
    color:#ffa500 !important;
}

.listingBar {
  background-color: white;
}
/* END text style */


/* START form style */

li.formTab a:hover,
li.formTab a.selected {
  background:#f4f4f4;
}

/*#login-form input.context */
.destructive, .documentEditable * .destructive,
.standalone, .documentEditable * .standalone,
.context, .formControls .actionButtons .button, .documentEditable * .context {
    background: transparent url(++resource++plonetheme.cleantheme.images/button.gif) repeat-x scroll 0 bottom;
    border:1px solid #b3b3b3;
    margin:0;
    padding:0 10px;
    height: 26px;
}

.destructive, .documentEditable * .destructive {
    border:1px solid #E32A49;
}

input[id*="cancel"],
.standalone, .documentEditable * .standalone {
    background: transparent url(++resource++plonetheme.cleantheme.images/button-green.gif) repeat-x scroll 0 bottom;
}

.destructive:active, .documentEditable * .destructive:active,
.standalone:active, .documentEditable * .standalone:active,
.context:active, .formControls .actionButtons .button:active, .documentEditable * .context:active {
    background-color: white;
    background-image: none;
}

input[id*="cancel"]:active,
.standalone:active, .documentEditable * .standalone:active {
    background-color: white;
    background-image: none;
}

#login-form input.context {
    background-position: 0 0;
    padding:0 10px;
}


/* END Form style */


/* START Image style */
.tileImage,
.newsImage {
    border:2px solid #D9D9D9;
}

.newsImage {
    margin:0.2em 0 0.6em;
}




/* END Image style*/
