
#portal-globalnav {
	margin-top: 17px;
}

#searchGadget, input.inputLabelActive {
	padding-top: 1px;
	padding-bottom: 2px;
}

input.searchButton {	
	background: #EDE8D3 url(++resource++plonetheme.criticas.images/lupasearchcuadrada.jpg) no-repeat scroll 0px 0px;
	right: 7px;
    margin-bottom: 2px !important;
}

#portal-column-two {
	width: 270px;
}

#portal-column-one {
	width: 270px;
}

.portlet {
	background-color: #E0D7B2;
}

#portal-breadcrumbs {
	background-color: #FCFBF2;
	margin-top: 0px;
	padding-top: 8px;
}

#portal-top {
	background-color: #FCFBF2;
}

.visualClear {
	background-color: #FCFBF2;
}

#portal-siteactions li a {
	position: relative;
}	

#portal-globalnav li a {
	position: relative;
}

#portal-globalnav li a:hover {
	border: 1px solid #dee7ec;
}

input.inputLabelActive {
	padding-bottom: 3px;
}

input {
	padding-bottom: 3px;
	padding-top: 2px;
}
