[buildout]
develop = .
parts = helloapp instance test

find-links = http://download.zope.org/distribution/

[zope3]
location =

[helloapp]
recipe = zc.zope3recipes:app
site.zcml = <include package="zope.app.zcmlfiles" />
            <include package="zope.app.authentication" />
            <include package="zope.app.securitypolicy" />
            <include package="zope.app.twisted" />
            <unauthenticatedPrincipal
                id="zope.anybody"
                title="Unauthenticated User" />
            <include package="zope.app.securitypolicy" file="meta.zcml"/>
            <securityPolicy
                component="zope.app.securitypolicy.zopepolicy.ZopeSecurityPolicy" />
            <role id="zope.Anonymous" title="Everybody"
                description="All users have this role implicitly" />
            <grant permission="zope.View"
                  role="zope.Anonymous" />
            <include package="z3hello" />
            <principal
                id="zope.manager"
                title="Manager"
                login="admin"
                password="admin"
                />
            <role id="zope.Manager" title="Site Manager" />
            <grant
                role="zope.Manager"
                principal="zope.manager"
                />

eggs = z3hello

[instance]
recipe = zc.zope3recipes:instance
application = helloapp
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = z3hello
