body#content {
	background: none;
}

#logo h1 {
	text-transform: uppercase;
	font-family: Georgia,"Bitstream Charter","Century Schoolbook L","Bitstream Vera Serif","New York",Palatino,Garamond,Times,"Times New Roman",serif;
	font-size: 45px !important;
}

#portal-column-content {
	padding: 0;
	margin-top: 45px;
}

#portal-column-one {
	width:214px;
}

.contentViews {
	padding-left: 0em;
	margin-left: 0em !important;
}

#portal-siteactions {
	text-align: right;
	margin-right: 1em;
}

#portal-siteactions li {
	display: inline;
	padding: 0 0.2em;
}

#portal-siteactions li a {
	text-decoration: none;
}

#menu .selected a {
	background: #EC0000 url(++resource++plonetheme.stylized.images/img03.gif) repeat-x left bottom;
}

.portletHeader {
	background:#C80000 url(++resource++plonetheme.stylized.images/img05.gif) no-repeat scroll 0 0;
	color:#FFFFFF;
	font-size:17px;
	line-height: 1.3em;
	height:27px;
	padding:6px 0 0 34px;
	text-transform:lowercase;
}

.portletHeader a {
	text-decoration: none;
	color: #fff !important;
}

.portletItem,
.portletFooter,
.managePortletsLink {
	padding: 10px 26px;
	font-size: 12px;
}

.navTreeItem {
	font-size: 12px;
}

.portletItem a {
	text-decoration: none;
	font-weight: bold;
}

.portletItem a.tile span {
	display: block;
	font-weight: normal;
	font-size: 10px;
	color: #808C96;
	}

.portletWrapper {
	background:transparent url(++resource++plonetheme.stylized.images/img06.gif) repeat-x scroll 0 0;
}
.documentDescription,
#link-presentation,
#parent-fieldname-text p,
#plone-document-byline,
.discreet {
	padding-left: 32px;
}

.post h2 {
	background:transparent url(++resource++plonetheme.stylized.images/img07.gif) no-repeat scroll left center;
	margin:40px 0 25px;
	padding-left:32px;
}

.post ul, .post ol {
	margin-left: 32px;
}

#portal-colophon ul {
	text-align: center;
}
#portal-colophon li {
	display: inline;
}

.documentActions {
	border-top:1px solid #f00;
	margin:1em 0;
	padding:0;
}
.documentActions ul {
	display:block;
	list-style-image:none;
	list-style-type:none;
	margin:-0.9em 0 0;
	padding:0 0.5em;
	text-align: right;
}

.documentActions li {
	background-color:White;
	display:inline;
	font-size:90%;
	margin:0 0.5em;
	padding:0 0.25em;
}

.documentActions li a {
	text-decoration: none;
}

#footer p {
	margin-bottom:0.5em;
}
.portalMessage {
background-color:#FFCE7B;
background-image:url(++resource++info_icon.gif);
background-position:5px 50%;
background-repeat:no-repeat;
border:1px solid #FFA500;
color:Black;
font-size:85%;
font-weight:bold;
margin:1em 0;
padding:0.5em 1em 0.5em 3em;
vertical-align:middle;
}