@import url("cubicweb.css");

div.notification{
  float:right;
  padding-left: 24px;
  position:relative;
}

.quickLinks {
 padding-top: 2em;
 padding-left: 1em;
 margin-right: 1em;
}
.quickLinks a{
 color: #808080;
 text-decoration: none;
}
.quickLinks table{
 margin-top: 1em;
}

dl.actions{
 display:block;
 float:left;
}

dl.actions dd,
dl.actions dt{
 margin:0px;
 padding:0px;
 float:left;
 display:block;
}

dl.actions dd{
 border:1px solid #cfceb7;
 background:#f4f5ed;
}

dl.actions dd a.current_state{
 padding:0px 10px 0px 3px;
 display:block;
 font-weight:bold;
 background:#f4f5ed url("puce.png") no-repeat scroll 100% 50%;
}

dl.actions dt ul{
 margin:0px;
 padding:2px;
 position:absolute;
 background:#f4f5ed;
 border:1px solid #cfceb7;
 list-style-type:none;
 list-style-image: none;
}

dl.actions dt ul li{
 display:inline;
}

dl.actions dt ul li a.state{
 padding:0px 3px;
 display:block;
 font-weight:bold;
 white-space:nowrap;
 color:#000;
}

.entityDescr{
 margin: 0px;
 padding:0.3em  0px ;
 color : #666;
}

.entityDescr:hover{
 color : #000;
}

a.up{
 display : block;
 height: 20px !important;
 width: 20px !important;
 background: url("up.png") no-repeat;
}

div.row{
 margin-bottom : 0.4em;
}

table.stats {
  margin-left: auto;
  margin-right: auto;
}

td.alt0 {
  background: #fff;
}

td.alt1 {
  background: #f5deb3 /*wheat*/;
}

tr.alt0 {
  background: #f5deb3;
}

tr.alt1 {
  background: #f5deb3;
}

span.state{
 font-size : 56%;
}


div.titleGroup{
 border-bottom : 1px solid #000;
}

div.projectTitleGroup{
 font-size:190%;
 font-weight:bold;
}

div.titleGroup h1{
 border-bottom : none;
}

div.titleGroup h2{
 font-size:170%;
 border-bottom : none;
}

div.downloadBoxTitle{
 background : #8FBC8F;
 font-weight:bold;
}

div.downloadBox{ 
 font-weight:bold;
}

div.downloadBox div.sideBoxBody{
 background : #EEFED9;
}

/******************************************************************************/
/* tickets'priority                                                           */
/******************************************************************************/

td.minor, td.normal, td.important{
  height:16px;
  padding-left: 18px !important;
}

.minor {
  padding: 1px 0px 1px 18px;
  background:url("priority_minor.png") 0% 0.2em no-repeat !important;
}

.normal {
  padding: 1px 0px 1px 18px;
  background:url("priority_normal.png") 0% 0.2em no-repeat !important;
}

.important {
 padding: 1px 0px 1px 18px;
  background:url("priority_important.png") 0% 0.2em no-repeat !important;
}

td.label {
  padding-right: 10px;}
