[buildout]
develop = . 
parts = python test

[python]
recipe = zc.recipe.egg
eggs = ore.metamime
interpreter = python
       
[test]
recipe = zc.recipe.testrunner
eggs = 
  ore.metamime
  zope.schema
  zope.component
