#header
{
    text-align: right;
    margin-bottom: 20px;
}

#footer
{
    margin-top: 60px;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 8pt;
}

.message
{
    color: #ff9911;
    text-align: center;
}

.login
{
    width: 500px;
    margin: 0px auto;
    text-align: center;
}

.main
{
    width: 100%;
}

body
{
    background-color: #5E77C8;
}

table
{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

caption
{
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}

a
{
    color: white;
}

label, input, select
{
    display: block;
    width: 200px;
    float: left;
    margin-top: 10px;
}

label
{
    text-align: right;
    width: 100px;
    padding-right: 20px;
    margin-left: 20px;
}

br
{
    clear: left;
}