div#portal-footer {
  float: left;
  clear: both;
  border-top: none;
  text-align: center;
}

div#portal-footer p {
  margin: 0.5em 0;
}

div#portal-colophon ul li {
  color: #666;
  font-size: 0.8em;
}

div#portal-colophon ul li a {
  color: #666;
  text-decoration: &dtml-linkDecoration;;
}
