body {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

div#portal-columns {
  padding: 0;
  margin: 0;
  border-top: none;
}

div#portal-column-content {
  padding-bottom: 1em;
}

h1 {
  font-size: 2.2em;
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 2em;
  margin-bottom: 0.2em;
}

h3 {
  font-weight: normal;
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 0.2em;
}

h1.documentFirstHeading {
  float: left;
  clear: both;
  width: 100%;
}

.visualPadding {
  padding: 0.5em 5% 0 5%;
  float: left;
  clear: both;
  width: 90%;
}

p {
  padding: 0;
  margin: 1em 0;
}

p.documentDescription {
  font-weight: bold;
}

ul, ol {
  line-height: 1.5em;
}

#portal-column-content .visualPadding {
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;
}

table.listing {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-collapse: collapse;
}

table.listing td, table.listing th {
  border-width: 0;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  margin: 0;
  padding: 0.5em;
}

table.listing ul, table.listing ol {
  margin: 0;
  padding-left: 1em;
}

div.eventDetails table.listing {
  width: auto;
  float: right;
  margin: 1em 0 1em 1em;
}

img {
  border: none;
  vertical-align: middle;
}

img.sortdirection {
  margin: 0 0.2em;
  width: 9px;
}

.LSTable {
  padding-left: 0px;
}

.LSTable li {
  display: block;
  white-space: normal;
}

div.newsImageContainer {
  float: left;
  clear: left;
  padding: 1em 1em 0 0;
  margin: 0;
}

form {
  float: left;
  width: 100%;
}

fieldset {
  margin: 0;
  padding: 1em;
}

#login-form {
  float: none;
  margin: 0 auto;
  padding: 2em;
  width: 50%;
}
