body{
  padding: 0px;
  font: normal 13px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
  background: #baed00;
}

a{
  text-decoration: none;
  color: #009;
  font-weight: bold;
}
a:visited{
}
a:hover{
  color: #00f;
}

#wrapper{
  margin: -8px;
  padding: 0px;
}

div.paragraph{ 
  width: 80ex;
  margin: auto;
}

#content-wrapper{
  background: url(++resource++img/bottom-fade.png) bottom repeat-x white;
  padding-bottom: 70px;
}

#content{
  background: url(++resource++img/top-fade.png) top repeat-x;
  padding: 10px;
  padding-top: 70px;
}

#header{
  background: #baed00;
}

#header{
  margin: 0px;
  height: 70px;
  padding: 0px;
  color: #baed00;
}

#footer{
  width: 100%;
  height: 50px;
  text-align: center;
  color: #555;
}

#userInfo{
  position: absolute;
  right: 5px;
  top: 0px;
  background: #b0e000;
  color: black;
  border: 1px solid #425400;
  border-top: 0;
  padding: 10px;
  padding-top: 0;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;

}
.logout-button,
.login-button{
  font-weight: bold;
  text-decoration: none;
  color: black;
  background: #baed00;
  border: 1px solid #425400;
  padding: 1ex;
  padding-bottom: 4px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

#navigation-menu{
  position: absolute;
  right: 5px;
  top: 53px;
}
.side-area,
.side-menu {
}

#navigation-menu .menu-header {
  display: inline;
  color: #baed00;
  font-weight: bold;
}
#navigation-menu .menu-header:after {
  content: ":";
}
#navigation-menu a{
  background: #b0e000;
  border: 1px solid #425400;
  border-bottom: 0px;
  padding-left: 1ex;
  padding-right: 1ex;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  display: inline;
}
#navigation-menu a.active-menu-item,
#navigation-menu a:hover{
  background: #baed00;
  border-color: #555;
  border-bottom: 1px solid #baed00;
  padding-top: 1.5ex;
}

.side-area{
  color: black;
  padding: 1ex;
}

#message-area{
  position: relative;
  color: darkred;
  font-weight: bold;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 0px;
  top: 10px;
  -moz-border-radius-bottomright: 30px;
  height: 0px;
}

#form-area {
  margin-bottom: 10px;
}
#form-selector-buttons{
  border-bottom: 2px solid #790
}
#form-selector-buttons
input[type=button],
#form-wrapper{
  background: #deeda6;
  border: 2px solid #790;
}

#form-selector-buttons
input[type=button]{
  border-bottom: 0px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  margin-right: 10px;
  font-weight: bold;
}
#form-selector-buttons
input[type=button]:hover{
  background: #baed00;
  cursor: pointer;
}

#form-wrapper{
  border-top: 0px;
  padding: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
}

#form-hide-button{
  float: right;
  border: 1px solid #790;
  -moz-border-radius: 5px;
  background: #fff;
  opacity: .5;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 12px;
  margin-top: -5px;
  margin-right: -5px;
  cursor: pointer;
}
#form-hide-button:hover{
  opacity: 1;
}
#search-results table{
  border-collapse: collapse;
}
#search-results{
  border: 1px solid #8b9653;
  border-bottom: 0px;
}
#search-results .controller{
  border: 0;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
}
#search-results .controller:hover{
  color: red;
}
.search-result-item{
  padding: 3px;
  border-bottom: 1px solid #8b9653;
  font-size: 15px;
}
.search-result-item .top-row{
  cursor: pointer;
  display: block;
}
.search-result-item table.inline{
  margin: 5px;
}
.search-result-item table.inline tr{
  border-top: 1px solid #8b9653;
}
.search-result-item table.inline td.field{
  border-left: 1px solid #8b9653;
}
.search-result-item table.inline td.label{
  width: 10%;
}
.listing-buttons input[type=button]{
  height: 15px;
  margin: 0;
  font-size: 10px;
  cursor: pointer;
}
.listing-buttons input[type=button]:hover{
  background: white;
}

div.field-container{
  border-top: 1px dotted black;
}
div.field-container form.edit-form{
  width: 305px;
}

div.field-container div.label{
  font-style: italic;
}
div.field-container div.field{
  padding-left: 10px;
}

.evenRow{
  background: #e5edca;
}
.oddRow{
  background: #dbed82;
}

form.edit-form{
  margin: 10px;
  border: 1px solid #8b9653;
  background: #f1fad4;
  padding: 10px;
}

.label{
  font-weight: bold;
  display: inline;
  font-size: smaller;
}

.field{
  font-size: small;
}

input.text-widget {
    width: auto;
    max-width: 300px;
}

.show-whitespace {
  white-space: pre;
}