[buildout]
develop = .

newest = false

parts = instance
        eggs
        test
        interpreter
        coverage-test
        coverage-report
	i18n

[zope3]
location = .

[app]
recipe = zc.zope3recipes:app
base-site.zcml =
   <!-- Minimal configuration -->
   <include package="zope.app.securitypolicy" file="meta.zcml" />
   <include package="zope.app.zcmlfiles" />
   <include package="zope.app.authentication" />
   <include package="zope.app.securitypolicy" />

   <!-- Servers -->
   <include package="zope.app.twisted" />

   <!-- Securitypolicy -->
   <securityPolicy component="zope.securitypolicy.zopepolicy.ZopeSecurityPolicy" />

   <role id="zope.Anonymous" title="Everybody" />
   <role id="zope.Manager" title="Site Manager" />
   <role id="zope.Member" title="Site Member" />

   <grant permission="zope.View" role="zope.Anonymous" />
   <grant permission="zope.app.dublincore.view" role="zope.Anonymous" />

   <!-- Principals -->
   <unauthenticatedPrincipal id="zope.anybody" title="Unauthenticated User" />
   <unauthenticatedGroup id="zope.Anybody" title="Unauthenticated Users" />
   <authenticatedGroup id="zope.Authenticated" title="Authenticated Users" />
   <everybodyGroup id="zope.Everybody" title="All Users" />

   <principal id="zope.manager" title="Manager" login="admin" password_manager="Plain Text" password="1" />

   <grant role="zope.Manager" principal="zope.manager" />

site.zcml =
  <configure i18n_domain="zope"
             xmlns:zcml="http://namespaces.zope.org/zcml">

  ${app:base-site.zcml}

  <!-- Include develop package here -->
  <include package="ice.adverlet.demo" />

  <grantAll role="zope.Manager" />

  </configure>

eggs = ice.adverlet

[instance]
recipe = zc.zope3recipes:instance
application = app
zope.conf =
    ${database:zconfig}
    devmode on
     <server>
       type HTTP
       address 8080
     </server>

[database]
recipe = zc.recipe.filestorage

[eggs]
recipe = zc.recipe.egg
unzip = true
eggs = PasteScript

[test]
recipe = zc.recipe.testrunner
eggs = ice.adverlet [test]

defaults = ['--tests-pattern', '^f?tests$', '-v']

[coverage-test]
recipe = collective.recipe.scriptgen
cmd = ${buildout:directory}/bin/test
arguments =
    --coverage ${buildout:directory}/coverage

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage
arguments = ('${buildout:directory}/coverage', '${buildout:directory}/coverage/report')

[interpreter]
recipe = zc.recipe.egg
eggs = ice.adverlet
interpreter = py

[i18n]
recipe = lovely.recipe:i18n
package = ice.adverlet
domain = ice.adverlet
location = src/ice/adverlet
output = locales
zcml = 
     <include package="zope.app.zcmlfiles" />
     <include package="ice.adverlet" />
