body { background-color: #000000; color: #ffffff; font-size: 9pt; 
       font-family: Verdana, Arial, Helvetica, sans-serif;
       margin-top: 5px; margin-right: 10px; 
       margin-bottom: 10px; margin-left: 10px; }

h2 { color: #669999; font-size: 15pt; }
h3 { color: #999999; font-size: 9pt; }

span.big { font-size: 11pt; color: #ffffcc; }
span.name { color: #ffffcc; }
span.numbers { color: #33cccc; }
span.description { font-size: 8pt; font-style: italic; }

a:link { background-color: transparent; text-decoration: none;
         font-family: Verdana, Arial, Helvetica, sans-serif;
         color: #ccccff; font-size: 9pt;
         margin-top: 1em; margin-bottom: 1em; }
a:visited { background-color: transparent; text-decoration: none;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #aaaacc; font-size: 9pt;
            margin-top: 1em; margin-bottom: 1em; }
a:hover { background-color: transparent; text-decoration: underline;
          font-family: Verdana, Arial, Helvetica, sans-serif;
          color: #ffaaaa; font-size: 9pt;
          margin-top: 1em; margin-bottom: 1em; }

a.big:link { font-size: 11pt; }
a.big:visited { font-size: 11pt; }
a.big:hover { font-size: 11pt; }

img { border-width: 1px; border-style: inset;}

td.transparent { background-image: url("transparent_black.gif"); 
                 font-size: 9pt; padding: 7px; }
td.notransparent { font-size: 9pt; padding: 7px; }

li { list-style-type: square; font-size: 9pt; color: #999999;
     padding-bottom: 3px; }

span.tree_gallery { color: #999999; }

div.exif { color: #cccccc; }
