
.portletNavigationTree .navTreeCurrentNode a,
.portletNavigationTree li a:hover {
	color: white;
}

.portletNavigationTree ul {
	padding-left: 15px;
	padding: 0;
}

.portletNavigationTree li {
	padding-left: 20px;
	border-bottom: 1px solid whitesmoke;
	line-height: 25px;
}

.portletNavigationTree a {
	text-decoration: none;
	color: #eee;
}

li.navTreeItem.visualNoMarker li {
	padding-left: 10px;
	line-height: 12px;
	border-bottom: 0px;
	padding-bottom: 4px;
}

