.page_index ul{
font: bold 11px Arial, Verdana, sans-serif;
margin:0;
margin-bottom: 1em; /*margin between menu and rest of content*/
padding:0;
list-style:none;
}

.page_index li{
display:inline;
margin:0 2px 0 0;
padding:0;
text-transform:uppercase;
line-height: 1.5em;
}

.page_index a{
float:left;
color: black;
background: #dbe2ed  no-repeat left bottom;
border: 1px solid #536D97;
margin:0 2px 0 0;
padding:0 0 0 3px;

text-decoration:none;
letter-spacing: 1px;
min-width: 15px;
height:15px;
}

.page_index a span {
margin: 2px;

}
.page_index a:hover{
background-color: white;
}

.page_index a.page_index_dot {
background-color: inherit;
width: 40px;
border: none;
}


.page_index a.page_index_dot:hover {
background-color: none;
}

.page_index a.page_index_selected {
background-color: #FF8860;
}

