# config file for mtrax
[Mtrax]
Package: python-mtrax
Build-Depends: python-numpy
Depends: python-wxvideo, python-wxvalidatedtext, python-imops, python-scipy, python-matplotlib, python-numpy
MIME-Desktop-Files: mtrax.desktop
MIME-File: mtrax.mime
