[buildout]
develop = .
parts = test
extends = 
    http://dist.plone.org/release/3.3/versions.cfg
    http://download.zope.org/zope3.4/3.4.0/versions.cfg
find-links =
    http://dist.repoze.org/zope2/2.10/
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = collective.recipe.zope2wsgi [tests]

