body {
  margin: 0;
  font-size: 0.9em;
  font-family: 'Trebuchet MS', 'Verdana', sans-serif;
  background-color: white;
}

.box {
  margin: 0 auto 0 auto;
  padding: 2em;
  width: 50%;
  background-color: #e4f1cd;
  color: #527606;
  border-left: 2px solid #CCCCCC;
  border-right: 2px solid #CCCCCC;
}

h1 {
  text-align: left;
  margin: 0 0 1em 0;
  padding: 0 0 0.1em 0;
  letter-spacing: -2px;
  font-size: 2.8em;
  border-bottom: 2px solid #888888;
}

p {
  margin: 0;
  padding: 0;
}

table.pluginlist {
  width: 100%;
  border-spacing: 0;
  padding: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}

th, td {
  text-align: left;
  vertical-align: top;
}

tr.item {
  cursor: pointer;
  background-color: #ddd;
}

tr.item:hover {
  background-color: #ccc;
}

.explanation {
  display: none;
}

small, .explanation {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #111;
  font-weight: normal;
}

.explanation table {
  border-spacing: 0;
}

.explanation table td {
  padding-right: 15px;
}

a {
  color: #527606;
}

dl dt {
  font-weight: bold;
}

dl dt tt {
  font-family: 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
  font-size: 0.8em;
  color: #111;
  font-weight: normal;
  background-color: #fff;
  padding: 0.1em;
  border: 1px solid #ccc;
}

dl dd {
  font-size: 0.9em;
  padding: 0;
  margin: 0.1em 0 0.3em 2em;
  color: black;
}
