/* Color Palette 
Red:			#db2f2d
Blue:			#31abd4
Yellow:			#e6e532
Light Gray:		#e7e7df
Gray:			#b4b1aa
Dark Gray:		#404040
End Color Palette */

body
	{
	background-color: #404040;
	}   

#visual-portal-wrapper
	{       
	background-color: #ffffff;
	}

#portal-breadcrumbs
	{
	color: #ffffff;
	}

#portal-breadcrumbs a
	{
	color: #31abd4;
	font-weight: bold;
	}

#portal-breadcrumbs a:hover
	{
	color: #e6e532;
	background-color: transparent;
	}

#portal-siteactions li a
	{
	color: #31abd4; 
	background-color: transparent;
	font-weight: bold;
	border-width: 0em;
	padding-bottom: 0em;        
	}

#portal-siteactions li a:hover
	{
	color: #e6e532;
	background-color: transparent;
	border-width: 0em;	
	}

#searchGadget,
.LSBox .searchField
	{
	-moz-border-radius: 1.167em;
	-webkit-border-radius: 1.167em;     
	}

#livesearchLegend 
	{
	color: #404040;
	background-color: #b4b1aa;
	-moz-border-radius-topleft: 1.167em;
	-webkit-border-top-left-radius: 1.167em;
	-moz-border-radius-topright: 1.167em;
	-webkit-border-top-right-radius: 1.167em;		
	}
	
input.searchButton,
.portletSearch .searchButton
	{
	color: #ffffff;
	background-color: #31abd4;  
	font-weight: bold;
	background-image: none;	
	-moz-border-radius: 1.167em;
	-webkit-border-radius: 1.167em;     
	}
	
.LSIEFix
	{
	background-color: #e7e7df;	
	}

.searchSection label,
.searchSection label:hover
	{
	color: #ffffff;
	}

#portal-globalnav li a
	{
	color: #404040;
	background-color: #b4b1aa;	
	font-family: "Perspective Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
	-moz-border-radius-topleft: 1.5em;
	-webkit-border-top-left-radius: 1.5em;
	-moz-border-radius-topright: 1.5em;
	-webkit-border-top-right-radius: 1.5em;	
	}

#portal-globalnav li a:hover
	{
	color: #404040;
	background-color: #e7e7df;
	}

#portal-globalnav li.selected a
	{
	color: #404040; 
	background-color: #ffffff; 	
	}

#portal-header
	{
	background-color: #404040;	
	}
				
#portal-personaltools li a
	{
	color: #0170ca; 
	}

.contentViews li a
	{
	color: #ffffff;
	background-color: #404040;  
	border-color: #000000;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	-moz-border-radius-topright: 1em;
	-webkit-border-top-right-radius: 1em;		
	}

.contentActions li a,
.contentActions,
.contentViews li.selected a,
.actionMenuSelected
	{
	color: #404040;
	background-color: #b4b1aa;  
	}

/* Match the border color with the actions color for a seamless mesh */
.contentViews li.selected a
	{
	border-bottom-color: #b4b1aa;
	}

.contentViews li a:hover,
.contentActions li a:hover,
.actionMenu .actionMenuContent li a:hover
	{
	color: #404040;
	background-color: #e7e7df;
	}

h1
	{
	color: #db2f2d; 
	border-color: #b4b1aa;
	}
	
h2
	{     
	color: #404040; 
	}

.documentByLine
	{
	color: #404040;
	}

.documentDescription
	{
	color: #404040;
	}   
	
.formHelp,
.formHelp:hover
	{
	color: #db2f2d;
	}

.discreet
	{
	color: #404040;
	}
	
th.nosort,
.listing th,
table.listing th,
.stx table th 
	{
	color: #000000;
	background-color: #b4b1aa;
	}

.listing td,
.stx table td
	{
	background-color: #ffffff;
	}

.fieldRequired
	{
	color: #db2f2d;
	}

legend
	{
	color: #ffffff;
	background-color: #31abd4;
	font-weight: bold;
	}

fieldset
	{
	background-color: #e7e7df;
	}

ul.formTabs li.formTab a
	{		
	color: #ffffff;
	background-color: #404040;	
	font-weight: bold;
	}

ul.formTabs li.formTab a:hover 
	{
	color: #383121;
	background-color: #e7e7df;	
	}
	
ul.formTabs li.formTab a.selected
	{
	color: #ffffff;
	background-color: #b4b1aa;	
	}
	
.context, .documentEditable * .context,
.standalone, .documentEditable * .standalone 
	{
	color: #ffffff;
	background-color: #31abd4;  
	background-image: none;
	font-weight: bold;
	}

.documentEditable .documentContent
	{
	-moz-border-radius: 0em;
	-webkit-border-radius: 0em;
	}

dl.portalMessage
	{
	background-color: #ffffff;
	}
	
.system-message,
dl.portalMessage dt
	{
	color: #db2f2d;
	background-color: #b4b1aa;  
	}

dl.portalMessage dd
	{
	color: #383121;
	background-color: #e7e7df;
	}
	
#portlet-navigation-tree .portletHeader a,
.portletHeader a,
.portlet .portletHeader,
div.portlet h5
	{
	color: #404040;
	background-color: transparent;
	font: normal normal bold 1em "Perspective Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
	}

.portlet
	{
	color: #000000;
	background-color: #e7e7df;
	-moz-border-radius: 1.167em;
	-webkit-border-radius: 1.167em;     
	}
	
dd.portletFooter:last-child
	{
	color: #383121;
	background-color: #b4b1aa;
	-moz-border-radius-bottomleft: 1.167em;
	-webkit-border-bottom-left-radius: 1.167em;
	-moz-border-radius-bottomright: 1.167em;
	-webkit-border-bottom-right-radius: 1.167em;
	}
	
.ploneCalendar
	{
	background-color: #e7e7df;
	-moz-border-radius: 1.167em;
	-webkit-border-radius: 1.167em; 
	}
	
.ploneCalendar th
	{
	color: #404040;	
	background-color: #b4b1aa !important;
	font: normal small-caps bold 1.167em "Perspective Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
	}

.ploneCalendar .weekdays 
	{
	color: #404040;	
	}

.ploneCalendar .event
	{
	background-color: transparent;
	}
	
.ploneCalendar .todaynoevent,
.ploneCalendar .todayevent
	{	
	border-color: #31abd4;
	font-weight: bold;
	}

.pullquote
	{   
	color: #404040;
	background-color: transparent;
	border-left-color: #b4b1aa;
	}

.even
	{
	background-color: transparent;
	}
	
.odd
	{
	background-color: #e7e7df !important;
	}   

a.link-feed
	{
	background: transparent url(rss_icon.gif) no-repeat scroll center left;
	padding-left: 18px;
	}
	
#portal-footer
	{
	color: #000000;
	background-color: #b4b1aa;		
	}
	
.navTreeItem a:hover,
dd.portletItem .navTreeItem a:hover
	{
	background-color: #b4b1aa;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em; 	
	}

.navTreeCurrentItem
	{
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em; 
	}

input,
textarea,
#archetypes-fieldname-title input,
#archetypes-fieldname-description input,
#archetypes-fieldname-description textarea 
	{   
	background-image: none;
	font-weight: normal;
	}

/* Begin portlet customizations to include icons */
.portletLogin .portletHeader
	{
	background: transparent url(logon_portlet_icon.png) no-repeat scroll top right;
	}
	
.portletEvents .portletHeader
	{
	background: transparent url(events_portlet_icon.png) no-repeat scroll top right;
	}
	
.portletNavigationTree .portletHeader
	{
	background: transparent url(nav_portlet_icon.png) no-repeat scroll top right;
	}

.portletSearch .portletHeader
	{
	background: transparent url(search_portlet_icon.png) no-repeat scroll top right;
	}

.portletWorkflowReview .portletHeader
	{
	background: transparent url(review_portlet_icon.png) no-repeat scroll top right;
	}

.portletNews .portletHeader 
	{
	background: transparent url(news_portlet_icon.png) no-repeat scroll top right;
	}

.portletRecent .portletHeader
	{			
	background: transparent url(recent_portlet_icon.png) no-repeat scroll top right;
	}
/* End portlet customizations to include icons */
