/* Center the portal using negative margins technique */
#visual-portal-wrapper
	{       
	width: 80em;
	position: relative;
	left: 50%;
	margin-left: -40em; 
	margin-top: 3em;
	}
/* End center portal rule */

#portal-breadcrumbs
	{
	position: absolute;
	top: -2em;
	left: 0em;
	}

.searchSection label,
.searchSection label:hover
	{
	font-size: 1em;
	line-height: 1.5;
	}

#searchGadget,
.LSBox .searchField
	{
	padding-left: 0.45em;
	padding-right: 0.45em;
	}
	
input.searchButton,
.portletSearch .searchButton
	{
	padding-left: 0.45em;
	padding-right: 0.45em;
	}
	
#portal-globalnav li a
	{
	text-align: center;		
	}

form.searchPage
	{
	text-align: left;
	}
		
#link-presentation 
	{
	display: none;
	}
	
.fieldUploadFile
	{
	display: block;
	}

#portal-colophon
	{
	display: none;
	}   
	
#portlet-navigation-tree .portletHeader a,
.portletHeader a,
.portlet .portletHeader,
div.portlet h5
	{
	white-space: normal;
	}

.portletLogin .portletHeader,
.portletEvents .portletHeader,
.portletNavigationTree .portletHeader,
.portletSearch .portletHeader,
.portletWorkflowReview .portletHeader,
.portletNews .portletHeader,
.portletRecent .portletHeader 	
	{		
	padding-top: 0.5em;
	padding-right: 3.25em;
	height: 4em;
	}
