[buildout]
parts = test-runner scripts python
develop = .
eggs = 

[test-runner]
recipe = zc.recipe.testrunner
eggs = kss.base
script = test

[scripts]
recipe = zc.recipe.egg
eggs = kss.base

parts = mypython

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = kss.base