[buildout]
parts = test 
        scripts


[test]
recipe = zc.recipe.testrunner
eggs = zopyx.smartprintng.core [test]
     
[scripts]
recipe = zc.recipe.egg:scripts
eggs = zopyx.smartprintng.core
      
