body
{
    text-align: center; /* for IE 4+ */
}

div#main
{
    margin: 0 auto;
    text-align: left; /* counter the body center */
    width: 42em;
    max-width: 90%;
}

p.weblog-ad
{
   margin: 0 auto;
   text-align: left !important;
}
