div#plone-true-gallery div.view div.image img,
div#plone-true-gallery div.view div.image h2,
div#plone-true-gallery div.view div.image p{
    display:none;
}
div#plone-true-gallery div.view div.selected img{
    display:block;
}
.hoverThumbnail{
	cursor:pointer;
}
div#plone-true-gallery div.view{
	width:100%;
	text-align:center;
	margin: 5px auto auto;
	position:relative;
}
div#plone-true-gallery ul.carousel{
    display:none;
}
div#plone-true-gallery div.view div#media-guide{
	display:none;
	margin:auto;
	z-index:900000000;
	position: absolute;
    background-image: url(../images/media-guide.png);
	width:190px;
	height: 39px;
	right:35%;
	top:50%;
	text-align:center;
}
div#plone-true-gallery div.view div#media-guide ul{
    margin: 8px 0px 2px 26px;
}
div#plone-true-gallery div.view div#media-guide ul *{
	margin:0pt;
	padding:0pt;
}
div#plone-true-gallery div.view div#media-guide ul li{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	width:30px;
	height: 20px;
	background-repeat: no-repeat;
	display:table;
	float:left;
}
div#plone-true-gallery div.view div#media-guide ul li.first{
	background-image: url(../images/media-skip-backward.png);
}
div#plone-true-gallery div.view div#media-guide ul li.prev{
	background-image: url(../images/media-seek-backward.png);
}
div#plone-true-gallery div.view div#media-guide ul li.pause{
	background-image: url(../images/media-playback-pause.png);
}
div#plone-true-gallery div.view div#media-guide ul li.play{
	display: none;
	background-image: url(../images/media-playback-start.png);
}
div#plone-true-gallery div.view div#media-guide ul li.next{
	background-image: url(../images/media-seek-forward.png);
}
div#plone-true-gallery div.view div#media-guide ul li.last{
	background-image: url(../images/media-skip-forward.png);
}

div#plone-true-gallery div.info{
    text-align: center;
    margin: 5px auto auto;
    width: 400px;
    padding-bottom:5px;
    background-color:#EAEAEA;
    border:1px dashed black;
}

div#plone-true-gallery div.info h2{
    border-bottom: none;
    margin: 0.25em 0pt 0.25em;
}
div#plone-true-gallery div.info p{
}
div#plone-true-gallery div.info a{
    
}
div#plone-true-gallery{
    background-color:black;
    padding:3px;
}