[buildout]
eggs = collective.securitycleanup [tests]
develop = .
parts =
    zope2
    instance
    packages

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.11.2/Zope-2.11.2-final.tgz
fake-zope-eggs = true
additional-fake-eggs =
    ZConfig
    ZODB3
    zdaemon
    pytz

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
debug-mode = on
verbose-security = on
user = admin:secret
eggs =
    ${buildout:eggs}
zcml =
    collective.securitycleanup
zope-conf-additional =
    zserver-threads 1

[packages]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ${zope2:location}/lib/python ./
