[buildout]
develop = .
parts = bluebream
        test

[bluebream]
recipe = zc.recipe.egg
eggs = bluebream
       PasteScript

[test]
recipe = zc.recipe.testrunner
eggs = bluebream[test]

[test-all-packages]
recipe = z3c.recipe.compattest
include = ${bb-packages:packages}
