[buildout]
parts = xapian xapian-bindings interpreter test
find-links = 
    http://download.zope.org/distribution/ 
    http://xappy.googlecode.com/svn/trunk#egg=xappy-0.5

index = http://download.zope.org/ppix/

[xapian]
recipe = zc.recipe.cmmi
url = http://xappy.googlecode.com/files/xapian-core-10093.tgz

[xapian-bindings]
recipe = zc.recipe.cmmi
url = http://xappy.googlecode.com/files/xapian-bindings-10093.tgz
extra_options = 
    PYTHON_LIB=${xapian:location}/lib/python
    XAPIAN_CONFIG=${xapian:location}/bin/xapian-config 
    --with-python 
    --with-php=no 
    --with-ruby=no 
    --with-java=no 
    --with-csharp=no

[interpreter]
# python interpreter w/ app eggs for all entry points found in these eggs
recipe = zc.recipe.egg
eggs = xappy
extra-paths = ${xapian:location}/lib/python
interpreter = python

[test]
# test runner 
recipe = zc.recipe.testrunner
eggs = xappy
       ore.xapian
extra-paths= ${xapian:location}/lib/python
defaults = ['--tests-pattern', '^f?tests$', '-v']
