[buildout]
develop = .
parts = lockd lockcmd test

[lockd]
recipe = zc.recipe.egg
eggs = gocept.lockd
scripts = lockd=lockd
arguments = "${lockd:host}", ${lockd:port}

host = 127.0.0.1
port = 8000

[lockcmd]
recipe = zc.recipe.egg
eggs = gocept.lockd
scripts = lockcmd=lockcmd
arguments = "${lockcmd:server}"

server = http://${lockd:host}:${lockd:port}/

[test]
recipe = zc.recipe.testrunner
eggs = gocept.lockd
