#carousel {
    margin-bottom: 1em;
}
#carousel-banners {
    float:left;
    margin-right: 1em;
}
.carousel-banner {
    position: absolute;
}
a.carousel-title:link, a.carousel-title:visited {
    font-size: 1.5em;
    display: block;
    text-decoration: none;
    margin: 0 1em;
    padding: 1em 0;
}
a.carousel-title.selected:link, a.carousel-title.selected:visited {
    font-weight: bold;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}