/**
 * CSS styles for redturtle.custommenu
 */

.label-container {
	float:left;
	display:inline;
	width: 20%;
}

.menu-data-row {
	line-height: 2em;
	clear:both;
}

.list-menu-elements ul {
	list-style-type: none;
	list-style-image: none;
}

.list-menu-elements li {
	margin-bottom: 0.5em;
	padding: 1em;
	border: 1px solid #8CACBB;
}
