body {
    font-family: "Arial", "Helvetica", "Sans", sans-serif;
    font-size: 9pt;
    background: white;
}

table {
    font-size: inherit;
}

table.subnettree {
    border: none;
}

.subnettree td.dummy,
.subnettree td.unallocated {
    color: #777;
}

.subnettree td.unallocated {
    background: #ddd;
}

.subnettree td.allocated {
    background: #92b2d7;
}

.subnettree td.leaf {
    background: #b192d7;
}

.subnettree td.allocated .title {
    font-weight: bold;
}

.subnettree td.unallocated .title {
    font-style: italic;
}

.subnettree .address {
    font-size: 90%;
}
