img.toggle-dashboard-portlet {
    float: left; !important;
    padding-top: 3px;
    cursor: pointer;
}

img.remove-dashboard-portlet {
    float: right; !important;
    padding-top: 3px;
    cursor: pointer;
}

img.edit-dashboard-portlet {
    float: right; !important;
    cursor: pointer;
    padding-top: 3px;
    padding-right: 10px;
}

ul.column {
    list-style:none; !important;
    margin: 0px;
}

.portlet-placeholder { 
    border: 2px 
    dashed #999;
}
        
