/*
 * smsshell.css
 * This is the default stylesheet for the smsshell application.
 *
 * AUTHOR: Emanuel Gardaya Calso <egcalso@gmail.com>
 *
 * Modification Dates:
 *   2008-03-17
 *
 **/

body, div, span {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
	font-size: 0.95em;
	font-family: verdana, sans-serif;
}

h1 {
    font-size: 24px;
}

dt {
	text-transform: capitalize;
}

#topBar {
    border: 256px;
    font-size: 9pt;
    font-weight: bold;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
}
#topBar span {
}
#topBar div {
    background-color: #339672;
    border: 1px solid #95e0c8;
    color: #efefef;
    float: right;
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
}
#topBar a {
    color: #e095c8;
    text-decoration: none;
    text-transform: uppercase;
}

#topBar div#debug {
    background-color: #960000;
    color: #95e0c8;
}

#sidebar {
    float: left;
    width: 160px;
    margin: 0px 12px 0px 4px;
    padding: 0px 0px 0px 0px;
}

#title {
}
#title img {
}

#menu {
    width: 144px;
}
#menu div {
    background-color: #95e0c8;
    border: 1px solid #339672;
    margin-bottom: 8px;
}
#menu ul {
    margin: 0px 20px 4px 4px;
    padding: 0px 0px 0px 4px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#menu li {
    border-top: 1px dotted #339672;
    clear: both;
	display: block;
	list-style-type: none;
}
#menu li.menuTop {
    border-top: 0px none;
}
#menu li:hover {
}
#menu a {
    color: #444;
	display: block;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px;
    padding: 2px 0px 2px 4px;
}
#menu a:hover {
    background-color: #eac5ed;
    color: #000;
}
#menu a:active {
    background-color: #edc5ea;
}
#menu a.current {
    background-color: #edc5ea;
}
#menu li.smallLink {
    border-top: none;
	display: inline;
    text-transform: lowercase;
}
#menu li.smallLink a {
    padding: 0px 0px 0px 16px;
}
/* These are for the submenus */
#menu li ul li a {
    padding-left: 16px;
}
#menu ul#menuMessage {
}
#menu ul#menuLabel {
}

#main {
    float: left;
    width: 80%;
}

#footer {
    /*
    border: 1px solid #737672;
    background-color: #c3c6c2;
    */
    font-size: 10pt;
    clear: both;
    text-align: center;
    padding-top: 16px;
    margin-top: 16px;
    margin-bottom: 4px;
}

table.list-table {
    border: none;
    border-collapse: collapse;
    width: 80%;
    margin-top: 4px;
    margin-bottom: 6px;
}

table.list-table tbody tr:hover {
    background-color: #eac5ed;
}

span.pagination a img {
    border: none;
    width: 20px;
}
span.pagination input[type=image] {
    width: 20px;
}

table.list-table thead td {
    background-color: #95e0c8;
    border: 1px solid #339672;
}
table.list-table thead td span.function {
    float: left;
    margin-right: 6px;
}
table.list-table thead td span.pagination {
    float: right;
}

table.list-table tfoot td {
    background-color: #95e0c8;
    border: 1px solid #339672;
}
table.list-table tfoot td span.function {
    float: right;
    margin-left: 6px;
}
table.list-table tfoot td span.pagination {
    clear: left;
    float: left;
}

span.function {
    padding: 4px 8px 4px 8px;
}

span.pagination {
    font-size: 12pt;
    padding: 4px 8px 4px 8px;
}
span.pagination a {
    border: 1px dotted transparent;
    color: #444;
    text-decoration: none;
}
span.pagination a:hover {
    color: #111;
}

.page-list {
    clear: left;
    float: left;
    font-size: 12pt;
}
.page-list a {
    border: 1px dotted transparent;
    color: #444;
    padding: 2px 4px 2px 4px;
    text-decoration: none;
}
.page-list a:hover {
    border: 1px dotted #000;
    color: #111;
}

table.list-table tbody th.crud {
    white-space: nowrap;
    padding: 0px 4px 0px 4px;
}
table.list-table tbody th.crud a img.function-image {
    border: none;
    width: 16px;
}

table.list-table th {
    border: 1px solid #339672;
	text-transform: capitalize;
}

table.list-table td {
    border: 1px solid #339672;
}

table.list-table tbody td a {
    display: block;
}

div.children {
    margin: 16px 8px 4px 8px;
    padding: 4px 8px 16px 8px;
}
div.children h3 {
    margin: 4px 8px 16px 8px;
	text-transform: capitalize;
}
div.children .child-entry {
    border: 4px solid #95e0c8;
    float: left;
    margin: 4px 8px 4px 8px;
    padding: 4px 8px 4px 8px;
}
div.children .child-entry .child-remove-link {
    float: right;
}

div.children table {
    border: 1px solid #95e0c8;
    border-collapse: collapse;
}
div.children table thead {
}
div.children table th {
    border: 0.5px solid #95e0c8;
	text-transform: capitalize;
}
div.children table td {
    border: 0.5px solid #95e0c8;
    padding: 4px 8px 4px 8px;
    vertical-align: top;
}

#intro-page {
}
#intro-page .content {
    border: 2px outset #95e0c8;
    padding: 4px 8px 8px 8px;
    width: 640px;
}
#intro-page .content a {
    color: #035642;
}
#intro-page .content dl {
}
#intro-page .content dt {
    margin-top: 8px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
}
#intro-page .content dd {
    border-left: 1px dashed #339672;
    border-bottom: 1px dashed #339672;
    margin: 0px 32px 16px 4px;
    padding-top: 0px;
    padding-left: 8px;
}
#intro-page .content dd p {
    margin: 0px 0px 4px 0px;
}


input#recipient {
    width: 480px;
}
#contactList {
}
#contactList ul {
    border: 1px dotted #339672;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 256px;
}
#contactList li {
    border-top: 1px dotted #339672;
	display: block;
	list-style-type: none;
}
#contactList li a {
    color: #444;
	display: block;
    text-decoration: none;
}
#contactList li a:hover {
    color: #222;
    background-color: #eac5ed;
}
#contactList li a.selected {
    /*
    background-color: #95e0c8;
    */
}


select {
}
textarea, input[type=file], input[type=text], input {
}
input[readonly=readonly] {
    background: #eafec2;
    border: solid 1px #ccc;
    color: #444;
    padding: 3px;
}
input[type=checkbox] {
}
input[type=submit] {
    background: #73d6b2;
    color: #333;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
}
input[type=submit]:hover {
    background: #93f6d2;
    color: #000;
}

