/* Double Column Document styles */

.documentContent {
  //height:1%;
  }
.contentColumnOneTwo { 
  clear:both; 
  //overflow-x:hidden;  
  //padding-right:1px; 
  width:100%; 
  }
.contentColumnOne { 
  float:left; 
  width:50%;
  }
.contentColumnOne .visualPaddingColumn {
  padding-right:1em;
  }
.contentColumnTwo { 
  float:left; 
  width:50%;
  }
.contentColumnTwo .visualPaddingColumn {
  padding-left:1em;
  }
#archetypes-fieldname-body1,
#archetypes-fieldname-body2 {
  clear:none;
  float:left;
  margin:0;
  width:50%;
  }
#kss-inlineform-body1 #archetypes-fieldname-body1, 
#kss-inlineform-body2 #archetypes-fieldname-body2 {
  width:100%;
  }
