[buildout]
develop = .
parts = test
find-links = http://download.zope.org/distribution/
versions = versions

[versions]
zope.testing = 3.6.0

[test]
recipe = zc.recipe.testrunner
eggs = megrok.login [test,]
defaults = ['--tests-pattern', '^test_.*$', '-v']
