#addthis_dropdown table
{
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
  font-size: 95%;
  background: #fff;
  border: 0em none #fff;
  line-height: 1em;
}


#addthis_services table
{
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
  font-size: 95%;
  background: #fff;
  border: 0em none #fff;
}

#addthis_dropdown td
{
  margin: 0 0 0 0;
  padding: 0px;
  border: 0px none #fff;
}

#addthis_services td
{
  margin: 0 0 0 0;
  padding: 0px;
  border: 0px none #fff;
  background: #fff none;
}


#addthis_services tr
{
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
  border: 0px none #fff;
  text-align: left;
}

