[buildout]
index = http://download.zope.org/zope3.4
develop = .
parts = test

[test]
recipe = zc.recipe.testrunner
eggs = z3c.blobfile [test]
zcml = z3c.blobfile-overrides
defaults = ['--tests-pattern', '^f?tests$', '-v']