/* Stylesheet for the 'Bronzecube' Plone theme */

body {
    color:#383D44;
    background-color:#F4F4ED;
    font-family:Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}

input, textarea, select, option, legend, fieldset {
    background-color:#F4F4ED;
    background-image: none;
}

#visual-portal-wrapper {
    background-color:#F4F4ED;
    margin-left:auto;
    margin-right:auto;
    width:947px;
}


#portal-column-one, #portal-column-two,
#portal-column-one .portletWrapper, #portal-column-two .portletWrapper{
    width: 180px !important;
}

#portal-column-one .visualPadding {
    padding-left:25px;
    padding-top: 16px;
    width: 180px !important;
}

#portal-column-two .visualPadding {
    padding-top: 16px;
    width: 180px !important;
    padding-right:18px;
}

#portal-column-content {
    width: 500px;
    border-collapse:collapse;
    margin-top:0;
    padding:16px 15px 0 9px;
    vertical-align:top;
}

#portal-top {
    background-image: url(++resource++plonetheme.bronzecube.images/header.jpg);
    background-repeat: no-repeat;
    margin-top: 11px;
    text-align: center !important;
    align: center !important;
}

#portal-header {
    height: 130px;
    text-align: center !important;
    align: center !important;
}

h1 {
    font-size:26px;
    color:#330000;
    font-family:Georgia,serif;
    line-height:36px;
    border: none;
    font-weight: bold;
    margin-bottom:17px;
    margin-top:0;
}

p {
    line-height: 1.33em;
    margin: 12px 0;
}

.documentContent {
    background-color: transparent;
    padding-top: 0 !important;
    padding-left: 13px !important;
    padding-right: 8px !important;
    line-height: 20px;
}

.documentContent p.documentDescription {
    line-height: 16px;
}

a:link, a:visited {
    color:#007777;
    text-decoration:none;
}
a:hover, a:focus {
    background-color:#F5E0AF;
}
.documentContent p a:visited {
    color:#007777;
}

  /* SUMMARY LISTING */

.fake-header h1 {
    color:#646870 !important;
    font-size:18px;
    font-weight:normal;
    line-height:18px;
    margin-top:3px;
    margin-bottom:8px;
}

h2.tileHeadline {
    margin-bottom: 10px;
}
h2.tileHeadline a {
    color:#646870 !important;
    font-size:18px;
    font-weight:normal;
    line-height:20px;
    font-family:Georgia,serif;
}

.tileItem {
    border-top:1px solid #E0E0D5;
}
.tileItem img.tileImage {
    border: none;
}

.documentContent p.tileFooter {
    margin-bottom: 20px;
    margin-top:10px;
}
.documentContent p.tileFooter a, .documentContent p.tileFooter a:visited {
    background-color: #E6E6DA;
    padding:4px 8px;
    text-transform: lowercase;
    border-bottom: none;
}

.listingBar {
    background-color: #E6E6DA;
    border:none;
}

/* GLOBAL NAVBAR */

/*#portal-searchbox{*/
/*    display:none;*/
/*}*/

#portal-globalnav{
    position:relative;
    top: 83px;
    font-size:12px;
    height: 26px;
    /*text-align: center !important;*/
    /*align: center !important;*/
}

#portal-globalnav li {
    /*float: left;*/
    padding: 0 8px;
    margin: 0;
    text-align: center !important;
    align: center !important;
}

#portal-globalnav li.selected {
    background-image: url(++resource++plonetheme.bronzecube.images/selected_menu_item_icon.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
    overflow: visible;
    height: 100%;
    padding-bottom: 6px;
}


#portal-globalnav li a, #portal-globalnav li.selected a {
    text-transform: uppercase;
    background-color: transparent;
}

#portal-globalnav li a:hover{
    background-color:#F5E0AF;
}

#portal-globalnav li a, #portal-globalnav li a:visited,
#portal-globalnav li a:hover, #portal-globalnav li.selected a {
    color: #FFFFFF;
    border: none;
    padding: 0;
    margin-right: 0;
}

  /* FOOTER */

#portal-footer{
    background-color:#474747;
    color:#FFFFFF;
    border: none;
    padding:7px 0 6px;
    margin-bottom: 10px;
}

 /* SITE ACTIONS */

#portal-siteactions {
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    float: inherit;
}
#portal-siteactions li a:link,
#portal-siteactions li a:hover,
#portal-siteactions li a:visited{
    background-color: transparent;
    color:#007777;
    text-decoration:none;
    border: none;
}
#portal-siteactions li a:hover {
    background-color:#F5E0AF;
}

/******** PORTLETS ********/

dl.portlet {
    background-image: url(++resource++plonetheme.bronzecube.images/blockheader.png);
    background-repeat: no-repeat;
    width: 180px;
    border-bottom: none;
    margin-bottom: 22px;
}

.portlet a.tile {
    padding-top:2px;
}

dt.portletHeader , dt.portletHeader a {
    text-transform:none;
    color:#330000 !important;
    font-family:Georgia,serif !important;
    font-size:16px;
    font-weight:bold;
    padding: 0;
}

dt.portletHeader {
    background: transparent;
    border: none;
    height: 30px;
}

dt.portletHeader a {
    margin-left:10px !important;

}

dt.portletHeader a:hover, dt.portletHeader a:hover {
    background-color: transparent;
}

.portletStaticText .portletHeader {
    padding-top: 2px;
}

.portletStaticText .portletHeader span {
    margin-left: 5px;
}

dd.portletItem {
    border:none;
    background: transparent !important;
    padding: 9px 8px 2px;
}

dd.portletFooter {
    background-color:transparent;
    border: none;
    margin:0;
    padding:0.25em 1em;
    text-align:right;
}

.portletItem a:visited, .portletFooter a:visited {
    color:#007777;
}


/* PORTLET TAG CLOUD */

#portlet-tag-cloud-explorer .portletHeader {
    padding-top: 3px;
}

#portlet-tag-cloud-explorer a:hover {
    background-color: #F5E0AF !important;
}
#portlet-tag-cloud-explorer .portletItem {
    padding: 10px 5px 10px 5px;
    text-align: left;
    line-height:1.5em;
}

/* PORTLET NEWS */

.portletNews .portletHeader{
    margin-bottom:5px;
}

.portletNews .portletItem{
    border-bottom:1px solid #E2E2D6;
    border-color:#E2E2D6;
    padding:6px 8px 5px;
}

.portletNews .portletItem span.portletItemDetails{
    text-align: left;
    color:#999999;
    font-size:10px;
    text-transform:uppercase;
}

  /* SEARCH PORTLET */

#portaltab-search, #portal-searchbox {
    background-color:transparent;
    margin: 0;
    clear: both;
}

#portaltab-search #searchGadget,
#portal-searchbox #searchGadget, input.searchPage {
    background-color: #5B5B5B;
    background-image: none;
    padding-left: 5px;
    border-style:none;
    border-width:0;
    color:#FFFFFF;
    font-size:10px;
    height:15px;
    vertical-align:middle;
    width:150px;
}

#portal-globalnav li#portaltab-search a, #portal-globalnav li#portaltab-search  a:visited,
#portal-globalnav #portaltab-search LSResults a:hover{
    color: #007777 !important;
    text-transform: none;
}

input.searchPage {
    font-size:100% !important;
}

input.searchPage {
    width:215px;
}

form.searchPage input.searchButton, input.searchButton {
    background:transparent url(++resource++plonetheme.bronzecube.images/search_icon.gif) no-repeat scroll left top;
    border-style:none;
    border-width:0;
    height:17px;
    width:12px;
    text-indent: -9999px !important;
    color: transparent;
}

 /* LOGIN PORTLET */

.portletLogin .field {
    margin-right: 0;
}
.portletLogin .field input {
    border-style:none;
    border-width:0;
    font-size:10px;
    width:138px;
}

.portletLogin input.context {
    background: transparent url(++resource++plonetheme.bronzecube.images/next_icon.gif) no-repeat;
    border: none;
    width: 12px;
    height: 15px;
    padding: 0;
}

.portletLogin form {
    padding-top: 13px;
}
