/*
**********************************************************************
| Copyright 2009-2010 David Isaacson, Stou Sandalski, Information Capsid
|
| This file is part of the program Adjector.
|
| Adjector is free software: you can redistribute it and/or modify
| it under the terms of the GNU General Public License as published by
| the Free Software Foundation, either version 2 of the License, or
| (at your option) version 3 of the License.
|
| Adjector is distributed in the hope that it will be useful,
| but WITHOUT ANY WARRANTY; without even the implied warranty of
| MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
| GNU General Public License for more details.
|
| You should have received a copy of the GNU General Public License
| along with Adjector. If not, see <http://www.gnu.org/licenses/>.
|
**********************************************************************
*/

/* Some Basics (from Siafoo's core.css) */

a{
    text-decoration: none;
    color: #0000dd;
}

    a:hover{
        text-decoration:underline;
    }
    
    a img{
        border: 0;
    }

form{
    margin-bottom: 0;
}

/*Note: Margins are different in h#'s because em's are relative to current font size*/
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    text-align: left;
}

    h1{
        margin: 0.5em 0 0.5em 0;
        font-size: 190%;
    }
    
    h2{
        margin: 0.8em 0 0.6em 0;
        font-size: 140%;
    }
    
    h3{
        margin: 1em 0 0.8em 0;
        font-size: 120%;
    }
    
    h4{
        margin: 1em 0 0.15em 0;
        font-size: 110%;
        font-weight: bold;
    }
    
    h5{
        margin: 1em 0 0.15em 0;
        font-size: 105%;
        font-weight: bold;
    }
    
    h6{
        margin: 0.7em 0 0 0;
        font-size: 100%;
        font-weight: bold;
    }

img{
    vertical-align: middle;
}

pre, span.pre{
    font-size: 105%; /* 115 if body size at 90% */
}

table{
    border-collapse: collapse;
}

/* Miscellaneous Classes */
div.left{
    float: left;
}

div.right{
    float: right;
}

div.clear{
    float: none!important;
    clear: both!important;
}

div.clear_left{
    float: none!important;
    clear: left!important;
}

.hidden{
    display: none!important;
}

div.column_left, div.column_right{
    float: left;
    width: 50%;
}

span.nowrap{
    white-space: nowrap;
}

/* Frame */
body{
    font-size: small;
    font-family: 'Trebuchet MS',arial,helvetica,sans-serif;
}

div#header, div#main, div#footer{
    font-size: 105%;
}

div#header{
    margin: 1em 2em;
    font-size: 130%; 
}

    div#header img.logo{
        margin-right: 2em;
    }

    div#header a.active, div#header a.new.active{
        color: #ff6600;
    }
    
    div#header a.new{
        color: gray;
        font-size: 60%;
        vertical-align: 15%;
    }

div#main{
    margin: 2em;
}

    h3.session_message{
        margin: 0 -1em;
        padding: 0.5em 1em;
        background-color: yellow;
        -kthml-border-radius: 1em;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
    }

div#footer{
    margin: 0 1.18em;
    border-top: 1px solid gray;
    padding: 1em 1.18em;
    color: gray;
    font-size: 85%;
}

/* Forms */
form {
    margin: 1em -1em 1em -1em;
    padding: 1em;
    border: 1px solid #DDD;
    background-color: #F8F8F8;
}

    form.has_error{
        border-color: red;
    }

    form div.required_msg{
        margin-bottom: 0.5em;
        font-weight: bold;
        font-size: 90%;
    }
    
    form div.error_msg{
        margin-bottom: 0.5em;
        font-weight: bold;
        color: red;
    }

    form table td{
        padding-top: 0.5em;
    }
    
        label.required{
            font-weight: bold;
        }
    
        input, select, textarea{
            border: 1px solid #DDD;
            padding: 0.2em;
        }
            
            input.submitbutton{
                background-color: white;
                font-size: 100%;
            }
            
            input.required, select.required, textarea.required{
                border: 1px solid black;
            }
            
            input.has_error, select.has_error, textarea.has_error{
                border: 2px solid red;
            }
            
        td.field_container{
            padding-left: 1em;
        }
        
            form div.field_info, form span.field_info{
                font-size: 90%;
                color: gray;
            }
            
                form span.field_info, form span.field_error{
                    padding-left: 1em;
                }
                
            form div.field_error, form span.field_error{
                font-size: 90%;
                color: red;
            }
            
        div.genericfield{
            border: 1px dotted #DDD;
            padding: 0.5em;
        }
        
div.buttons{
    margin-top: 1em;
}
        
            
/* Tables */

table.display{
    margin: 0 -1em;
}
    
        table.display tr.odd{
            background-color: #EEE;
        }
        
        table.display tr.disabled{
            color: gray;
        }
        
        table.display tr.set, table.display tr.location{
            background-color: lightGreen;
            font-size: 110%;
        }
        
        table.display tr.empty td{
            padding-left: 2em;
            font-style: italic;
        }

    table.display th{
        border-bottom: 1px solid gray;
        padding: 0 1em 0 1em;
    }
    
    table.display td{
        padding: 0.3em 1em 0.3em 1em;
    }
    
        table.display td.description{
            font-style: italic;
        }
        
        table.display td.percent{
            font-weight: bold;
            text-align: right;
        }

h2{
    margin-top: 2em;
}

/*CJ*/

form.cj table{
    margin: 1em 0;
}

form.cj tr.odd{
    background-color: #E8E8E8;
}

form.cj td{
    padding-top: 1em;
    padding-bottom: 1em;
}

    form.cj td.actions div{
        margin-top: 0.5em;
    }
    
    
form.cj input.submitbutton, form.cj a.button{
    margin-right: 1em;
}

div.commissions{
    margin-top: 0.5em;
    color: gray;
    font-size: 90%;
}

div.count{
    font-size: 110%;
    margin-bottom: 0.5em;
}

div.paging{
    font-size: 110%;
    margin-bottom: 0.5em;
}
