[buildout]
develop = .
parts = test
find-links = http://download.zope.org/distribution/
extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg
versions = versions

# plone.memoize as bad dependencies after.
# chameleon require a recent version of lxml and zope.i18n.
[versions]
plone.memoize = 1.0.4
zope.i18n = 3.5
lxml = 2.1.5

[test]
recipe = zc.recipe.testrunner
eggs = z3c.resourceinclude
