.portrait {
     width: 120px !important;
     float: left;
     border: 0px;
     background-color: #f3f3f3;
     margin-top: 20px;
     }

h1.areaFirstHeading {
    display: block;
}

#info {
        margin: 50px 0px 0px 130px;
        width: 360px !important;
        }

.label {
    float: left;
    width: 10em !important;
    margin: 0;
              }

.remark { 
    margin-left: 10.5em;
 }

.agentinfo { 
    float: left;
    margin: 0px 5px;
    /* width: 10em !important; */
  }

.agentmail { 
    float: left;
    margin: 0px 5px;
    width: 9em !important;
  }

.odd { 
    background-color: #ddd !important;
 }

#portal-column-content div div div div#parent-fieldname-notes {
    width: 480px;
    text-align: justify;
    }

.arealist {
           width: 160px !important;
           float: left;
           margin: 0px 15px;
           }

.arealist ul {
           padding-left: 15px;
           }

#salesarea-container-0 {
                width: 80px;
                }

.imglink {
           float: left;
           margin-left: 15px;
           }

#top-image {
     width: 100px !important;
     float: left;
     border: 0px;
     background-color: #f3f3f3;
     margin-top: 20px;
     }

.map {
     width: 120px !important;
     float: left;
     border: 0px;
     background-color: #f3f3f3;
     margin: 20px 15px 0px 0px;
     }

.map img{
     width: 120px !important;
       }

.mapLevel1 {
             float: left;
             width: 80px !important;
             }

.clearer {
           clear: both;
           height: 3px;
           margin: 0px;
           padding:0px;
           width: 100%;
           }

.context,
.formControls .actionButtons .button,
.documentEditable * .context {
          background-color: #117acd;
          background-image: url(clear);
          color: white;
          }

.documentDescription { 
          display: block;
 }

.documentDescription pre { 
          font-family: arial, sans-serif;
                           }
