/* Stylesheet for the 'Xtheme' Plone theme */

body {
	background-color: #92967F;
}

/*style header*/

#portal-siteactions li a {
	color: #e1e1d5;
	border-left: 0px solid #92967f;
	border-right: 1px solid #e1e1d5;
	border-top: 1px solid #92967f;
	border-bottom: 1px solid #92967f;
	padding-right: 5px;
	padding-left: 0px;
	margin-right: 0px;
	font-weight: bold;
	font-size: 93%;
} 

#portal-siteactions li a:hover {
	background-color: #92967F;
	color: #e1e1d5;
	border-left: 0px solid #92967f;
	border-right: 1px solid #e1e1d5;
	border-top: 1px solid #92967f;
	border-bottom: 1px solid #92967f;
}

#visual-portal-wrapper {
	margin-left: 50px;
	margin-right: 50px;
	background-color: #e1e1d5;
}

#portal-top {
	background-color: #92967F;	
}

#portal-globalnav {
	padding-left: 0px;
}

#round-globalnav {
	float: right;
	margin-top: -35px;
	margin-bottom:0px;
	margin-right: 20px;
	width: auto;
	background: url(++resource++plonetheme.xtheme.images/columnaglobalnav.jpg) repeat 0% 0%;
	display: block;
	height: 35px;
}

#round-gntopleft {
	background: url(++resource++plonetheme.xtheme.images/izq2.jpg) no-repeat top left;
	display: block;
	width: 12px;
	height: 8px;
}

#portal-globalnav {
	display: block;
	background: url(++resource++plonetheme.xtheme.images/der2.jpg) no-repeat top right;
	height: 8px;
	position: relative;
	top: -8px;
	padding-top: 9px;
}

.roundconttop2 {
	background: url(++resource++plonetheme.xtheme.images/eic.jpg) no-repeat left top;
	display: block;
	height: 8px;
}

.roundcont2 {
	background: url(++resource++plonetheme.xtheme.images/edc.jpg) no-repeat right top;
	display: block;
}

#clear-space-before-wrapper-table {
	display: none;
}

#portal-globalnav li.selected a {
	background-color: transparent;
	color: #ffffff;
	border-right: 1px solid #c0c4ab;
	border-left: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

#portal-globalnav li a:hover {
	background-color: transparent;
	color: #980909;
	border-right: 1px solid #c0c4ab;
	border-left: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

#portal-globalnav li a {
	color: #c0c4ab;
	border-right: 1px solid #c0c4ab;
	border-left: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

#portal-globalnav li .last_global_nav {
	border-right: 1px solid transparent !important;
}

#portal-globalnav li a.last_global_nav:hover {
	border-right: 1px solid transparent;
}	

#portal-siteactions li .last_site_actions {
	border-right: 1px solid #92967F;
}

#portal-siteactions li a.last_site_actions:hover {
	border-right: 1px solid #92967F;
}
	
#portal-column-two {
	width: 227px;
}

#portal-column-one{
	width: 227px;
}

/*style search*/

input.searchButton {
	background: #4a4e3c url(++resource++plonetheme.xtheme.images/search.jpg) no-repeat scroll 5px 50%;
	color: #ededeb;
	text-transform: capitalize;
	border: 1px solid #4a4e3c;
	padding-left: 12px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

input.inputLabelActive {
	border: 1px solid #646757;
	padding-top: 2px;
	padding-bottom: 2px;
}

.portletSearch .portletHeader {
	display: none;
}

.portletSearch .portletFooter {
	display: none;
}

.portlet.portletSearch {
	border-bottom: 0px solid #8CACBB;
}

.portletSearch .portletItem {
	border-left: 0px solid #8CACBB;
	border-right: 0px solid #8CACBB;
	background-color: #E1E1D5;
}

/*style portlet*/

.portletTopLeft {
	float: left;
	background: #5c614b url(++resource++plonetheme.xtheme.images/izq_portlet.jpg) no-repeat top left;
	display: block;
	width: 11px;
	height: 11px;
}

.portletTopRight {
	float:right;
	background: #5c614b url(++resource++plonetheme.xtheme.images/der_portlet.jpg) no-repeat top right;
	display: block;
	width: 11px;
	height: 11px;
}

.portletHeader {
	padding: 0px;
	border: 0px solid #666958;
	background: url(++resource++plonetheme.xtheme.images/columnaglobalnav.jpg) repeat top left;
	display: block;
	height: 35px;
}

.portletHeader a {
	float: left;
	padding-top: 8px;
	padding-left: 55px;	
	color: #e5e5da;
	text-transform: capitalize;
	font-weight: bold;
}

#calendar-next {
	float: none;
}

#calendar-previous {
	float: none;
}

.portletCalendar dt {
	position: relative;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #e5e5da;
	height: 27px;
}

.portletCalendar .portletTopRight {
	position: absolute;
	top: 0px;	
	right: 0px;
}
	
.portletCalendar .portletTopLeft {
	top: 0px;
}
	
.portletCalendar .portletHeader a {
	padding-top: 5px;
	padding-left: 0px;	
}

.portlet {
	background-color: transparent;
	border-bottom: 1px solid #666958;
}

.portletItem {
	border-left: 1px solid #666958;
	border-right: 1px solid #666958;
}

.even {
	background-color: transparent;
}

.context, .formControls .actionButtons .button, .documentEditable * .context {
	background: url(++resource++plonetheme.xtheme.images/login2.jpg) no-repeat 9px 2px;
	border: 1px solid #666958;
}

a {
	color: #4a4e3c;
}

.portletLogin .even a.tile {
	background: url(++resource++plonetheme.xtheme.images/info_icon2.jpg) no-repeat 0px 2px;
	text-align: center;
}

.portletLogin .even a.tile img {
	display: none;
}

.ploneCalendar .weekdays th {
	background-color: #5e634c;
	border-color: #5e634c;
}

.portletFooter {
	background-color: transparent;
	border-color: #666958;
}

.ploneCalendar .todayevent {
	border-color: #5e634c;
	background-color: transparent;
}

.ploneCalendar .todaynoevent {
	border: 2px solid #5e634c;
	background-color: transparent;
}

.ploneCalendar .event {
	background-color: #5e634c;
}

.ploneCalendar .event a { 
	color: #e5e5da;
}

.portletItem a:visited, .portletFooter a:visited {
	color: #666958;
}

/*style navegation*/

.navTreeItem a, dd.portletItem .navTreeItem a {
	border-top: 0px solid #e1e1d5;
	border-bottom: 0px solid #e1e1d5;
	border-right: 1px solid #e1e1d5;
	border-left: 1px solid #e1e1d5;	
	color: black ;
}

.portletNavigationTree .navTreeItem li a {
	border-left: 1px dotted black !important;
	padding-left: 5px;
	background: transparent url(++resource++plonetheme.xtheme.images/dotted.jpg) no-repeat scroll left center;
}
	
.navTreeItem a:hover, dd.portletItem .navTreeItem a:hover {
	background-color: transparent;
	border-top: 0px solid #e1e1d5 !important;
	border-bottom: 0px solid #e1e1d5 !important;
	border-right: 1px solid #e1e1d5 !important;
	border-left: 1px dotted #e1e1d5 !important;
	color: #9e1414 !important;
}

.navTreeItem.navTreeCurrentNode.navTreeFolderish li a:hover,.navTreeItem.navTreeItemInPath.navTreeFolderish li a:hover {
	background-color: transparent;
	border-top: 0px solid #e1e1d5 !important;
	border-bottom: 0px solid #e1e1d5 !important;
	border-right: 1px solid #e1e1d5 !important;
	border-left: 1px dotted black !important;
	color: #9e1414 !important;
}

.navTreeCurrentItem,.navTreeItem.navTreeItemInPath.navTreeFolderish li .navTreeCurrentItem {
	background-color: #92967f;
	border-top: 0px solid #92967f !important;
	border-bottom: 0px solid #92967f !important;
	border-right: 1px solid #92967f !important;
	border-left: 1px solid #92967f !important;	
	color: white !important;
}

.navTree li {
	margin-bottom: 0px;
}

#portal-breadcrumbs {
	border-bottom: 0px solid #8CACBB;
	color: #3a3a39;
	padding-left: 0px;
	background-color: #e1e1d5;
	padding-bottom: 10px;
}

#portal-breadcrumbs a {
	color: #3a3a39;
}

/*style content*/

.documentContent {
	background: transparent none repeat scroll 0%;
}

.documentFirstHeading {
	color: #2b2b2b;
	border-bottom: 0px solid #8CACBB;
	padding-bottom: 8px;
	background-color: #e1e1d5;
	margin-bottom: 0px;
	text-transform: capitalize;
}

body.kssActive h1.inlineEditable:hover {
	border-bottom: 0px solid #8CACBB;
	border-left: 1px solid #E1E1D5;
	border-top: 1px solid #E1E1D5;
	padding-bottom: 8px;
	margin-bottom: 0px;
	background-color: #e1e1d5;
	background-image: none;
}

h1 {
	color: #4e4e34;
	border-bottom: 1px solid #dedece;
	text-transform: capitalize;	
}
	
.documentDescription {
	color: #36382e;
	border-bottom: 1px solid #45473d;
	background-color: #e1e1d5;
	padding-bottom: 6px;
}

#content {
	background-color: #e5e5da;
	color: #36382e;
}

h2 {
	border-bottom: 0px solid #8CACBB;
}

h1, h2, h3, h4, h5, h6 {
	color: #57573e;
}

.documentActions {
	border-top: 1px solid #45473D;
}

.documentActions li {
	background-color: #e5e5da;
}

table.listing, .stx table {
	border-bottom: 1px solid #666958;
	border-left: 1px solid #666958;
}

table.listing th, .stx table th {
	border-bottom: 1px solid #666958;
	border-right: 1px solid #666958;
	border-top: 1px solid #666958;
	background: #4a4e3c none repeat scroll 0%;
	color: #E5E5DA;
}

table.vertical td {
	border-top: 1px solid #666958;
}

table.listing td, .stx table td {
	border-right: 1px solid #666958;
}

table.vertical {
	background-color: #E1E1D5;
}

legend {
	background: transparent none repeat scroll 0%;
}

fieldset {
	border-color: #666958;
}

/*style footer*/

#portal-footer {
	background-color: #737165;
	color: white;
	border-bottom: 1px solid #737165;
	border-top: 1px solid #737165;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: left;
	padding-left: 4em; 
	padding-bottom: 1px;
	padding-top: 1px;
}

#portal-footer a {
	color: #e5e5da;
}

acronym {
	border-bottom: 1px dotted white;
	color: white;
}

#portal-colophon {
	background-color: #5b5b4f;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 0px;
	text-align: left;
	padding-left: 4em;
}

#portal-colophon ul li a {	
	color: white;
	border-bottom: 0px solid #CCCCCC;
}

#portal-colophon ul {
	margin-top: 0px;
	padding-top: 0em;
	margin-bottom: 0px;
}

#portal-colophon ul li {
	padding-right: 14px;
	padding-left: 0px;
}

#portal-footer p {
	margin-bottom: 0px;
	margin-top: 0px;
}	

#portal-personaltools {
	border-bottom: 1px solid #636357;
	border-top: 1px solid #636357;
	background-color: #d7d7d1;
	color: black;
	padding-bottom: 2px;
	padding-top: 2px;
}

#portal-personaltools li a {
	color: black;
}

.last_path_bar {
	color: #2d2d2d;
	font-weight: bold;
}

pre {
	background-color: transparent;
	border: 1px solid #666958;
}
