/*black*/

div.byline{
font: .8em arial, helvetica, sans-serif, italic;
text-align: right;
}

div.entry{
padding: 0;
padding-bottom: 10px;
padding-top: 10px;
border-top: 1px solid #333;
}

div.entry a{
font: bold 1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
}

div.entry h3{
font: bold 90%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
text-transform: none;
}

div.entry h4{
font: bold 75%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
text-transform: none;
}

#container{
width: 700px;
\width: 720px;
w\idth: 700px;
border: 0;
padding: 0;
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
}

#content{
float: left;
width: 480px;
margin: 0;
border: 0;
padding: 0;
}

#footer{
clear: both;
text-align: center;
display: block;
padding: 5px;
font-size: 12px;
}

#header {
width: 480px;
margin: 0;
padding-bottom: 10px;
border-bottom: 2px solid #333;
}

#intro {
width: 480px;
margin: 0;
padding-bottom: 10px;
}

#links {
width: 180px;
margin-left: 500px;
border: 0;
padding: 0;
}

#links li {
margin:0;
padding:0 0 .25em 15px;
}

#links ul {
padding-left: 5px;
list-style-type: none;
}

#links h4 {
border-bottom: 1px solid #333;
padding-top: 10px;
padding-bottom: 10px;
}

#permcontent{
float: left;
width: 700px;
margin: 0;
padding: 0;
border: 0;
}

#tagline {
margin-top: -14px;
margin-left: 5px;
line-height: 15px;
padding: 0;
border: 0;
}

#tagline h4{
font:bold 80%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
text-transform:lowercase;
letter-spacing:.4em;
color: gray;
}  

#title h1{
font:bold 2.1em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
text-transform:uppercase;
letter-spacing:.2em;
color: gray;
margin: 10;
padding: 0;
border: 0;
}

a:link {
font-weight: 700;
text-decoration: none;
color: gray;
}

a:visited {
font-weight: 700;
text-decoration: none;
color: #555;
}

a:hover {
text-decoration: underline;
}

a:active {
text-decoration: underline;
}

body{
background: #000;
color: #eee;
font: 1em arial, helvetica, sans-serif;
margin: 0;
padding: 0;
border: 0;
}

h1, h2, h3, h4{
font:bold 80%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
text-transform:uppercase;
letter-spacing:.2em;
color: gray;
}

hr.separator {
height: 1px;
color: #333;
padding: 0;
margin: 0;
border: 0;
border-bottom: 1px solid #333;
}

p{
text-align: left;
}

/* unimplemented below this line */

#image{
border: 0;
padding: 0;
width: 433px;
margin-left: auto;
margin-right: auto;
}

img.story{
border: 0;
padding-right: .5em;
padding-bottom: .5em;
margin: 0;
float: left;
}
