/*

  layout.css

  Style-sheet used to control page layout.

  This implements a two column layout.

  Based on:

   * http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/
   * http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/finished.html

*/

body,
html
{
  margin: 0;
  padding: 0;
}

body
{
  min-width: 750px;
}

#container
{
  margin: 0 auto;
  min-width: 640px;
  width: 750px;
}

#header
{
}

#header h1
{
  padding: 5px;
  margin: 0;
}

#nav
{
  padding: 5px;
}

#nav ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav li
{
  display: inline;
  margin: 0;
  padding: 0;
}

#outercontents
{
  float: left;
  width: 500px;
  min-height: 600px;
}

#sidebar
{
  float: right;
  width: 240px;
  min-height: 600px;
}

#sidebar ul
{
  margin-bottom: 0;
}

#sidebar h3, #sidebar p
{
  padding: 0 10px 0 0;
}

.contents
{ 
  float: left;
  min-height: 500px;
}

.pagetop
{ 
  clear: both;
}

.pagebottom
{ 
  clear: both;
}

#footer
{
  clear: both;
}

#footer p
{
  padding: 5px;
  margin: 0;
}
