[service]

# port where the stellaris service will be running
port = 24000

# Contexts without an explicit name are prefixed
# with this base URI
baseuri = http://stellaris.gac-grid.org/

# the path to the access log-file, log output is in the Commmon Log Format
access_log_path = logs/icecore_access.log

# path to the common log-file
common_log_path = logs/common.log

# path to templates
template_path = ./templates/

# path to static files, note that this should preferably be served by 
# for example apache or nginx in a production setup
static_path = ./static/

# security related setup
[security]

# is security enable (true/false)
enabled = false

# port where the https frontend server runs
# comment this line if a reverse proxy is used
secure_port = 24010

# path to where a concatenated key and cert is stored, note that the permissions
# must allow the user running the service to read the .pem-file
ssl_key_cert_path = ./test/cert/server_key_cert.pem

# path to a file with the concatentated CA certs specifying what clients
# are allowed to access the store
ssl_cacert_path = ./test/cert/cacert.pem

# host and port where the ssl-proxy service is running, if stellaris is used
# with a reverse proxy instead of the native HTTPS service
# reverse_proxy = localhost:12005

# Authorization types
# (optional) path to the gridmap-file
#gridmap_file_path = /etc/grid-security/gridmap

# (optional) path to a file containing one valid DN per line
# this is an alternative to the gridmap-file
auth_file_path = ./etc/stellaris_auth.txt

# (optional) VOMRS service URL, user and password for HTTP authentication
# vomrs = localhost:8080
# vomrs_user = test
# vomrs_password = test

[storage]

# specify which backend to use. 
# rdflib-memory - native storage using an in-memory database
# rdflib-persistent - native storage using Berkeley DB
# virtuoso - uses the OpenLink Virtuoso database as a backend
#            a host must then 
backend = rdflib-memory

# defines the host and port running the virtuoso service 
# virtuoso needs to be started and configured independently from the
# stellaris configuration

# virtuoso = localhost:8889

# path to where RDF data is stored and other persistent data such as lifetime
# management and users
data_path = ./datastore/

