.context {
background:transparent url(http://localhost:8080/link_portlet/linkTransparent.gif) no-repeat scroll 9px 1px;
border:9px solid #8CACBB;
color:Black;
cursor:pointer;
font-size:90%;
padding:1px 1px 1px 15px;
text-transform:none;
}
