[buildout]
develop = .
parts = test eggs

[eggs]
recipe=zc.recipe.egg
eggs=iw.releaser
     iw.email
     zope.component
interpreter=python

[test]
recipe = zc.recipe.testrunner
eggs = iw.releaser [test]
defaults = ['--keepbytecode']

