/* Styles specific to the collective.feedfiller views.

   This is explicitly included from various page templates, since it only
   pertains to a handful of them. If we wanted something more sitewide,
   we could have used the portal_css registry instead.
 */

.originalUrl{
    margin: 1ex 0 0 0;
    background-color: #F8F8F8;
    padding: 1ex;
}

.author {
    margin: 0;
    background-color: #F8F8F8;
    padding: 1ex;
}

.copyright {
    margin: 0 0 1ex 0;
    background-color: #F8F8F8;
    padding: 1ex;
}


.originalBody{
    margin: 1ex 0;
    padding: 1ex;
}
