[buildout]
extends = base.cfg
parts +=
  test
develop = .

[test]
recipe = zc.recipe.testrunner
eggs =
  wheeljack 
  mock
extra-paths = 
  ${django:location}
  ${buildout:directory}
defaults = ['--exit-with-status', '--auto-color']
initialization =
  os.environ['DJANGO_SETTINGS_MODULE'] = 'wheeljack.project.development'