[buildout]
develop = .
parts = test interpreter
versions = versions
index = http://download.zope.org/ppix/

[test]
recipe = zc.recipe.testrunner
defaults = ['-1', '--auto-color']
eggs = zc.testbrowser

[interpreter]
recipe = zc.recipe.egg
eggs = zc.testbrowser
interpreter = py

[versions]
ClientForm = 0.2.7
mechanize = 0.1.7b
setuptools = 0.6c9
simplejson = 1.7.1
zc.buildout = 1.1.1
zc.recipe.egg = 1.1.0
zc.recipe.testrunner = 1.1.0
zope.event = 3.4.0
zope.i18nmessageid = 3.4.0
zope.interface = 3.4.0
zope.schema = 3.3.0
zope.testing = 3.7.0
