# This is where all of your settings go for your development environment

[global]

sqlobject.dburi="postgres://tasty@/tasty_dev"

server.socketPort=9980

logDebugInfoFilter.on = False

server.environment="development"
autoreload.package="tasty"


encodingFilter.on = True,
encodingFilter.encoding = "utf8"
decodingFilter.on = True
