# This is where all of your settings go for your development environment

[global]

sqlobject.dburi="postgres://anders@/tasty"

server.environment="production"
server.logFile="/tmp/tasty.log"
server.logToScreen=False


