table.questionnaire td, table.questionnaire th {
    padding: 5px;
    margin: 0px;
}

.question, .question-options {
    background-color: #ffffff;
    color: #000000;
    vertical-align: top;
}

.response, .response-options {
    background-color: #eeeeee;
    color: #000000;
    vertical-align: top;
}

.choice, .choice-options {
    background-color: #dddddd;
    color: #000000;
    vertical-align: top;
}
