dl.portletSearch input.searchField, dl.portletSearch input.searchButton {
	float: left;
	clear: none;
}

dl.portletSearch input.searchField {
	margin-right: 0.5em;
}

.livesearchContainer {
    position: absolute;
    background-color: #ffffff;
    margin-top: 1em;
}