[buildout]
develop = .
parts = test test-generations py

[test]
recipe = zc.recipe.testrunner
eggs = zc.dict
defaults = ["-v", "-c"]

[test-generations]
recipe = zc.recipe.testrunner
eggs = zc.dict [generations]
defaults = ["-v", "-c", "--suite-name=test_suite_generations"]

[py]
recipe = zc.recipe.egg
eggs = zc.dict
       setuptools
interpreter = py
scripts = py
