[buildout]
parts=
    test
    deps
develop=.
interpreter = python
extensions=
        zc.buildoutsftp

[deps]
recipe = zc.recipe.egg
eggs = van.testing
       tl.eggdeps

[test]
recipe = zc.recipe.testrunner
eggs = van.testing
