#gobanContainer {
	clear: both;
	margin-top: 1em;
}
.clearRight {
	clear: right;
}
#goban img {
	display: inline;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 1.5em;
}
.gobanCoord {
	font-weight: bold;
	font-style: italic;	
	width: 1.5em;
	float: left;
	text-align:center;
}
.gobanRow {
	clear: both;
}
.gobanRow.coordRow {
	padding-left: 1.5em;
	text-align:center;
}
#goban {
	background: url(++resource++qi.Goban.images/kaya.png);
	float: right;
	clear: right;
}
.stoneContainer {
	position: relative;
	float: left;
}
	
span.goLabel1C {
	position: absolute;
	color: red;
	margin-left:-1.1em;
	margin-top:0.1em;
	z-index: 100;
	display: inline;
}

.goLabel2C {
	position: absolute;
	color: red;
	margin-left:-1.5em;
	margin-top:0.3em;
	z-index: 100;
	font-size: 0.8em;
}

#commTxt {
	margin: 0.5em 0.5em 0.5em 0.5em;
	padding: 0 0.5em 0 0.5em;
	float: left;
	width: 15em;
	border:thin;
	border-style:solid;
	border-color: gray;
	height: 11em;
	overflow: auto;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	color: 	#ff9000;

}

.hasVarSelect {
	color: red;
	text-decoration: blink;
}

.gobanControls {
	padding: 1em 0 0 22em;
	clear: both;
}
.gobanControls input {
	border: none;
	background: transparent;
}

