.tag-cloud-container {
  margin-top: 2em;
}

.tag-cloud LI {
  list-style-type: none;
  list-style-image: none;
  display: inline;
}

.tag-cloud LI A {
  border-bottom: 0;
}

.tag-cloud .tag1 {
  font-size: 90%;
}

.tag-cloud .tag2 {
  font-size: 105%;
}

.tag-cloud .tag3 {
  font-size: 120%;
}

.tag-cloud .tag4 {
  font-size: 135%;
}

.tag-cloud .tag5 {
  font-size: 150%;
}

.tag-cloud .tag6 {
  font-size: 165%;
}

DL.tag-list DT {
  font-weight: normal;
  display: inline;
  margin: 0;
}

DL.tag-list DD {
  display: inline;
  margin: 0;
}

.tag-group-links {
  padding: 0;
  margin: 1em 0;
}

.tag-group-links LI { 
  list-style-type: none;
  list-style-image: none;
  list-style-position: inside;

  display: inline;
  border-right: 1px black solid;
  padding: 0 1em;
  margin: 0;
 }

.tag-group-links LI.last {
  border-right: 0;
}

.tag-group-links LI.first {
  padding-left: 0;
}

.content-tags {
    margin-top: 2em;
    font-size: 90%;
}
