[buildout]
extends=http://download.zope.org/zope3.4/3.4.0/versions.cfg
develop = .
parts = test
        coverage-test
        coverage-report
        python
        gtkeggdeps
        docs
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = z3c.builder.core [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.builder.core [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = z3c.builder.core

[gtkeggdeps]
recipe = zc.recipe.egg
scripts = gtkeggdeps
eggs = gtkeggdeps
       z3c.builder.core

[docs]
recipe = z3c.recipe.sphinxdoc
eggs = z3c.recipe.sphinxdoc
       z3c.builder.core [docs]
default.css =
layout.html =
doc-eggs = z3c.builder.core
build-dir = ${buildout:directory}/docs
