/* Copyright(c) gert.cuykens@gmail.com */

body,html {width:100%;height:100%;}

* {margin:0px;padding:0px;}

input {width:50px;height:21px;}

#iframe {position:absolute;
         background:white;
         left:0px;
         top:23px;
         border:0px solid black;
         overflow: hidden;}

#f1 {width:159px;
     height:17px;
     border:0px solid black;
     border-bottom:1px solid black;
     border-right:1px solid black;}

.cart_pnr {text-align:center;}
.cart_price {text-align:right;}
.cart_qty {text-align:right;}

.products_unr {text-align:center;}
.products_onr {text-align:center;}
.products_snr {text-align:center;}
.products_status {text-align:center;}
.products_time {text-align:center;}
.products_pnr {text-align:center;}
.products_price {text-align:right;}
.products_qty {text-align:right;}

#products,#cart {width:100%;}
        
#qty {margin:0px 5px 0px 5px;
      border:0px solid black;
      width:25px;
      text-align:center;}

