/* Stylesheet for the 'Andreas 01' Plone theme */

body {
	margin: 0 auto;
	padding: 0;
	font: 76% Verdana,Tahoma,Arial,sans-serif;
	background: #f4f4f4 url(++resource++plonetheme.andreas01.images/bg.gif) top center repeat-y;
}

h1 {
	font-size: 1.5em;
	margin: 0 0 0.5em 0;
}

h2, .portletHeader a, .portletHeader a:hover {
	font-size: 1.3em;
	margin: 0 0 10px 0;
	text-decoration: none;
	color: #303030;
	font-weight: bold;
}

p {
	line-height: 1.6em;
	text-align: left;
}

a {
	text-decoration: none;
	color: #286ea0;
}

a:hover {
	text-decoration: underline;
	color: #286ea0;
}

a img {
	border: 0;
}

dd {
	border: 0;
}

#visual-portal-wrapper {
	background: #ffffff;
	color: #303030;
	margin: 0 auto;
	width: 760px;
}

#portal-title-wrapper a, #portal-title-wrapper a:hover {
	color: #505050;
	background-color: inherit;
	width: 350px;
	margin: 19px 0 13px 0;
	font-size: 2em;
	float: left;
	font-weight: bold;
	text-decoration: none;
}

#portal-subtitle-wrapper {
	width: 400px;
	float: right;
	text-align: center;
	margin: 25px 0 0 0;
	font-weight: bold;
	font-size: 0.8em;
	line-height: 1.2em;
	color: #a0a0a0;
	
}

#portal-image-wrapper {
	margin: 0 0 10px 0;
	border: 0;
	width: 760px;
	height: 175px;
	background: url(++resource++plonetheme.andreas01.images/front.jpg) no-repeat;
	clear: both;
}

#portal-columns {
	margin: 0 0 20px 0;
	padding: 0;
}

#portal-column-one {
	width: 150px;
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 0.9em;
}

#portal-column-content {
	margin: 0;
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	padding: 0 10px 0 10px;
	line-height: 1.6em;
	text-align: left;
}

#portal-column-one .visualPadding, #portal-column-two .visualPadding {
	position: relative;
	top: -9px;
}

html:first-child #portal-column-one .visualPadding {
	position: relative;
	top: 0;
}

* html #portal-column-one .visualPadding {
	position: relative;
	top: 0;
}

#portal-column-two {
	width: 100px;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	line-height: 1.5em;
}

#portal-column-one .portlet {
	margin: 0 10px 10px 0;
	padding: 10px;
	width: 130px;
	color: #505050;
	background-color: #f4f4f4;
	line-height: 1.3em;
	overflow: hidden;
}

#portal-column-one .portlet input[type="text"], #portal-column-one .portlet input[type="password"] {
	width: 130px;
}

#portal-column-two .portlet {
	margin: 0 0 10px 0;
	padding: 10px;
	width: 80px;
	color: #505050;
	background-color: #ffffff;
	line-height: 1.3em;
	overflow: hidden;
}

#portal-column-two .portlet input[type="text"], #portal-column-two .portlet input[type="password"] {
	width: 86px;
}

.portletItem, .portletFooter {
	margin: 0;
	padding: 0;
}

#portal-column-one .portletNavigationTree {
	margin: 0 0 10px 0;
	padding: 0;
	background: #ffffff;
}

#portal-column-one .portletNavigationTree .portletHeader {
	display: none;
}

#portal-column-one .portletNavigationTree {
	width: 150px;
}

#portal-column-one .portletNavigationTree dd ul {
	list-style-type: none;
}

#portal-column-one .portletNavigationTree dd ul li {
	padding: 0;
	line-height: 1.4em;
	display: inline;
}

#portal-column-one .portletNavigationTree dd ul li a {
	background-color: #f4f4f4;
	color: #505050;
	font-weight: bold;
	width: 140px;
	float: left;
	margin-bottom: 5px;
	padding: 5px 1px 5px 5px;
	border: 0;
	border-left: 4px solid #cccccc;
	text-decoration: none;
}

#portal-column-one .portletNavigationTree dd ul li a:hover, #portal-column-one .portletNavigationTree dd ul li .navTreeCurrentItem {
	background-color: #eaeaea !important;
	border-width: 0 0 0 4px !important;
	border-color: #286ea0 !important;
	border-style: solid !important;
	color: #286ea0 !important;
}

.documentActions ul {
	text-align: right;
	padding: 0;
	margin: 10px 0;
}

#document-action-sendto, #document-action-print {
	list-style-type: none;
	margin: 0 10px;
	padding: 0;
	display: inline;
}

#portal-footer {
	margin: 0 auto;
	padding: 10px 0 20px 0;
	border-top: 4px solid #f0f0f0;
	width: 760px;
}

#portal-footer p {
	text-align: center;
	color: #808080;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

#portal-footer a, #portal-colophon a {
	color: #808080;
	text-decoration: none;
}

#portal-footer a:hover, #portal-colophon a:hover {
	text-decoration: underline;
}

#portal-colophon, #portal-colophon ul {
	text-align: center;
	margin: 0 0 20px 0;
	padding: 0;
}

#portal-colophon ul li {
	list-style-type: none;
	display: inline;
	margin: 0 10px;
	font-size: 0.9em;
	color: #808080;
}

.visualClear {
	clear: both;
	display: none;
}

.managedPortlet a, .managedPortlet a:hover {
	font-size: 0.9em;
	font-weight: normal;
}

.configlets {
	margin: 0;
	padding: 0;
}

.portalMessage dt {
	font-size: 1.3em;
	margin: 0 0 10px 0;
	text-decoration: none;
	color: #303030;
	font-weight: bold;
}

.portalMessage dd {
	margin: 0;
	padding: 0;
}