[buildout]
develop = .
parts = demo test coverage

[test]
recipe = zc.recipe.testrunner
eggs = z3c.skin.pagelet [app, test]

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage

[zope3]
location = .

[pagelet-demo-app]
recipe = zc.zope3recipes:app
site.zcml = <include package="z3c.skin.pagelet" file="ftesting.zcml" />
eggs = z3c.skin.pagelet [app]

[demo]
recipe = zc.zope3recipes:instance
application = pagelet-demo-app
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage
