
.template-search .field span,
.template-search label {
  display: none;
}
.template-search #form-widgets-search_term {
  width: 420px;
}
.template-search #region-content {
  text-align: center;
}
.template-search .seachResultPage {
  text-align: left;
}
.template-search .searchPage {
  font-size: 200%;
  width: 550px;
  margin: 0 auto;
}
.template-search .searchPage .row {
  float: left;
}
.template-search .searchPage .action {
  float: right;
}
.template-search .searchPage .row .field {
  margin: 0;
}
.template-search #form-buttons-search {
  padding:1px 10px 1px 25px;
  background:White url(search_icon.gif) no-repeat scroll 5px 7px;
  border:1px solid #8CACBB;
  color:Black;
  cursor:pointer;
  margin-bottom:1px !important;
  text-transform:none;
  font-size: 95%;
}
.template-search .discreet {
  font-size: 11px;
  clear: both;
}
