[buildout]
develop = . 
parts = test
newest = false
extends = http://grok.zope.org/releaseinfo/grok-0.13.cfg
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = megrok.tinymce
defaults = ['--tests-pattern', '^f?tests$', '-v']
