# This is a bit awkward. We can't build zope.ucol as a develop egg as
# we normally would becase:
#
# 1. We need to build icu first
#
# 2. We need to pass build_ext options.
# 
# We don't have the machinery we need to automate this yet. :(
# For now, we need to manually create an sdist and build zope.ucol
# with the custom recipe.  It would help a lot of setup develop
# accepted build_ext options.
#
# Maybe we should just write a special recipe that build zope.ucol
# manually.


[buildout]
develop = icu
parts = icu zope.ucol test

[icu]
recipe = zc.recipe.icu
version = 3.2

[zope.ucol]
find-links = dist
index = dist
recipe = zc.recipe.egg:custom
egg = zope.ucol
include-dirs = ${buildout:directory}/parts/icu/include
library-dirs = ${buildout:directory}/parts/icu/lib
rpath = ${buildout:directory}/parts/icu/lib

[test]
recipe = zc.recipe.testrunner
eggs = zope.ucol
