[buildout]
parts = eggs test
develop = .

[eggs]
recipe = zc.recipe.egg
eggs=
    zopeproject
    PasteScript
    gp.fileupload
interpreter=python

[test]
recipe = zc.recipe.egg
eggs=
    gp.fileupload
    nose
scripts= nosetests=test

