[buildout]
parts =
    eggs
    interpreter
    test
develop = .

[eggs]
recipe = minitage.recipe:egg
eggs =      
    ooo2toolsdaemon
    ipython

[interpreter]
recipe = minitage.recipe:scripts
eggs =      
    ${eggs:eggs}

[test]
recipe = zc.recipe.testrunner
eggs = 
    ooo2tools.daemon

