#visual-portal-wrapper {
	margin-left: 0px;
	margin-right: 0px;
	border-left: 50px solid #92967F;
	border-right: 50px solid #92967F;
}

.roundcont2 {
	background: transparent url (++resource++plone.xtheme.images/eic.jpg) no-repeat scroll 0% 0%;
	padding-top:0px;
	margin-top:0px;
}

.hiddenStructure {
    display:none;
}
