
#colors {
    position: absolute;
    left: 2px;
    bottom: 2px;
    line-height: 1px;
    font-size: 1px;
}

img#color {
    height: 2px;
    width: 2px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
}

#color-row {
    margin: 0px;
    padding: 0px;
    height: 1px;
    line-height: 0px;
}

#toolbox {
	position: absolute;
	top: 2px;
	left: 2px;
	border-collapse: collapse;
}

.tool {
	border: 1px dotted black;
	cursor: pointer;
	height: 32px;
	width: 32px;
}

.tool-selected {
	border: 1px solid black;
}

#the-canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}


