
body {
    font-family: Verdana;
}

img {
    border: 0;
}

#follow-stream {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70%;
    padding: 1em;
}

#following-list {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20%;
    padding: 1em;
}

.following-username {
    position: relative;
    top: 0px;
    left: 0px;
    width: 5em;
}

.follow-event {
    border-bottom: 1px dotted black;
}

.follow-event-body {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.created-at {
    position: relative;
    top: 0px;
    right: 0px;
    width: 5em;
    font-size: xx-small;
}

