[buildout]
eggs-directory = /mnt/a9/eggs24
develop = .
parts = test python

[test]
recipe = zc.recipe.testrunner
eggs = zope.formlib [test]

[python]
recipe = zc.recipe.egg
eggs = zope.formlib
interpreter = python
