.ost_menu {
    float: right;
    background: #edf3fe;
    border: thin solid lightblue;
    padding: 0.2em;
    margin: 0.2em;
    display: block;
}

.ost_menu .header {
    font-weight: bold;
}

.ost_menu .pending_changes {
    font-size: small;
}

.ost_menu .alert {
    color: red;
    font-weight: bold;
    font-size: larger;
}