/* Stylesheet for the 'Green Community' Plone theme */

body, html {
	background-color: #99cc00;
	color: #000000;
	font-family: verdana, sans-serif;
	font-size: 12px;
	line-height: 1.7em;
	margin: 0;
	padding: 0;
	text-align: center;
}

body.kupu {
	text-align: left !important;
	background-color: #ffffff !important;
}

a img {
	border: 0;
}

h1 {
	background: url(++resource++plonetheme.greencommunity.images/h2.gif) no-repeat scroll left top;
	color: #000000;
	font-family: georgia, serif;
	font-size: 1.5em;
	padding: 3px 0 0 8px;
	text-decoration: none;
	font-weight: normal;
}

h2 {
	font-family: georgia, serif;
	font-size: 1em;
	margin: 7px 0 2px 0;
	text-indent: 2em;
	text-transform: uppercase;
	font-weight: normal;
}

h4 {
	font-size: 12px !important;
}

p {
	text-indent: 1.3em;
	margin: 0 0 5px 0;
	padding: 0;
}

input {
	background: #f5f5f5 none repeat scroll 0% !important;
	border-color: #efefef !important;
	border-style: none none dotted none !important;
	border-width: 0 0 1px 0 !important;
}

* html input {
	border: 0 !important;
}

input[type="button"], input[type="submit"] {
	background: #ffffff none repeat scroll 0% !important;
	border-bottom: medium none;
	cursor: pointer;
	padding: 0 !important;
	font-size: 12px !important;
}

* html .searchButton {
	background: #ffffff none repeat scroll 0% !important;
	border: 0 !important;
	cursor: pointer;
	padding: 0 !important;
	font-size: 12px !important;
}

* html .context {
	background: #ffffff none repeat scroll 0% !important;
	border: 0 !important;
	cursor: pointer;
	padding: 0 !important;
	font-size: 12px !important;
}

#visual-portal-wrapper {
	background: none;
	margin: 20px auto 0 auto;
	text-align: left;
	width: 780px !important;
}

* html #visual-portal-wrapper {
	overflow: hidden !important;
	width: 780px !important;
}

#portal-columns {
	border-collapse: separate !important;
	border-spacing: 0px;
}

* html #portal-columns {
	border-collapse: collapse !important;
}

#portal-column-one {
	height: 102px !important;
	display: block;
	margin: 10px 0 0 10px;
	border: 0 !important;
	padding: 0;
	background: #5f5f5f url(++resource++plonetheme.greencommunity.images/toptopleft.gif) no-repeat scroll left top;
	color: #f5f5f5;
	width: 600px !important;
	z-index: 100;
	position: relative !important;
}

body:first-of-type #portal-column-one {
	z-index: 500;
	right: -1px;
}

* html #portal-column-one {
	position: relative;
	top: 10px;
	left: 10px;
	width: 600px !important;
	z-index: 100 !important;
}

#portal-column-one .visualPadding {
	height: 102px !important;
	position: relative;
	background: url(++resource++plonetheme.greencommunity.images/toptopbottom.gif) no-repeat scroll right bottom;
}

* html #portal-column-one .visualPadding {
	width: 600px;
	overflow: hidden;
	background-position: 590px 92px;
}

#portal-column-one a {
	color: #f5f5f5;
}

#portal-column-one .portlet {
	width: 280px !important;
	background: none;
	float: left;
	padding: 10px 0 0 10px;
	margin: 0 10px 0 0;
}

#portal-column-one .portlet .portletHeader {
	margin: 0;
	padding: 0;
	text-transform: lowercase;
}

#portal-column-one .portlet .portletHeader a {
	text-decoration: none;
}

#portal-column-one .portlet .portletItem {
	margin: 0;
	padding: 0 0 0 10px;
	border: 0 !important;
}

#portal-column-one .portlet .portletItem a {
	color: #f5f5f5;
	margin: 1px 0 0 0;
	padding: 1px 10px 0 5px;
	text-decoration: none;
	border: 0;
	border-bottom: 1px dotted #f5f5f5;
}

#portal-column-one .portlet .portletItem a:hover {
	border: none;
	border-bottom: 1px solid #f5f5f5;
}

#portal-column-one .portlet .portletFooter {
	margin: 0;
	padding: 0 0 0 10px;
	border: 0 !important;
}

#portal-column-one .portlet .portletFooter a {
	color: #f5f5f5;
	margin: 1px 0 0 0;
	padding: 1px 10px 0 5px;
	text-decoration: none;
	border: 0;
	border-bottom: 1px dotted #f5f5f5;
}

#portal-column-one .portlet .portletFooter a:hover {
	border: none;
	border-bottom: 1px solid #f5f5f5;
}

#portletmanager-plone-rightcolumn {
	padding: 10px
}

#portletmanager-plone-leftcolumn {
	padding: 10px 10px 0 10px;
}

#portletmanager-plone-leftcolumn .portletAssignments {
	height: 65px;
	margin: 0 0 2px 0;
	width: 260px;
}

#portletmanager-plone-leftcolumn .section h4 {
	margin: 0;
}

#portletmanager-plone-leftcolumn .portletAssignments .managedPortlet {
	padding: 2px;
	background: #777777;
	width: 120px !important;
	margin: 3px 5px 2px 0;
}

#portal-column-content {
	background: #ffffff url(++resource++plonetheme.greencommunity.images/topleft.gif) no-repeat scroll left top;
	width: 610px !important;
	position: relative !important;
	top: 0px;
	display: block;
	margin: 0;
	padding: 0;
	border: 0 !important;
	z-index: 100;
}

body:first-of-type #portal-column-content {
	z-index: 500;
	right: -1px;
}

* html #portal-column-content {
	top: 112px;
	left: -600px;
	z-index: 100 !important;
}

#portal-column-content .documentEditable {
	padding: 10px 10px 12px 10px;
}

#portal-column-content #content {
	padding: 10px;
}

#portal-column-content .documentEditable #content {
	padding: 0px;
}

#portal-column-content .documentEditable #site-title-wrapper {
	display: none;
}

#portal-column-content .documentActions ul {
	list-style-type: none;
	text-align: right;
	margin: 0;
	padding: 0;
}

#portal-column-content .documentActions ul li {
	display: inline;
	padding: 0;
	margin: 0 0 0 10px;
}

#viewlet-above-content {
	background: none;
	margin: 0 0 -7px 0;
	padding: 10px 10px 0 10px;
}

#site-title-wrapper {
	background: transparent url(++resource++plonetheme.greencommunity.images/header.jpg) no-repeat scroll left top;
	height: 90px;
	position: relative;
	width: 590px;
	text-transform: lowercase;
}

#site-title-wrapper h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 5px;
	bottom: 5px;
	background: none;
	line-height: normal;
	font-size: 2.2em;
	background: none;
}

#site-title-wrapper h1 a {
	color: #ffffff;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size: 1.0em;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

#portal-column-two {
	background: #ffffff url(++resource++plonetheme.greencommunity.images/topleft.gif) no-repeat scroll left top;
	width: 170px !important;
	position: relative;
	left: -601px;
	border: 0 !important;
	border-bottom: 1px solid #99cc00 !important;
	z-index: 300;
}

* html #portal-column-two {
	border: 0 !important;
	border-bottom: 0 !important;
}

#portal-column-two .visualPadding {
	background: url(++resource++plonetheme.greencommunity.images/topright.gif) no-repeat scroll right top;
	margin: 0;
}

#portal-column-two .portlet {
	padding: 10px 10px 0 10px;
	margin: 0 0 -10px 0;
}

#portal-column-two .portlet .ploneCalendar {
	font-size: 8pt;
}

#portal-column-two .portlet .portletHeader {
	background: transparent url(++resource++plonetheme.greencommunity.images/nav-h.gif) no-repeat scroll left center;
	font-family: arial, sans-serif;
	font-size: 1.5em;
	margin: 7px 0 3px 3px;
	padding-left: 25px;
	line-height: normal;
}

#portal-column-two .portlet .portletHeader a {
	color: #000000;
	text-decoration: none;
}

#portal-column-two .portlet .portletItem {
	margin: 0;
	padding: 0;
	background: transparent none;
}

#portal-column-two .portlet .portletFooter {
	margin: 0;
	padding: 0;
}

#portal-column-two .portlet .portletNavigationTree {
	list-style-type: none;
}

.managePortletsLink {
	margin: 5px 20px 0 0;
	float: right;
}

#portal-column-two .portlet .portletNavigationTree a {
	background: #efefef none repeat scroll 0% 0% !important;
	color: #000000 !important;
	display: block !important;
	margin: 1px !important;
	padding: 1px 1px 1px 5px !important;
	text-decoration: none !important;
	border: 0 !important;
	line-height: normal !important;
	height: 20px !important;
	width: 138px !important;
}

#portal-column-two .portlet .portletNavigationTree a:hover {
	border-left: 3px solid #99cc00 !important;
	padding-left: 2px !important;
}

#portal-column-two .portlet .portletNavigationTree a img {
	border: 0 !important;
}

#portal-column-two .portlet .portletNavigationTree .navTreeCurrentNode .navTree {
	padding: 0 !important;
}

#portal-column-two .portlet .portletNavigationTree .navTree {
	padding: 0 !important;
}

#portal-column-two .portlet .portletNavigationTree .navTreeCurrentNode .navTree li a {
	width: 126px !important;
}

#portal-column-two .portlet .portletNavigationTree .navTree li a {
	width: 126px !important;
}

#portal-column-two .searchPortlet .livesearchContainer {
	display: none !important;
}

#portal-column-two .portletLogin {
	font-family: georgia, sans-serif !important;
	font-weight: normal !important;
	font-size: 12px !important;
	position: relative;
	top: -30px;
}

#portal-column-two .portletLogin label {
	font-weight: normal !important;
}

#portal-column-two .portletLogin label:after {
	content: ":";
}

#portal-column-two .portletLogin .formControls  {
	text-align: right;
}

#portal-column-two .portletLogin .even {
	border-bottom: 1px solid silver;
	text-align: right;
	padding-bottom: 30px;
}

#portal-column-two .portletLogin .portletHeader {
	visibility: hidden;
}

#portletmanager-plone-rightcolumn h4 {
	margin: 5px 0 0 0;
	padding: 0;
}

#portletmanager-plone-rightcolumn .managedPortlet {
	padding: 4px 2px 4px 2px;
	margin: 5px 0;
	background: #f0f0f0 none;
}

#portletmanager-plone-rightcolumn .managedPortlet .portletHeader {
	background: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

* html #clear-space-before-footer {
	background: #ffffff;
	height: 112px !important;
	width: 166px !important;
	position: relative;
	left: 610px !important;
}

#portal-footer {
	margin: 20px 0 0 0;
	text-align: center;
}

#portal-footer p {
	margin: 0; 
	padding: 0;
}

#portal-colophon {
	margin: 0;
	padding: 0;
	text-align: center;
}

#portal-colophon ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#portal-colophon ul li {
	display: inline;
	margin: 0 5px;
	padding: 0;
}

* html .documentEditable {
	width: 590px !important;
}

.searchPage {
	padding-top: 10px;
}

.searchPage input {
	padding: 0;
}

.template- #portal-columns {
	width: 720px !important;
}

.template-login_form #visual-portal-wrapper, .template-mail_password_form #visual-portal-wrapper, .template-search #visual-portal-wrapper, .template-search_form #visual-portal-wrapper, .template-plone_control_panel #visual-portal-wrapper {
	width: 610px !important;
}


.template- .documentContent, .template-login_form .documentContent, .template-mail_password_form .documentContent, .template-search .documentContent, .template-search_form .documentContent, .template-plone_control_panel .documentContent {
	margin: 0;
	padding: 10px;
}

.template- .documentContent #viewlet-above-content, .template-login_form .documentContent #viewlet-above-content, .template-mail_password_form .documentContent #viewlet-above-content, .template-search .documentContent #viewlet-above-content, .template-search_form .documentContent #viewlet-above-content, .template-plone_control_panel .documentContent #viewlet-above-content {
	margin: 0;
	padding: 0;
}

* html body.template-login_form #visual-portal-wrapper, * html body.template-mail_password_form #visual-portal-wrapper, * html body.template-search #visual-portal-wrapper, * html body.template-search_form #visual-portal-wrapper {
	width: 610px !important;
}

* html body.template-login_form #portal-column-content, * html body.template-mail_password_form #portal-column-content, * html body.template-search #portal-column-content, * html body.template-search_form #portal-column-content {
	top: 20px;
	left: 0px !important;
	width: 610px !important;
}

* html body.template-login_form .documentContent #viewlet-above-content, * html body.template-mail_password_form .documentContent #viewlet-above-content, * html body.template-search .documentContent #viewlet-above-content, * html body.template-search_form .documentContent #viewlet-above-content {
	margin: 0;
	padding: 0;
}

* html body.template-login_form #clear-space-before-footer, * html body.template-mail_password_form #clear-space-before-footer, * html body.template-search #clear-space-before-footer, * html body.template-search_form #clear-space-before-footer {
	background: none;
	height: 20px !important;
}

.template- #portal-column-one {
	height: 450px !important;
	width: 170px !important;
	top: 5px;
}

.template- #portal-column-content {
	height: 457px !important;

}

.template- #portal-column-one .visualPadding {
	height: 457px !important
}

.template- #portal-column-one .visualPadding .portletAssignments {
	width: 150px;
}

* html .template- .section {
	width: 200px;
}

* html .template- #portal-column-one {
	left: -170px;
}

* html .template- #portal-column-content {
	top: 0px;
}