/* Copyright(c) gert.cuykens@gmail.com */
body {margin:10px;
      border:0px solid black;
      padding:0px;
      background-color:white;}

textarea {width:220px;color:white;background:black;}

.products_pnr {text-align:center;}
.products_price {text-align:right;}
.products_qty {text-align:right;}

#comments {display:none;}
#value {width:50px;color:white;background:black;}
#d-barcode {margin-top:20px;height:75px;}
#d-status  {position:absolute; top:50px; left:135px;}
#price {width:45px;border:0px solid black;}

@media print{}

