# This is where all of your settings go for your development environment

[global]

sqlobject.dburi="postgres://fozzy@/fozzy"

server.socketPort=9081
logDebugInfoFilter.on = False

server.environment="development"
autoreload.package="tasty"


encodingFilter.on = True,
encodingFilter.encoding = "utf8"
decodingFilter.on = True


