# This is where all of your settings go for your development environment

[global]

sqlobject.dburi="postgres://anders@/fozzy"

server.environment="production"
server.logFile="/tmp/fozzy.log"
server.logToScreen=False


