[DEFAULT]
# You can move this file into the ~/.config/runpon/ directory.
# DO NOT REMOVE THE "DEFAULT" SECTION.

# If the 'active' option is present, by default every configuration
# parameter is taken from the pointed section; if 'active' is not set
# or some paramter is not found in the given section, values in
# DEFAULT will be used.
active = runpon
# Commands to be executed.
on = pon
off = poff
# Interface to check.
check_interface = ppp0
# Run the 'off' command if the interface is no more with us.
run_off_if_fails = true
# Run the 'off' command at exit, if the timer is still running.
run_off_at_exit = true
# Check the interface every X seconds.
check_interval = 10
# Don't check the interface for the first X seconds; otherwise, if the
# check is performed while the interface is not yet up, the 'off' command
# will be called (only if 'run_off_if_fails' is True).
# Keep it large enough. :-)
check_grace_time = 20
# It only makes sense in other sections: cumulative time (in seconds) of
# the connection.
cumulative_time = 0
# Length, in seconds, of a time slot.  Any single connection, is rounded
# up to a multiple of this value (in seconds).
cumulative_time_slot = 1

[runpon]
on = pon provider
off = poff
check_interface = ppp0
run_off_if_fails = true
run_off_at_exit = true
check_interval = 10
check_grace_time = 20
cumulative_time = 0
# 15 minutes.
cumulative_time_slot = 900

