[buildout]
develop = .
parts = plone zope2 instance
eggs =
    elementtree
    collective.zrtresource

[plone]
recipe = plone.recipe.plone == 3.0.6

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8888
debug-mode = on
verbose-security = on
eggs =
    ${buildout:eggs}
    ${plone:eggs}
products =
    ${plone:products}
zcml = z3c.zrtresource-meta.zcml
