            @page {
                size: 81mm 57mm;
                margin: 5mm 5mm 5mm 5mm;
            }

            #logo {
                position: absolute;
                margin-left: 0mm;
                margin-top: 0mm;
                width: 40mm;
                height: 20mm;
            }

            #desc {
                position: absolute;
                font-family: sans-serif;
                font-size: 10px;
                color: #555555;
                margin-left: 0mm;
                margin-top: 25mm;
                width: 40mm;
                height: 20mm;
            }

            #address {
                position: absolute;
                font-family: sans-serif;
                font-size: 9px;
                margin-left: 40mm;
                margin-top: 25mm;
                height: 40mm;
                width: 40mm;
            }

            ul { 
                    margin: 0mm;
                    margin-left: 0mm;
                    margin-top: 0mm;
              }

            li { 
                 padding-left: 0mm; 
                 list-style-position: inside;
             }

            @font-face {
                font-family: sans-serif;
                src: local("Trebuchet MS")
            }
