[buildout]
develop = .
parts = test
extends = http://grok.zope.org/releaseinfo/grok-1.1a1.cfg
versions = versions
newest = false


[test]
recipe = zc.recipe.testrunner
eggs = megrok.z3cform.layout
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
