[buildout]

develop = .
parts = plone zope2 instance

eggs =
    elementtree

[instance]
recipe = plone.recipe.zope2instance
eggs= ${plone:eggs}

[plone]
recipe = plone.recipe.plone

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-port = 8080
debug-mode = on
verbose-security = on
eggs =
    ${buildout:eggs}
    ${plone:eggs}
    collective.plone.gsxml

zcml =
    collective.plone.gsxml

products =
    ${plone:products}

