/*
  This file is based on the ploneCustom.css.dtml shipped with Plone.
*/

/*  <dtml-with base_properties> (do not remove this :) */
/*  <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either :) */

.comment.manager {
    border:1px solid red;
}

.commenting-buttons {
    margin-top: 15px;
}

.comment-button {
    margin: 15px 0;    
}
/* </dtml-with> (leave this one unmolested too :) */


