/* @group Plone */

body.template-portalview #portal-column-content {
  padding-left: 0;
  padding-right: 0;
}

body.template-portalview .documentEditable {
  margin: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  
}

body.template-portalview .documentEditable .documentContent {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

body.template-portalview .documentContent {
  padding-top: 1ex !important;
  padding-left: 1ex !important;
  padding-right: 1ex !important;
}

/* @end */

/* @group Portal View */

/* @group CSS Hooks */

.portalView, .portalViewColumn, .portalViewBox {
  position: relative;
  min-width: 0; height: 1%;
}

/* @end */

/* @group General Layout */

.portalViewColumnWrapper { float: left; }
.portalViewColumnWrapper-20 { width: 19.999%; }
.portalViewColumnWrapper-25 { width: 24.999%; }
.portalViewColumnWrapper-30 { width: 29.999%; }
.portalViewColumnWrapper-40 { width: 39.999%; }
.portalViewColumnWrapper-50 { width: 49.999%; }
.portalViewColumnWrapper-60 { width: 59.999%; }
.portalViewColumnWrapper-70 { width: 69.999%; }
.portalViewColumnWrapper-80 { width: 79.999%; }
.portalViewColumnWrapper-100 { width: 100%; }
.portalViewBox { overflow: hidden; }

/* @end */

/* @group Default Skin */

.portalViewBoxWrapper {
  position: relative;
  margin: 1ex;
}

.portalViewBoxWrapper.state-expired,
.portalViewBoxWrapper.state-private {
  filter: alpha(opacity=40) ;
  opacity: 0.4;
  -moz-opacity: 0.4;
}


#content .portalViewBox .portletItem + ul,
.documentContent .portalViewBox .portletItem + ul,
#content .portalViewBox .portletHeader + ul,
.documentContent .portalViewBox .portletHeader + ul {
	margin: 0;
	line-height: 2ex;
} 

#content .portalViewBox,
.documentContent .portalViewBox {
    color: black;
}

#content .portalViewBox a,
.documentContent .portalViewBox a {
  padding: 0;
  text-decoration: underline;
  border: none;
}

#content .portalViewBox .portlet,
.documentContent .portalViewBox .portlet {
  color: black;
}

.portalViewBoxTools {
  position: absolute;
  top: 0.5ex; right: 4px;
  width: 32px;
}

.portalViewBoxTools a {
  float: left;
  display: block;
  width: 16px; height: 16px;
  text-indent: 16px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.portalViewBoxTools a.portalViewColumnListLink,
.portlet .portalViewBoxTools a.portalViewColumnListLink {
  background: url(++resource++jyu.portalview.images/column_icon.png) !important;
}

.portalViewBoxTools a.portalViewBoxEditLink {
  background: url(++resource++jyu.portalview.images/pencil_icon.gif) !important; 
}

a.portalViewBoxFeedLink {
    position: absolute;
    top: 0.5ex; right: 6px;
    display: block !important ;
    width: 16px; height: 16px;
    text-indent: 16px;
    overflow: hidden;
    background: url(++resource++jyu.portalview.images/box_feed_icon.gif) no-repeat !important;
}

.documentEditable a.portalViewBoxFeedLink {
    right: 40px;
}


.portalViewBoxMore {
  text-align: right;
  margin-bottom: 0;
}

.portalViewBoxMore a {
  color: #436976; 
}

/* @end */

/* @end */