[buildout]
develop = .
parts = test coverage-test coverage-report resource-list python

[test]
recipe = zc.recipe.testrunner
eggs = z3c.versionedresource [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.versionedresource [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[resource-list]
recipe = zc.recipe.egg
eggs = z3c.versionedresource

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = z3c.versionedresource
