/* Styles for SpeedUpUI Pathbar */

.speedupuiBreadcrumbSeparator {
	margin:0;
	padding:0;
	position:relative;
}
.lastPathBarItem {
	margin-left: 0.2em;
	margin-top: 0.2em;
	line-height:1.6em;
}

.speedUpUiPathbar .actionMenu .actionMenuContent ul {
	background:#DEE7EC none repeat scroll 0 0;
	border-color:#8CACBB;
	border-style:none solid solid;
	border-width:1px;
	display:block;
	margin:-2px 0 0;
	padding:0;
}

.speedUpUiPathbar .actionMenu .actionMenuContent li a:hover {
    background-color: #8CACBB;
    color: White;
}

.speedUpUiPathbar .activated .actionMenuHeader {
    background-color: #DEE7EC;
	border-color:#8CACBB;
    color: White;
}

.speedUpUiPathbar {
    background-color: transparent;
    text-align: right;
    text-transform: none;
    padding-left: 2em;
    padding-right: 2em;
    z-index: 3;
    position:relative;
    height: 1.6em;
}
.speedUpUiPathbar ul,
.speedUpUiPathbar li {
    margin: 0;
    list-style: none;
    list-style-image: none;
    color: Black;
    text-align: left;
    line-height: 1.6em;
}
.speedUpUiPathbar li {
    float: left;
    z-index: 4;
}
.speedUpUiPathbar a {
    text-decoration: none;
    padding: 0 0.2em;
    cursor: pointer;
}
.speedUpUiPathbar span.subMenuTitle {
    padding: 0em 0.5em;
    position: relative;
    white-space: nowrap;
    display: inline;
}
.speedUpUiPathbar a span.subMenuTitle {
    padding: 0px;
    display: inline;
}

.speedUpUiPathbar .actionMenuContent a {
    padding: 0 0.5em;
}

