[buildout]
unzip = true
prefer-final = true
versions = versions
extensions = buildout.dumppickedversions
parts =
    test
    omelette
    console_scripts
    development_tools
    pyflakes
develop =
    .
    local-checkouts/*
eggs =
    tha.coverage


[versions]
# Pin versions that we want to pin to a specific version

# Not specifically pinned versions.
# List compiled on 2009-05-13 by reinout
# Remove this list, run buildout -n and replace with output of
# buildout.dumppickedversions
collective.recipe.omelette = 0.9
eazysvn = 1.10.0
importchecker = 1.0
ipython = 0.9.1
martian = 0.11
pyflakes = 0.3.0
z3c.coverage = 1.1.2
z3c.testsetup = 0.3
zc.buildout = 1.2.1
zc.recipe.egg = 1.2.2
zc.recipe.testrunner = 1.2.0
zest.releaser = 2.3
zope.interface = 3.5.1
zope.testing = 3.7.4


[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
eggs =
    tha.coverage
    tha.coverage[test]


[development_tools]
recipe = zc.recipe.egg
eggs =
    eazysvn
    importchecker
    ipython
    zest.releaser


[pyflakes]
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
   setuptools
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
       ${development_tools:eggs}
# Dogfood
       tha.coverage


[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}
