table.abbreviations {
    border-collapse:collapse;
}

.abbreviations th {
    background-color: #DEE7EC;
    border-collapse:collapse;
    border: 1px solid #8CACBB;
    padding: 2px 6px;

}

.abbreviations td {
    border: 1px solid #8CACBB;
    border-collapse:collapse;
    padding: 2px 6px;
}

.portletNormativaSearchPortlet .LSResult {
    display:block;
    left:200px !important;
    margin:0pt;
    padding-top:5px;
    position:relative;
    text-align:right;
    z-index:3;
}

