/**
basic top level config 
**/

* {	margin: 0px;
	padding: 0px; 
}

body {
	font: normal Arial, Helvetica, sans-serif; 
}


h3 {
	font: bold normal large Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0px;
	padding-top: 4px;
	padding-left: 4px;
}

a:link { 
    font-weight: bold; 
    text-decoration: none; 
}

a:hover, a:active { 
    text-decoration: none; 
}

li {
    font: normal large Arial, Helvetica, sans-serif;
    line-height: 1em;
    list-style-type: none;
}

li a:link { 
    text-decoration: inherit;
}


li a:hover { 
    text-decoration: inherit;
}

li a:visited {
    text-decoration: inherit;
}

/** header and footer **/

#pageHeader {
    width: 100%;
    height: 100px;
    text-align: center;
    border-bottom:2px solid #37b;
    margin-bottom: 10px;
    font: normal large Arial, Helvetica, sans-serif;
    background-color:  #fff;
    color: #000;
}


/** overall layout **/

div.content {
    width: 800px;
    
}

#left_side_top {
    float: left;
    width: 27%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid #2a25ff;
    color: #c0c0c0;
    background-color: #505050;
    padding: 7px;
}

#middle_top {
    float: left;
    width: 27%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid #2a25ff;
    color: #c0c0c0;
    background-color: #505050;
    padding: 7px;    
}

#right_side_top {
    float: left;
    width: 27%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid #2a25ff;
    color: #c0c0c0;
    background-color: #505050;
    padding: 7px;
}

#left_side_bottom {
    clear: both;
    float: left;
    width: 40%;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid #08a000;
    color: #a0a0a0;
    background-color: #303030;
    padding: 7px;
}

#right_side_bottom {
    float: left;
    width: 40%;
    margin-top: 20px;
    margin-left: 7%;
    border: 1px solid #08a000;
    color: #a0a0a0;
    background-color: #303030;
    padding: 7px;
}

/** release manager div stuff **/

#releasemanagers div.relman_location {
    padding: 3px;
    margin: 5px;
    width: 70%;
}

.connected {
    border: 1px solid #08a000;
    background-color: #38ff2e;
}

.disconnected {
    border: 1px solid #ab0000;
    background-color: #ff2525;
}

#projects li {
    padding: 3px;
    margin: 5px;
    width: 70%;
}

#environments li {
    padding: 3px;
    margin: 5px;
    width: 70%;
}

/** tabbed navigation **/
#tabs {
    margin-top: 7px;
}

#tabs ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
} 

#tabs ul li {
    border: 1px solid #fff;
    border-bottom: none;
    margin-left: 0;
    margin-bottom: 0;
    padding: 2px 15px 5px;
    list-style: none;
    display: inline;
}

#tabs ul li.current {
    margin-left: 0;
    margin-bottom: 0;
    padding: 2px 15px 5px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    list-style: none;
    display: inline;
}
