/* Copyright(c) gert.cuykens@gmail.com */

body,html {width:100%;height:100%;}

* {margin:0px;padding:0px;}

#f1,#qty {width:150px;
          height:22px;
          border:0px solid black;
          vertical-align:top;
          color:white;
          background:black;}

#f2,#f3,#f4,#f5,#f6,#yes,#no,#view {width:50px;}

.cart_pnr {text-align:center;}
.cart_price {text-align:right;}
.cart_qty {text-align:right;}

.products_unr {text-align:center;}
.products_onr {text-align:center;}
.products_snr {text-align:center;}
.products_status {text-align:center;}
.products_time {text-align:center;}
.products_pnr {text-align:center;}
.products_price {text-align:right;}
.products_qty {text-align:right;}

#products,#cart {width:100%;}
        
#qty {margin:0px 5px 0px 5px;
      border:0px solid black;
      width:25px;
      text-align:center;}

#shop {position:absolute;
       width:100%;
       height:100%;
       top:0px;
       left:0px;}

#order {text-align:right;}

