[buildout]
develop = .
parts = test memcached py omelette dependencytree

[memcached]
# depends on "sudo apt-get install libevent-dev"
recipe = zc.recipe.cmmi
url = http://danga.com/memcached/dist/memcached-1.4.0.tar.gz

[test]
recipe = zc.recipe.testrunner
eggs = bda.cache[test]
environment = testenv

[testenv]
MEMCACHEDBIN = ${memcached:location}/bin/memcached

[py]
recipe = zc.recipe.egg
interpreter = py
eggs = ${test:eggs}

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}
ignore-develop = True

[dependencytree]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    tl.eggdeps