
.new-plone-relation { 
  margin-top: 0px;
  padding-top: 0px;
}

.edit-plone-relation { 
  margin-top: 0px;
  padding-top: 0px;
}

.edit-context-relation .field { 
  margin: 0px 0px 1em 0px; 
}

.edit-context-relation .error { 
  width: 80%;
  line-height: 1em;
  display: block; 
}

.edit-context-relation .portalMessage .error { 
  padding: 0px;
  margin: 2px;
}