fieldset.tplprev {
	border: 2px groove black;
	padding: 6px 10px 18px 10px;
	background: #f4f4f4 url(../img/preview.png);
}

legend.tplprev {
	color: #000000;
	background: #FFFFFF;
	border: 2px groove black;
	padding: 3px 4px 5px 4px;
	text-align: center;
	width: 60px;
}
