[buildout]
develop = .
parts = test interpreter
eggs = chameleon.core [lxml]
       chameleon.html
       repoze.cssutils
       zope.configuration

[interpreter]
recipe = zc.recipe.egg
interpreter = interpreter
eggs = ${buildout:eggs}

[test]
recipe = zc.recipe.testrunner
environment = test-environment
eggs = ${buildout:eggs}

[test-environment]
CHAMELEON_DEBUG = False
CHAMELEON_CACHE = False
