# -*- ksh -*-
# Copyright 2005-2008 Barry A. Warsaw
#
# This file is part of the Python Replybot.
#
# The Python Replybot is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by the
# Free Software Foundation, either version 3 of the License, or (at your
# option) any later version.
#
# The Python Replybot is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along with
# The Python Replybot.  If not, see <http://www.gnu.org/licenses/>.

## This is a sample configuration file for the Python Replybot.  This is a
## ConfigParser file, with general syntax described here:
##
## http://www.python.org/doc/current/lib/module-ConfigParser.html
##
## The [DEFAULT] section provides global values.
##
## Each section then is matched with a "-s selector" value given on the
## replybot command line and can be used to override values for a specific
## reply address.  The values in the [SYSTEM] section cannot be overridden.

[SYSTEM]
## The connection URL for the database.  Any URL supported by SQLObject is
## allowed here.  The default shown here opens a SQLite database file in a var
## directory.  This value cannot be overridden in selector sections.
database_url: sqlite:///var/replybot/replybot.db

## The file that replybot should write its log messages to.  Set this value to
## 'Console' (without quotes) to log error messages to stderr.  The log level
## can be one of Debug, Info, Warning, Error, or Critical, which correspond to
## logging levels in Python's logging package.  This value cannot be
## overridden in selector sections.
log_file:   /var/log/replybot.log
log_level:  Info

## Your mail server information.  If your server does not require
## authentication, set both to the value 'None' (without quotes).
mail_server:	localhost
mail_port:	25
mail_user:	None
mail_password:	None

[DEFAULT]
## The address used in the From field of replies.  Generally, you want to set
## this to be a trash address so that any replies to the replybot message are
## simply thrown away.  You will want to at least change localhost to be your
## mail domain.
replybot_from: noreply@localhost

## The value used in the SMTP (RFC 2821) MAIL FROM command.  This will usually
## show up in the Return-Path header of the message received by the original
## sender.  A null return path (e.g. <>) requires the recipient to not respond
## to the message in the case of errors.
replybot_mailfrom: <>

## This is the realname that the message will appear to come from.
replybot_who: The Python Replybot

## The grace period.  This will be used as the interval between replies to the
## same sender.  Append m to specify minutes, h for hours, d for days, and w
## for weeks.  With no suffix, the value will be interpreted as days.
grace_period: 90d

## The amount of time to cache any notices retrieved from a URL.  As with
## above, you can use h, d, and w suffixes.  You can force a cache purge by
## running 'replybot -p'
cache_period: 4h

## This is the directory where reply messages will be cached.  In order to
## avoid constant retrieval of reply URLs, we'll cache the messages in this
## directory.  This dirctory will be created if it doesn't exist.
cache_directory: /tmp/replybot/cache

## This value specifies the URL at which replybot notices are found.  The url
## will be retrieved and cached and will serve as the body of the message
## sent in reply.  You will almost definitely want to override this in
## selector section.
reply_url: file:///etc/replybot_notice.txt

## The content type of the reply message.  This must match the content type of
## the reply_url.  Its value will be used in the Content-Type header and it
## may contain parameters such as charset if necessary.
content_type: text/plain; charset=us-ascii

## This value can be used to provide different reply grace periods for
## different 'contexts'; its value is completely arbitrary.
##
## For example, let's say you have autoreplies on two addresses,
## help1@example.org and help2@example.org.  Now foo@example.com emails help1
## and gets an autoresponse.  Now foo emails help2; should they get an
## autoresponse for this second message or not?
##
## If the reply_context is * then they will not get a second autoreponse,
## because a star tells replybot to treat all grace periods as being in the
## same 'context'.  If you want the second message to also get a response,
## with its own separately managed graceperiod, then create two sections and
## use a different reply_context in each section.  Then use the replybot
## command line to choose which section (each with a different context) to
## use.
##
## E.g. for two separate autoresponses:
##
## [HELP1]
## reply_context: one
## [HELP2]
## reply_context: two
##
## In /etc/mail/aliases:
##
## help1: |"/usr/bin/replybot -s HELP1"
## help2: |"/usr/bin/replybot -s HELP2"
reply_context: *
