[buildout]
develop = .
parts = test eggs

[eggs]
recipe = zc.recipe.egg
eggs =
    collective.recipe.libsvm
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs =
    collective.recipe.libsvm
defaults = ['-s', 'collective.recipe.libsvm']

