/* Copyright(c) gert.cuykens@gmail.com */
body,html {margin:0px;
           padding:0px;
           overflow:hidden;
           height:100%;}

textarea {position:absolute;
          top:0px;
          left:305px;
          overflow:scroll;
          height:177px;
          margin:0px;
          border:0px solid black;
          padding:0px;}

td {vertical-align:top;}

#appointments-dg {position:absolute;
                  top:177px;
                  left:0px;
                  overflow:scroll;}

#overview {position:absolute;top:  0px;left:227px;width:77px;height:25px;}
#nid      {position:absolute;top: 25px;left:227px;width:77px;height:25px;}
#aid      {position:absolute;top: 50px;left:227px;width:77px;height:25px;}
#find     {position:absolute;top: 75px;left:227px;width:77px;height:25px;}
#save     {position:absolute;top:100px;left:227px;width:77px;height:25px;}
#remove   {position:absolute;top:125px;left:227px;width:77px;height:25px;}
#session  {position:absolute;top:150px;left:227px;width:77px;height:27px;}
