/* Copyright(c) gert.cuykens@gmail.com */

#upload{position:absolute;
        top:0px;
        left:0px;
        width:100px;
        height:100px;
        z-index:0;
        background:yellow;}

#status{position:absolute;
        padding:0px 5px 0px 5px;
        top:0px;
        right:0px;
        width:100px;
        height:25px;
        z-index:0;
        display:none;
        background:red;}

