/* Stylesheet for the 'Lazy Days Free Theme' Plone theme */
img {border:none;}
h1,h2,h3{border-bottom:0px;}
#portal-personaltools{background:transparent;}
#portal-personaltools li a:hover{color:#ffe;text-decoration:underline}
#portal-personaltools li a{color:#ccc;}
#portal-column-one .visualPadding{
  background:#555;
  padding:2em 1em 1em 1em;

}
#portal-colophon ul li a{
     color:#8BE6FA;
  }
.documentContent {
      background:#555;
     }
#portal-column-one .portlet dt{display:none;}
