[buildout]
develop = .
parts = py try

[py]
recipe = zc.recipe.egg
eggs = zeomega.recipe.mxodbcconnect
interpreter = python
extra-paths = ${try:location}

[try]
recipe = zeomega.recipe.mxodbcconnect
license-key = 9995-7409-3761-5449-9675-5882
licenses-archive = mxodbc-licenses.zip

