[buildout]
develop = .
parts = demo

[zope3]
location = .

[formjs-demo-app]
recipe = zc.zope3recipes:app
site.zcml = <configure
                xmlns="http://namespaces.zope.org/zope"
                xmlns:browser="http://namespaces.zope.org/browser"
                i18n_domain="demo">
            <include package="zope.app.component" file="meta.zcml" />
            <include package="zope.app.component.browser" file="meta.zcml" />
            <include package="zope.app.form.browser" file="meta.zcml" />
            <include package="zope.app.pagetemplate" file="meta.zcml" />
            <include package="zope.app.publication" file="meta.zcml" />
            <include package="zope.app.publisher" file="meta.zcml" />
            <include package="zope.app.security" file="meta.zcml" />
            <include package="zope.app.securitypolicy" file="meta.zcml" />
            <include package="zope.viewlet" file="meta.zcml" />
            <include package="z3c.form" file="meta.zcml" />
            <include package="z3c.macro" file="meta.zcml" />
            <include package="z3c.pagelet" file="meta.zcml" />
            <include package="z3c.template" file="meta.zcml" />
            <include package="z3c.zrtresource" file="meta.zcml" />

            <browser:menu id="zmi_views" title="Views" />
            <browser:menu id="zmi_actions" title="Actions" />

            <include package="zope.app.appsetup" />
            <include package="zope.app.component" />
            <include package="zope.app.container" />
            <include package="zope.app.error" />
            <include package="zope.app.i18n" />
            <include package="zope.app.publication" />
            <include package="zope.app.security" />
            <include package="zope.app.securitypolicy" />
            <include package="zope.app.session" />
            <include package="zope.app.twisted" />
            <include package="zope.app.wsgi" />
            <include package="zope.annotation" />
            <include package="zope.component" />
            <include package="zope.contentprovider" />
            <include package="zope.location" />
            <include package="zope.publisher" />
            <include package="zope.traversing" />
            <include package="zope.traversing.browser" />
            <include package="zope.viewlet" />

            <include package="jquery.layer" />
            <include package="z3c.form" />
            <include package="z3c.formui" />
            <include package="z3c.formjs" />
            <include package="z3c.formjsdemo" />
            <include package="z3c.layer.pagelet" />
            <include package="z3c.macro" />
            <include package="z3c.pagelet" />

            <browser:defaultView name="index.html" />
            <browser:defaultSkin name="Z3CFormJSDemo" />

            <securityPolicy
                component="zope.securitypolicy.zopepolicy.ZopeSecurityPolicy" />

            <role id="zope.Anonymous" title="Everybody" />
            <grantAll role="zope.Anonymous" />
            </configure>
eggs = z3c.formjsdemo [app]

[demo]
recipe = zc.zope3recipes:instance
application = formjs-demo-app
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage
