[buildout]
develop = .
parts = addrole delrole

[addrole]
recipe = zc.recipe.egg:scripts
eggs = zope.pypisupport
scripts = addrole

[delrole]
recipe = zc.recipe.egg:scripts
eggs = zope.pypisupport
scripts = delrole
