/* zrt-replace: "./img" tal"string:${context/++resource++img}" */

html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {;
    height: 100%;
    font: 12px Verdana, Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

/* [ html ]---------------------------------------------------------------- */

form {
    margin: 0px;
    padding: 0px;
}

img {
    border: 0;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    border-bottom: dotted black 1px;
}

h1 {
	font-size: 140%;
    font-family: Verdana, helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #666666;
    margin: 5px 0px 5px 0px;
}

h2 {
    font-size: 130%;
    font-family: Verdana, helvetica, Arial, sans-serif;
    color: #7D7D7D;
    margin: 5px 0px 5px 0px;
}

h3 {
    font-size: 120%;
    font-family: Verdana, helvetica, Arial, sans-serif;
    font-style: italic;
    color: #7D7D7D;
    margin: 3px 0px 5px 0px;
}

h4 {
    font-size: 110%;
    font-family: Verdana, helvetica, Arial, sans-serif;
    color: #7D7D7D;
    margin: 3px 0px 5px 0px;
}

/* [ layout ]---------------------------------------------------------------- */

div#layoutContainer {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
}


/* [ header ]-------------------------------------------------------------- */

div#headerContainer {
    height: 55px;
    text-align: left;
    position: relative;
    border: solid white 1px;
    margin: 0px;
    padding: 0px;
    background-color: gray;
}

div#headerContainer a {
    color: white;
}

div#headerContainer a:hover {
    color: black;
}

div#logo {
    padding: 5px 0px 0px 5px;
}

div#user {
    top: 25px;
    right: 10px;
    position: absolute;
    padding: 0px;
}

div#jclock {
    color: white;
    top: 5px;
    right: 10px;
    position: absolute;
    padding: 0px;
}


/*---[ sideBar ]-------------------------------------------------------------*/

#sideBarContainer {
    width: 250px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 1px;
}

div.sideBarBox {
    padding: 0px 0px 7px 0px;
    margin: 0px;
}

div.sideBarBoxHeader {
    color: #FFFFFF;
    height: 18px;
    background: gray;
    padding: 3px 5px 1px 3px;
    margin: 0px;
}

div.sideBarBoxBody {
	overflow: auto;
	height: auto; 
	width: 242px;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
	padding: 3px;
}

div.sideBarBoxSpacer {
    height: 10px;
    clear: both;
}

/*---[ content ]-------------------------------------------------------------*/

#contentContainer {
    margin: 0;
    padding: 0px 0px 0px 260px;
}

#content {
    margin: 0;
    padding: 0;
}


/*---[ batch ]---------------------------------------------------------------*/

.batch {
    color: #666666;
    border-color: #999999;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 3px 4px;
    text-align: left;
    background: url(./img/tableHeaderBG.gif) repeat-x left top;
}

.batch a.first {
    color: black;
}

.batch a.current {
    font-weight: bold;
}

.batch a.last {
    color: black;
}


/* [ breadcrumbs ]---------------------------------------------------------- */

div#breadcrumbs {
    color: #666666;
    font-size: 11px;
    padding: 5px;
    margin: 0px 0px 0px 0px;
}

#breadcrumbs a {
    color: #000000;
    text-decoration: none;
}

#breadcrumbs a:hover {
    color: #000000;
}

/*---[ add menu ]------------------------------------------------------------*/

#addMenu {
    float: left;
    width: 20px;
    height: 22px;
    background: #F2EFE9;
    border-left: 4px solid white;
    border-right: 4px solid white;
}

div#contextMenuContainer #addMenu ul li {
    border-left: 0;
    border-right: 0;
}

#addMenu:hover {
    background: #FFDD1A;
}

#addMenu ul {
    display: none;
    width: 160px;
    position: relative;
    border: 0;
}

#addMenu ul li {
    display: block;
    width: 160px;
    white-space: nowrap;
    border-top: 1px solid white;
}

#addMenu .topMenu {
    height: 18px;
    padding: 3px 6px 0px 6px;
    text-decoration: none;
    cursor: default;
    display: block;
    position: relative;
    border: 0;
}

#addMenu a:hover {
    border: 0;
}

/*---[ global menu ]---------------------------------------------------------*/

div#globalMenuContainer {
    height: 22px;
    background-color: gray;
    border-right: 1px solid white;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

div#globalMenuContainer a:hover {
    border: none;
}

div#globalMenuContainer a {
    color: #333333;
    text-decoration: none;
}

div#globalMenuContainer ul {
    margin: 0;
    padding: 0;
}

div#globalMenuContainer ul li {
    float: left;
    height: 18px;
    list-style: none;
    background: #F2EFE9;
    border-left: 4px solid white;
    border-right: 4px solid white;
    padding: 3px 5px 1px 5px;
    margin: 0px;
}

div#globalMenuContainer li.selected {
    background: #FFDD1A;
}

div#globalMenuContainer li:hover {
    background: #FFDD1A;
}

/*---[ server menu ]---------------------------------------------------------*/

#siteMenu {
    float: right;
    width: 110px;
    height: 22px;
    background: #F2EFE9;
    border-left: 4px solid white;
    border-right: 2px solid white;
}

#siteMenu:hover {
    background: #FFDD1A;
}

#siteMenu ul {
    display: none;
    width: 100px;
    position: relative;
}

div#contextMenuContainer #siteMenu ul li {
    border-left: 0;
    border-right: 0;
}

#siteMenu ul li {
    display: block;
    width: 100px;
    white-space: nowrap;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid white;
}

#siteMenu .topMenu {
    height: 18px;
    padding: 3px 6px 0px 6px;
    text-decoration: none;
    cursor: default;
    display: block;
    position: relative;
    border: 0;
}

#siteMenu a:hover {
    border: none;
}

/*---[ context menu ]--------------------------------------------------------*/

div#contextMenuContainer {
    height: 22px;
    background-color: #F2EFE9;
    border-right: 1px solid white;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

div#contextMenuContainer a:hover {
    border: none;
}

div#contextMenuContainer a {
    color: #333333;
    text-decoration: none;
}

div#contextMenuContainer ul {
    margin: 0;
    padding: 0;
}

div#contextMenuContainer ul li {
    float: left;
    height: 18px;
    list-style: none;
    background: #F2EFE9;
    border-left: 4px solid white;
    border-right: 4px solid white;
    padding: 3px 5px 1px 5px;
    margin: 0px;
}

div#contextMenuContainer li.selected {
    background: #FFDD1A;
}

div#contextMenuContainer li:hover {
    background: #FFDD1A;
}


/* [ footer ]--------------------------------------------------------------- */

#footerContainer {
    width: 100%;
    font-size: 10px;
    text-align: center;
}

#footerContainer a {
    color: #999999;
}

#footerContainer ul {
    margin: 0px;
    padding: 10px 0px 10px 0px;
    list-style: none;
}

#footerContainer li {
    color: silver;
    display: inline;
    margin: 0px;
    padding: 0px 10px 0px 10px;
}


/*---[ widget ]--------------------------------------------------------------*/

.tableButtonRight {
    float: right;
}

.tableButtonLeft div.label {
    font-weight: bold;
    float: left;
    width: 100px;
    padding: 5px;
}

.tableButtonLeft div.widget {
    padding: 0px;
    float: left;
}


.status {
    color: #FFDD1A;
    font-weight: bold;
    padding: 5px 0px;
}

/*---[ table ]---------------------------------------------------------------*/

table.contents {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
}

table.contents tr {
    border-bottom: 1px solid #ffffff;
}

table.contents tr.even {
    background-color: #FCFBFA;
}

table.contents tr.odd {
    background-color: #F6F4F0;
}

table.contents tr.selected {
    background-color: #BCAE98;
}

table.contents th {
    background-color: #FFDD1A;
    border-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 3px 4px;
    text-align: left;
}

table.contents th.sorted-on {
    background-color: #D5CCBD;
}

table.contents td {
    vertical-align: top;
    padding: 3px 4px;
}

table.contents .centered {
    text-align: center;
}

table.contents .right {
    text-align: right;
}

/*---[ form ]----------------------------------------------------------------*/

form.edit-form {
    margin: 0px;
    padding: 0px;
}

div.viewspace {
    margin: 0px;
    padding: 0px;
}

div.status {
    padding-bottom: 10px;
}

div.summary {
    margin: 0px;
    padding: 0px;
}

ul.errors {
    padding: 0px;
    color: red;
    margin-left: 20px;
}

div.error {
    margin: 0px;
    padding: 0px;
}

div.row {
    padding-bottom: 10px;
}

div.label {
    margin: 0px;
    padding: 0px;
}

div.required-info span.required, div.label span.required {
    color: red;
}

div.widget {
    margin: 0px;
    padding: 0px;
}

input, textarea, select {
    margin: 0px;
    padding: 0px;
    border: 1px solid gray;
}

input.checkbox-widget {
    border: none;
}

input.file-widget {
    width: 300px;
}

input.password-widget {
    width: 300px;
}

input.radio-widget {
    border: none;
}

select.select-widget {
    width: 300px;
    border: 1px solid gray;
}

input.text-widget {
    width: 300px;
}

textarea.textarea-widget {
    width: 300px;
    height: 100px;
}

.tableButtons {
    padding: 3px 0px 3px 0px;
}

.buttons {
    padding: 3px 0px 3px 0px;
}

.button-field {
    cursor: pointer;
    border: outset 1px #ccc;
    background: #999999;
    color: black;
    padding: 1px 2px;
    background: url(./img/btnLeftBG.gif) repeat-x left top;
}

div.tableButtonLeft input.button-field {
    background: url(./img/btnLeftBG.gif) repeat-x left top;
}

div.tableButtonRight input.button-field {
  color: #333333;
  background: url(./img/btnBG.gif) repeat-x left top;
}

.clear {
    height: 1px;
    clear: both;
    display: block;
    margin: 0px;
    padding: 0px;
}
