/* Stylesheet for the 'Mimbo Plone Theme' Plone theme */

/* Colors

Lighter green : #EEF5E1
Light green : #E4EFD5
Dark green : #CBD8B4
Darker green : #7DA939

Dark grey: #3c3c3c;

*/


/* Basics
   ---------------------------------------------------------------- */

* {
	margin:0;
	padding:0;
}

body,html {
	min-height: 101%;
}

body {
	background: #3c3c3c;
	color: #545454;
	padding: 13px 0 25px 0;
}

body, select, input, textarea {
	font: 100% Arial, Verdana, Sans-Serif;
}

p {
	margin: 15px 0;
}

a:link, a:visited {
	color: #7da939;
	text-decoration: none
}

a:hover, a:active {
	color: #333;
	text-decoration: underline;
}

hr {
	display: block;
	height: 1px;
	background: #333;
	border: 0;
}

small {
	font-size: 0.95em;
	background: #eef5e1;
	padding: 3px 6px;
}

img, a:link img, a:visited img {
	border: 0
}

.left {
	float: left;
}

.right {
	float: right;
}


/* Structure
   ---------------------------------------------------------------- */

#visual-portal-wrapper { /* was #page */
	width: 930px;
	margin: 0 auto;
	font-size: 0.7em;
	background: #FFF;
}

#visual-portal-wrapper #portal-top,
#visual-portal-wrapper #portal-columns {
	padding: 10px 25px 0px 25px;
}

#portal-logo { /* was #branding */
	width:625px;
	margin-bottom:15px;
}

#portal-columns {
	margin: 0 auto;
	width: 880px !important;
}

#portal-column-content {
	padding: 1em 0 0;
	width: 605px;
}

#portal-column-two { /* was #sidebar */
	width: 250px;
	padding-left: 25px;
	position: relative;
	float:right
	}


#portal-footer,
#portal-colophon {
	width: 100%;
	font-size: 0.7em;
	color: #FFF;
	background: #3C3C3C;
	text-align: center;
}

#portal-globalnav {
	clear: both;
	margin-top: 5px;
}


/* Headers
   ---------------------------------------------------------------- */

h1 {
	font: 2.95em Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	letter-spacing: -0.02em;
	}

h2 {
	font: 2.3em Georgia, "Times New Roman", Times, serif;
	padding-bottom: 8px;
	border-bottom: 1px solid #333;
	margin: 20px 0;
	}

h3, #sidebar h2 {
	font: 1em Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-bottom: 4px;
	font-weight: bold;
	color: #5f5f5f;
	}

#sidebar h3, #sidebar h2 {
	border-top: 5px solid #BBB;
	border-bottom: 1px solid #BBB;
	padding: 6px 0 6px 2px;
	margin: 22px 0 15px 0;
	font-size: 1em;
	}

h3#respond {
	border-top: 1px dotted #b6b6b6;
	margin-top: 25px;
	padding-top: 20px
	}

h3#comments {
	margin-top: 32px
	}

h4,
h2.tileHeadline {
	font-size: 1.6em;
	margin-bottom: 6px;
	font-family: Verdana, sans-serif;
	}


/* Content
   ---------------------------------------------------------------- */

.tileItem {
	padding: 2em 0 !important;
}

#leftcol {
	width: 287px;
	border-right: 1px dotted #b6b6b6;
	padding-right: 18px;
	}

#leftcol, #rightcol {
	margin-top: 10px;
	float: left
	}

#rightcol {
	width: 277px;
	padding-left: 18px;
	margin-top: -2px;
	}

.documentDescription {
	font-size: 1.3em;
	font-weight: bold;
	font-style: italic;
	color: #545454;
	Amargin-top: -4px;
	}

.feature {
	background: #f2f2f2;
	padding: 15px;
	border-bottom: 1px dotted #b6b6b6;
	border-top: 1px dotted #b6b6b6;
	}

.feature:hover {
	background: #e9e9e9;
	}

.feature p, #rightcol p {
	margin: 0;
	}

.feature img, #rightcol img {
	padding: 1px;
	border: 1px solid #000;
	}

#leadpic {
	float: left;
	margin: 0 18px 8px 0;
	}

#lead {
	margin-top: 22px;
	}

.title {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 115%;
	}

.feature#lead .title {
	font: 1.8em Georgia, "Times New Roman", Times, serif;
	line-height: 100%;
	display: block;
	padding-bottom: 7px;
	}

#leftcol .feature {
	margin-bottom: 5px;
	border-bottom: none
	}

#rightcol img {
	float:left;
	margin:3px 10px 4px 0;
	}

#leftcol img {
	margin-bottom: 4px;
	display:block
	}

#rightcol .clearfloat {
	border-bottom:1px dotted #b6b6b6;
	padding:12px 0;
	}

#sidelist li {
	list-style:none
	}

.bullets li {
	list-style:none;
	border-bottom:1px solid #FFF;
	}

#sidelist .bullets li {
	list-style:square;
	margin-bottom:5px;
	line-height:115%;
	margin-left:22px;
	}

#sidelist .children {
	background:#e4efd5;
	}

#sidelist .children li {
	list-style: square;
	margin-left:28px;
	border-bottom:1px solid #e4efd5;
	}

#sidelist .children li a, #sidelist .children li a:visited {
	padding:2px 2px 2px 0px;
	border:0;
	background:#e4efd5;
	color: #818d6f;
	}

#sidelist .children li a:hover, #sidelist .children li a:active	{
	color:#465d23
	}

.postmetadata {
	margin: 30px 0;
	}

#writer {
	background:#eef5e1;
	margin:25px 0 15px 0;
	padding:12px;
	}

#writer img {
	padding:1px;
	border:1px solid #7da939;
	float:left;
	width:80px;
	}

#writer span {
	display:block;
	padding-top:4px;
	border-top:1px solid #cbd8b4;
	margin-top:12px;
	}

#writer p {
	margin:0;
	width:482px;
	}

.entry {
	padding-bottom:28px;
	}

h3 a:link, h3 a:visited {
	color:#5f5f5f;
	}

.tileHeadline {
	margin: 0 !important;
	padding: 0 !important;
}

/*Post Formatting*/

.picleft {
	float:left;
	margin:3px 14px 10px 0;
	border:7px solid #f2f2f2;
	}

.picright {
	float:right;
	margin:3px 0 10px 14px;
	border:7px solid #f2f2f2;
	}

.post blockquote {
	color:#76767a;
	background:#f2f2f2;
	padding:6px 14px;
	margin:18px 35px;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	}

.post ul li {
	list-style:square;
	margin-bottom:5px;
	line-height:115%;
	margin-left:42px;
	}

.post ol li {
	margin-bottom:5px;
	line-height:115%;
	margin-left:48px;
	}

#tags {
	padding:3px;
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;
	}


/* Forms
   ---------------------------------------------------------------- */

select {
	background:#f2f2f2;
	border:1px solid #9c9c9c;
	}

#searchform {
	padding:16px 5px 0 0;
	}

.button {
	padding: 1px;
	background:#000;
	color:#e7e7e7;
	border:none;
	}

.button:hover {
	background:#777;
	color:#FFF;
	text-decoration:none
	}

#commentform input {
	width: 170px;
	margin: 5px 5px 1px 0;
	}

#commentform textarea {
	width: 100%;
	margin-top:5px;
	}


/* Comments
   ---------------------------------------------------------------- */

.commentlist {
	padding-left:30px;
	}

.commentlist li {
	margin: 15px 0 3px;
	padding: 8px 15px 10px 15px;
	background:#f2f2f2;
	border-top: 1px solid #ddd;
	}

#commentform small {
	background:#FFF;
	font-weight:bold;
	padding:0;
	}

.commentmetadata {
	display: block;
	}

.commentlist small {
	background:#e9e9e9
	}

.commentlist cite {
	font: 1.6em Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	letter-spacing:-0.05em;
	}


/* Float Properties*/

.clearfloat:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content:".";
	}

.clearfloat {
	display:inline-block
	}

.clearfloat {
	display:block
	}


/* Footer
   ---------------------------------------------------------------- */

#portal-footer {
	color:#FFFFFF;
	font-size: 1em;
	text-align: left;
	padding: 15px 0 0 15px;
	margin-top: 15px;
}

#portal-footer a {
	color: #D3D1D1;
}

#portal-globalnav {
	clear: both;
}

#portal-column-one {
	display: none;
}

/* Lingua Plone Language Selector */

#portal-languageselector {
	list-style-type: none;
	float: right;
}

#portal-languageselector li {
	float: left;
	margin: 0 0.5em;
}

/*** News Item View ***/

.newsImageContainer {
	float: right;
}


/* Search Box
   ---------------------------------------------------------------- */

#portal-searchbox {
	float: right;
	clear: both;
}

.LSBox {
	Atext-align: right;
	padding: 16px 5px 0 0;
	}

#searchGadget {
	height: 1.5em !important;
	line-height: 1.5em !important;
	width: 140px !important;
	}

.searchButton {
	background:#000000 none repeat scroll 0 0 !important;
	border:medium none !important;
	color:#E7E7E7 !important;
	padding:1px !important;
	font-size: 1em !important;
	margin-bottom: 0 !important;
	text-transform: none !important;
	}

#LSResult {
	left: 5px !important;
}


/* Navigation
   ---------------------------------------------------------------- */

#portal-globalnav {
	background:#777;
	font-size:1.1em;
	height: 2em;
	overflow: hidden;
	}

#portal-globalnav, #portal-globalnav ul {
	list-style: none;
	line-height: 1;
	}

#portal-globalnav a, #portal-globalnav a:hover {
	display: block;
	text-decoration: none;
	border:none;
	}

#portal-globalnav li {
	float: left;
	list-style:none;
	border-right:1px solid #a9a9a9;
	}

#portal-globalnav a, #portal-globalnav a:visited {
	display:block;
	font-weight:bold;
	color: #f5f5f4;
	padding:6px 12px;
	}

#portal-globalnav a:hover, #portal-globalnav a:active, .current_page_item	a, #home .on {
	background:#000;
	text-decoration:none
	}


/* Dropdown Navigation (todo)
   ---------------------------------------------------------------- */

#portal-globalnav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 174px;
	border-bottom: 1px solid #a9a9a9;
	}

#portal-globalnav li li {
	width: 172px;
	border-top: 1px solid #a9a9a9;
	border-right: 1px solid #a9a9a9;
	border-left: 1px solid #a9a9a9;
	background: #777;
	}

#portal-globalnav li li a, #portal-globalnav li li a:visited {
	font-weight:normal;
	font-size:0.9em;
	color:#FFF;
	}

#portal-globalnav li li a:hover, #portal-globalnav li li a:active {
	background:#000;
	}

#portal-globalnav li:hover ul, #portal-globalnav li li:hover ul, #portal-globalnav li li li:hover ul, #portal-globalnav li.sfhover ul, #portal-globalnav li li.sfhover ul, #portal-globalnav li li li.sfhover ul {
	left: auto;
	}

a.main:hover {
	background:none;
}


/* Dropdown Navigation (mimbo styles todo)
   ---------------------------------------------------------------- */

.subnav li {
	list-style:none;
	border-bottom:1px solid #FFF;
	}

.subnav li a:link, .subnav li a:visited {
	background:#eef5e1;
	display:block;
	padding:4px 4px 4px 8px;
	border-left:4px solid #e4efd5;
	}

.subnav li a:hover, .subnav li a:active {
	background:#e4efd5;
	text-decoration:none;
	color: #7da939;
	}

.subnav li li a:link, .subnav li li a:visited {
	border-left:none
	}


/* Content
   ---------------------------------------------------------------- */

#content {
	background: white;
	clear: both;
	}

.contentActions a:hover {
	text-decoration: none !important;
	}

.documentEditable {
	margin-top: 1em;
	}

.formTab {
	margin-left: 0 !important;
	}

h1.documentFirstHeading { /* was h2 */
	font-weight: normal;
	font: 2.3em Georgia, "Times New Roman", Times, serif;
	padding-bottom: 9px;
	border-bottom: 1px solid #333;
	margin: 3px 0;
	}

.documentByLine {
	display: inline;
	/* was small */
	font-size: 0.95em;
	background: #eef5e1;
	padding: 3px 6px;
	line-height: 2em;
	}

dl.portalMessage {
	margin-top: 1em;
}


/* Comments
   ---------------------------------------------------------------- */

.comment {
	background: #F2F2F2;
	border-top:1px solid #DDDDDD !important;
	border: 0px solid #f2f2f2;
	margin: 15px 0 3px;
	padding: 8px 15px 10px;
}

.comment h3 {
	border-bottom: 0px solid #E9E9E9;
	}

.comment h3 a {
	background: #E9E9E9;
	display: block;
	font-size:0.95em;
	padding:3px 6px;
	}

.discussion .documentByLine {
	background: transparent;
}

.commentBody {
	margin: 15px 0;
	padding: 8px 0px;
	}


/* Sidebar
   ---------------------------------------------------------------- */

.portletHeader {
	font: 1em Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	letter-spacing:0.1em;
	margin-bottom:4px;
	font-weight:bold;
	color:#5f5f5f;
	border-top:5px solid #BBB;
	border-bottom:1px solid #BBB;
	padding:6px 0 6px 2px;
	margin:22px 0 15px 0;
	font-size:1em;
	}

.portletItem {
	padding: 1em;
}

.even {
	background: #EEF5E1;
	}

.odd {
	background: #E4EFD5;
	}

.portletFooter {
	display: block;
	text-align: right;
	border: 0px solid transparent;
}


/* Portlet Navigation
   ---------------------------------------------------------------- */

.portletNavigationTree .portletItem {
	padding: 0 !important;
}

.portletNavigationTree li {
	list-style:none;
	border-bottom:1px solid #FFF;
	}

.portletNavigationTree li a:link, .portletNavigationTree li a:visited {
	background:#eef5e1;
	display:block;
	padding:4px 4px 4px 8px;
	border-left:4px solid #e4efd5;
	border-right: 1px solid #EEF5E1 !important;
	border-top: 1px solid #EEF5E1 !important;
	border-bottom: 1px solid #EEF5E1 !important;
	}

.portletNavigationTree li a:hover, .portletNavigationTree li a:active {
	background:#e4efd5;
	text-decoration:none;
	color: #7da939;
	border-left:4px solid #e4efd5 !important;
	}

.navTreeCurrentItem,
.portletNavigationTree li a:hover {
	color: #7da939 !important;
	background: #E4EFD5 !important;
	border-left:4px solid #e4efd5 !important;
	border-right: 1px solid #EEF5E1 !important;
	border-top: 1px solid #EEF5E1 !important;
	border-bottom: 1px solid #EEF5E1 !important;
}

.portletNavigationTree li li a:link, .portletNavigationTree li li a:visited {
	border-left: none
	}

.portletNavigationTree li a img {
	display: none;
	}

.navTreeLevel1,
.navTreeLevel2,
.navTreeLevel3,
.navTreeLevel4,
.navTreeLevel5 {
	margin-top: 0;
	}

.navTreeLevel1 li a:hover,
.navTreeLevel2 li a:hover,
.navTreeLevel3 li a:hover,
.navTreeLevel4 li a:hover,
.navTreeLevel5 li a:hover {
	border-left: 0px !important;
	}

/*
.navTreeLevel1 .navTreeItem li,
.navTreeLevel2 .navTreeItem li,
.navTreeLevel3 .navTreeItem li,
.navTreeLevel4 .navTreeItem li,
.navTreeLevel5 .navTreeItem li {
	border-bottom: 0px solid transparent;
	margin-bottom: 0;
	background: #7DA939 !important;
	}
*/


/* Plone Control Panel
   ---------------------------------------------------------------- */

.configlets li {
	line-height: 250% !important;
	list-style-type: none !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
}

.template-plone_control_panel #portal-column-one {
	/* show left column on the plone_control_panel site */
	display: block;
}


/* Plone Personal Tools
   ---------------------------------------------------------------- */

#portal-personaltools {
	border-top: 0px solid transparent;
}
