[buildout]
develop = . 
parts = test
extends = http://grok.zope.org/releaseinfo/grok-0.14.cfg
versions = versions

[versions]

[test]
recipe = zc.recipe.testrunner
eggs = z3c.listjs
defaults = ['--tests-pattern', '^f?tests$', '-v']
