/* Stylesheet for the 'Game Programming Theme' Plone theme */




#portal-globalnav {
    margin: 1em;
}
#portal-globalnav li a {
    text-transform: none;
    -moz-border-radius: 2em;
    border: 1px solid #FFFF66;
    padding: 0.5em 1.25em;
    color: #DDDDDD;
    font-weight: bold;
}
#portal-globalnav li a:hover {
    background-color: #444444;
    border: 1px solid #FFFF66;
    color: #DDDDDD;
    text-decoration: blink;
}
#portal-globalnav li.selected a {
    background-color: #404040;
    border: 2px solid #FFFF66;
    color: #DDDDDD;
}


body.kssActive .inlineEditable:hover {
    background: #1F1010 url(input_background.gif) repeat-x scroll 0% 50%;
}

dl.portalMessage dd {
    background-color: black;
}

.reviewHistory {
    color: #aaaaaa;
}

.visualHighlight {
    background-color: #6666cc;
}

/*

.kupu-tb {
    background-color: Grey;
}
.kupu-tb-buttons button {
    border-color: inherit;
}


body.kssActive .inlineEditable:hover {
    background: #1F1010 url(input_background.gif) repeat-x scroll 0% 50%;
}

.inlineEditable:hover {
    background: #1F1010;
}

*/



}

