/*---------- CAROUSEL ----------*/
#carousel {
	background:#d2deeb url(sprite.png) repeat-x 0 -150px;
  border:1px solid #ccc;
  height:334px;
  margin-bottom:2px;
  overflow:hidden;
  position:relative;
	}
#carousel-over {
  background:url(photo-frame.png) no-repeat 50% 0;
  height:334px;
  position:absolute;
  top:0;
  width:100%;
  }
#carousel-banners {
  float:none;
  margin:0;
  text-align:center;
  }
.carousel-banner {
  left:0;
  position:absolute;
  top:7px;
  width:100%;
  }
#carousel-buttons {
  bottom:5px;
	font-weight:bold;
  position:absolute;
  right:0;
  text-align:right;
  }
#carousel-buttons a {
	color:#fff;
  display:none;
  text-decoration:none;
  }
#carousel-buttons .selected {
  border:0;
  display:block;
  }
.carousel-title {
	display:block;
  font-size:1.36em;
	padding-right:30px;
	}
.carousel-description {
	display:block;
  font-size:1.09em;
  margin:0;
  padding-right:50px;
	}