* {
    font-family: Georgia,"Bitstream Vera Serif","New York",Palatino,serif;
    font-weight:normal;    
}

pre {
    font-family: "Courier New", Courier, monospace;
    margin-left: 2em;
    margin-right: 2em;
    border: 1px solid #888888;
    background: #eeeeee;
}

.result {
    border: 1px solid black;
    width: 50%;
}

.footer {
    font-size: 11px;
    font-style:italic;
}
.result th {
    text-align: center;
    font-weight: bold;
    background: #dddddd;
}

.result td {
    text-align: center;
    background: #eeeeee;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}                                         

a:visited {
    text-decoration: none;
}

a:hover {
    color: orange;
}

pre {
    margin-left: 1em;
    width: 100%;
    font-size: 11px;
}

td.status-True {
    background: #33aa33;
    font-weight: bold;
}

td.status-False  {
    background: #FF3333;
    font-weight: bold;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

td.description {
    text-align: left;
}
