body {
    font-family: arial, sans-serif;
    /* align: center; */
    /* font-size: .8em; */
}
#kudos {
    font-size: .9em;
    margin: 10px;
}
#logo {
    font-size: 44px;
}
#logosmall {
    font-size: 24px;
}
.logolink {
    text-decoration: none;
    color: black;
}
img {
    vertical-align: middle;
    border: 0px;
}
.tiny {
    font-family: arial, sans-serif;
    font-size: .7em;
}
.nobr {
    white-space: nowrap;
}
pre {
    background-color: #EFEFEF;
    border: 1pt solid #9F9F9F;
    padding: 5pt;
    font-family: menlo, monospace;
    white-space: pre;
    /* begin css 3 or browser specific rules - do not remove!
    see: http://forums.techguy.org/archive/index.php/t-249849.html */
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    /* end css 3 or browser specific rules */
}
.context {
    background-color: #EFEFEF;
    border: 1pt solid #9F9F9F;
    font-family: menlo, monospace;
    margin: 0px 10px 10px 10px;
    padding: 3px 0px 3px 0px;
}
.context a:link {
    text-decoration: none;
    color: black;
}
.context a:visited {
    text-decoration: none;
    color: black;
}
.context a:active {
    text-decoration: none;
    color: black;
}
.context a:hover {
    text-decoration: none;
    color: blue;
}
.contextline {
    padding: 0px 10px 0px 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.matchline {
    background-color: #9F9FDF;
    padding: 0px 10px 0px 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
