.row {
   width: 100%;
   text-align: left;
   float: left;
}

fieldset {
    width: 100%;
}

.row .label {
   font-size: 10pt;
   width: 100%;
   text-align: left;
   background-color: #698d23;
   padding: 3px;
   margin: 5px 0;
}

.row .label label {
   text-decoration: none;
   border-style: none;
   color: #ffffff;
}

fieldset .row .label {
    background-color: #ffffff;
    width: 90%;
}

fieldset .row .label label {
    color: #000000;
}

.row .field {
   width: 95%;
}

.row .field input {
   width: 100%;
}

.row .field input.checkboxType {
   width: 15px;
   height: 15px;
}

.row .field textarea {
    width: 100%;
}

.row .value {
   width: 100%;
   background-color: gray;
}

.row .value select {
    width: 100%;
}

.row .controls input {
    background-color: #a2d935;
    color: #000000;
    margin: 10px 0;
}
