#links-viewlet {
  color: #666666;
  text-align: center;
}

#links-viewlet ul {
  list-style-image: none;
  list-style-type: none;
}

#links-viewlet ul li {
  display: inline !important;
  font-size: 90%;
  padding: 0 0.75em;
}

#links-viewlet ul li a {
  border-bottom: 1px solid #CCCCCC;
  text-decoration: none;
  color: #666666;
}

#links-viewlet ul li.viewlet-action a {
  color: #436976;
  text-decoration: underline;
  border-bottom: none;
}
