#main {
    position:relative;
    top:0;
    left:0;
    width:430;
}

/* We need at least 8*50=400 pixels for the chess board. */
#side {
    position:absolute;
    top:0;
    left:450;
    width:400;
}


/* The images of the pieces are 40 pixels high. */

.square-black,
.square-white,
.empty-black,
.empty-white { height: 50px;
               width: 50px;
               }

.square-white, .empty-white { background-color: #ffffff;}

.square-black, .empty-black { background-color: #ccaa66;}

.selected { background-color: #aaff33;}


input { padding: 5px;
        border: 0;
        }

.empty-white input,
.empty-black input {
                     padding: 0px;
                     margin-left: 5px;
                     width: 40px;
                     height: 40px;
                     }

.empty-white input { background-color: #ffffff;
                     color: #ffffff;
                     }

.empty-black input { background-color: #ccaa66;
                     color: #ccaa66;
                     }

#side input { background-color: #ccaa66;}

.error { background-color: Red; }

.gameover { background-color: #aaff33;}

.colour,
.value { font-weight: bold;}
