[buildout]
develop = .
parts = test

# The second of these is needed for PILwoTk.
find-links =
    http://download.zope.org/distribution/
    http://yum.zope.com/buildout/

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color']
eggs = z3c.image [test]

