[buildout]
develop = .
parts = test releaser
find-links = http://download.zope.org/distribution/
newest = false

[test]
recipe = zc.recipe.testrunner
eggs = manuelpi.fakemodule

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser

