[buildout]
develop = .
parts = test devpython
extends = http://grok.zope.org/releaseinfo/grok-0.14.cfg
versions = versions
find-links = http://download.zope.org/distribution

[versions]
py = 0.9.1
zope.testing = 

[test]
recipe = zc.recipe.testrunner
eggs = z3c.vcsync

# installs bin/devpython to do simple interpreter tests
[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = z3c.vcsync

