/* Copyright(c) gert.cuykens@gmail.com */
body,html {margin:10px;
           border:0px solid black; 
           padding:0px;
           background-color:white}

.products_pnr {text-align:center;}
.products_price {text-align:right;}
.products_qty {text-align:right;}

#cbarcode {margin-top:20px;}

@media print
{
 #form {display:none;}
}

@media screen
{
 input {margin:2px;}
}

